﻿@using Carrier.Utilities
@using Carrier.CMS.Areas.Admin.Controllers
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Trang quản trị hệ thống";
    var ctl = (HomeBackendController)this.ViewContext.Controller;
}
@section  HeaderScript{
    <style type="text/css">
        #map-container {
            padding: 6px;
            border-width: 1px;
            border-style: solid;
            border-color: #ccc #ccc #999 #ccc;
            -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
            -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
            box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
            width: 100%;
        }

        #map {
            width: 100% !important;
            min-height: 480px;
            position: relative;
        }

        #actions {
            list-style: none;
            padding: 0;
        }

        #inline-actions {
            padding-top: 10px;
        }

        .item {
            margin-left: 20px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.img-zoom-in').click(function () {
                $('#map-container').removeClass('openmap');
                $('#map-container').addClass('minimap');
                $('.img-zoom-out').show();
                $('.img-zoom-in').hide();
            });
            $('.img-zoom-out').click(function () {
                $('#map-container').addClass('openmap');
                $('#map-container').removeClass('minimap');
                $('.img-zoom-out').hide();
                $('.img-zoom-in').show();
            });
        });
    </script>


    @*<script src="//maps.googleapis.com/maps/api/js?v=3&amp;&key=AIzaSyDXsXh1Gf_4dvJE0250tZFFAUscS8VuZc4"></script>*@
    <script src="//maps.googleapis.com/maps/api/js?v=3&amp;&key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U"></script>
    <script src="~/assets/map/markerclusterer.js" type="text/javascript"></script>
    @*<script src="~/assets/map/data.json" type="text/javascript"></script>*@
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="active">
        </li>
    </ul>
    <div class="nav-search" id="nav-search">
        <div class="form-search">
            <span class="input-icon">
                <a title="đăng vận đơn" href='@Url.Action("Create", "Orders")'> <i class="fa fa-truck" aria-hidden="true" style="font-size: 25px;margin-right: 50px;"></i></a>
            </span>
            <span class="input-icon">
                <input type="search" onsearch="SearchOrder()" placeholder="Mã vận đơn ..." class="nav-search-input" id="nav-search-input" autocomplete="on">
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
            <select class="chosen-select" data-placeholder="Chọn tỉnh thành" onchange="LoadCity()" id="listCity"></select>
            <input id="btnSearchAdvance" type="button" value="Tìm nâng cao" style="color:white;background-color: #6fb3e0!important;border-color: #6fb3e0;" />
        </div>
    </div>
    <div class="pull-right">

    </div>
}
<div id="map-container">
    <div id="map"></div>
</div>
<div id="inline-actions" style="text-align:right">
    <span>
        Mức độ zoom:
        <select id="zoom">
            <option value="-1">Mặc định</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
        </select>
    </span>
    <span class="item">
        Số lượng hiển thị:
        <select id="size">
            <option value="-1">Mặc định</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="70">70</option>
            <option value="80">80</option>
        </select>
    </span>
    <span class="item">
        Gộp nhóm theo:
        <select id="style">
            <option value="-1">Mặc định</option>
            <option value="0">Tỉnh thành</option>
            <option value="1">Doanh nghiệp</option>
            <option value="2">Khu vực</option>
        </select>
    </span>
    <input id="refresh" type="button" value="Làm mới Map" class="item btn btn-info btn-sm" />
    @*<a href="#" id="clear" class="item btn btn-info btn-sm">Đặt lại map</a>*@
</div>


<script>
    $(document).ready(function () {
        LoadListCity();
        $("#map").height($(window).height() - 200).width($(window).width());
    });
    function LoadListCity() {
        $.ajax({
            type: "GET",
            url: "/HomeBackend/LoadListCity",
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                $('#listCity').html(' <option value="-1">---Tỉnh thành---</option>' +result);
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    }
</script>
@section ScriptsBottom{
    <script type="text/javascript">
        var styles = [[{
            url: '~/assets/map/images/people35.png',
            width: 35,
            height: 35,
            textColor: '#ff00ff',
            textSize: 10
        }, {
            url: '~/assets/map/images/people45.png',
            width: 45,
            height: 45,
            textColor: '#ff0000',
            textSize: 11
        }, {
            url: '~/assets/map/images/people55.png',
            width: 55,
            height: 55,
            textColor: '#ffffff',
            textSize: 12
        }], [{
            url: '~/assets/map/images/conv30.png',
            width: 30,
            height: 27,
            anchorText: [-3, 0],
            anchorIcon: [27, 28],
            textColor: '#ff00ff',
            textSize: 10
        }, {
            url: '~/assets/map/images/conv40.png',
            width: 40,
            height: 36,
            anchorText: [-4, 0],
            anchorIcon: [36, 37],
            textColor: '#ff0000',
            textSize: 11
        }, {
            url: '~/assets/map/images/conv50.png',
            width: 50,
            height: 45,
            anchorText: [-5, 0],
            anchorIcon: [45, 46],
            textColor: '#0000ff',
            textSize: 12
        }], [{
            url: '~/assets/map/images/heart30.png',
            width: 30,
            height: 26,
            anchorIcon: [26, 15],
            textColor: '#ff00ff',
            textSize: 10
        }, {
            url: '~/assets/map/images/heart40.png',
            width: 40,
            height: 35,
            anchorIcon: [35, 20],
            textColor: '#ff0000',
            textSize: 11
        }, {
            url: '~/assets/map/images/heart50.png',
            width: 50,
            height: 44,
            anchorIcon: [44, 25],
            textSize: 12
        }]];

        var markerClusterer = null;
        var map = null;
        var markers = [];
        google.maps.event.addDomListener(window, 'load', initialize);
        //google.maps.event.addDomListener(window, "resize", function() {
        //    var center = map.getCenter();
        //    google.maps.event.trigger(map, "resize");
        //    map.setCenter(center);
        //});

        //google.maps.event.addDomListener(window, 'resize', initialize);

        function loadData() {
            var orderCode = $('#nav-search-input').val();
            $.ajax({
                type: "GET",
                url: "/Admin/HomeBackend/SearchDriver",
                data: {orderCode: orderCode },
                dataType: "json",
                contentType: 'application/json',
                success: function (result) {
                    var jsonData = JSON.parse(JSON.stringify(result));
                    refreshMap(jsonData);
                },
                error: function (req, status, error) {
                    // do something with error
                }
            });
        }
        function refreshMap(data) {
            if (markerClusterer) {
                markerClusterer.clearMarkers();
            }
            for (var i = 0; i < data.count; ++i) {
                var latitude = data.drivers[i].Lat;
                var longitude = data.drivers[i].Lng;
                var latLng = new google.maps.LatLng(latitude,
                    longitude)
                var markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-black.png",new google.maps.Size(11, 33));
                if(data.drivers[i].MaVanDon){
                    if(data.drivers[i].Status == 1){
                        // Tai xe da co don hang (dang cho chay hoac dang van chuyen)
                        markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-blue.png",new google.maps.Size(11, 33));
                    }
                }
                else{
                    if(data.drivers[i].Status == 1){
                        markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-yellow.png",new google.maps.Size(11, 33));
                    }
                }
                var marker = new google.maps.Marker({
                    id: data.drivers[i].DriverId,
                    position: latLng,
                    icon: markerImage,
                    map: map,
                    animation: google.maps.Animation.DROP,
                });
                var contentString = "";
                if(data.drivers[i].MaVanDon){
                    var strStatus = data.drivers[i].Status == 1 ? "Đã nhận đơn" : "Đang chở hàng"
                    contentString = '<div class="content">' +
                        '<h3>' + data.drivers[i].DriverName + ' </h3>' +
                        '<p><span>BKS: </span>' + '<span>' + data.drivers[i].License + '</span></p>' +
                        '<p><span>Điện thoại: </span>' + '<span>' + data.drivers[i].DriverPhone + '</span></p>' +
                        '<p><span>Trạng thái: </span>' + '<span>' + strStatus + '</span></p>' +
                        '<p><span>CheckIn lần cuối: </span>' + '<span>' + data.drivers[i].Last_Updated + '</span></p>' +
                        '<h3>Đơn hàng ' + data.drivers[i].MaVanDon + '</h3>' +
                        '<p>Liên hệ: ' + data.drivers[i].DienThoaiLienHe + '</p>' +
                        '<p>Thời gian đi: ' + data.drivers[i].ThoiGianDi + '</p>' +
                        '<p>Thời gian trả hàng: ' + data.drivers[i].ThoiGianDen + '</p></div>';
                }
                else{

                    var strStatus = data.drivers[i].Status == 1 ? "Chờ nhận đơn" : "Offline"
                    contentString = '<div class="content">' +
                        '<h3>' + data.drivers[i].DriverName + ' </h3>' +
                        '<p><span>BKS: </span>' + '<span>' + data.drivers[i].License + '</span></p>' +
                        '<p><span>Điện thoại: </span>' + '<span>' + data.drivers[i].DriverPhone + '</span></p>' +
                        '<p><span>Trạng thái: </span>' + '<span>' + strStatus + '</span></p>' +
                        '<p><span>CheckIn lần cuối: </span>' + '<span>' + data.drivers[i].Last_Updated + '</span></p></div>';
                }
                var infowindow = new google.maps.InfoWindow()
                google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){
                    return function() {
                        infowindow.setContent(contentString);
                        infowindow.open(map,marker);
                    };
                })(marker,contentString,infowindow));
                markers.push(marker);
            }
            console.log(markers);
            var zoom = parseInt(document.getElementById('zoom').value, 10);
            var size = parseInt(document.getElementById('size').value, 10);
            var style = parseInt(document.getElementById('style').value, 10);
            zoom = zoom == -1 ? null : zoom;
            size = size == -1 ? null : size;
            style = style == -1 ? null : style;

            markerClusterer = new MarkerClusterer(map, markers, {
                maxZoom: zoom,
                gridSize: size,
                styles: styles[style]
            });
        }

        function initialize() {
            var lat = parseFloat(@ViewBag.Lat);
            var lng = parseFloat(@ViewBag.Lng);
            if ("@ViewBag.Lat" == "" && "@ViewBag.Lng" == "") {
                lat = parseFloat(21.027764);
                lng = parseFloat(105.834160);
            }
            var bounds = new google.maps.LatLngBounds(new google.maps.LatLng(23.448439, 101.984253),
                                        new google.maps.LatLng(7.694997, 110.180053));
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 9,
                //center: bounds.getCenter(),
                center: { lat: lat, lng: lng },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var refresh = document.getElementById('refresh');
            //google.maps.event.addDomListener(refresh, 'click', refreshMap);

            //var clear = document.getElementById('clear');
            //google.maps.event.addDomListener(clear, 'click', clearClusters);
            loadData();
            //refreshMap();
        }

        //function clearClusters(e) {
        //    e.preventDefault();
        //    e.stopPropagation();
        //    markerClusterer.clearMarkers();
        //}
        function LoadCity() {
            var addressValue = $("#listCity").val();
            var address='';
            if (addressValue == null) {
                address = 'Hà Nội, Việt Nam';
            } else {
                address = addressValue + ', Việt Nam';
            }
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                'address': address
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var Lat = results[0].geometry.location.lat();
                    var Lng = results[0].geometry.location.lng();
                    var latLng = new google.maps.LatLng(Lat,Lng)
                    map.setCenter(new google.maps.LatLng(Lat,Lng));
                    map.setZoom(9);
                } else {
                    alert("Không tìm thấy vị trí" + status);
                }
            });
        }
        function SearchOrder() {
            var orderCode = $('#nav-search-input').val();
            $.ajax({
                url: "/Admin/HomeBackend/SearchDriver",
                type: "GET",
                data: { orderCode:orderCode },
                dataType: "json",
                contentType: 'application/json',
                success: function (result) {
                    var data = JSON.parse(JSON.stringify(result));
                    console.log(data);
                    var lat = data.drivers[0].Lat;
                    var lng = data.drivers[0].Lng;
                    var latLng = new google.maps.LatLng(lat,
                        lng);
                    map.setCenter(new google.maps.LatLng(lat, lng));
                    map.setZoom(13);
                    var marker = new google.maps.Marker({
                        map: map,
                        icon: "/assets/map/images/logistics-delivery-truck-in-movement-black.png",
                        draggable: true,
                        position: latLng
                    });
                    var strStatus = data.drivers[0].Status == 1 ? "Đã nhận đơn" : "Đang chở hàng"
                    //contentString = '<div class="content">' +
                    //    '<h3> Tài xế: ' + data.drivers[0].DriverName + ' </h3>' +
                    //    '<p><span>BKS: </span>' + '<span>' + data.drivers[0].License + '</span></p>' +
                    //    '<p><span>Điện thoại: </span>' + '<span>' + data.drivers[0].DriverPhone + '</span></p>' +
                    //    //'<p><span>Trạng thái: </span>'+'<span>'+strStatus+'</span></p>'+
                    //    //'<p><span>CheckIn lần cuối: </span>'+'<span>'+data.drivers[0].Last_Updated+'</span></p>'+
                    //    '<p><span>Điện thoại điều vận: </span>' + '<span>' + data.drivers[0].DienThoaiLienHe + '</span></p>' +
                    //    '<h3>Mã đơn ' + data.drivers[0].MaVanDon + '</h3>' +
                    //    '<p>Điểm trả hàng: ' + data.drivers[0].DiemDenChiTiet + '</p>' +
                    //    '<p>Liên hệ: ' + data.drivers[0].DienThoaiLienHe + '</p>';
                    //                 //'<p>Thời gian đi: '+data.drivers[0].ThoiGianDi+'</p>'+
                    //                 //'<p>Thời gian trả hàng: '+data.drivers[0].ThoiGianDen+'</p></div>';
                    contentString = '<div class="content">' +
                        '<h3>' + data.drivers[0].DriverName + ' </h3>' +
                        '<p><span>BKS: </span>' + '<span>' + data.drivers[0].License + '</span></p>' +
                        '<p><span>Điện thoại: </span>' + '<span>' + data.drivers[0].DriverPhone + '</span></p>' +
                        '<p><span>Trạng thái: </span>' + '<span>' + strStatus + '</span></p>' +
                        '<p><span>CheckIn lần cuối: </span>' + '<span>' + data.drivers[0].Last_Updated + '</span></p>' +
                        '<h3>Đơn hàng ' + data.drivers[0].MaVanDon + '</h3>' +
                        '<p>Liên hệ: ' + data.drivers[0].DienThoaiLienHe + '</p>' +
                        '<p>Thời gian đi: ' + data.drivers[0].ThoiGianDi + '</p>' +
                        '<p>Thời gian trả hàng: ' + data.drivers[0].ThoiGianDen + '</p></div>';

                    var infowindow = new google.maps.InfoWindow({
                        content: contentString
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.open(map, marker);
                    });
                    infowindow.open(map, marker);
                },
                error: function (req, status, error) {
                    // do something with error
                }
            });
        }
        // var oldLat = 0.01;
        // var oldLng = 0.01;
        // var btest =1;
        function updateMarker(dr) {
            for (i=0;i<markers.length;i++) {
                var marker =   markers[i];
                markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-black.png",new google.maps.Size(11, 33));
                if (marker.id == dr.UserId) {
                    if(dr.Status == 0){
                        // Tai xe tat chuc nang checkIn location
                        markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-black.png",new google.maps.Size(11, 33));
                    }
                    else if(dr.Status == 1){
                        markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-yellow.png",new google.maps.Size(11, 33));
                    }
                    var lat  =   dr.Lat ;//+ oldLat;
                    var lng =  dr.Lng ;//+ oldLng;
                    //alert(lat +'-'+ lng) ;
                    var latLng = new google.maps.LatLng(lat,lng);
                    marker.setPosition(latLng);
                    marker.setIcon(markerImage) ;
                    //oldLng = oldLng + 0.01;
                    //oldLng = oldLng+ 0.01;
                }
            }
            console.debug('updating markers');
        }

        $.support.cors = true;
        var connection = $.hubConnection('https://api.vantaitoiuu.com');
        connection.qs = { 'UserId': '@ctl.UserId' }; //Fake UserId,Need change CurrentUserId Login
        var hubProxy = connection.createHubProxy('CarrierMonitor');
        hubProxy.on('ReceivedData', function (message) {
            //Driver object
            console.log(message);
            updateMarker(message)
        });
        hubProxy.on('updateDriver',function(message){
            console.log('update driver:' + message);
            updateMarker(message)
        });
        connection.start()
            .done(function () {
                console.log('Now connected, connection ID=' + connection.id);
            })
            .fail(function () {
                console.log('Could not connect');
            });
        connection.disconnected(function() {
            setTimeout(function() {
                connection.start();
            }, 5000); // Restart connection after 5 seconds.you can set the time based your requirement
        });
    </script>
}