﻿@model Carrier.Models.Entities.Order
@using Carrier.Models.Entities;
@using CMS.Carrier.Models;
@using Carrier.Utilities
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Sửa vận đơn";

    var gioBocDi = (Model.ThoiGianDi.HasValue) ? Model.ThoiGianDi.Value.Hour + ":" + Model.ThoiGianDi.Value.Minute : "";
    var ngayDi = (Model.ThoiGianDi.HasValue) ? Model.ThoiGianDi.Value.Day + "/" + Model.ThoiGianDi.Value.Month + "/" + Model.ThoiGianDi.Value.Year : "";
    var gioBocDen = (Model.ThoiGianDen.HasValue) ? Model.ThoiGianDen.Value.Hour + ":" + Model.ThoiGianDen.Value.Minute : "";
    var ngayDen = (Model.ThoiGianDen.HasValue) ? Model.ThoiGianDen.Value.Day + "/" + Model.ThoiGianDen.Value.Month + "/" + Model.ThoiGianDen.Value.Year : "";

    var fromLocationLatLng = Model.DiemDiChiTiet;
    var toLocationLatLng = Model.DiemDenChiTiet;

    List<CarType> listCarType = (List<CarType>)ViewBag.ListCarType;
    List<OrderCarViewModel> listOrderCar = (List<OrderCarViewModel>)ViewBag.ListOrderCar;

    string strOrderCarSelect = "";
    foreach (var orderCar in listOrderCar)
    {
        strOrderCarSelect = strOrderCarSelect + orderCar.Value.Replace(".", "_") + "-" + orderCar.CarTypeId + ":" + orderCar.Number + "|";
    }
    strOrderCarSelect = strOrderCarSelect.TrimEnd('|');
}
<style type="text/css">
    .mode {
        margin-top: 12px !important;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    input[type=radio] {
        margin-top: 12px;
    }
</style>
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Admin/Orders">Danh sách vận đơn</a>
        </li>
        <li class="">
            Cập nhật thông tin vận đơn
        </li>
    </ul>
}
<div class="page-header">
    <h1>Cập nhật thông tin vận đơn</h1>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="content_wrap">
        <div class="col-md-6">
            <div class="form-horizontal">
                @foreach (CarType item in listCarType)
                {
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <div style="width:55%;margin-top: 10px;" class="pull-left">Xe @item.Name</div>
                            @if (double.Parse(item.Value.Split('.')[0]) <= 10)
                            {
                                @Html.DropDownList(item.Value.Replace(".", "_") + "-" + item.Id + "", new SelectListItem[]{
                                    new SelectListItem() {Text = "1", Value="1"},
                                    new SelectListItem() {Text = "2", Value="2"},
                                    new SelectListItem() {Text = "3", Value="3"},
                                    new SelectListItem() {Text = "4", Value="4"},
                                    new SelectListItem() {Text = "5", Value="5"},
                                    new SelectListItem() {Text = "6", Value="6"},
                                    new SelectListItem() {Text = "7", Value="7"},
                                    new SelectListItem() {Text = "8", Value="8"},
                                    new SelectListItem() {Text = "9", Value="9"},
                                    new SelectListItem() {Text = "10", Value="10"},
                                    new SelectListItem() {Text = "11", Value="11"},
                                    new SelectListItem() {Text = "12", Value="12"},
                                    new SelectListItem() {Text = "13", Value="13"},
                                    new SelectListItem() {Text = "14", Value="14"},
                                    new SelectListItem() {Text = "15", Value="15"},
                                    new SelectListItem() {Text = "16", Value="16"},
                                    new SelectListItem() {Text = "17", Value="17"},
                                    new SelectListItem() {Text = "18", Value="18"},
                                    new SelectListItem() {Text = "19", Value="19"},
                                    new SelectListItem() {Text = "20", Value="20"},
                                    new SelectListItem() {Text = "21", Value="21"},
                                    new SelectListItem() {Text = "22", Value="22"},
                                    new SelectListItem() {Text = "23", Value="23"},
                                    new SelectListItem() {Text = "24", Value="24"},
                                    new SelectListItem() {Text = "25", Value="25"},
                                    new SelectListItem() {Text = "26", Value="26"},
                                    new SelectListItem() {Text = "27", Value="27"},
                                    new SelectListItem() {Text = "28", Value="28"},
                                    new SelectListItem() {Text = "29", Value="29"},
                                    new SelectListItem() {Text = "30", Value="30"}
                                    }, "---", new { @id = "" + item.Value.Replace(".", "_") + "-" + item.Id + "", @name = "" + item.Value.Replace(".", "_") + "-" + item.Id + "", @class = "orderCar form-control changeplaceholder", @Style = "width:40%" })

                            }
                            else
                            {
                                    @Html.DropDownList(item.Value.Replace(".", "_") + "-" + item.Id + "", new SelectListItem[]{
                                    new SelectListItem() {Text = "1", Value="1"},
                                    new SelectListItem() {Text = "2", Value="2"},
                                    new SelectListItem() {Text = "3", Value="3"},
                                    new SelectListItem() {Text = "4", Value="4"},
                                    new SelectListItem() {Text = "5", Value="5"},
                                    new SelectListItem() {Text = "6", Value="6"},
                                    new SelectListItem() {Text = "7", Value="7"},
                                    new SelectListItem() {Text = "8", Value="8"},
                                    new SelectListItem() {Text = "9", Value="9"},
                                    new SelectListItem() {Text = "10", Value="10"},
                                    new SelectListItem() {Text = "11", Value="11"},
                                    new SelectListItem() {Text = "12", Value="12"},
                                    new SelectListItem() {Text = "13", Value="13"},
                                    new SelectListItem() {Text = "14", Value="14"},
                                    new SelectListItem() {Text = "15", Value="15"},
                                    new SelectListItem() {Text = "16", Value="16"},
                                    new SelectListItem() {Text = "17", Value="17"},
                                    new SelectListItem() {Text = "18", Value="18"},
                                    new SelectListItem() {Text = "19", Value="19"},
                                    new SelectListItem() {Text = "20", Value="20"},
                                    new SelectListItem() {Text = "21", Value="21"},
                                    new SelectListItem() {Text = "22", Value="22"},
                                    new SelectListItem() {Text = "23", Value="23"},
                                    new SelectListItem() {Text = "24", Value="24"},
                                    new SelectListItem() {Text = "25", Value="25"},
                                    new SelectListItem() {Text = "26", Value="26"},
                                    new SelectListItem() {Text = "27", Value="27"},
                                    new SelectListItem() {Text = "28", Value="28"},
                                    new SelectListItem() {Text = "29", Value="29"},
                                    new SelectListItem() {Text = "30", Value="30"}
                                    }, "---", new { @id = "" + item.Value.Replace(".", "_") + "-" + item.Id + "", @name = "" + item.Value.Replace(".", "_") + "-" + item.Id + "", @class = "orderCar form-control changeplaceholder", @Style = "width:40%", @disabled = "true" })
                            }
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="1_5T_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                }
                <span class="red pull-right" style="margin-top: 5px; margin-right: 5px;"> (*)</span>
            </div>
            <div style="clear:both"></div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("txtFromLocation", fromLocationLatLng.ToString(), new { @class = "form-control changeplaceholder", @name = "txtFromLocation", @id = "txtFromLocation", @Style = "width:95%", @placeholder = "Điểm đi" })
                        <span class="red pull-right" style="margin-top: -27px; margin-right: 0px;"> (*)</span>
                        <input type="hidden" id="hfFrom" name="hfFrom" />
                        <input type="hidden" id="hfLatFrom" name="hfLatFrom" />
                        <input type="hidden" id="hfLngFrom" name="hfLngFrom" />
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtFromLocation_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("txtToLocation", toLocationLatLng.ToString(), new { @class = "form-control changeplaceholder pull-right", @name = "txtToLocation", @id = "txtToLocation", @Style = "width:100%", @placeholder = "Điểm đến" })
                        <span class="red pull-right" style="margin-top: -27px; margin-right: 0px;"> (*)</span>
                        <input type="hidden" id="hfTo" name="hfTo" />
                        <input type="hidden" id="hfLatTo" name="hfLatTo" />
                        <input type="hidden" id="hfLngTo" name="hfLngTo" />
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtToLocation_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>

            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.TenHang, new { @id = "TenHang", @name = "TenHang", @class = "form-control", @Style = "width:100%" })
                        @Html.HiddenFor(model => model.Id, new { @id = "Id", @name = "Id" })
                        <span class="red pull-right" style="margin-top: -27px; margin-right: 15px;"> (*)</span>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="TenHang_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="col-sm-12" style="padding: 0px;">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left: 0px;">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.DienThoaiLienHe, new { @id = "DienThoaiLienHe", @name = "DienThoaiLienHe", @class = "form-control pull-right", @Style = "width:96%" })
                            <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="DienThoaiLienHe_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.NguoiLienHe, new { @id = "NguoiLienHe", @name = "NguoiLienHe", @class = "form-control pull-right", @Style = "width:96%" })
                            <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="NguoiLienHe_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @Html.TextAreaFor(model => model.Note, new { @id = "Note", @name = "Note", @class = "form-control changeplaceholder", @style = "height: 80px; width:100%", @placeholder = "Ghi chú" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="Note_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBoxFor(m => ngayDi, new { @class = "date-picker form-control changeplaceholder", @Style = "width:90%", @id = "txtTimeDi", @name = "txtTimeDi", @placeholder = "Thời gian đi", @autocomplete = "off" })
                        <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtTimeDi_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBoxFor(m => gioBocDi, new { @class = "form-control time-picker changeplaceholder", @Style = "width:90%", @name = "gioBocDi", @placeholder = "Thời gian bốc hàng (giờ)", @autocomplete = "off" })
                        <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="gioBocDi_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBoxFor(m => ngayDen, new { @class = "date-picker form-control changeplaceholder", @Style = "width:90%", @name = "txtTimeDen", @id = "txtTimeDen", @placeholder = "Thời gian đến", @autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtTimeDen_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBoxFor(m => gioBocDen, new { @class = "form-control time-picker changeplaceholder pull-right", @Style = "width:90%", @name = "gioBocDen", @id = "gioBocDen", @placeholder = "Thời gian bốc hàng đến (giờ)", @autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="gioBocDen_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Lenght, new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtLenght", @id = "txtLenght", @placeholder = "Chiều dài (m)" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtLenght_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Width, new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtWidth", @id = "txtWidth", @placeholder = "Chiều rộng (m)" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtWidth_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Height, new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtHeight", @id = "txtHeight", @placeholder = "Chiều cao (m)" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtHeight_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.TrongLuong, new { @class = "form-control changeplaceholder pull-right", @style = "width:90%", @name = "txtTrongLuong", @id = "txtTrongLuong", @placeholder = "Trọng lượng (kg)" })
                        <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 5px;"> (*)</span>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtTrongLuong_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @*map*@
                        <div style="border: 1px solid gray; height:256px" id="map">
                        </div>
                    </div>
                    <div class="form-group">

                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("txtSoKmUocTinh", Model.SoKmUocTinh.Value.ToString("#.#"), new { @class = "form-control changeplaceholder", @name = "txtSoKmUocTinh", @id = "txtSoKmUocTinh", @style = "width:90%;pointer-events: none;", @placeholder = "Số km ước tính" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtSoKmUocTinh_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("Gia", Model.Gia, new { @id = "Gia", @name = "Gia", @class = "form-control changeplaceholder", @style = "pointer-events: none; float: left; width: 80%;", @placeholder = "Giá (VNĐ)" })
                        <div style="padding-top:7px">
                            <a title="tính lại giá" style="padding: 0px 0px 0px 15px;" href="javascript:void(0);" onclick="GetOrderPrice();"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="Gia_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("txtSoGio", "", new { @id = "txtSoGio", @name = "txtSoGio", @class = "form-control pull-right", @style = "pointer-events: none;float: left; width: 90%;", @placeholder = "Số giờ ước tính (giờ)" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="SoGio_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        Thanh toán: <input type="hidden" id="Payby" name="Payby" value="tiền mặt(mặc định)" />
                        @Html.RadioButtonFor(model => model.LoaiThanhToan, 0, new { @id = "rPaypal", @class = "mode", @name = "rThanhToan", @checked = true })
                        <span>Tiền mặt</span>
                        &nbsp;&nbsp;
                        @Html.RadioButtonFor(model => model.LoaiThanhToan, 1, new { @id = "rCash", @class = "mode", @name = "rThanhToan", @checked = true })
                        <span>Chuyển khoản</span>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="ThanhToan_NULL" style="margin-left: 0px; color:red"></span>
                    </div>

                </div>
            </div>

            @*<div class="form-horizontal">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.CheckBox("VAT", Model.VAT) &nbsp; Có VAT
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="VAT_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>*@
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.Status, new SelectListItem[]{
                        new SelectListItem() {Text = "Chờ nhập đơn", Value="0"},
                        new SelectListItem() {Text = "Đã nhận đơn", Value="1"},
                        new SelectListItem() {Text = "Kết thúc", Value="2"},
                        }, new { @id = "Status", @name = "Status", @class = "form-control changeplaceholder pull-right" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="Status_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>

            <div style="clear:both;"></div>
            <div class="form-horizontal">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <span class="red">(*) là điều kiện bắt buộc nhập</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both;height:12px;"></div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input type="submit" id="btnEdit" value="Cập nhật vận đơn" class="btn btn-info btn-sm" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("Quay lại danh sách", "Index", new { @class = "btn btn-info btn-sm" })
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <div id="loader" style="height: 100%;
        width: 100%; text-align: center; background: #f5f5f5; opacity: 0.5; z-index: 999;
        position: absolute; left: 0px;
        top: 0px;
        cursor: wait; display:none">
            <img style="position:absolute;top:50%;" src="~/Content/images/pageloader.gif" alt="" width="70" height="70" />
        </div>
    </div>
    <input type="hidden" name="hdfStrCarTypeSelect" id="hdfStrCarTypeSelect" value="" />
    <input type="hidden" name="hdfOrderCarSelect" id="hdfOrderCarSelect" value="" />
    <input type="hidden" id="hdfoldPrice" name="hdfoldPrice" value="" />

    <script src="~/scripts/jquery1.12.4.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />

   @*<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&libraries=geometry"></script>*@
                @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXsXh1Gf_4dvJE0250tZFFAUscS8VuZc4&libraries=places&callback=initMap"
                async defer></script>*@
                @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
                    async defer></script>*@
                @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXsXh1Gf_4dvJE0250tZFFAUscS8VuZc4&libraries=places&callback=initMap"
                    async defer></script>*@
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places"
                    async defer></script>
    // key test
        @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDG5IfNX4ObtjT45oWjid3WDRZ-zPa_xnk&libraries=places&callback=initMap"
            async defer></script>*@
					
            <script type="text/javascript">
                $(document).ready(function () {
					google.maps.event.addDomListener(window, 'load', initMap);
                    loadmapinfo();
                    tinhsogio();
                    callserviceapi(true);
                    callserviceapi(false);
                    //$('#VAT').change(function () {
                    //    if($('#VAT').is(':checked') === true)
                    //    {
                    //        var price= (parseFloat($('#hdfoldPrice').val().replace(/,/g,'')));
                    //        price =price*1.1;

                    //        var value = price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,").split('.')[0];
                    //        $('#Gia').val(value);
                    //    }else
                    //    {
                    //        $('#Gia').val($('#hdfoldPrice').val());
                    //    }
                    //});

                    //$("#txtTimeDi").focus(function () {
                    //    tinhsogio();
                    //});
                    //$("#ThoiGianBocHangDi").focus(function () {
                    //    tinhsogio();
                    //});
                    //$("#txtTimeDen").focus(function () {
                    //    tinhsogio();
                    //});
                    //$("#ThoiGianBocHangDen").focus(function () {
                    //    tinhsogio();
                    //});
                    //$("#txtLenght").focus(function () {
                    //    tinhsogio();
                    //});
                    //$("#txtWidth").focus(function () {
                    //    tinhsogio();
                    //});
                    //$("#txtHeight").focus(function () {
                    //    tinhsogio();
                    //});
                    //$("#txtTrongLuong").focus(function () {
                    //    tinhsogio();
                    //});

                    $('#txtFromLocation').focus(function (e) {
                        var count = 0;
                        $('.orderCar').each(function(){
                            if($(this).val().length > 0)
                            {
                                count = count +1;
                            }
                        });

                        if (count === 0) {
                            alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                            $('#txtFromLocation').blur();
                            return false;
                        }
                    });
                    $('#txtToLocation').focus(function (e) {
                        var count = 0;
                        $('.orderCar').each(function(){
                            if($(this).val().length > 0)
                            {
                                count = count +1;
                            }
                        });

                        if (count === 0) {
                            alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                            $('#txtToLocation').blur();
                            return false;
                        }
                    });

                    $('#txtFromLocation').keypress(function (e) {
                        if (e.which === 13) {
                            callserviceapi(true);
                            return false;
                        }
                    });

                    $('#txtToLocation').keypress(function (e) {
                        if (e.which === 13) {
                            callserviceapi(false);
                            return false;
                        }
                    });

                    $('#txtFromLocation').on('change',function(){
                        callserviceapi(true);
                    });

                    $('#txtToLocation').on('change',function(){
                        callserviceapi(false);
                    });
                });

                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        mapTypeControl: false,
                        center: {lat: 21.027764, lng: 105.834160},
                        zoom: 13
                    });

                    new AutocompleteDirectionsHandler(map);
                }

                function AutocompleteDirectionsHandler(map) {
                    var options = {
                        //types: ['(cities)'],
                        componentRestrictions: { country: "vn" }
                    };
                    this.map = map;
                    this.originPlaceId = null;
                    this.destinationPlaceId = null;
                    this.travelMode = 'DRIVING';
                    var originInput = document.getElementById('txtFromLocation');
                    var destinationInput = document.getElementById('txtToLocation');
                    this.directionsService = new google.maps.DirectionsService;
                    this.directionsDisplay = new google.maps.DirectionsRenderer;
                    this.directionsDisplay.setMap(map);

                    var originAutocomplete = new google.maps.places.Autocomplete(
                        originInput,options);
                    var destinationAutocomplete = new google.maps.places.Autocomplete(
                        destinationInput,options);

                    this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
                    this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');
                }

                AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function (autocomplete, mode) {
                    var me = this;
                    autocomplete.bindTo('bounds', this.map);
                    autocomplete.addListener('place_changed', function () {
                        var count = 0;
                        $('.orderCar').each(function(){
                            if($(this).val().length > 0)
                            {
                                count = count +1;
                            }
                        });
                        if (count === 0) {
                            alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                            $('#txtFromLocation').val('');
                            $('#txtToLocation').val('');
                            return false;
                        }

                        //if ($('#ngayDi').val() == "") {
                        //    $('#ngayDi_NULL').html('Bạn chưa chọn thời gian đi');
                        //    return false;
                        //}else {
                        //    $('#ngayDi_NULL').html('');
                        //}

                        //if ($('#gioBocDi').val() == "") {
                        //    $('#gioBocDi_NULL').html('Bạn chưa chọn giờ đi');
                        //    return false;
                        //}else {
                        //    $('#gioBocDi_NULL').html('');
                        //}

                        //if ($('#ngayDen').val() == "") {
                        //    $('#ngayDen_NULL').html('Bạn chưa chọn thời gian đến');
                        //    return false;
                        //}else {
                        //    $('#ngayDen_NULL').html('');
                        //}

                        //if ($('#gioBocDen').val() == "") {
                        //    $('#gioBocDen_NULL').html('Bạn chưa chọn giờ đến');
                        //    return false;
                        //}else {
                        //    $('#gioBocDen_NULL').html('');
                        //}


                        var place = autocomplete.getPlace();
                        var fromAddress = place.formatted_address;
                        var toAddress = place.formatted_address;

                        if (!place.place_id) {
                            console.log("hãy chọn địa chỉ từ danh sách gợi ý.");
                            return;
                        }
                        if (mode === 'ORIG') {
                            $('#hfFrom').val(place.formatted_address);
                            $('#hfLatFrom').val(place.geometry.location.lat());
                            $('#hfLngFrom').val(place.geometry.location.lng())
                            me.originPlaceId = place.place_id;
                        } else {
                            $('#hfTo').val(place.formatted_address);
                            $('#hfLatTo').val(place.geometry.location.lat());
                            $('#hfLngTo').val(place.geometry.location.lng())
                            me.destinationPlaceId = place.place_id;
                        }

                        me.route();

                        GetOrderPrice();
                    });
                };

                AutocompleteDirectionsHandler.prototype.route = function () {
                    if (!this.originPlaceId || !this.destinationPlaceId) {
                        return;
                    }
                    var me = this;
                    this.directionsService.route({
                        origin: { 'placeId': this.originPlaceId },
                        destination: { 'placeId': this.destinationPlaceId },
                        travelMode: this.travelMode
                    }, function (response, status) {
                        if (status === 'OK') {
                            me.directionsDisplay.setDirections(response);
                            // tính số giờ
                            var thogian = me.directionsDisplay.directions.routes[0].legs[0].duration.text;
                            document.getElementById('txtSoGio').value = thogian;
                        } else {
                            console.log('Directions request failed due to ' + status);
                        }
                    });
                };

                function callserviceapi( isfrom ){
                    // call api when map not suggest address
                    if(isfrom === true)
                    {
                        if (($('#hfFrom').val() == "" || $('#hfLatFrom').val() == "" ||  $('#hfLngFrom').val() == "") && ($('#txtFromLocation').val().length > 0 )) {
                            var address = $('#txtFromLocation').val();
                            $.ajax({
                                url: 'https://maps.googleapis.com/maps/api/geocode/json?&address='+address,
                                type: 'GET',
                                success: function(res) {
                                    if(res.status === 'OK')
                                    {
                                        $('#hfFrom').val(res.results[0].formatted_address);
                                        $('#hfLatFrom').val(res.results[0].geometry.location.lat);
                                        $('#hfLngFrom').val(res.results[0].geometry.location.lng);
                                        //me.originPlaceId = res.results[0].place_id

                                        console.log("OK");
                                    }
                                }
                            });
                        }
                    }else{
                        if (($('#hfTo').val() == "" || $('#hfLatTo').val() == "" ||  $('#hfLngTo').val() == "") && ($('#txtToLocation').val().length > 0 )) {
                            var address = $('#txtToLocation').val();
                            $.ajax({
                                url: 'https://maps.googleapis.com/maps/api/geocode/json?&address='+address,
                                type: 'GET',
                                success: function(res) {
                                    if(res.status === 'OK')
                                    {
                                        $('#hfTo').val(res.results[0].formatted_address);
                                        $('#hfLatTo').val(res.results[0].geometry.location.lat);
                                        $('#hfLngTo').val(res.results[0].geometry.location.lng);
                                        console.log("OK");
                                        //me.destinationPlaceId = res.results[0].place_id;
                                    }
                                }
                            });
                        }
                    }
                }

                function loadmapinfo() {
                    this.map = map;
                    this.originPlaceId = null;
                    this.destinationPlaceId = null;
                    this.travelMode = 'DRIVING';
                    var originInput = document.getElementById('txtFromLocation');
                    var destinationInput = document.getElementById('txtToLocation');
                    this.directionsService = new google.maps.DirectionsService;
                    this.directionsDisplay = new google.maps.DirectionsRenderer;
                    this.directionsDisplay.setMap(map);

                    directionsService.route({
                        origin: {lat: @Model.FromLat, lng: @Model.FromLng},  // Haight.
                        destination: {lat: @Model.ToLat, lng: @Model.ToLng},
                        travelMode: google.maps.TravelMode["DRIVING"]
                    }, function(response, status) {
                        if (status == 'OK') {
                            directionsDisplay.setDirections(response);
                            // tính số giờ
                            var thogian = directionsDisplay.directions.routes[0].legs[0].duration.text;
                            document.getElementById('txtSoGio').value = thogian;
                        } else {
                            console.log('Directions request failed due to ' + status);
                        }
                    });
                }

                function tinhsogio() {
                    var fromHour = document.getElementById('gioBocDi').value;
                    var toHour = document.getElementById('gioBocDen').value;
                    var dateFrom = document.getElementById('txtTimeDi').value;
                    var dateTo = document.getElementById('txtTimeDen').value;
                    if (document.getElementById('txtTimeDi').value.length > 0 && document.getElementById('txtTimeDen').value.length > 0) {
                        var fromString = dateFrom.split('/')[1] + "/" + dateFrom.split('/')[0] + "/" + dateFrom.split('/')[2] + " " + fromHour;
                        var toString = dateTo.split('/')[1] + "/" + dateTo.split('/')[0] + "/" + dateTo.split('/')[2] + " " + toHour;
                        var from = new Date(fromString);
                        var to = new Date(toString);

                        var offset = to.getTime() - from.getTime();

                        //var days = Math.floor(offset / 1000 / 60 / 60 / 24);
                        //offset -= days * 1000 * 60 * 60 * 24; // giảm offset đi

                        var hours = Math.floor(offset / 1000 / 60 / 60);
                        document.getElementById('txtSoGio').value = hours;
                    }
                }

                function loadLocation(divMapId,isFrom, lat, lng, autocomplete) {
                    if (divMapId == 'mapFrom') {
                        var mapSrc = new google.maps.Map(document.getElementById(divMapId), {
                            zoom: 17,
                        });
                        var pos = {
                            lat: parseFloat(lat),
                            lng: parseFloat(lng)
                        };

                        mapSrc.setCenter(pos);

                        var marker = new google.maps.Marker({
                            map: mapSrc,
                            position:  {lat: parseFloat(lat) , lng: parseFloat(lng)},
                            draggable: false,
                            size : new google.maps.Size(12, 32)
                        });

                        autocomplete.addListener('place_changed', function () {
                            marker.setVisible(false);
                            var place = autocomplete.getPlace();
                            if (!place.geometry) {
                                window.alert("Không tìm thấy vị trí nhập: '" + place.name + "'");
                                return;
                            }

                            if (place.geometry.viewport) {
                                mapSrc.fitBounds(place.geometry.viewport);
                            } else {
                                mapSrc.setCenter(place.geometry.location);
                                mapSrc.setZoom(17);
                            }
                            marker.setPosition(place.geometry.location);
                            marker.setVisible(true);
                        });
                    }
                    else {
                        var mapDes = new google.maps.Map(document.getElementById(divMapId), {
                            zoom: 17,
                        });
                        var pos = {
                            lat: parseFloat(lat),
                            lng: parseFloat(lng)
                        };

                        mapDes.setCenter(pos);

                        var marker = new google.maps.Marker({
                            map: mapDes,
                            position:  {lat: parseFloat(lat) , lng: parseFloat(lng)},
                            draggable: false,
                            size : new google.maps.Size(12, 32)
                        });

                        autocomplete.addListener('place_changed', function () {
                            marker.setVisible(false);
                            var place = autocomplete.getPlace();
                            if (!place.geometry) {
                                window.alert("Không tìm thấy vị trí nhập: '" + place.name + "'");
                                return;
                            }

                            // If the place has a geometry, then present it on a map.
                            if (place.geometry.viewport) {
                                mapDes.fitBounds(place.geometry.viewport);
                            } else {
                                mapDes.setCenter(place.geometry.location);
                                mapDes.setZoom(17);
                            }
                            marker.setPosition(place.geometry.location);
                            marker.setVisible(true);
                            GetOrderPrice();
                        });
                    }
                }

                function GetOrderPrice() {
                    callserviceapi(true);
                    callserviceapi(false);
                    //tinhsogio();
                    var fromaddress = $('#hfFrom').val();
                    var toaddress = $('#hfTo').val();
                    var latFrom = $('#hfLatFrom').val();
                    var lngFrom = $('#hfLngFrom').val();
                    var latTo = $('#hfLatTo').val();
                    var lngTo = $('#hfLngTo').val();
                    if (fromaddress.length == 0 || toaddress.length == 0) {
                        return;
                    }
                    if (fromaddress.length > 0 && toaddress.length > 0) {

                        var strOrderCar = '';
                        $('.orderCar').each(function(){
                            if($(this).val().length > 0)
                            {
                                strOrderCar = strOrderCar + $(this).attr('id')+":"+ $(this).val()+"|";
                            }else
                            {
                                strOrderCar = strOrderCar + $(this).attr('id')+":0|";
                            }
                        });

                        //var isVAT = $('#VAT').is(':checked');
                        var isVAT = true;
                        $('#txtSoKmUocTinh').val("");
                        $('#Gia').val("");
                        $('#loader').show();
                        $.ajax({
                            url: '/Admin/Orders/GetPrice',
                            data: "{ 'fromaddress':'" + fromaddress + "', 'toaddress':'" + toaddress + "', 'latfrom':'"+latFrom + "', 'lnfrom':'" + lngFrom + "', 'latto':'" + latTo + "', 'lnto':'" + lngTo + "', 'isVAT':'" + isVAT +"', 'strOrderCar':'" + strOrderCar + "' }",
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data.message.length > 0) {
                                    console.log(data.message);
                                }
                                $('#loader').hide();
                                $('#txtSoKmUocTinh').val(data.distance);
                                $('#Gia').val(data.totalPrice);
                                $('#hdfoldPrice').val(data.oldPrice);
                            },
                            error: function (response) {
                                $('#loader').hide();
                            },
                            failure: function (response) {
                                $('#loader').hide();
                            }
                        });
                    }
                }
            </script>
            @*google map*@

            @*@section ScriptsBottom{*@
            <script type="text/javascript">
                $(document).ready(function () {
                    var strURLPath = window.location.pathname;
                    var activeId = "Orders";
                    $('#main_menu li#' + activeId).addClass('active');
                    $('#main_menu li#' + activeId).parents('li').addClass('active open')
                });
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    //Tối ưu js
            @*<script src="~/assets/js/jquery-ui.custom.min.js"></script>
            <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
            <script src="~/assets/js/chosen.jquery.min.js"></script>
            <script src="~/assets/js/fuelux.spinner.min.js"></script>*@
    //Tối ưu js

    <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
    //Tối ưu js
            @*<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
            <script src="~/assets/js/moment.min.js"></script>
            <script src="~/assets/js/daterangepicker.min.js"></script>
            <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
            <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
            <script src="~/assets/js/jquery.knob.min.js"></script>
            <script src="~/assets/js/jquery.autosize.min.js"></script>
            <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
            <script src="~/assets/js/jquery.maskedinput.min.js"></script>
            <script src="~/assets/js/bootstrap-tag.min.js"></script>*@
    //Tối ưu js

            <script type="text/javascript">
                jQuery(function ($) {
                    $.mask.definitions['~'] = '[+-]';
                    $('.input-mask-phone').mask('(999) 999-9999');
                    $('.input-mask-date').mask('99/99/9999');
                    $('.input-mask-phone').mask('(999) 999-9999');
                });

                //show datepicker when clicking on the icon
                $('.time-picker').timepicker({
                    showMeridian: false,
                    startTime: ""
                });
            </script>

            <script src="~/scripts/jquery1.12.4.min.js"></script>
            <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
            <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
            <style type="text/css">
                .ui-widget-content {
                    border: 1px solid #c5c5c5;
                    width: 250px !important;
                }
            </style>
            <script type="text/javascript">
                $(function () {
                    $('.date-picker').datepicker({
                        dateFormat: 'dd/mm/yy'
                    });
                })
            </script>

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#txtFromLocation").focusout(function () {
                        if ($("#txtFromLocation").val().trim() == "" || $("#txtFromLocation").val().trim() == null) {
                            $("#txtFromLocation_NULL").html('Bạn chưa nhập điểm đi!');
                            return false;
                        } else {
                            $("#txtFromLocation_NULL").html('');
                        }
                    });
                    $("#txtToLocation").focusout(function () {
                        if ($("#txtToLocation").val().trim() == "" || $("#txtToLocation").val().trim() == null) {
                            $("#txtToLocation_NULL").html('Bạn chưa nhập điểm đến!');
                            return false;
                        } else {
                            $("#txtToLocation_NULL").html('');
                        }
                    });
                    $("#DienThoaiLienHe").focusout(function () {
                        if ($("#DienThoaiLienHe").val().trim() == "" || $("#DienThoaiLienHe").val().trim() == null) {
                            $("#DienThoaiLienHe_NULL").html('Bạn chưa nhập điện thoại liên hệ!');
                            return false;
                        } else {
                            $("#DienThoaiLienHe_NULL").html('');
                        }
                    });
                    $("#NguoiLienHe").focusout(function () {
                        if ($("#NguoiLienHe").val().trim() == "" || $("#NguoiLienHe").val().trim() == null) {
                            $("#NguoiLienHe_NULL").html('Bạn chưa nhập người liên hệ!');
                            return false;
                        } else {
                            $("#NguoiLienHe_NULL").html('');
                        }
                    });
                    $("#TenHang").focusout(function () {
                        if ($("#TenHang").val().trim() == "" || $("#TenHang").val().trim() == null) {
                            $("#TenHang_NULL").html('Bạn chưa nhập tên hàng!');
                            return false;
                        } else {
                            $("#TenHang_NULL").html('');
                        }
                    });
                    $("#txtTimeDi").focusout(function () {
                        if ($("#txtTimeDi").val().trim() == "" || $("#txtTimeDi").val().trim() == null) {
                            $("#txtTimeDi_NULL").html('Bạn chưa nhập thời gian đi!');
                            return false;
                        } else {
                            $("#txtTimeDi_NULL").html('');
                        }
                    });
                    $("#gioBocDi").focusout(function () {
                        if ($("#gioBocDi").val().trim() == "" || $("#gioBocDi").val().trim() == null) {
                            $("#TgioBocDi_NULL").html('Bạn chưa nhập giờ đi!');
                            return false;
                        } else {
                            $("#gioBocDi_NULL").html('');
                        }
                    });
                    //$("#txtTimeDen").focusout(function () {
                    //    if ($("#txtTimeDen").val().trim() == "" || $("#txtTimeDen").val().trim() == null) {
                    //        $("#txtTimeDen_NULL").html('Bạn chưa nhập thời gian đến!');
                    //        return false;
                    //    } else {
                    //        $("#txtTimeDen_NULL").html('');
                    //    }
                    //});
                    //$("#gioBocDen").focusout(function () {
                    //    if ($("#gioBocDen").val().trim() == "" || $("#gioBocDen").val().trim() == null) {
                    //        $("#gioBocDen_NULL").html('Bạn chưa nhập giờ đến!');
                    //        return false;
                    //    } else {
                    //        $("#gioBocDen_NULL").html('');
                    //    }
                    //});
                    $("#txtLenght").focusout(function () {
                        if ($("#txtLenght").val().trim() == "" || $("#txtLenght").val().trim() == null) {
                            $("#txtLenght_NULL").html('Bạn chưa nhập chiều dài!');
                            return false;
                        } else {
                            $("#txtLenght_NULL").html('');
                        }

                        if ($.isNumeric($('#txtLenght').val()) == false) {
                            $('#txtLenght_NULL').html('chiều dài phải là số');
                            return false;
                        }
                    });
                    $("#txtWidth").focusout(function () {
                        if ($("#txtWidth").val().trim() == "" || $("#txtWidth").val().trim() == null) {
                            $("#txtWidth_NULL").html('Bạn chưa nhập chiều rộng!');
                            return false;
                        } else {
                            $("#txtWidth_NULL").html('');
                        }

                        if ($.isNumeric($('#txtWidth').val()) == false) {
                            $('#txtWidth_NULL').html('chiều rộng phải là số');
                            return false;
                        }
                    });
                    $("#txtHeight").focusout(function () {
                        if ($("#txtHeight").val().trim() == "" || $("#txtHeight").val().trim() == null) {
                            $("#txtHeight_NULL").html('Bạn chưa nhập chiều cao!');
                            return false;
                        } else {
                            $("#txtHeight_NULL").html('');
                        }

                        if ($.isNumeric($('#txtHeight').val()) == false) {
                            $('#txtHeight_NULL').html('chiều cao phải là số');
                            return false;
                        }
                    });

                    $("#txtTimeDi").focusout(function () {
                        if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                            var dateGo = $('#txtTimeDi').val();
                            var hourGo = $('#ThoiGianBocHangDi').val();
                            var dateEnd = $('#txtTimeDen').val();
                            var hourEnd = $('#ThoiGianBocHangDen').val();

                            var strTimeGo =dateGo.split('/')[2] + '/'+dateGo.split('/')[1] + '/'+dateGo.split('/')[0] + ' ' + hourGo;
                            var strTimeEnd =dateEnd.split('/')[2] + '/'+dateEnd.split('/')[1] + '/'+dateEnd.split('/')[0] + ' ' + hourEnd;
                            var giodi =  Date.parse(strTimeGo);
                            var gioden =  Date.parse(strTimeEnd);

                            if(giodi > gioden )
                            {
                                $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                                return false;
                            }else
                            {
                                $("#txtTimeDi_NULL").html("");
                            }
                        }
                    });
                    $("#txtTimeDen").focusout(function () {
                        if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                            var dateGo = $('#txtTimeDi').val();
                            var hourGo = $('#ThoiGianBocHangDi').val();
                            var dateEnd = $('#txtTimeDen').val();
                            var hourEnd = $('#ThoiGianBocHangDen').val();

                            var strTimeGo =dateGo.split('/')[2] + '/'+dateGo.split('/')[1] + '/'+dateGo.split('/')[0] + ' ' + hourGo;
                            var strTimeEnd =dateEnd.split('/')[2] + '/'+dateEnd.split('/')[1] + '/'+dateEnd.split('/')[0] + ' ' + hourEnd;
                            var giodi =  Date.parse(strTimeGo);
                            var gioden =  Date.parse(strTimeEnd);

                            if(giodi > gioden )
                            {
                                $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                                return false;
                            }else
                            {
                                $("#txtTimeDi_NULL").html("");
                            }
                        }
                    });
                    $("#txtTrongLuong").focus(function () {
                        if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                            var dateGo = $('#txtTimeDi').val();
                            var hourGo = $('#ThoiGianBocHangDi').val();
                            var dateEnd = $('#txtTimeDen').val();
                            var hourEnd = $('#ThoiGianBocHangDen').val();

                            var strTimeGo =dateGo.split('/')[2] + '/'+dateGo.split('/')[1] + '/'+dateGo.split('/')[0] + ' ' + hourGo;
                            var strTimeEnd =dateEnd.split('/')[2] + '/'+dateEnd.split('/')[1] + '/'+dateEnd.split('/')[0] + ' ' + hourEnd;
                            var giodi =  Date.parse(strTimeGo);
                            var gioden =  Date.parse(strTimeEnd);

                            if(giodi > gioden )
                            {
                                $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                                return false;
                            }else
                            {
                                $("#txtTimeDi_NULL").html("");
                            }
                        }
                    });

                    $("#txtTrongLuong").focusout(function () {
                        if ($("#txtTrongLuong").val().trim() == "" || $("#txtTrongLuong").val().trim() == null) {
                            $("#txtTrongLuong_NULL").html('Bạn chưa nhập trọng lượng!');
                            return false;
                        } else {
                            $("#txtTrongLuong_NULL").html('');
                        }

                        if ($.isNumeric($('#txtTrongLuong').val()) == false) {
                            $('#txtTrongLuong_NULL').html('trọng lượng phải là số');
                            return false;
                        }

                        var totalValueSelect= 0;
                        var strOrderCar='';
                        $('.orderCar').each(function(){
                            if($(this).val().length > 0)
                            {
                                var idItem =   $(this).attr('id');
                                var typeCar = idItem.split('-')[0].replace('_','.');
                                var valueItem = parseFloat(typeCar) * 1000;
                                totalValueSelect = totalValueSelect + valueItem;
                            }else
                            {
                                strOrderCar = strOrderCar + $(this).attr('id')+":0:";
                            }
                        });

                        //valueItem
                        if (totalValueSelect < parseFloat($('#txtTrongLuong').val())) {
                            $('#txtTrongLuong_NULL').html('trọng lượng hàng quá tải');
                            return false;
                        } else {
                            $('#txtTrongLuong_NULL').html('');
                        }
                    });

                    $('#btnEdit').click(function () {
                        var count = 0;
                        $('.orderCar').each(function(){
                            if($(this).val().length > 0)
                            {
                                count = count +1;
                            }
                        });

                        if (count === 0) {
                            alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                            return false;
                        }

                        if ($('#txtFromLocation').val() == "" || $('#txtFromLocation').val() == null) {
                            $('#txtFromLocation_NULL').html('Bạn nhập điểm đi!');
                            return false;
                        }else{
                            $('#txtFromLocation_NULL').html('');
                        }

                        if ($('#hfFrom').val().length === 0 &&  $('#hfLatFrom').val()=== 0 &&  $('#hfLngFrom').val()=== 0) {
                            $('#txtFromLocation_NULL').html('Bạn nhập điểm đi!');
                            return false;
                        }

                        if ($('#txtToLocation').val() == "" || $('#txtToLocation').val() == null) {
                            $('#txtToLocation_NULL').html('Bạn nhập điểm đến!');
                            return false;
                        }else{
                            $('#txtToLocation_NULL').html('');
                        }

                        if ($('#hfTo').val().length === 0 &&  $('#hfLatTo').val()=== 0 &&  $('#hfLngTo').val()=== 0) {
                            $('#txtToLocation_NULL').html('Bạn nhập điểm đến!');
                            return false;
                        }

                        if ($('#TenHang').val() == "") {
                            $('#TenHang_NULL').html('Bạn chưa nhập tên hàng!');
                            return false;
                        }else {
                            $('#TenHang_NULL').html('');
                        }

                        if ($('#DienThoaiLienHe').val() == "") {
                            $('#DienThoaiLienHe_NULL').html('Bạn chưa nhập điện thoại liên hệ!');
                            return false;
                        }
                        else {
                            $('#DienThoaiLienHe_NULL').html('');
                        }

                        if ($.isNumeric($('#DienThoaiLienHe').val()) == false) {
                            $('#DienThoaiLienHe_NULL').html('Điện thoại liên hệ phải là số');
                            return false;
                        }
                        else {
                            $('#DienThoaiLienHe_NULL').html('');
                        }

                        if ($('#NguoiLienHe').val() == "") {
                            $('#NguoiLienHe_NULL').html('Bạn chưa nhập người liên hệ!');
                            return false;
                        }
                        else {
                            $('#NguoiLienHe_NULL').html('');
                        }

                        if ($('#txtTimeDi').val() == "" || $('#txtTimeDi').val() == null) {
                            $('#txtTimeDi_NULL').html('Bạn chưa nhập thời gian đi!');
                            return false;
                        } else {
                            $("#txtTimeDi_NULL").html('');
                        }
                        if ($('#ThoiGianBocHangDi').val() == "" || $('#ThoiGianBocHangDi').val() == null) {
                            $('#ThoiGianBocHangDi_NULL').html('Bạn chưa nhập giờ bốc hàng đi đi!');
                            return false;
                        } else {
                            $("#ThoiGianBocHangDi_NULL").html('');
                        }

                        if ($('#rPaypal').is(':checked') == false && $('#rCash').is(':checked') == false) {
                            $('#ThanhToan_NULL').html('Bạn chưa chọn hình thức thanh toán');
                            return false;
                        }
                        if ($('#txtTimeDi').val() == "" || $('#txtTimeDi').val() == null) {
                            $('#txtTimeDi_NULL').html('Bạn chưa chọn thời gian đi!');
                            return false;
                        }else {
                            $('#txtTimeDi_NULL').html('');
                        }
                        if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                            var dateGo = $('#txtTimeDi').val();
                            var hourGo = $('#ThoiGianBocHangDi').val();
                            var dateEnd = $('#txtTimeDen').val();
                            var hourEnd = $('#ThoiGianBocHangDen').val();

                            var strTimeGo =dateGo.split('/')[2] + '/'+dateGo.split('/')[1] + '/'+dateGo.split('/')[0] + ' ' + hourGo;
                            var strTimeEnd =dateEnd.split('/')[2] + '/'+dateEnd.split('/')[1] + '/'+dateEnd.split('/')[0] + ' ' + hourEnd;
                            var giodi =  Date.parse(strTimeGo);
                            var gioden =  Date.parse(strTimeEnd);

                            if(giodi > gioden )
                            {
                                $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                                return false;
                            }else
                            {
                                $("#txtTimeDi_NULL").html("");
                            }
                        }
                        //-------------------------- check giờ đi phải > 30 phút so với hiện tại
                        var hientai = new Date();
                        myTimeSpan = 30*60*1000; // thêm 30 phút vào giờ hiện tại
                        hientai.setTime(hientai.getTime() + myTimeSpan);
                        var ss= hientai.getMinutes();
                        var thoigiandi =  + hientai.getFullYear() + "/"
                                            + (hientai.getMonth()+1)  + "/"
                                            + hientai.getDate() + " "
                                            + hientai.getHours() + ":"
                                            + hientai.getMinutes() + ":";

                        var dateGo = $('#txtTimeDi').val();
                        var hourGo = $('#ThoiGianBocHangDi').val();

                        strTimeGo =dateGo.split('/')[2] + '/'+dateGo.split('/')[1] + '/'+dateGo.split('/')[0] + ' ' + hourGo;
                        var giodi =  Date.parse(strTimeGo);
                        var giohientai =  Date.parse(thoigiandi);

                        if(giohientai > giodi)
                        {
                            alert('quý khách vui lòng đặt thời gian xuất phát sớm nhất là sau 30 phút nữa');
                            return false;
                        }
                        //---------------------------------------------------------//


                        //if ($('#txtTimeDen').val() == "" || $('#txtTimeDen').val() == null) {
                        //    $('#txtTimeDen_NULL').html('Bạn chưa chọn thời gian đến!');
                        //    return false;
                        //}else {
                        //    $('#txtTimeDen_NULL').html('');
                        //}

                        if ($('#gioBocDi').val() == "" || $('#gioBocDi').val() == null) {
                            $('#gioBocDi_NULL').html('Bạn chưa chọn giờ đi!');
                            return false;
                        }
                        else {
                            $('#gioBocDi_NULL').html('');
                        }
                        //if ($('#gioBocDen').val() == "" || $('#gioBocDen').val() == null) {
                        //    $('#gioBocDen_NULL').html('Bạn chưa chọn giờ đến!');
                        //    return false;
                        //}else {
                        //    $('#gioBocDen_NULL').html('');
                        //}

                        if ($('#txtLenght').val() == "" || $('#txtLenght').val() == null) {
                            $('#txtLenght_NULL').html('Bạn chưa nhập chiều dài!');
                            return false;
                        }else {
                            $('#txtLenght_NULL').html('');
                        }
                        if ($.isNumeric($('#txtLenght').val()) == false) {
                            $('#txtLenght_NULL').html('Chiều dài phải là số');
                            return false;
                        }else {
                            $('#txtLenght_NULL').html('');
                        }

                        if ($('#txtWidth').val() == "" || $('#txtWidth').val() == null) {
                            $('#txtWidth_NULL').html('Bạn chưa nhập chiều rộng!');
                            return false;
                        }else {
                            $('#txtWidth_NULL').html('');
                        }
                        if ($.isNumeric($('#txtWidth').val()) == false) {
                            $('#txtWidth_NULL').html('Chiều rộng phải là số');
                            return false;
                        }else {
                            $('#txtWidth_NULL').html('');
                        }

                        if ($('#txtHeight').val() == "" || $('#txtHeight').val() == null) {
                            $('#txtHeight_NULL').html('Bạn chưa nhập chiều cao!');
                            return false;
                        }else {
                            $('#txtHeight_NULL').html('');
                        }
                        if ($.isNumeric($('#txtHeight').val()) == false) {
                            $('#txtHeight_NULL').html('Chiều cao phải là số');
                            return false;
                        }else {
                            $('#txtHeight_NULL').html('');
                        }

                        if ($('#txtTrongLuong').val() == "") {
                            $('#txtTrongLuong_NULL').html('Bạn chưa nhập trọng lượng!');
                            return false;
                        }else {
                            $('#txtTrongLuong_NULL').html('');
                        }
                        if ($.isNumeric($('#txtTrongLuong').val()) == false) {
                            $('#txtTrongLuong_NULL').html('trọng lượng phải là số');
                            return false;
                        }else {
                            $('#txtTrongLuong_NULL').html('');
                        }

                        var totalValueSelect= 0;
                        var strOrderCar='';
                        $('.orderCar').each(function(){
                            if($(this).val().length > 0)
                            {
                                var idItem =   $(this).attr('id');
                                var typeCar = idItem.split('-')[0].replace('_','.');
                                var valueItem = parseFloat(typeCar) * 1000;
                                totalValueSelect = totalValueSelect + valueItem;
                            }else
                            {
                                strOrderCar = strOrderCar + $(this).attr('id')+":0:";
                            }
                        });

                        //valueItem
                        if (totalValueSelect < parseFloat($('#txtTrongLuong').val())) {
                            $('#txtTrongLuong_NULL').html('trọng lượng hàng quá tải');
                            return false;
                        } else {
                            $('#txtTrongLuong_NULL').html('');
                        }
                    });
                });
            </script>

            <script type="text/javascript">
                $(document).ready(function () {
                    //bind ordercar selected value
                    $('#hdfOrderCarSelect').val('@strOrderCarSelect');
                    var str = ('@strOrderCarSelect').split('|');

                    $('.orderCar').each(function(){
                        for (var i = 0; i < str.length; i++) {
                            if($(this).attr('id') === str[i].split(':')[0])
                            {
                                $('#'+str[i].split(':')[0]).val(str[i].split(':')[1]);
                            }
                        }
                    });

                    $('.orderCar').change(function () {
                        ////event when select order car
                        //$('.orderCar').val("");
                        //$(this).val(1);
                        GetOrderPrice();
                    });

                    //$('#10-7').change(function (){
                    //    if ($('#10-7') != '') {
                    //        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                    //        $('#10-7').val('');
                    //        return false;
                    //    }
                    //});

                    $('#15-8').change(function (){
                        if ($('#15-8') != '') {
                            alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                            $('#15-8').val('');
                            return false;
                        }
                    });

                    $('#18-9').change(function (){
                        if ($('#18-9') != '') {
                            alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                            $('#18-9').val('');
                            return false;
                        }
                    });

                    //$('#20-10').change(function (){
                    //    if ($('#20-10') != '') {
                    //        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                    //        $('#20-10').val('');
                    //        return false;
                    //    }
                    //});

                    //$('#40-11').change(function (){
                    //    if ($('#40-11') != '') {
                    //        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                    //        $('#40-11').val('');
                    //        return false;
                    //    }
                    //});
                });
            </script>
}
