﻿@model IEnumerable<CMS.Carrier.Areas.Enterprise.Models.OrderDetailViewModel>
@using Carrier.Utilities;
@using PagedList.Mvc;
@using Carrier.CMS.Areas.Admin.Controllers;
@{
    if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ADMIN))
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    }

    var controller = ViewContext.Controller as OrdersController;
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Admin/Orders">Danh sách vận đơn</a>
        </li>
    </ul>
}
<div class="page-header">
    <h1>Danh sách vận đơn</h1>
</div>
@using (Html.BeginForm("Index", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        @*<div class="col-sm-2">
                <select name="Type" id="Type" style="width: 100%; padding: 6px; border: 1px solid #eee; height: 35px; font-size:15px;" onchange="this.form.submit();">
                    <option value="0">----- Loại vận đơn ----</option>
                    <option value="1">Đơn nội bộ</option>
                    <option value="2">Đơn ngoài</option>
                </select>
            </div>*@
        <div class="col-sm-2">
            @Html.TextBox("txtFromDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtFromDate", @name = "txtFromDate", @placeholder = "Từ ngày:" })
        </div>
        <div class="col-sm-2">
            @Html.TextBox("txtToDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtToDate", @name = "txtToDate", @placeholder = "Đến ngày:" })
        </div>
        <div class="col-sm-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: 0px 0px 0px 20px" />
        </div>
    </div>
    <div class="row" style="padding-top:5px">

    </div>
}
<p>
    <button class="btn btn-xs btn-danger" title="Xóa đã chọn" id="removeselected">
        <i class="ace-icon fa fa-trash-o bigger-120"></i>
    </button>
</p>
<table class="wapperpager table table-bordered table-hover dataTable" id="grvOrder">
    <thead>
        <tr>
            <th class="center" style="width:2%">
                <label class="pos-rel">
                    <input type="checkbox" class="ace cball">
                    <span class="lbl"></span>
                </label>
            </th>
            <th align="center" scope="col" class="header" style="width:3%">
                Mã vận đơn
            </th>
            <th align="center" scope="col" class="header" style="width:4%">
                Tên hàng
            </th>
            <th align="center" scope="col" class="header" style="width:6%">
                Điểm đi
            </th>
            <th align="center" scope="col" class="header" style="width:6%">
                Điểm đến
            </th>
            <th align="center" scope="col" class="header" style="width:5%">
                Thời gian
            </th>
            <th align="center" scope="col" class="header" style="width:5%">
                Thành tiền (VNĐ)
            </th>
            <th align="center" scope="col" class="header" style="width:5%">
                Thanh toán
            </th>
            <th align="center" scope="col" class="header" style="width:5%">
                Danh sách xe
            </th>
            <th align="center" scope="col" class="header" style="width:4%">
                Ngày tạo
            </th>
            <th align="center" scope="col" class="header" style="width:4%">
                Trạng thái
            </th>
            <th align="center" scope="col" class="header" style="width:6%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace cbitem">
                            <span class="lbl"></span>
                            <input type="hidden" id="hdfIdOrder" class="hdfId" name="hdfIdOrder" value="@item.Id" />
                        </label>
                    </td>
                    <td id="oderId" value="@item.Id">
                        <a title="Mã vận đơn" data-target="#" href='@Url.Action("PopUpDetail", "Orders", new { id = item.Id })' class="modal-link">@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                        <input type="hidden" id="hdfId_@item.Id" class="hdfId" name="hdfId" value="@item.Id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiemDiChiTiet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiemDenChiTiet)
                    </td>
                    <td>
                        <p>Từ @item.ThoiGianDi </p>
                        <p> Đến @item.ThoiGianDen</p>
                    </td>
                    <td>
                        @if (item.Gia != null)
                        {
                            <p>
                                @GlobalCommon.ConvertToCurrency(item.Gia.Value)
                            </p>
                        }
                        else
                        {
                            <p>
                                @*@GlobalCommon.ConvertToCurrency(item.Gia.Value) (VAT)*@
                            </p>
                        }
                    </td>

                    <td>
                        @if (item.LoaiThanhToan == 0)
                        {
                            <p>Thu tiền mặt</p>
                        }
                        else
                        {
                            <p>Chuyển khoản</p>
                        }
                    </td>

                    <td style="text-align: center;" id="dsXe_@item.Id"></td>
                    <td>
                        @item.CreateAt
                    </td>
                    <td>
                        @if (item.ThoiGianDi != null)
                        {
                            @Html.Raw(controller.ShowStatusToView(DateTime.Parse(item.ThoiGianDi.ToString()), int.Parse(item.TrackingStatus.ToString()), item.OrderStatus.Value))
                        }
                    </td>

                    <td>
                       
                        @if (item.TrackingStatus != 1 && item.TrackingStatus != 5)
                        {
                            <a href='@Url.Action("Edit", "Orders", new { id = item.Id })'><img src="~/Images/page_white_edit.png" title="Cập nhật" /></a><span>|</span>
                            <a href='@Url.Action("Delete", "Orders", new { id = item.Id })'><img src="~/Images/icons/bin_closed.png" title="Xóa" /></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:20000 !important">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:auto !important">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Chọn tài xế
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <div class="row">
                        <center>
                            <p class="message-content" style="font-weight:bold;color:red;padding: 0 !important;
    border: none !important" id="message-content"></p>
                        </center>
                    </div>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Huỷ
                    </button>
                    <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-send" data-dismiss="modal" onclick="GuiVanDon()">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Gửi vận đơn
                    </button>
                    <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-delete" data-dismiss="modal">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Đồng ý
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdflistIdselected" name="hdflistIdselected" value="" />

<div id="listXeModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    danh sách xe
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <center>
                        <table id="tblDanhSachXe" border='1' style="margin: 18px 0px 30px 0px; width:99%"></table>
                    </center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Đóng
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
@*@section Scripts {*@
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
@*}

    @section ScriptsBottom{*@
<script type="text/javascript">
    $(document).ready(function () {
        var strURLPath = window.location.pathname;
        var activeId = "Orders";
        $('#main_menu li#' + activeId).addClass('active');
        $('#main_menu li#' + activeId).parents('li').addClass('active open')
    });
</script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/fuelux.spinner.min.js"></script>

<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/daterangepicker.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>

<script>
    function LoadDriver(id) {
        sessionStorage.setItem('orderID', id);
        $.ajax({
            type: "GET",
            url: "/Orders/LoadListDriver",
            data: { id: id },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                $('#message-content').html(result);
                $('#myModal').modal('show');
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
    function ClickDriver(id) {
        var driverId = $('#' + id).attr('value');
        sessionStorage.setItem('id', driverId);
        $('#message-content button').each(function () {
            $(this).addClass('btn-default');
            $(this).removeClass('btn-primary');
        });
    };
    function GuiVanDon() {
        var driverId = sessionStorage.getItem('id');
        var orderID = sessionStorage.getItem('orderID');
        $.ajax({
            type: "GET",
            url: "/Orders/SendNewOrderToDriver",
            data: {
                orderId: orderID,
                driverId: driverId
            },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                alert(result);
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
    function DeleteRow(id) {
        $.ajax({
            type: "GET",
            url: "/Orders/Delete",
            data: { id: id },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                // refesh page
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };

    $('#removeselected').click(function () {
        var listId = "";
        var id;
        $('.cbitem').each(function () {
            if ($(this).is(':checked')) {
                id = $(this).parent().find('input[type="hidden"][name="hdfIdOrder"]').val();
                listId = listId + id + ",";
            }
        });
        if (listId.length > 0) {
            OpenPopup(listId, "Bạn có chắc muốn xóa các bản ghi tích chọn", 'delete');
        }
        else {
            ShowMessage("Bạn chưa tích chọn bản ghi nào");
        }
    });

    function ShowMessage(message) {
        $('#message-content').html(message);
        $('#btn-delete').hide();
        $('#btn-updatestatus').hide();
        $('#btn-cancel').hide();
        $('#myModal').modal('toggle');
    }
    $('#btn-delete').click(function () {
        Delete($('#hdflistIdselected').val());
    });
    function OpenPopup(id, message, type) {
        $('#hdflistIdselected').val(id);
        $('#message-content').html(message);
        if (type == 'delete') {
            $('#btn-delete').show();
            $('#btn-send').hide();
        }
        $('#btn-cancel').show();
        $('#myModal').modal('toggle');
    }

    function Delete(listId) {
        if (listId.length > 0) {
            $.ajax({
                url: "@Url.Action("DeleteListOrder", "Orders")",
                type: "POST",
                data: { 'listId': listId },
                dataType: 'json',
                success: function (data) {
                    $('#myModal').modal('hide');
                    //if (data == 'OK') {
                    //    ShowMessage("Xóa thành công");
                    //    setTimeout(function () { $('#myModal').hide(); }, 1500);
                    //    location.reload();
                    //}
                },
                error: function (node) {
                }
            })
        }
    }

    //function DanhSachXe(id) {
    //    $.ajax({
    //        type: "GET",
    //        url: "/Orders/DanhSachXe",
    //        data: { id: id },
    //        dataType: "json",
    //        contentType: 'application/json',
    //        success: function (result) {
    //            var trHTML = '';

    //            $("#tblDanhSachXe").empty();

    //            //create table header
    //            var headertr = $("<thead><tr style='background-color: #eff3f8;'><th>Id </th><th>Biển số xe</th></tr></thead>");

    //            //get table id from jquery
    //            var tableelement = $("#tblDanhSachXe");

    //            //add header row to table
    //            tableelement.append(headertr);

    //            var tbody = $("<tbody>");
    //            tableelement.append(tbody);

    //            $.each(result, function (i, item) {

    //                trHTML += '<tr><td>' + result[i].Id + '</td><td>' + result[i].License + '</td></tr>';
    //            });

    //            tableelement.append(trHTML);
    //            tbody = $("</tbody>");
    //            tableelement.append(tbody);

    //            $('#listXeModal').modal('show');
    //        },
    //        error: function (req, status, error) {
    //            // do something with error
    //        }
    //    });
    //};
</script>

<script type="text/javascript">
    jQuery(function ($) {
        $.mask.definitions['~'] = '[+-]';
        $('.input-mask-phone').mask('(999) 999-9999');
        $('.input-mask-date').mask('99/99/9999');
        $('.input-mask-phone').mask('(999) 999-9999');
    });

    $('.date-picker').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true
    }).next().on(ace.click_event, function () {
        $(this).prev().focus();
    });
    //show datepicker when clicking on the icon
</script>

<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
            $('#grvOrder')
                .dataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        null, null, null, null,
                        null, null, null, null, null, null,
                        { "bSortable": false },
                        { "bSortable": false }
                    ],
                    "aaSorting": [],
                    "pageLength": 100
                });

        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
            .prependTo('.tableTools-container .btn-group')
            .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
            .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
            .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
            .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#grvOrder > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#grvOrder').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#grvOrder .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#grvOrder > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#grvOrder').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>