﻿@using Carrier.Models.Entities;
@model List<Driver>
<style tabindex="text/css">
    .item-row:last-child {
        border-bottom: none !important;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Tài xế nhận đơn hàng</h4>
</div>
<div class="modal-body ">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="row item-row" style="border-bottom:1px solid gray; padding:10px">
                <div class="form-horizontal">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                Tên tài xế
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                @item.Name
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                Ảnh
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <div class="col-sm-6">
                                    <img src="~/Uploads/Driver/@item.Front_Image" width="70" alt="ảnh mặt trước" />
                                </div>
                                <div class="col-sm-6"><img src="~/Uploads/Driver/@item.Back_Image" width="70" alt="ảnh mặt sau" /></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                Địa chỉ
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                @item.Address
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                Điện thoại
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                @item.Phone
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                Giới tính
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                @item.Sex
                            </div>
                        </div>
                    </div><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                Ngày sinh
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                @item.BirthDay
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
@*<div class="modal-body">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <dl class="dl-horizontal">
                <dt>
                    Tên tài xế
                </dt>

                <dd>
                   @item.Name
                </dd>
                <dt>
                    Ảnh
                </dt>

                <dd>
                    <img src="~/Uploads/Driver/@item.Front_Image" width="70" alt="ảnh mặt trước" />
                </dd>

                <dt>
                    Địa chỉ
                </dt>

                <dd>
                    @item.Address
                </dd>

                <dt>
                    Số điện thoại
                </dt>
                <dd>
                   @item.Phone
                </dd>
                <dt>
                    Giới tính
                </dt>

                <dd>
                    @item.Sex
                </dd>

                <dt>
                    Ngày sinh
                </dt>

                <dd>
                    @item.BirthDay
                </dd>

            </dl>
            <div class="row">
                &nbsp;
            </div>
        }
    }
</div>*@