﻿@using Carrier.Models.Entities;
@*@model IEnumerable<Carrier.Models.Entities.SP_VanDon_DaKhopLenh_Result>*@
@model IEnumerable<CMS.Carrier.Areas.Enterprise.Models.EKetThucViewModel>

@*<script type="text/javascript" src="~/Content/fancybox/lib/jquery.mousewheel.pack.js"></script>
    <script type="text/javascript" src="~/Content/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
    <script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
    <script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>*@

<div class="col-md-12" style="margin-top:20px">
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th align="center" scope="col" class="header">
                    Mã vận đơn
                </th>
                <th align="center" scope="col" class="header">
                    Tên tài xế
                </th>
                <th align="center" scope="col" class="header">
                    Biển số xe
                </th>
                <th align="center" scope="col" class="header">
                    Tải trọng xe (tấn)
                </th>
                <th align="center" scope="col" class="header">
                    Điện thoại
                </th>
                <th align="center" scope="col" class="header">
                    Trạng thái
                </th>
                <th align="center" scope="col" class="header">
                    Thời gian kết thúc
                </th>
                <th align="center" style="width:20%">
                    Ảnh kết thúc
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("OrderDetail", "EKetThuc", new { id = item.OrderId
                        })" class="modal-link">@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                    </td>
                    <td>
                        <a href="@Url.Action("UserInfoDetail", "EKetThuc", new {  DriverId = item.DriverId  })"
                           class="modal-link">@Html.DisplayFor(modelItem => item.DriverName)</a>
                    </td>
                    <td>
                        @item.License
                    </td>
                    <td>
                        @item.Payload
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DriverPhone)
                    </td>
                    <td>
                        @if (@item.Status == 2)
                        {
                            @:Success
                        }
                        else
                        {
                            @:Kết thúc đơn
                        }
                    </td>
                    <td>
                        @item.Updated_At
                    </td>
                    <td style="text-align:center">

                        @if (item.ListImage.Count > 0)
                        {
                            <a href="@item.ListImage[0]" style="width:200%" class="fancybox-thumb" rel="fancybox-thumb" target="_blank" data-fancybox-group="gallery" title="">
                                <img style="width:60%" src="@item.ListImage[0]" alt="" />
                            </a>
                            <div></div>
                            <table>
                                <tbody style="display:none">
                                    <tr class="img-item">
                                        @for (int i = 1; i < item.ListImage.Count; ++i)
                                        {
                                            <td class="img-item">
                                                <a href="@item.ListImage[i]" class="fancybox-thumb" rel="fancybox-thumb" data-fancybox-group="gallery" title="">
                                                    <img class="img" src="@item.ListImage[i]" alt="" />
                                                </a>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <a href="@item.EvidencePath" style="width:200%" target="_blank" class="fancybox-thumb" rel="fancybox-thumb" data-fancybox-group="gallery">
                                <img style="width:60%" src="@item.EvidencePath" />
                            </a>
                        }
                    </td>
                    @*<td class="img-item"><a href="@Model.lstImage[1].LUrl" class="fancybox" data-fancybox-group="gallery" title=""><img class="img" src="@Model.lstImage[1].LUrl" alt="" /></a></td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
            $('#dynamic-table')
                .dataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        { "bSortable": false },
                        null, null, null, null, null, null,
                        { "bSortable": false }
                    ],
                    "aaSorting": [],
                    "pageLength": 100
                });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
            .prependTo('.tableTools-container .btn-group')
            .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
            .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
            .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
            .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>
@*<script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox({
                padding: 0,
                margin: 5,
                autoSize: false,
                width: '100%',
                height: '100%'
            });
        });
    </script>*@