﻿@using Carrier.CMS.Models;
@model IEnumerable<HistoryModel>

@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}
<script type="text/javascript" src="~/Content/fancybox/lib/jquery.mousewheel.pack.js"></script>
<script type="text/javascript" src="~/Content/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<link rel="stylesheet" id="fontello-style-css" href="/css/fontello.css" type="text/css" media="all">
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
        </li>
    </ul>
}
<div class="col-md-12">
    <div class="page-header">
        <h3>Danh sách các lịch trình và vận đơn đã kết thúc</h3>
    </div>
</div>
@using (Html.BeginForm("Index", "EKetThuc", FormMethod.Get))
{
    <div class="col-md-12">
        <div class="col-sm-2">
            <select name="OrderType" id="OrderType" style="width: 100%; padding: 6px; border: 1px solid #eee; height: 35px; font-size:15px;">
                <option value="">----- Loại vận đơn ----</option>
                <option value="1">Vận đơn nội bộ</option>
                <option value="2">Vận đơn nhận carrier</option>
            </select>
        </div>
        <div class="col-sm-2">
            @Html.TextBox("txtFromDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtFromDate", @name = "txtFromDate", @placeholder = "Từ ngày:" })
        </div>
        <div class="col-sm-2">
            @Html.TextBox("txtToDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtToDate", @name = "txtToDate", @placeholder = "Đến ngày:" })
        </div>
        <div class="col-md-1">
            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: 0px 0px 0px 20px" />
        </div>
    </div>
}
<div id="partial"></div>
@*<div class="col-md-12" style="margin-top:20px">
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th align="center" scope="col" class="header">
                        Mã vận đơn
                    </th>
                    <th align="center" scope="col" class="header">
                        Tên tài xế
                    </th>
                    <th align="center" scope="col" class="header">
                        Biển số xe
                    </th>
                    <th align="center" scope="col" class="header">
                        Tải trọng xe (tấn)
                    </th>
                    <th align="center" scope="col" class="header">
                        Điện thoại
                    </th>
                    <th align="center" scope="col" class="header">
                        Trạng thái
                    </th>
                    <th align="center" scope="col" class="header">
                        Thời gian kết thúc
                    </th>
                    <th align="center" style="width:20%">
                        Ảnh kết thúc
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("OrderDetail", "EKetThuc", new { id = item.OrderId
                            })" class="modal-link">@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                        </td>
                        <td>
                            <a href="@Url.Action("UserInfoDetail", "EKetThuc", new {  DriverId = item.DriverId  })"
                               class="modal-link">@Html.DisplayFor(modelItem => item.FullName)</a>
                        </td>
                        <td>
                            @item.License
                        </td>
                        <td>
                            @item.Payload
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @if (@item.Status == "2")
                            {
                                @:Success
                            }
                            else
                            {
                                @:Kết thúc đơn
                            }
                        </td>
                        <td>
                            @item.Updated_At
                        </td>
                        <td style="text-align:center">
                            <a href="@item.EvidencePath" style="width:200%" rel="lightbox" target="_blank">
                                <img style="width:60%" src="@item.EvidencePath" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@

@section Scripts{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
}
@section ScriptsBottom{
    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = "KhopLenh";
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
    </script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>

    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/js/jquery.knob.min.js"></script>
    <script src="~/assets/js/jquery.autosize.min.js"></script>
    <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/js/bootstrap-tag.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-date').mask('99/99/9999');
            $('.input-mask-phone').mask('(999) 999-9999');
        });

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        //show datepicker when clicking on the icon
    </script>

}
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            padding: 0,
            margin: 5,
            autoSize: false,
            width: '100%',
            height: '100%'
        });
    });

    $(".fancybox-thumb").fancybox({
        padding: 0,
        margin: 5,
        autoSize: false,
        width: '100%',
        height: '100%',
        //prevEffect: 'none',
        //nextEffect: 'none',
        helpers: {
            title: {
                type: 'outside'
            },
            thumbs: {
                width: 100,
                height: 100
            }
        }
    });
</script>
<script type="text/javascript">
        $(function () {
            //RefreshData();
            // Create a proxy to signalr hub on web server. It reference the hub.
            var notifications = $.connection.notificationHub;
            notifications.client.updateOrderTracking = function (serverResponse) {
                console.log("Need reload data");
                RefreshData();
            };
            // Connect to signalr hub
            $.connection.hub.start().done(function () {
                console.log('Now connected hub to reload data tracking success ');
            }).fail(function (error) {
                console.log('lỗi connect hub: ' + error);
            });
            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000); // Restart connection after 5 seconds.
            });
        });
        function RefreshData() {
            $.ajax({
                url: '@Url.Action("ListOrderTracking", "EKetThuc")',
                type: "GET",
                dataType: "html",
                //data: { id: 1 },//this is as per your requirement
                success: function (data) {
                    $('#partial').html(data);
                },
            });
        }
</script>
