﻿@model Carrier.Models.Entities.Organization
@{
    ViewBag.Title = "CapNhatProfile";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="">
            Sửa thông tin tài khoản
        </li>
    </ul>
}
<div class="page-header">
    <h1>
        Sửa thông tin
    </h1>
</div>
<script src="~/assets/js/jquery.2.1.1.min.js"></script>
@using (Html.BeginForm("CapNhatProfile", "EProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    if(Model != null)
    {
        <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-3">Tên</label>
            <div class="col-md-8" style="width:60%">
                <input type="text" name="Name" id="Name" class="form-control" value="@Model.Name" />
                <span class="Name text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Điện thoại</label>
            <div class="col-md-8" style="width:60%">
                <input type="text" name="Phone" id="Phone" class="form-control" value="@Model.Phone" />
                <span class="Phone text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Web Site</label>
            <div class="col-md-8" style="width:60%">
                <input type="text" name="WebSite" id="WebSite" class="form-control" value="@Model.WebSite" />
                <span class="WebSite text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Địa chỉ</label>
            <div class="col-md-8" style="width:60%">
                <input type="text" name="Address" id="Address" class="form-control" value="@Model.Address" />
                <span class="Address text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4"></label>
            <div class="col-md-8" style="width:60%">
                <input type="submit" id="btnChange" value="Cập nhật" class="btn btn-info btn-sm" />
                &nbsp;
                @Html.ActionLink("Hủy", "Index", "HomeEnterprise",null,new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </div>
    }
    else
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4">Tên</label>
                <div class="col-md-8" style="width:300px">
                    <input type="text" name="Name" id="Name" class="form-control" value="" />
                    <span class="Name text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Điện thoại</label>
                <div class="col-md-8" style="width:300px">
                    <input type="text" name="Phone" id="Phone" class="form-control" value="" />
                    <span class="Phone text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Web Site</label>
                <div class="col-md-8" style="width:300px">
                    <input type="text" name="WebSite" id="WebSite" class="form-control" value="" />
                    <span class="WebSite text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4">Địa chỉ</label>
                <div class="col-md-8" style="width:300px">
                    <input type="text" name="Address" id="Address" class="form-control" value="" />
                    <span class="Address text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4"></label>
                <div class="col-md-8" style="width:300px">
                    <input type="submit" id="btnChange" value="Cập nhật" class="btn btn-info btn-sm" />
                    &nbsp;
                    <input type="button" id="btnBack" value="Quay lại" onclick="window.history.back();" class="btn btn-default btn-sm" />
                </div>
            </div>
        </div>
    }
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
    <script src="~/assets/js/jquery.2.1.1.min.js"></script>
    @*<script type="text/javascript">
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-date').mask('99/99/9999');
        });
    </script>*@

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Name").focusout(function () {
                if ($("#Name").val().trim() == "" || $("#Name").val().trim() == null) {
                    $("#Name_NULL").html('Bạn chưa nhập tên!');
                    return false;
                } else {
                    $("#Name_NULL").html('');
                }
            });

            $("#Address").focusout(function () {
                if ($("#Address").val().trim() == "" || $("#Address").val().trim() == null) {
                    $("#Address_NULL").html('Bạn chưa nhập địa chỉ!');
                    return false;
                } else {
                    $("#Address_NULL").html('');
                }
            });

            $("#WebSite").focusout(function () {
                if ($("#WebSite").val().trim() == "" || $("#WebSite").val().trim() == null) {
                    $("#WebSite_NULL").html('Bạn chưa nhập website!');
                    return false;
                } else {
                    $("#WebSite_NULL").html('');
                }
            });

            $("#Phone").focusout(function () {
                if ($("#Phone").val().trim() == "" || $("#Phone").val().trim() == null) {
                    $("#Phone_NULL").html('Bạn chưa nhập Số điện thoại!');
                    return false;
                } else {
                    $("#Phone_NULL").html('');
                }
            });

            $('#btnUpdate').click(function () {
                debugger
                if ($('#Name').val() == "") {
                    $('#Name_NULL').html('Bạn chưa nhập tên!');
                    return false;
                }

                if ($('#Address').val() == "") {
                    $('#Address_NULL').html('Bạn chưa nhập địa chỉ!');
                    return false;
                }

                if ($('#WebSite').val() == "") {
                    $('#WebSite_NULL').html('Bạn chưa nhập website!');
                    return false;
                }

                if ($('#Phone').val() == "") {
                    $('#Phone_NULL').html('Bạn chưa nhập số điện thoại!');
                    return false;
                }
            });
        });
    </script>
}


