﻿@model IEnumerable<Carrier.Models.Entities.SP_Report_Profit_For_Drivers_Result>
@using Carrier.Utilities
@{
    ViewBag.Title = "BaoCaoDoanhThu";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    //double? totalMoney = 0;
    double? totalOrderIn = 0, totalOrderOut = 0, sumMoneyIn = 0, sumMoneyOut = 0,
        sumMoneyVat = 0, sumMoneyNoVat = 0, sumTienMat = 0, sumChuyenKhoan = 0, sumProfit = 0;
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
        </li>
    </ul>
}
<div class="col-md-12">
    <div class="page-header">
        <h4>Thống kê doanh thu</h4>
    </div>
    @using (Html.BeginForm("BaoCaoDoanhThu", "EBaoCaoTongHop", FormMethod.Get))
    {
        <p>
            Từ ngày: @Html.TextBox("txtFromDate", "", new { @class = "date-picker", @Style = "width:150px", @id = "txtFromDate", @name = "txtFromDate" })

            Đến ngày: @Html.TextBox("txtToDate", "", new { @class = "date-picker", @Style = "width:150px", @id = "txtToDate", @name = "txtToDate" })

            @*@if (ViewBag.ListDriver != null)
                {
                    @Html.Raw("Tài xế: ")
                    @Html.DropDownList("ddlDriver", new SelectList(ViewBag.ListDriver, "Value", "Text"), new { @id = "ddlDriver", @name = "ddlDriver", @class = "form-control", @Style = "width:250px;display: inline;" })
                }*@

            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin-left:30px" />
            <br /><br />
            Tổng số tiền:  <span id="totalMoney"></span>
        </p>
    }
</div>
<div class="col-md-12" style="margin-top:20px">
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                @*<th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace cball">
                        <span class="lbl"></span>
                    </label>
                </th>*@
                <th>
                    Tên tài xế
                </th>
                <th>
                    Biển số xe
                </th>
                <th>
                    Vận đơn nội bộ
                </th>
                <th>
                    Vận đơn ngoài
                </th>
                <th>
                    Doanh thu nội bộ
                </th>
                <th>
                    Doanh thu ngoài
                </th>
                <th>
                    Tổng tiền
                </th>
                @*<th>
                    Tổng tiền không VAT (VNĐ)
                </th>*@
                <th>
                    Tiền mặt
                </th>
                <th>
                    Chuyển khoản
                </th>
                <th>
                    Phí hoa hồng
                </th>
            </tr>
        </thead>
        <tfoot>
                
            </tfoot>
        <tbody>
            <tr>
                <td>
                    Tổng cộng
                </td>
                <td></td>
                <td id="sumOrderIn"></td>
                <td id="sumOrderOut"></td>
                <td id="sumMoneyIn"></td>
                <td id="sumMoneyOut"></td>
                <td id="sumMoneyVat"></td>
                @*<td>@GlobalCommon.ConvertToCurrency(sumMoneyNoVat.Value)</td>*@
                @*<td id="sumMoneyNoVat"></td>*@
                <td id="sumTienMat"></td>
                <td id="sumChuyenKhoan"></td>
                <td></td>

            </tr>
            @foreach (var item in Model)
            {
                <tr onload="LoadPage(@item.Id)">
                    @*<td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace cbitem">
                            <span class="lbl"></span>
                        </label>
                        <input type="hidden" id="hdfId_@item.Id" class="hdfId" name="hdfId" value="@item.Id" />
                    </td>*@
                    <td>
                        <input type="hidden" id="hdfId_@item.Id" class="hdfId" name="hdfId" value="@item.Id" />
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @item.License
                    </td>
                    <td id="order_@item.Id">
                        @Html.DisplayFor(modelItem => item.TotalOrder)
                    </td>
                    <td id="orderOut_@item.Id"></td>
                    <td id="successIn_@item.Id"></td>
                    <td id="successOut_@item.Id"></td>
                    <td id="moneyVat_@item.Id"></td>
                    <td style="display:none" id="hfMoneyNoVAT_@item.Id">@item.TotalMoney</td>
                    @*<td id="moneyNoVat_@item.Id">
                        @if (item.TotalMoney != null && item.TotalMoney != 0)
                        {
                            sumMoneyNoVat += item.TotalMoney;
                            @Ultilities.ConvertToCurrency(item.TotalMoney.Value)
                        }
                        else
                        {
                            @item.TotalMoney
                        }
                    </td>*@
                    <td id="tienmat_@item.Id"></td>
                    <td id="chuyenkhoan_@item.Id"></td>
                    <td id="profit_@item.Id"></td>
                </tr>
            }
        </tbody>
    </table>
    <div style="display:none" id="money">@Ultilities.ConvertToCurrency(sumMoneyNoVat.Value)</div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width:auto !important">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="white">&times;</span>
                        </button>
                        Chọn tài xế
                    </div>
                </div>

                <div class="modal-body no-padding">
                    <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                        <div class="row">
                            <center>
                                <p class="message-content" style="font-weight:bold;color:red;padding: 0 !important;
    border: none !important" id="message-content"></p>
                            </center>
                        </div>
                    </div>
                </div>

                <div class="modal-footer no-margin-top">
                    <center>
                        <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            Huỷ
                        </button>
                        <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-send" data-dismiss="modal" onclick="GuiVanDon()">
                            <i class="ace-icon ace-icon fa fa-check"></i>
                            Gửi vận đơn
                        </button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var sumOrderIn = 0, sumOrderOut = 0, sumMoneyIn = 0, sumMoneyOut = 0, sumMoneyVat = 0,
        sumMoneyNoVat = 0, sumTienMat = 0, sumChuyenKhoan = 0;
    $(document).ready(function () {
        var money = $("#money").html();
        if (money == "") {
            $("#totalMoney").text("0");
        } else {
            $("#totalMoney").text(money);
        }
        $("#sumMoneyOut").val(sumMoneyOut);

    });
    $('#dynamic-table tbody tr td:first-child').each(function () {
        var id = $(this).find('input[type="hidden"][name="hdfId"]').attr('value');
        $.ajax({
            url: "@Url.Action("ProfitByUserId", "EBaoCaoTongHop")",
            type: "GET",
            data: { 'id': id },
            dataType: 'json',
            success: function (data) {
                if (data) {
                    var moneyout = data[0].TotalMoneyOut != null ? data[0].TotalMoneyOut : 0;
                    var moneyin = data[0].TotalMoneyIn != null ? data[0].TotalMoneyIn : 0;
                    var orderOut = data[0].TotalOrderSuccessOut;
                    var tienmat = data[0].TotalMoneyInTienMat != null ? data[0].TotalMoneyInTienMat : 0;
                    var chuyenkhoan = data[0].TotalMoneyInChuyenKhoan != null ? data[0].TotalMoneyInChuyenKhoan : 0;
                    var hoahong = moneyout * 10 / 100;
                    //var moneynoVAT = $("#hfMoneyNoVAT_" + id).html();
                    //var moneyVAT = moneynoVAT * 110 / 100;
                    var moneynoVAT = data[0].TotalMoneyNoVat != null ? data[0].TotalMoneyNoVat : 0;
                    var moneyVAT = data[0].TotalMoneyVat != null ? data[0].TotalMoneyVat : 0;
                    var orderin = $("#order_" + id).html();

                    sumMoneyOut += moneyout;
                    sumMoneyIn += moneyin;
                    sumOrderOut += orderOut;
                    sumTienMat += tienmat;
                    sumOrderIn += parseFloat(orderin);
                    sumChuyenKhoan += chuyenkhoan;
                    sumMoneyVat += moneyVAT;
                    sumMoneyNoVat += moneynoVAT;
                    $("#sumMoneyVat").html(sumMoneyVat.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $("#sumOrderIn").html(sumOrderIn);
                    $("#sumOrderOut").html(sumOrderOut);
                    $("#sumTienMat").html(sumTienMat.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $("#sumChuyenKhoan").html(sumChuyenKhoan.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $("#sumMoneyIn").html(sumMoneyIn.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $("#sumMoneyOut").html(sumMoneyOut.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    //alert(sumMoneyNoVat);
                    $("#sumMoneyNoVat").html(sumMoneyNoVat.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));

                    //alert(a);
                    //console.log(a);
                    //alert(hoahong);
                    $("#successOut_" + id).html(moneyout.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $("#successIn_" + id).html(moneyin.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $("#orderOut_" + id).html(orderOut);
                    $("#profit_" + id).html(hoahong.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $("#moneyVat_" + id).html(moneyVAT.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $("#tienmat_" + id).html(tienmat.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    $("#chuyenkhoan_" + id).html(chuyenkhoan.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                    //$("#moneyNoVat_" + id).html(moneynoVAT.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                }
            },
            error: function (node) {
            }
        });

    });
</script>
@section Scripts{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
}
@section ScriptsBottom{
    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = "KhopLenh";
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
    </script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>

    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/js/jquery.knob.min.js"></script>
    <script src="~/assets/js/jquery.autosize.min.js"></script>
    <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/js/bootstrap-tag.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-date').mask('99/99/9999');
            $('.input-mask-phone').mask('(999) 999-9999');
        });

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    </script>
}

<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
        $('#dynamic-table')
        .dataTable({
            bAutoWidth: false,
            "aoColumns": [
             null,null, null, null, null, null, null, null,null,null,
            ],
            "aaSorting": [],
            "pageLength": 100
        });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
        .prependTo('.tableTools-container .btn-group')
        .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
        .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
        .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
        .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>
