﻿@model IEnumerable<Carrier.Models.Entities.SP_Forwader_DashBoard_Orders_By_UserId_Result>
@using Carrier.Utilities;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
   
    var percentSuccess = Math.Round(float.Parse(Session["TotalOrderSuccess"].ToString()) / float.Parse(Session["TotalOrderRegisted"].ToString()) * 100, 2);
    var percentReceived = Math.Round(float.Parse(Session["TotalOrderSuccessReceived"].ToString()) / float.Parse(Session["TotalOrderRegisted"].ToString()) * 100, 2);
    var percentPending = Math.Round(float.Parse(Session["TotalOrderPending"].ToString()) / float.Parse(Session["TotalOrderRegisted"].ToString()) * 100, 2);
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
        </li>
    </ul>
}
<link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
<div class="row">
    <div class="space-6"></div>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="col-sm-5 infobox-container">
                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-shopping-cart success"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@item.ForwaderTotalOrderSuccess</span>
                        <div class="infobox-content">Vận đơn thành công</div>
                    </div>

                    @*<div class="badge badge-success">
                +32%
                <i class="ace-icon fa fa-arrow-up"></i>
            </div>*@
                </div>

                <div class="infobox infobox-green">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-shopping-cart"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@item.ForwaderTotalOrderRegisted</span>
                        <div class="infobox-content">Tổng số vận đơn</div>
                    </div>

                    @*<div class="stat stat-success">8%</div>*@
                </div>

                <div class="infobox infobox-red">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-money"></i>
                    </div>

                    <div class="infobox-data">
                        @if (@item.ForwaderTotalOrderLiabilities != null)
                        {
                            <span class="infobox-data-number">
                                @Ultilities.ConvertToCurrency(@item.ForwaderTotalOrderLiabilities.Value)
                            </span>
                        }
                        else
                        {
                            <span class="infobox-data-number">
                                0
                            </span>
                        }
                        <div class="infobox-content">Công nợ phải trả</div>
                    </div>
                </div>

                <div class="infobox infobox-pink">
                    <div class="infobox-icon">
                        @*<i class="ace-icon fa fa-shopping-cart"></i>*@
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number"></span>
                        <div class="infobox-content"></div>
                    </div>
                    @*<div class="stat stat-important">4%</div>*@
                </div>

                
              
                <div class="space-6"></div>

            </div>
        }
    }


    <div class="vspace-12-sm"></div>

    <div class="col-sm-6">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                    <i class="ace-icon fa fa-signal"></i>
                    Vận đơn
                </h5>

                @*<div class="widget-toolbar no-border">
                    <div class="inline dropdown-hover">
                        <button class="btn btn-minier btn-primary">
                            This Week
                            <i class="ace-icon fa fa-angle-down icon-on-right bigger-110"></i>
                        </button>

                        <ul class="dropdown-menu dropdown-menu-right dropdown-125 dropdown-lighter dropdown-close dropdown-caret">
                            <li class="active">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-caret-right bigger-110">&nbsp;</i>
                                    This Week
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>
                                    Last Week
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>
                                    This Month
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-caret-right bigger-110 invisible">&nbsp;</i>
                                    Last Month
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>*@
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="piechart-placeholder"></div>

                    <div class="hr hr8 hr-double"></div>

                    <div class="clearfix">
                        <div class="grid4">
                            <span class="grey" style="width:4px;height:0;border:5px solid #AF4E96;overflow:hidden">
                            </span>
                            <h4 class="bigger pull-right">@percentReceived %</h4>
                        </div>

                       

                        <div class="grid4">
                            <span class="grey" style="width:4px;height:0;border:5px solid #2091CF;overflow:hidden">

                            </span>
                            <h4 class="bigger pull-right">@percentSuccess %</h4>
                        </div>
                        <div class="grid4">
                            <span class="grey" style="width:4px;height:0;border:5px solid #DA5430;overflow:hidden">
                            </span>
                            <h4 class="bigger pull-right">@percentPending %</h4>
                        </div>
                    </div>
                </div><!-- /.widget-main -->
            </div><!-- /.widget-body -->
        </div><!-- /.widget-box -->
    </div><!-- /.col -->
</div><!-- /.row -->
<script>
    jQuery(function ($) {
        //function LoadCarNotExt() {
        //    var placeholder = $('#piechart-placeholder').css({ 'width': '90%', 'min-height': '150px' });
        //    $.ajax({
        //        type: "GET",
        //        url: "/EBaoCaoTongHop/GetDashBoardOrdersByUserId",
        //        dataType: "json",
        //        contentType: 'application/json',
        //        success: function (result) {
        //            var data = [
        //              { label: "Số đơn hàng thành công nhận từ hệ thống", data: , color: "#68BC31" },
        //              { label: "Số đơn hàng thành công", data: 24.5, color: "#2091CF" },
        //              { label: "Số đơn hàng nhận được từ hệ thống", data: 8.2, color: "#AF4E96" },
        //              { label: "Số đơn hàng đang chờ", data: 18.6, color: "#DA5430" },
        //            ]
        //        },
        //        error: function (req, status, error) {
        //            // do something with error
        //        }
        //    });
        //};
        var placeholder = $('#piechart-placeholder').css({ 'width': '90%', 'min-height': '150px' });
        var data;
        if (@Session["TotalOrderRegisted"]==0){
             data = [
                    //{ label: "Số đơn hàng thành công nhận từ hệ thống", data: 0, color: "#68BC31" },
                    { label: "Đơn hàng hoàn thành", data:0, color: "#2091CF" },
                    { label: "Đơn hàng đã khớp lệnh", data:0, color: "#AF4E96" },
                    { label: "Đơn hàng đang chờ", data:0, color: "#DA5430" },
                ]
        }else{
            data = [
         @*{ label: "Số đơn hàng thành công nhận từ hệ thống", data: @Math.Round(float.Parse(Session["TotalOrderSuccessOut"].ToString()) / float.Parse(Session["TotalOrderRegisted"].ToString()) * 100, 2), color: "#68BC31" },*@
         { label: "Đơn hàng hoàn thành", data:@Math.Round(float.Parse(Session["TotalOrderSuccess"].ToString()) / float.Parse(Session["TotalOrderRegisted"].ToString()) * 100, 2), color: "#2091CF" },
       { label: "Đơn hàng đã khớp lệnh", data: @Math.Round(float.Parse(Session["TotalOrderSuccessReceived"].ToString()) / float.Parse(Session["TotalOrderRegisted"].ToString()) * 100, 2), color: "#AF4E96" },
           { label: "Đơn hàng đang chờ", data: @Math.Round(float.Parse(Session["TotalOrderPending"].ToString()) / float.Parse(Session["TotalOrderRegisted"].ToString()) * 100, 2), color: "#DA5430" },
            ]
        }

        function drawPieChart(placeholder, data, position) {
            $.plot(placeholder, data, {
                series: {
                    pie: {
                        show: true,
                        tilt: 0.8,
                        highlight: {
                            opacity: 0.25
                        },
                        stroke: {
                            color: '#fff',
                            width: 2
                        },
                        startAngle: 2
                    }
                },
                legend: {
                    show: true,
                    position: position || "ne",
                    labelBoxBorderColor: null,
                    margin: [-30, 15]
                }
              ,
                grid: {
                    hoverable: true,
                    clickable: true
                }
            })
        }
        drawPieChart(placeholder, data);
        placeholder.data('chart', data);
        placeholder.data('draw', drawPieChart);
        var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
        var previousPoint = null;

        placeholder.on('plothover', function (event, pos, item) {
            if (item) {
                if (previousPoint != item.seriesIndex) {
                    previousPoint = item.seriesIndex;
                    var tip = item.series['label'] + " : " + (item.series['percent']).toFixed(2)  + '%';
                    $tooltip.show().children(0).text(tip);
                }
                $tooltip.css({ top: pos.pageY + 10, left: pos.pageX + 10 });
            } else {
                $tooltip.hide();
                previousPoint = null;
            }

        });
    });
</script>