﻿
@using Carrier.CMS.Models;
@model IEnumerable<HistoryModel>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
<link rel="stylesheet" id="fontello-style-css" href="/css/fontello.css" type="text/css" media="all">
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
        </li>
    </ul>
}
<div class="col-md-12">
    <div class="page-header">
        <h3>Danh sách các lịch trình và vận đơn đã kết thúc</h3>
    </div>
</div>
@using (Html.BeginForm("Index", "KetThuc", FormMethod.Get))
{
    <div class="col-md-12">
        @*<div class="col-sm-2">
            <select name="OrderType" id="OrderType" style="width: 100%; padding: 6px; border: 1px solid #eee; height: 35px; font-size:15px;">
                <option value="">----- Loại vận đơn ----</option>
                <option value="1">Vận đơn nội bộ</option>
                <option value="2">Vận đơn nhận carrier</option>
            </select>
        </div>*@
        <div class="col-sm-2">
            @Html.TextBox("txtFromDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtFromDate", @name = "txtFromDate", @placeholder = "Từ ngày:" })
        </div>
        <div class="col-sm-2">
            @Html.TextBox("txtToDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtToDate", @name = "txtToDate", @placeholder = "Đến ngày:" })
        </div>
        <div class="col-md-1">
            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: 0px 0px 0px 20px" />
        </div>
    </div>
}
<div id="partial"></div>

@section Scripts{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
}
@section ScriptsBottom{
    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = "KhopLenh";
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
    </script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>

    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/js/jquery.knob.min.js"></script>
    <script src="~/assets/js/jquery.autosize.min.js"></script>
    <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/js/bootstrap-tag.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-date').mask('99/99/9999');
            $('.input-mask-phone').mask('(999) 999-9999');
        });

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        //show datepicker when clicking on the icon
    </script>

}
<script type="text/javascript">
        $(function () {
            RefreshData();
            // Create a proxy to signalr hub on web server. It reference the hub.
            var notifications = $.connection.notificationHub;
            notifications.client.updateOrderTracking = function (serverResponse) {
                console.log("Need reload data");
                RefreshData();
            };
            // Connect to signalr hub
            $.connection.hub.start().done(function () {
                console.log('Now connected hub to reload data tracking success ');
            }).fail(function (error) {
                console.log('lỗi connect hub: ' + error);
            });
            $.connection.hub.disconnected(function () {
                setTimeout(function () {
                    $.connection.hub.start();
                }, 5000); // Restart connection after 5 seconds.
            });
        });
        function RefreshData() {
            $.ajax({
                url: '@Url.Action("ListOrderTracking", "KetThuc")',
                type: "GET",
                dataType: "html",
                //data: { id: 1 },//this is as per your requirement
                success: function (data) {
                    $('#partial').html(data);
                },
            });
        }
</script>
