﻿@model Carrier.Algorithm.Entity.BangGiaTheoTuyen

<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Thêm bảng giá theo tuyến</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createBangGiaTheoTuyenForm" }))    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Điểm đi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiemDi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiemDi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Điểm đến", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiemDen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiemDen, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.Label("Tỉnh thành", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TinhThanh, new SelectList(ViewBag.listCT, "Value", "Text"), new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TinhThanh, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @*@Html.LabelFor(model => model.TypeCar, htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.Label("Loại xe", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TypeCar, new SelectList(ViewBag.listCarType, "Value", "Text"),new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TypeCar, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Giá tiền", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Số Km", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoKM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoKM, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Updated_At, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Updated_At, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Updated_At, "", new { @class = "text-danger" })
                </div>
            </div>*@

            
        </div>
    }

    <div class="row">
        <div class="col-md-offset-2 col-md-10">
           
            <div class="col-md-offset-2 col-md-10">
                <button value="Save" class="btn btn-default" onclick="CreateBangGiaTheoTuyenSubmit()">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //$(function () {
    //    $('#approve-btn').click(function () {
    //        $('#modal-container').modal('hide');
    //    });
    //});
</script>