﻿@model Carrier.Algorithm.Entity.BangGiaTheoTuyen

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BangGiaTheoTuyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiemDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDen)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.TinhThanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhThanh)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.TypeCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_At)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_At)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
