﻿@model Carrier.Algorithm.Entity.BangGiaTheoTuyen

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BangGiaTheoTuyen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiemDi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemDen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDen)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.TinhThanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhThanh)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.TypeCar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeCar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_At)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_At)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
