﻿@{
    ViewBag.Title = "Thêm tuyến chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

<div class="page-header">
    <h1>Thêm tuyến chi tiết</h1>
</div>
<div class="modal-body">
    @using (Html.BeginForm("ThemTuyenChiTiet", "BangGiaTheoTuyen", FormMethod.Post, new { enctype = "multipart/form-data", id = "createform", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-4">
                        @Html.DropDownList("CityFrom", new SelectList(ViewBag.listCT, "Value", "Text"), "-- Chọn tỉnh đi --", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownList("DistrictFrom", new SelectList(ViewBag.listCT, "Value", "Text"), "-- Chọn huyện đi --", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownList("WardFrom", new SelectList(ViewBag.listCT, "Value", "Text"), "-- Chọn xã đi --", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        @Html.DropDownList("cityTo", new SelectList(ViewBag.listCT, "Value", "Text"), "-- Chọn tỉnh đến --", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownList("DistrictTo", new SelectList(ViewBag.listCT, "Value", "Text"), "-- Chọn huyện đến --", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-sm-4">
                        @Html.DropDownList("WardTo", new SelectList(ViewBag.listCT, "Value", "Text"), "-- Chọn xã đến --", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">@Html.DropDownList("TypeCar", new SelectList(ViewBag.listCarType, "Value", "Text"), "-- Chọn loại xe --", new { htmlAttributes = new { @class = "form-control" } })</div>
                    <div class="col-sm-6"> @Html.Editor("Price", new { htmlAttributes = new { @class = "form-control", @placeholder = "Giá tuyến" } })</div>
                </div>
                <div class="form-group center">
                    <input type="submit" name="btnSave" class="btn btn-default" id="btnSave" value="Thêm mới" />
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function () {
            if ($('#CityFrom').val() == '') {
                alert('Chưa chọn thành phố đi');
                return false;
            }
            if ($('#DistrictFrom').val() == '') {
                alert('Chưa chọn tỉnh đi');
                return false;
            }
            if ($('#CityTo').val() == '') {
                alert('Chưa chọn thành phố đến');
                return false;
            }
            if ($('#DistrictTo').val() == '') {
                alert('chưa chọn tỉnh đến');
                return false;
            }
        });
    });
    $(document).ready(function () {
        $('#CityFrom').change(function () {
            var cityCode = $(this).val();
            $.ajax({
                type: "GET",
                url: "/BangGiaTheoTuyen/getDistrictByCityCode",
                data: { citycode: cityCode },
                success: function (data) {
                    var s = '<option value="-1">-- Chọn huyện đi --</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].DistrictCode + '">' + data[i].Name + '</option>';
                    }
                    $("#DistrictFrom").html(s);
                }
            });
        });

        $('#CityTo').change(function () {
            var cityCode = $(this).val();
            $.ajax({
                type: "GET",
                url: "/BangGiaTheoTuyen/getDistrictByCityCode",
                data: { citycode: cityCode },
                success: function (data) {
                    var s = '<option value="-1">-- Chọn huyện đến --</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].DistrictCode + '">' + data[i].Name + '</option>';
                    }
                    $("#DistrictTo").html(s);
                }
            });
        });

        $('#DistrictFrom').change(function () {
            var districtcode = $(this).val();
            $.ajax({
                type: "GET",
                url: "/BangGiaTheoTuyen/getWardByDistrictCode",
                data: { districtcode: districtcode },
                success: function (data) {
                    var s = '<option value="-1">-- Chọn xã đi --</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].WardCode + '">' + data[i].Name + '</option>';
                    }
                    $("#WardFrom").html(s);
                }
            });
        });

        $('#DistrictTo').change(function () {
            var cityCode = $(this).val();
            $.ajax({
                type: "GET",
                url: "/BangGiaTheoTuyen/getWardByDistrictCode",
                data: { districtcode: districtcode },
                success: function (data) {
                    var s = '<option value="-1">-- Chọn xã đến --</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].WardCode + '">' + data[i].Name + '</option>';
                    }
                    $("#WardTo").html(s);
                }
            });
        });
    });
</script>