﻿@{
    ViewBag.Title = "Thêm tuyến cùng khu vực";
     Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
<div class="page-header">
    <h1>Thêm tuyến cùng khu vực</h1>
</div>
<div class="modal-body">
    @using (Html.BeginForm("ThemTuyenTuongTu", "BangGiaTheoTuyen", FormMethod.Post, new { enctype = "multipart/form-data", id = "createform", @class = "form-horizontal" }))
    {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Địa chỉ tuyến đã có</label>
            <div class="col-sm-9">
                @Html.TextBox("DiemDi", "", new { @class = "form-control", @name = "DiemDi", @id = "DiemDi" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Địa chỉ tuyến mới</label>
            <div class="col-sm-9">
                @Html.TextBox("DiemDen", "", new { @class = "form-control", @name = "DiemDen", @id = "DiemDen" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right"></label>
            <input type="submit" name="btnSave" class="btn btn-default" id="btnSave" value="Thêm mới" />
        </div>
    </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function () {
            if ($('#DiemDi').val() == '') {
                alert('Điểm đi không được để trống');
                return;
            }
            if ($('#DiemDe').val() == '') {
                alert('Điểm đến không được để trống');
                return;
            }
        });
    });
</script>


