﻿@model IEnumerable<Carrier.Models.Entities.Car>

@using Carrier.Utilities
@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thêm mới xe";
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Home</a>
        </li>
        <li class=""><a href="/Enterprise/ECar">Danh sách xe</a></li>
        <li class="">Thêm mới xe</li>
    </ul>
}
<div class="page-header">
    <h1>Thêm mới xe</h1>
</div>
<div class="container-fluid">
    @using (Html.BeginForm("Create", "ECar", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        if (TempData["Message"] != null)
        {
            <script type="text/javascript">$("#divProcessing").hide();</script>
            <div id="divResult" class="alert alert-danger alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong style="font-size:33px">@TempData["Message"]</strong>
            </div>
        }
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Tên xe (biển số xe)</label>
                <div class="col-sm-9">
                    @Html.TextBox("License", "", new { @class = "form-control", @name = "License", @id = "License" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="lb-Check" id="License_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Tải trọng</label>
                <div class="col-sm-9">
                    @*@Html.DropDownList("Payload", new SelectListItem[]{
                        new SelectListItem() {Text = "1.5 Tấn", Value="1.5 Tấn"},
                        new SelectListItem() {Text = "2.5 Tấn", Value="2.5 Tấn"},
                        new SelectListItem() {Text = "3.5 Tấn", Value="3.5 Tấn"},
                        new SelectListItem() {Text = "5 Tấn", Value="5 Tấn"},
                        new SelectListItem() {Text = "8 Tấn", Value="8 Tấn"},
                        new SelectListItem() {Text = "10 Tấn", Value="10 Tấn"},
                        new SelectListItem() {Text = "3 chân", Value="3 chân"},
                        new SelectListItem() {Text = "4 chân", Value="4 chân"}
                        }, "--- Tải trọng ---", new { @id = "Payload", @name = "Payload", @class = "form-control changeplaceholder", @Style = "width:100%" })*@
                    @Html.DropDownList("Payload", new SelectList(ViewBag.ListCar, "Value", "Text"), new { @id = "Payload", @name = "Payload", @class = "form-control", @Style = "width:250px;display: inline;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="lb-Check" id="Payload_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Kích thước thùng </label>
                <div class="col-sm-9">
                    <div class="col-sm-3" style="padding-left:0px">
                        @Html.TextBox("txtLenght", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtLenght", @id = "txtLenght", @placeholder = "Chiều dài (m)" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBox("txtWidth", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtWidth", @id = "txtWidth", @placeholder = "Chiều rộng (m)" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBox("txtHeight", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtHeight", @id = "txtHeight", @placeholder = "Chiều cao (m)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="col-sm-3">
                        <span class="lb-Check" id="txtLenght_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                    <div class="col-sm-3">
                        <span class="lb-Check" id="txtWidth_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                    <div class="col-sm-3">
                        <span class="lb-Check" id="txtWidth_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Bãi đỗ xe</label>
                <div class="col-sm-9">
                    @Html.TextBox("Address", "", new { @class = "form-control", @name = "Address", @id = "Address" })
                    <br />
                    <div style="border: 1px solid gray; height:400px; margin-top:20px" id="map">
                    </div>
                    <div id="infowindow-content">
                        <img src="" width="16" height="16" id="place-icon">
                        <span id="place-name" class="title"></span><br>
                        <span id="place-address"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="lb-Check" id="Address_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
            <input type="hidden" id="hfLat" name="hfLat" />
            <input type="hidden" id="hfLng" name="hfLng" />
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Mô tả</label>
                <div class="col-sm-9">
                    @Html.TextArea("Description", "", new { @id = "Description", @name = "Description", @class = "form-control", @style = "height: 80px;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="lb-Check" id="Description_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <input type="submit" id="btnAdd" value="Thêm" class="btn btn-info btn-sm" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
                </div>
            </div>
        </div>
        <div id="divProcessing" style="height:1200px;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
        </div>
        @*google map*@

        <script src="~/scripts/jquery1.12.4.min.js"></script>
        //<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4XxOXUfpBQvv1qCplTAnsxZ26N3hwo4c&libraries=places&callback=initMap"
            async defer></script>*@
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
                async defer></script>

                <script>
                    var map;
                    function initMap() {
                        debugger
                        map = new google.maps.Map(document.getElementById('map'), {
                            mapTypeControl: false,
                            center: { lat: 21.027764, lng: 105.834160 },
                            zoom: 17
                        });

                        var input = document.getElementById('Address');
                        var autocomplete = new google.maps.places.Autocomplete(input);
                        autocomplete.bindTo('bounds', map);

                        var infowindow = new google.maps.InfoWindow();
                        var infowindowContent = document.getElementById('infowindow-content');
                        infowindow.setContent(infowindowContent);
                        var marker = new google.maps.Marker({
                            map: map,
                            anchorPoint: new google.maps.Point(0, -29)
                        });

                        autocomplete.addListener('place_changed', function () {
                            var place = autocomplete.getPlace();
                            var lat = place.geometry.location.lat();
                            //alert(lat);
                            var lng = place.geometry.location.lng();
                            $('#hfLat').val(lat);
                            $('#hfLng').val(lng);
                            var location = "<b>Address</b>: " + place.formatted_address + "<br/>";
                            location += "<b>Latitude</b>: " + place.geometry.location.lat() + "<br/>";
                            location += "<b>Longitude</b>: " + place.geometry.location.lng();

                            infowindow.close();
                            marker.setVisible(false);
                            var place = autocomplete.getPlace();
                            if (!place.geometry) {
                                window.alert("địa chỉ nhập vào không tồn tại: '" + place.name + "'");
                                return;
                            }

                            if (place.geometry.viewport) {
                                map.fitBounds(place.geometry.viewport);
                            } else {
                                map.setCenter(place.geometry.location);
                                map.setZoom(17);
                            }
                            marker.setPosition(place.geometry.location);
                            marker.setVisible(true);

                            infowindow.open(map, marker);
                        });
                    }
                </script>
                <script src="~/assets/js/jquery.2.1.1.min.js"></script>
                <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
                <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
                <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
                <script type="text/javascript">
                    $(document).ready(function () {

                        $("#License").focusout(function () {
                            if ($("#License").val().trim() == "" || $("#License").val().trim() == null) {
                                $("#License_NULL").html('Bạn chưa nhập License!');
                                return false;
                            } else {
                                $("#License_NULL").html('');
                            }

                        });

                        $("#Payload").focusout(function () {
                            if ($("#Payload").val().trim() == "" || $("#Payload").val().trim() == null) {
                                $("#Payload_NULL").html('Bạn chưa nhập Payload!');
                                return false;
                            } else {
                                $("#Payload_NULL").html('');
                            }
                        });

                        $("#ContainerSize").focusout(function () {
                            if ($("#ContainerSize").val().trim() == "" || $("#ContainerSize").val().trim() == null) {
                                $("#ContainerSize_NULL").html('Bạn chưa nhập trọng tải!');
                                return false;
                            } else {
                                $("#ContainerSize_NULL").html('');
                            }
                        });
                        $("#Address").focusout(function () {
                            if ($("#Address").val().trim() == "" || $("#Address").val().trim() == null) {
                                $("#Address_NULL").html('Bạn chưa nhập vị trí bãi đỗ xe!');
                                return false;
                            } else {
                                $("#Address_NULL").html('');
                            }
                        });
                        $('#btnAdd').click(function () {
                            var bcheck = true;
                            if ($('#License').val() == "") {
                                $('#License_NULL').html('Bạn chưa nhập License!');
                                bcheck = false;
                                return false;
                            }

                            if ($('#Payload').val() == "") {
                                $('#Payload_NULL').html('Bạn chưa nhập Payload!');
                                bcheck = false;
                                return false;
                            }

                            if ($('#txtLenght').val() == "") {
                                $('#txtLenght_NULL').html('Bạn chưa nhập chiều dài của xe!');
                                bcheck = false;
                                return false;
                            }

                            if ($('#txtWidth').val() == "") {
                                $('#txtWidth_NULL').html('Bạn chưa nhập chiều rộng của xe!');
                                bcheck = false;
                                return false;
                            }

                            if ($('#txtHeight').val() == "") {
                                $('#txtHeight_NULL').html('Bạn chưa nhập chiều cao của xe!');
                                bcheck = false;
                                return false;
                            }
                            if ($('#Address').val() == "") {
                                $('#Address_NULL').html('Bạn chưa nhập vị trí bãi đỗ xe!');
                                bcheck = false;
                                return false;
                            }
                            if (bCheck == false) {
                                return false;
                            }
                            else {
                                $("#divProcessing").show();
                                return true;
                            }
                        });
                    });
                </script>
    }
</div>

@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&signed_in=true&libraries=places"></script>
    <script type="text/javascript">

        google.maps.event.addDomListener(window, 'load', initialize);
        function initialize() {
            var options = {
                //types: ['(cities)'],
                componentRestrictions: { country: "vn" }
            };
            var autocomplete = new google.maps.places.Autocomplete(document.getElementById('Address'), options);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                // Get the place details from the autocomplete object.
                var place = autocomplete.getPlace();
                $('#hfLat').val(place.geometry.location.lat());
                $('#hfLng').val(place.geometry.location.lng())
                var location = "<b>Address</b>: " + place.formatted_address + "<br/>";
                location += "<b>Latitude</b>: " + place.geometry.location.lat() + "<br/>";
                location += "<b>Longitude</b>: " + place.geometry.location.lng();
                //alert(location);
                //document.getElementById('lblResult').innerHTML = location
            });
        }

    </script>*@  