﻿@model Carrier.Models.Entities.Car
@using Carrier.Utilities
@{
    if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
    {
        Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    }
}
@{
    ViewBag.Title = "Thông tin xe";
}
<style type="text/css">
    .form-horizontal .control-label {
        padding-top: 0px !important;
    }
</style>
<h3 style="text-align:center">Thông tin xe</h3>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Tên xe</label>
        <div class="col-sm-7">
            @Html.DisplayFor(model => model.License)
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Tải trọng</label>
        <div class="col-sm-7">
            @Html.DisplayFor(model => model.Payload)
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right"> Kích thước thùng chứa</label>
        <div class="col-sm-7 form-inline">
            @Model.Leng_Size x @Model.Width_Size x @Model.Height_Size
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Mô tả</label>
        <div class="col-sm-7">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Ngày tạo</label>
        <div class="col-sm-7">
            @Html.DisplayFor(model => model.Created_At)
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Người tạo</label>
        <div class="col-sm-7 form-inline">
            @Html.DisplayFor(model => model.Created_By)
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            @Html.ActionLink("Cập nhật", "Edit", "ECar", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })
            &nbsp;&nbsp;
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
        </div>
    </div>
</div>
