﻿@model Carrier.Models.Entities.Car

@using Carrier.Utilities
@{
    if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
    {
        Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    }
}
@{
    ViewBag.Title = "Cập nhật thông tin xe";
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Home</a>
        </li>
        <li class=""><a href="/Enterprise/ECar">Danh sách xe</a></li>
        <li class="">Sửa thông tin xe</li>
    </ul>
}
<div class="page-header">
    <h1>Sửa thông tin xe</h1>
</div>
@using (Html.BeginForm("Edit", "ECar", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Id)
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Tên xe (biển số xe)</label>
            <div class="col-sm-9">
                @Html.TextBox("License", Model.License, new { @class = "form-control", @name = "License", @id = "License" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <span class="lb-Check" id="License_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Tải trọng</label>
            <div class="col-sm-9">
                @*@Html.TextBox("Payload", Model.Payload, new { @class = "form-control", @name = "Payload", @id = "Payload" })*@
                @Html.DropDownList("Payload", new SelectList(ViewBag.ListCar, "Value", "Text"), new { @id = "Payload", @name = "Payload", @class = "form-control", @Style = "width:250px;display: inline;" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <span class="lb-Check" id="Payload_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Kích thước thùng </label>
            <div class="col-sm-9">
                <div class="col-sm-3" style="padding-left:0px">
                    @Html.TextBox("txtLenght", Model.Leng_Size, new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtLenght", @id = "txtLenght", @placeholder = "Chiều dài (m)" })
                </div>
                <div class="col-sm-3">
                    @Html.TextBox("txtWidth", Model.Width_Size, new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtWidth", @id = "txtWidth", @placeholder = "Chiều rộng (m)" })
                </div>
                <div class="col-sm-3">
                    @Html.TextBox("txtHeight", Model.Height_Size, new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtHeight", @id = "txtHeight", @placeholder = "Chiều cao (m)" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="col-sm-3">
                    <span class="lb-Check" id="txtLenght_NULL" style="margin-left: 0px; color:red"></span>
                </div>
                <div class="col-sm-3">
                    <span class="lb-Check" id="txtLenght_NULL" style="margin-left: 0px; color:red"></span>
                </div>
                <div class="col-sm-3">
                    <span class="lb-Check" id="txtWidth_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Bãi đỗ xe</label>
            <div class="col-sm-9">
                @Html.TextBox("Address", Model.Address, new { @class = "form-control", @name = "Address", @id = "Address" })
                <br />
                <div style="border: 1px solid gray; height:400px; margin-top:20px" id="map">
                </div>
                <div id="infowindow-content">
                    <img src="" width="16" height="16" id="place-icon">
                    <span id="place-name" class="title"></span><br>
                    <span id="place-address"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="Address_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
        <input type="hidden" id="hfLat" name="hfLat" />
        <input type="hidden" id="hfLng" name="hfLng" />
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Mô tả</label>
            <div class="col-sm-9">
                @Html.TextArea("Description", Model.Description, new { @id = "Description", @name = "Description", @class = "form-control", @style = "height: 80px;" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <span class="lb-Check" id="Description_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <input type="submit" id="btnUpdate" value="Cập nhật" class="btn btn-info btn-sm" />
                &nbsp;&nbsp;
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </div>

    <script src="~/assets/js/jquery.2.1.1.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Payload').val('@Model.Payload.ToString().Replace(',','.')');

            $("#License").focusout(function () {
                if ($("#License").val().trim() == "" || $("#License").val().trim() == null) {
                    $("#License_NULL").html('Bạn chưa nhập License!');
                    return false;
                } else {
                    $("#License_NULL").html('');
                }
            });

            $("#Payload").focusout(function () {
                if ($("#Payload").val().trim() == "" || $("#Payload").val().trim() == null) {
                    $("#Payload_NULL").html('Bạn chưa nhập Payload!');
                    return false;
                } else {
                    $("#Payload_NULL").html('');
                }
            });

            $("#ContainerSize").focusout(function () {
                if ($("#ContainerSize").val().trim() == "" || $("#ContainerSize").val().trim() == null) {
                    $("#ContainerSize_NULL").html('Bạn chưa nhập trọng tải!');
                    return false;
                } else {
                    $("#ContainerSize_NULL").html('');
                }
            });
            $("#Address").focusout(function () {
                if ($("#Address").val().trim() == "" || $("#Address").val().trim() == null) {
                    $("#Address_NULL").html('Bạn chưa nhập vị trí bãi đỗ xe!');
                    return false;
                } else {
                    $("#Address_NULL").html('');
                }
            });
            $('#btnUpdate').click(function () {
                if ($('#License').val() == "") {
                    $('#License_NULL').html('Bạn chưa nhập License!');
                    return false;
                }

                if ($('#Payload').val() == "") {
                    $('#Payload_NULL').html('Bạn chưa nhập Payload!');
                    return false;
                }

                if ($('#ContainerSize').val() == "") {
                    $('#ContainerSize_NULL').html('Bạn chưa nhập trọng tải!');
                    return false;
                }
                if ($('#Address').val() == "") {
                    $('#Address_NULL').html('Bạn chưa nhập vị trí bãi đỗ xe!');
                    return false;
                }
            });
        });
    </script>
    <script src="~/scripts/jquery1.12.4.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
            async defer></script>

            <script>
                var map;
                function initMap() {
                    debugger
                    map = new google.maps.Map(document.getElementById('map'), {
                        mapTypeControl: false,
                        center: { lat: 21.027764, lng: 105.834160 },
                        zoom: 17
                    });
                    loadLocation(map,@Model.Lat, @Model.Lng);
                    var input = document.getElementById('Address');
                    var autocomplete = new google.maps.places.Autocomplete(input);
                    autocomplete.bindTo('bounds', map);

                    var infowindow = new google.maps.InfoWindow();
                    var infowindowContent = document.getElementById('infowindow-content');
                    infowindow.setContent(infowindowContent);
                    var marker = new google.maps.Marker({
                        map: map,
                        anchorPoint: new google.maps.Point(0, -29)
                    });

                    autocomplete.addListener('place_changed', function () {
                        var place = autocomplete.getPlace();
                        var lat = place.geometry.location.lat();
                        //alert(lat);
                        var lng = place.geometry.location.lng();
                        $('#hfLat').val(lat);
                        $('#hfLng').val(lng);
                        var location = "<b>Address</b>: " + place.formatted_address + "<br/>";
                        location += "<b>Latitude</b>: " + place.geometry.location.lat() + "<br/>";
                        location += "<b>Longitude</b>: " + place.geometry.location.lng();

                        infowindow.close();
                        marker.setVisible(false);
                        var place = autocomplete.getPlace();
                        if (!place.geometry) {
                            window.alert("địa chỉ nhập vào không tồn tại: '" + place.name + "'");
                            return;
                        }

                        if (place.geometry.viewport) {
                            map.fitBounds(place.geometry.viewport);
                        } else {
                            map.setCenter(place.geometry.location);
                            map.setZoom(17);
                        }
                        marker.setPosition(place.geometry.location);
                        marker.setVisible(true);

                        infowindow.open(map, marker);
                    });
                }
                function loadLocation(map, lat, lng) {
                    var mapSrc = map;
                    var pos = {
                        lat: parseFloat(lat),
                        lng: parseFloat(lng)
                    };

                    mapSrc.setCenter(pos);

                    var marker = new google.maps.Marker({
                        map: mapSrc,
                        position: { lat: parseFloat(lat), lng: parseFloat(lng) },
                        draggable: false,
                        size: new google.maps.Size(12, 32)
                    });
                }
            </script>
}
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
            async defer></script>

    <script>
        var map;
        function initMap() {
            debugger
            map = new google.maps.Map(document.getElementById('map'), {
                mapTypeControl: false,
                center: { lat: 21.027764, lng: 105.834160 },
                zoom: 17
            });

            var input = document.getElementById('Address');
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);

            var infowindow = new google.maps.InfoWindow();
            var infowindowContent = document.getElementById('infowindow-content');
            infowindow.setContent(infowindowContent);
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                var lat = place.geometry.location.lat();
                //alert(lat);
                var lng = place.geometry.location.lng();
                $('#hfLat').val(lat);
                $('#hfLng').val(lng);
                var location = "<b>Address</b>: " + place.formatted_address + "<br/>";
                location += "<b>Latitude</b>: " + place.geometry.location.lat() + "<br/>";
                location += "<b>Longitude</b>: " + place.geometry.location.lng();

                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    window.alert("địa chỉ nhập vào không tồn tại: '" + place.name + "'");
                    return;
                }

                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);
                }
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                infowindow.open(map, marker);
            });
        }
    </script>*@