﻿@model Carrier.Models.Entities.MapOrder
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
<style type="text/css">
    .tbform td {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Admin/MapOrder">Danh sách map order</a>
        </li>
        <li class="">
            <a href="#">Cập nhật map order</a>
        </li>
    </ul>
}
@using (Html.BeginForm("Edit", "MapOrder", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.ID)
    <center>
        <table style="width:70%;">
            <tr>
                <td>Account nhận đơn:</td>
                <td>@Html.DropDownList("ddlFromUser", (SelectList)ViewBag.listUser, "---Chọn tài khoản---", new { @class = "form-control", @style = "width:300px;" })</td>
            </tr>
            <tr><td></td><td><span class="lb-Check" id="ddlFromUser_NULL" style="margin-left: 0px; color:red"></span></td></tr>
            <tr style="height:30px"><td colspan="2"></td></tr>
            <tr>
                <td>Account đăng đơn:</td>
                <td>@Html.DropDownList("ddlToUser", (SelectList)ViewBag.listUser, "---Chọn tài khoản---", new { @class = "form-control", @style = "width:300px;" })</td>
            </tr>
            <tr><td></td><td><span class="lb-Check" id="ddlToUser_NULL" style="margin-left: 0px; color:red"></span></td></tr>
            <tr style="height:30px"><td colspan="2"></td></tr>
            <tr>
                <td colspan="2" style="text-align:center;">
                    <input type="submit" class="btn btn-info btn-sm" value="Cập nhật" id="btnSubmit" /> |
                    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
                </td>
            </tr>
        </table>
    </center>
}
<script src="~/scripts/jquery1.12.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#ddlFromUser').val('@Model.FromUser');
        $('#ddlToUser').val('@Model.ToUser');

        $('#btnSubmit').click(function () {
            if ($('#ddlFromUser').val() == "") {
                $('#ddlFromUser_NULL').html('Account nhận đơn hàng không được để trống!');
                return false;
            } else {
                $('#ddlFromUser_NULL').html('');
            }
            if ($('#ddlToUser').val() =='') {
                $('#ddlToUser_NULL').html('Account tạo đơn hàng không được để trống!');
                return false;
            } else {
                $('#ddlToUser_NULL').html('');
            }
        })
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
