﻿@using Carrier.Models.Entities;
@model UserInfoes
@using Carrier.CMS.Controllers;
@using CMS.Carrier.Areas.Enterprise.Controllers;
@{
    var controller = ViewContext.Controller as EOrderController;
}
<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Thông tin chi tiết</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            Tên doanh nghiệp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            Địa chỉ
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Address)
        </dd>

        <dt></dt>
        <dd></dd>
        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

    </dl>
    <div class="row">
        &nbsp;
    </div>
</div>