﻿@using Carrier.Utilities;
@model List<Carrier.Models.Entities.SP_ThongKe_CuocVanChuyen_Result>
@using CMS.Carrier.Areas.Enterprise.Controllers;
@using Carrier.CMS.Common;

@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thống kê cước vận chuyển tài xế";
    var controller = ViewContext.Controller as EOrderStaticController;
    double? sum = 0, sumVat = 0, totalM = 0;
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
            Thống kê cước vận chuyển
        </li>
    </ul>
}
<link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />

@using (Html.BeginForm("Index", "EOrderStatic", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-2">
            @Html.TextBox("txtFromDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtFromDate", @name = "txtFromDate", @placeholder = "Từ ngày:" })
        </div>
        <div class="col-sm-2">
            @Html.TextBox("txtToDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtToDate", @name = "txtToDate", @placeholder = "Đến ngày:" })
        </div>
        <div class="col-md-6">
            @Html.DropDownList("userFowarder", new SelectList(ViewBag.ListOrganization, "Value", "Text"), new { @id = "userFowarder", @name = "userFowarder", @class = "form-control" })
        </div>
        <div class="col-sm-2">
            <input id="btnSubmit" type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: 0px 0px 0px 20px" />
        </div>
    </div>
}
<p style="margin-top:20px">
    @*<a href="@Url.Action("exportExcel_function","EOrderStatic")" class="btn btn-info btn-sm">exportExcel_Click</a>*@
    <a href="@Url.Action("exportExcel_function","EOrderStatic")"  class="dt-button buttons-csv buttons-html5 btn btn-white btn-primary btn-bold" tabindex="0" aria-controls="dynamic-table" data-original-title="" title="">
        <span>
            <i class="fa fa-database bigger-110 orange"></i> <span class="hidden">Export to Excel</span>
        </span>
    </a>
</p>
@using (Html.BeginForm("ExportToExcel", "EOrderStatic", FormMethod.Post))
{
    <table id="dynamic-table" class="table table-striped table-bordered table-hover display">
        <thead>
            <tr>
                <th align="center" scope="col" class="header" style="text-align:center">
                    Mã vận đơn
                </th>
                <th align="center" scope="col" class="header" style="text-align:center">
                    Thời gian
                </th>
                <th align="center" scope="col" class="header" style="text-align:center">
                    Người tạo
                </th>
                <th align="center" scope="col" class="header" style="text-align:center">
                    Trọng tải xe (tấn)
                </th>
                <th align="center" scope="col" class="header" width="30%" style="text-align:center">
                    Điểm đi - Điểm đến
                </th>
                <th align="center" scope="col" class="header" style="text-align:center">
                    Thành tiền
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align:center">Tổng cước</td>
                <td id="TongCuoc"></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:center">VAT (10%)</td>
                <td id="TongVat"></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align:center">Tổng thanh toán</td>
                <td id="ThanhTien"></td>
            </tr>
            <tr>
                <td colspan="6" id="txtChu" style="text-align:center"></td>
            </tr>
        </tfoot>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaVanDon)
                        </td>
                        <td>
                            @Utitlitys.DatetimeToVN(item.CreateAt.Value)
                        </td>
                        <td>
                            <a title="Doanh nghiep" data-target="#" href='@Url.Action("PopUpEnterprise", "EOrderStatic", new { userId = item.Created_By })' class="modal-link">@controller.GetNameUser(item.Created_By)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Payload)
                        </td>
                        <td>
                            @*<p>Từ:@Html.DisplayFor(modelItem => item.DiemDiChiTiet) </p>
                                <p>Đến:@Html.DisplayFor(modelItem => item.DiemDenChiTiet)</p>*@
                            <p>
                                @item.DiemDiChiTiet - @item.DiemDenChiTiet
                            </p>
                        </td>

                        <td class="countable">
                            @if (item.Gia != null && item.VAT == true)
                            {
                                <p>
                                    @GlobalCommon.ConvertToCurrency(item.Gia.Value)

                                </p>
                                sum += item.Gia;
                                sumVat += item.Gia * 0.1;
                            }
                        </td>

                    </tr>

                }
                totalM = sum + sumVat;
                <div style="display:none">
                    <p id="sumMoney">@GlobalCommon.ConvertToCurrency(sum.Value)</p>
                    <p id="sumVAT">@GlobalCommon.ConvertToCurrency(sumVat.Value)</p>
                    <p id="TotalMoney">@GlobalCommon.ConvertToCurrency(totalM.Value)</p>
                    <p id="tienbangso">@totalM.Value</p>
                </div>
            }

        </tbody>
    </table>

}

@section ScriptsBottom{

    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.colVis.min.js" type="text/javascript"></script>
}

<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
            $('#dynamic-table')
                .dataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        null, null, null, null, null, null,
                    ],
                    "aaSorting": [],
                    dom: 'Bfrtip',
                    "pageLength": 100,
                    //buttons: [
                    //    'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print','colvis'
                    //]
                    buttons: [
                        'pageLength',
                        {
                            extend: 'copy',
                            text: 'Copy',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        //{
                        //    extend: 'excel',
                        //    text: 'Excel',
                        //    className: 'exportExcel',
                        //    filename: 'Test_Excel',
                        //    exportOptions: { modifier: { page: 'all' } }
                        //},
                        {
                            extend: 'pdf',
                            text: 'Pdf',
                            exportOptions: {
                                columns: ':visible'
                            }
                        },
                        {
                            //extend: 'print',
                            //text: 'Print',
                            //exportOptions: {
                            //    columns: ':visible'
                            //}
                            extend: 'print',
                            text: 'Print',
                            exportOptions: {
                                columns: ':visible'
                            },
                            footer: true
                        },
                        {
                            extend: 'colvis',
                            text: 'Chọn cột'
                        },

                    ]
                });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        //TableTools.classes.print = {
        //    "body": "DTTT_Print",
        //    "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
        //    "message": "tableTools-print-navbar"
        //}

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
            .prependTo('.tableTools-container .btn-group')
            .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
            .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
            .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
            .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />

@*<script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>*@

<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/daterangepicker.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
    //jQuery(function ($) {
    //    $.mask.definitions['~'] = '[+-]';
    //    $('.input-mask-phone').mask('(999) 999-9999');
    //    $('.input-mask-date').mask('99/99/9999');
    //    $('.input-mask-phone').mask('(999) 999-9999');
    //});

    $('.date-picker').datepicker({
        format: 'mm-dd-yyyy',
        autoclose: true,
        todayHighlight: true
    }).next().on(ace.click_event, function () {
        $(this).prev().focus();
    });
</script>
<script>
    $(document).ready(function () {
        var tongthu = $('#sumMoney').html();
        var giaVAT = $('#sumVAT').html();
        var thanhtien = $('#TotalMoney').html();
        $('#TongCuoc').text(tongthu);
        $('#TongVat').text(giaVAT);
        $('#ThanhTien').text(thanhtien);
        var value = $("#tienbangso").html();
        console.log(value);
        $('#txtChu').html(capitalizeFirstLetter(DOCSO.chuoi(value)));



    });
    $('#txtChu').focusout(function () {
        $(this).html(capitalizeFirstLetter(DOCSO.doc(value)));
        $(this).val(commaSeparateNumber($(this).val()));
    });
    /**
       * Đọc số thành chữ (Vietnamese)
       * DOCSO.doc( 123 );
       */
    var DOCSO = function () {
        var t = ["không", "một", "hai", "ba", "bốn", "năm", "sáu", "bảy", "tám", "chín"],
            r = function (r, n) {
                var o = "", a = Math.floor(r / 10), e = r % 10;
                return a > 1 ? (o = " " + t[a] + " mươi", 1 == e && (o += " mốt")) : 1 == a ? (o = " mười", 1 == e && (o += " một")) : n && e > 0 && (o = " lẻ"), 5 == e && a >= 1 ? o += " lăm" : 4 == e && a >= 1 ? o += " tư" : (e > 1 || 1 == e && 0 == a) && (o += " " + t[e]), o
            }, n = function (n, o) {
                var a = "", e = Math.floor(n / 100), n = n % 100;
                return o || e > 0 ? (a = " " + t[e] + " trăm", a += r(n, !0)) : a = r(n, !1), a
            }, o = function (t, r) {
                var o = "", a = Math.floor(t / 1e6), t = t % 1e6; a > 0 && (o = n(a, r) + " triệu", r = !0);
                var e = Math.floor(t / 1e3), t = t % 1e3;
                return e > 0 && (o += n(e, r) + " nghìn", r = !0), t > 0 && (o += n(t, r)), o
            };
        return {
            chuoi: function (r) {
                if (0 == r) return t[0];
                var n = "", a = "";
                do ty = r % 1e9, r = Math.floor(r / 1e9), n = r > 0 ? o(ty, !0) + a + n : o(ty, !1) + a + n, a = " tỷ";
                while (r > 0); return n.trim()
            }
        }
    }();
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
    function commaSeparateNumber(val) {
        while (/(\d+)(\d{3})/.test(val.toString())) {
            val = val.toString().replace(/(\d+)(\d{3})/, '$1' + '.' + '$2');
        }
        return val;
    }
    $('#btnSubmit').click(function () {
        var Startdate = $('#txtFromDate').val();
        var EndDate = $('#txtToDate').val();
        sessionStorage.setItem('Startsdate', Startdate);
        sessionStorage.setItem('Enddate', EndDate);
    })
    var fromdate = sessionStorage.getItem('Startsdate');
    var endDate = sessionStorage.getItem('Enddate');
    if (fromdate == null || fromdate == "") {

    }
    else {
        $('#txtFromDate').val(fromdate);
    }
    if (endDate == null || endDate == "") {

    }
    else {
        $('#txtToDate').val(endDate);
    }
</script>