/* CSS-file with custom styles - don't delete this comment */
.post_item_news{
    min-height:500px;
}
.post_title{
    font-size:20px;
}
.button-client{
    background-color: transparent; border: 3px solid #eeba00; color: #eeba00; padding: 11px;
}
.button-client:hover{
    background:#eeba00;
    color:#FFF;
}
.register-wapper{
    margin: 20px auto 50px;
    /*background-color: #12aaed;*/
    background-color: #3AB6E2;
    padding: 25px 30px;
    border-radius: 15px;
}
.btn-booknow {
    padding: 0px !important;
    background-color: transparent !important;
    border: 3px solid #eeba00 !important;
    color: #eeba00 !important;
    width: 100%;
    font-weight: 600 !important;
    height: 46px !important;
    line-height: 44px !important;
    overflow: hidden !important;
    box-sizing: padding-box !important;
    text-transform: uppercase !important;
}
    .btn-booknow:hover {
        background-color: #eeba00 !important;
        color: #fff !important;
        border-color: #eeba00 !important;
    }