﻿
@{
    ViewBag.Title = "Thông báo lỗi";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}

<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
                <i class="ace-icon fa fa-sitemap"></i>
                404
            </span>
        </h1>

        <hr>
        <h3 class="lighter smaller">Yêu cầu truy cập của bạn đã được hệ thống tìm kiếm nhưng không có bất kỳ kết quả nào được tìm thấy !</h3>

        <div>

            <div class="space"></div>
            <h4 class="smaller">Cố gắng thực hiện một trong các hướng dẫn sau:</h4>

            <ul class="list-unstyled spaced inline bigger-110 margin-15">
                <li>
                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                    Kiểm tra lại đường dẫn truy cập
                </li>

                <li>
                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                    Tra cứu thông tin hỏi đáp trên hệ thống
                </li>

                <li>
                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                    Gọi cho nhân viên hỗ trợ của chúng tôi
                </li>
            </ul>
        </div>

        <hr>
        <div class="space"></div>

        <div class="center">
            <a href="javascript:history.back()" class="btn btn-grey">
                <i class="ace-icon fa fa-arrow-left"></i>
                Quay lại
            </a>

            <a href="@Url.Action("Index", "HomeEnterprise")" class="btn btn-primary">
                <i class="ace-icon fa fa-home"></i>
                Trang chủ
            </a>
        </div>
    </div>
</div>
