﻿
@{
    ViewBag.Title = "Maintenance";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}

<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="blue bigger-125">
                <i class="ace-icon fa fa-random"></i>
                500
            </span>
            Một vài sự cố đã xảy ra
        </h1>

        <hr>
        <h3 class="lighter smaller">
            Chúng tôi đang cập nhật
            <i class="ace-icon fa fa-wrench icon-animated-wrench bigger-125"></i>
            trên hệ thống!
        </h3>

        <div class="space"></div>

        <div>
            <h4 class="lighter smaller">Meanwhile, try one of the following:</h4>

            <ul class="list-unstyled spaced inline bigger-110 margin-15">
                <li>
                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                    Tra cứu thông tin hỏi đáp trên hệ thống
                </li>

                <li>
                    <i class="ace-icon fa fa-hand-o-right blue"></i>
                    Gửi cho chúng tôi thông tin chi tiết về lỗi xảy ra,để được hỗ trợ tốt nhất!
                </li>
            </ul>
        </div>

        <hr>
        <div class="space"></div>

        <div class="center">
            <a href="javascript:history.back()" class="btn btn-grey">
                <i class="ace-icon fa fa-arrow-left"></i>
                Quay lại
            </a>

            <a href="@Url.Action("Index", "HomeEnterprise")" class="btn btn-primary">
                <i class="ace-icon fa fa-home"></i>
                Trang chủ
            </a>
        </div>
    </div>
</div>

