﻿@model PagedList.IPagedList<Carrier.CMS.Models.OrderViewModel>
@using Carrier.Utilities;
@using PagedList.Mvc;

@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thống kê đơn hàng ghép thành công";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
        </li>
    </ul>
}
<div class="col-md-12">
    <div class="page-header">
        <h3>Thống kê vận đơn thành công</h3>
    </div>
    <br>
</div>
@using (Html.BeginForm("Index", "EOrderStatic", FormMethod.Get))
{
    <p>
        @*Trạng thái: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)*@
        Trạng thái: <select name="status" id="status">
            <option value="0">----- Chọn ----</option>
            <option value="0">Chờ nhận đơn</option>
            <option value="1">Đã nhận đơn</option>
            <option value="2">Kết thúc</option>
        </select>
        Hiển thị: @Html.TextBox("pagsiz", ViewBag.PageSize as string, new { style = "width: 50px;height: 33px; border-radius: 4px" })
        <input type="submit" value="Thống kê" class="btn btn-info btn-sm" style="margin: -3px 0px 0px 60px" />
    </p>
}
<table class="wapperpager table table-bordered table-hover dataTable" id="grvOrder">
    <thead>
        <tr>
            <th align="center" scope="col" class="header">
                Mã vận đơn
            </th>
            <th align="center" scope="col" class="header">
                Tên hàng
            </th>
            <th align="center" scope="col" class="header">
                Trọng lượng
            </th>
            <th align="center" scope="col" class="header">
                Điểm đi
            </th>
            <th align="center" scope="col" class="header">
                Điểm đến
            </th>
            <th align="center" scope="col" class="header">
                Thời gian
            </th>
            <th align="center" scope="col" class="header">Đơn giá (VNĐ)</th>
            <th align="center" scope="col" class="header">
                Trạng thái
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a title="Mã vận đơn" href='@Url.Action("Details", "EOrder", new { id = item.Id })'>@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrongLuong) (Kg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemDiChiTiet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemDenChiTiet)
                </td>
                <td>
                    <p>Từ @item.ThoiGianDi </p>
                    <p> Đến @item.ThoiGianDen</p>
                </td>
                <td>
                    @if (item.Gia != null)
                    {
                        @GlobalCommon.ConvertToCurrency(item.Gia.Value)
                    }
                </td>
                <td>
                    @if (item.Status != null)
                    {
                        @GlobalCommon.GetOrderStatus(item.Status.Value)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter, pagsiz = @ViewBag.PageSize }))


@*@section Scripts {*@
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
@*}*@

@*@section ScriptsBottom{*@
<script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = "OrderStatic";
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
</script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/fuelux.spinner.min.js"></script>

<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/daterangepicker.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>

<script src="~/scripts/jquery1.12.4.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<style type="text/css">
    .ui-widget-content {
        border: 1px solid #c5c5c5;
        width: 250px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
@*}*@