﻿@using Carrier.Models.Entities;
@model Order
@using Carrier.CMS.Controllers;
@{
    var controller = ViewContext.Controller as OrdersController;
}
<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Chi tiết vận đơn</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            Mã vận đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaVanDon)
        </dd>
        <dt>
            Tên hàng hóa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>
        <dt>
            Địa điểm đi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDenChiTiet)
        </dd>

        <dt>
            Địa điểm đến
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemDenChiTiet)
        </dd>

        <dt>
            Loại xe
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarType)
        </dd>
        <dt>
            Thời gian đi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGianDi)
        </dd>

        <dt>
            Thời gian đến
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGianDen)
        </dd>

        <dt>
            Giá
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gia) VNĐ
        </dd>

        <dt>
            Số KM ước tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoKmUocTinh)
        </dd>

        <dt>
            Khối lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>

        @*<dt>
                Loại thanh toán
            </dt>
            <dd>
                Tiến mặt
            </dd>*@
    </dl>
    <div class="row">
        &nbsp;
    </div>
    @*<div class="row">
            <div style="text-align:center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>*@
</div>
<script type="text/javascript">
    //$(function () {
    //    $('#approve-btn').click(function () {
    //        $('#modal-container').modal('hide');
    //    });
    //});
</script>