﻿@using Carrier.Models.Entities;
@model Driver
@using Carrier.CMS.Controllers;
@{
    var controller = ViewContext.Controller as UserInfoController;
}
<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Chi tiết tài xế</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        Tên tài xế
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        @Html.DisplayFor(model => model.Name)
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        Ảnh
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="col-sm-6">
                            <img src="~/Images/@Model.Front_Image" alt="ảnh đại diện" />
                        </div>
                        <div class="col-sm-6"><img src="~/Images/@Model.Front_Image" alt="ảnh đại diện" /></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        Địa chỉ
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        @Html.DisplayFor(model => model.Address)
                    </div>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        Điện thoại
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        @Html.DisplayFor(model => model.Phone)
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        Giới tính
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        @Html.DisplayFor(model => model.Sex)
                    </div>
                </div>
            </div><div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        Ngày sinh
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        @Html.DisplayFor(model => model.BirthDay)
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<dl class="dl-horizontal">
            <dt>
                Tên tài xế
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                Họ tên
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                Địa chỉ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                Số điện thoại
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                Website
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>
            <dt>
                Dịch vụ
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DichVu)
            </dd>

            <dt>
                Giới thiệu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GioiThieu)
            </dd>

            <dt>
                Fax
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fax)
            </dd>
            <dt>
                Loại xe
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CarType)
            </dd>

            <dt>
                Tên xe
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CarName)
            </dd>

            <dt>
                Trọng tải
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TaiTrong)
            </dd>
        </dl>*@
    <div class="row">
        &nbsp;
    </div>
    @*<div class="row">
            <div style="text-align:center">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>*@
</div>
<script type="text/javascript">
    //$(function () {
    //    $('#approve-btn').click(function () {
    //        $('#modal-container').modal('hide');
    //    });
    //});
</script>