﻿@using Carrier.CMS.Models;
@model IEnumerable<HistoryModel>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
<div class="col-md-12">
    <div class="page-header">
        <h3>Danh sách các lịch trình và vận đơn có thể khớp lệnh</h3>
    </div>
    @using (Html.BeginForm("Index", "KhopLenh", FormMethod.Get))
    {
    <p>
        Mã vận đơn: @Html.TextBox("OrderId", ViewBag.CurrentFilter as string)
        Tài xế: @Html.TextBox("UserName", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" />
    </p>
    }
</div>
<table class="wapperpager table table-bordered table-hover dataTable">
    <thead>
        <tr>
            <th align="center" scope="col" class="header">
                Mã vận đơn
            </th>
            <th align="center" scope="col" class="header">
                Tên tài xế
            </th>
            <th align="center" scope="col" class="header">
                Trạng thái
            </th>
            <th align="center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("OrderDetail", "KhopLenh", new { id = item.OrderId
                        })" class="modal-link">@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                    </td>
                    <td>
                        <a href="@Url.Action("UserInfoDetail", "KhopLenh", new { DriverId = item.DriverId })"
                           class="modal-link">@Html.DisplayFor(modelItem => item.FullName)</a>
                    </td>
                    <td>
                        @if (@item.Status == "2")
                        {
                            @:Success
                        }
                        else
                        {
                            @:Calcel
                        }
                    </td>
                    <td style="width:100px;text-align:center">
                        <a href="#" title="Khớp lệnh"> <img src="~/Images/icons/arrow_right.png" /> </a>&nbsp;&nbsp;
                        <a href="#" title="Hủy khớp lệnh"> <img src="~/Images/icons/cancel.png" /></a>
                    </td>
                </tr>
        }
    </tbody>
</table>
<div style="text-align:left;padding-top:7px;">
    Chú thích:
    <p>
        <img src="~/Images/icons/arrow_right.png" /> Bắt đầu khớp lệnh và gửi thông báo tới nhà xe hoặc tài xế
    </p>
    <img src="~/Images/icons/cancel.png" /> Loại bỏ lịch trình khỏi danh sách khớp lệnh
</div>

@section Scripts{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
}
@section ScriptsBottom{
    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = "KhopLenh";
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
    </script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>

    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/js/jquery.knob.min.js"></script>
    <script src="~/assets/js/jquery.autosize.min.js"></script>
    <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/js/bootstrap-tag.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-date').mask('99/99/9999');
            $('.input-mask-phone').mask('(999) 999-9999');
        });

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        //show datepicker when clicking on the icon
    </script>
    @*<script>

            var TeamDetailPostBackURL = '/KhopLenh/ScheduleDetail';
            $(function () {
                $(".anchorDetail").click(function () {
                    debugger;
                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: TeamDetailPostBackURL,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
                //$("#closebtn").on('click',function(){
                //    $('#myModal').modal('hide');

                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });
            });

        </script>*@

}