﻿@using Carrier.CMS.Models;
@model IEnumerable<HistoryModel>
@using Carrier.Utilities
@{
    if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ADMIN))
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
    {
        Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutBackend.cshtml";
    }

    ViewBag.Title = "Lịch sử khớp lệnh";
}


<div class="col-md-12">
    <div class="page-header">
        <h4>Lịch sử khớp lệnh</h4>
    </div>
    @using (Html.BeginForm("Index", "History", FormMethod.Get))
    {
        <p>
            Trạng thái <select id="status" name="status">
                <option value="0">--- Trạng thái ----</option>
                <option value="4">Thành công</option>
                <option value="2">Hủy</option>
            </select>
            Mã vận đơn: @Html.TextBox("mavandon", ViewBag.CurrentFilter as string)

            @if (User.IsInRole(PublicConstant.ROLE_ADMIN))
            {
                @Html.Raw("Nhà xe:") @Html.DropDownList("OrganizationId", new SelectList(ViewBag.ListOrganization, "Value", "Text"), new { @id = "OrganizationId", @name = "OrganizationId", @class = "form-control", @Style = "width:250px;display: inline;" })
            }

            @if (ViewBag.ListDriver != null)
            {
                @Html.Raw("Tài xế:")
                @Html.DropDownList("ddlDriver", new SelectList(ViewBag.ListDriver, "Value", "Text"), new { @id = "ddlDriver", @name = "ddlDriver", @class = "form-control" })
            }

            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" />
        </p>
    }
</div>
<table class="wapperpager table table-bordered table-hover dataTable">
    <tr>
        <th>
            Mã vận đơn
        </th>
        <th>
            Tên tài xế
        </th>
        <th>
            Điện thoại
        </th>
        <th>
            Ngày đăng
        </th>
        <th>
            Trạng thái
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @if (@item.Status == "2")
                {
                    @:Success
                }
                else
                {
                    @:Cancel
                }
            </td>
        </tr>
    }
</table>

<script>
    //function GetCity(_stateId) {
    //    var procemessage = "<option value='0'> Please wait...</option>";
    //    $("#ddlcity").html(procemessage).show();
    //    var url = "/Test/GetCityByStaeId/";

    //    $.ajax({
    //        url: url,
    //        data: { stateid: _stateId },
    //        cache: false,
    //        type: "POST",
    //        success: function (data) {
    //            var markup = "<option value='0'>Select City</option>";
    //            for (var x = 0; x < data.length; x++) {
    //                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
    //            }
    //            $("#ddlcity").html(markup).show();
    //        },
    //        error: function (reponse) {
    //            alert("error : " + reponse);
    //        }
    //    });
    //}

    $(document).ready(function () {

        $('#OrganizationId').change(function () {
            var organizationId = $(this).val();

            $.ajax({
                url: '/History/GetDriverByOrganizationId',
                data: "{ 'Id': '" + organizationId + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var markup = "<option value='0'>Select City</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#ddlDriver").html(markup).show();
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                failure: function (response) {
                    console.log(response.responseText);
                }
            });
        });
    });
</script>