﻿@model PagedList.IPagedList<Carrier.CMS.Models.OrderViewModel>
@using Carrier.Utilities;
@using PagedList.Mvc;
@using Carrier.CMS.Areas.Admin.Controllers;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thống kê vận đơn";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="col-md-12">
    <div class="page-header">
        <h3>Thống kê vận đơn</h3>
    </div>
    <br>
</div>
@using (Html.BeginForm("Index", "OrderStatic", FormMethod.Get))
{
    <p>
        @*Trạng thái: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)*@
        Trạng thái: <select name="status" id="status">
                        <option value="">----- Chọn ----</option>
                        <option value="0">Chờ nhận đơn</option>
                        <option value="1">Đã nhận đơn</option>
                        <option value="2">Kết thúc</option>
                    </select>
        Hiển thị: @Html.TextBox("pagsiz", ViewBag.PageSize as string, new { style = "width: 50px;height: 33px; border-radius: 4px" })
        <input type="submit" value="Thống kê" class="btn btn-info btn-sm" style="margin: -3px 0px 0px 60px"/>
    </p>
}
<br />
<div class="clearfix">
    <div class="pull-right tableTools-container"></div>
</div>
<table class="wapperpager table table-bordered table-hover dataTable" id="grvOrder">
    <thead>
        <tr>
            <th align="center" scope="col" class="header">
                Mã vận đơn
            </th>
            <th align="center" scope="col" class="header">
                Tên hàng
            </th>
            <th align="center" scope="col" class="header">
                Trọng lượng
            </th>
            <th align="center" scope="col" class="header">
                Điểm đi
            </th>
            <th align="center" scope="col" class="header">
                Điểm đến
            </th>
            <th align="center" scope="col" class="header">
                Thời gian
            </th>
            <th align="center" scope="col" class="header">Đơn giá (VNĐ)</th>
            <th align="center" scope="col" class="header">
                Trạng thái
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a title="Mã vận đơn" href='@Url.Action("Details", "Orders", new { id = item.Id })'>@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrongLuong) (Kg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemDiChiTiet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemDenChiTiet)
                </td>
                <td>
                    <p>Từ @item.ThoiGianDi </p>
                    <p> Đến @item.ThoiGianDen</p>
                </td>
                <td>
                    @if (item.Gia != null)
                    {
                        @GlobalCommon.ConvertToCurrency(item.Gia.Value)
                    }
                </td>
                <td>
                    @if (item.Status != null)
                    {
                        @GlobalCommon.GetOrderStatus(item.Status.Value)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter, pagsiz = @ViewBag.PageSize }))


@*@section Scripts {*@
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
@*}*@

@*@section ScriptsBottom{*@
    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = "OrderStatic";
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
    </script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>

    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/js/jquery.knob.min.js"></script>
    <script src="~/assets/js/jquery.autosize.min.js"></script>
    <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/js/bootstrap-tag.min.js"></script>
    @*<script type="text/javascript">
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    </script>*@

<script src="~/scripts/jquery1.12.4.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<style type="text/css">
    .ui-widget-content {
        border: 1px solid #c5c5c5;
        width: 250px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var myTable =
        $('#grvOrder')
        .DataTable({
            bAutoWidth: false,
            "aoColumns": [
             null, null, null, null, null, null, null, null, null
            ],
            "aaSorting": [],
            select: {
                style: 'multi'
            }
        });

        $.fn.dataTable.Buttons.defaults.dom.container.className = 'dt-buttons btn-overlap btn-group btn-overlap';

        new $.fn.dataTable.Buttons(myTable, {
            buttons: [
              {
                  "extend": "colvis",
                  "text": "<i class='fa fa-search bigger-110 blue'></i> <span class='hidden'>Show/hide columns</span>",
                  "className": "btn btn-white btn-primary btn-bold",
                  columns: ':not(:first):not(:last)'
              },
              {
                  "extend": "copy",
                  "text": "<i class='fa fa-copy bigger-110 pink'></i> <span class='hidden'>Copy to clipboard</span>",
                  "className": "btn btn-white btn-primary btn-bold"
              },
              {
                  "extend": "csv",
                  "text": "<i class='fa fa-database bigger-110 orange'></i> <span class='hidden'>Export to CSV</span>",
                  "className": "btn btn-white btn-primary btn-bold"
              },
              {
                  "extend": "excel",
                  "text": "<i class='fa fa-file-excel-o bigger-110 green'></i> <span class='hidden'>Export to Excel</span>",
                  "className": "btn btn-white btn-primary btn-bold"
              },
              {
                  "extend": "pdf",
                  "text": "<i class='fa fa-file-pdf-o bigger-110 red'></i> <span class='hidden'>Export to PDF</span>",
                  "className": "btn btn-white btn-primary btn-bold"
              },
              {
                  "extend": "print",
                  "text": "<i class='fa fa-print bigger-110 grey'></i> <span class='hidden'>Print</span>",
                  "className": "btn btn-white btn-primary btn-bold",
                  autoPrint: false,
                  message: 'This print was produced using the Print button for DataTables'
              }
            ]
        });

        myTable.buttons().container().appendTo($('.tableTools-container'));

        //style the message box
        var defaultCopyAction = myTable.button(1).action();
        myTable.button(1).action(function (e, dt, button, config) {
            defaultCopyAction(e, dt, button, config);
            $('.dt-button-info').addClass('gritter-item-wrapper gritter-info gritter-center white');
        });

        var defaultColvisAction = myTable.button(0).action();
        myTable.button(0).action(function (e, dt, button, config) {

            defaultColvisAction(e, dt, button, config);

            if ($('.dt-button-collection > .dropdown-menu').length == 0) {
                $('.dt-button-collection')
                .wrapInner('<ul class="dropdown-menu dropdown-light dropdown-caret dropdown-caret" />')
                .find('a').attr('href', '#').wrap("<li />")
            }
            $('.dt-button-collection').appendTo('.tableTools-container .dt-buttons')
        });

        setTimeout(function () {
            $($('.tableTools-container')).find('a.dt-button').each(function () {
                var div = $(this).find(' > div').first();
                if (div.length == 1) div.tooltip({ container: 'body', title: div.parent().text() });
                else $(this).tooltip({ container: 'body', title: $(this).text() });
            });
        }, 500);

        myTable.on('select', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', true);
            }
        });
        myTable.on('deselect', function (e, dt, type, index) {
            if (type === 'row') {
                $(myTable.row(index).node()).find('input:checkbox').prop('checked', false);
            }
        });

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#grvOrder > thead > tr > th input[type=checkbox], #dynamic-table_wrapper input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $('#grvOrder').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) myTable.row(row).select();
                else myTable.row(row).deselect();
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#grvOrder').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (this.checked) myTable.row(row).deselect();
            else myTable.row(row).select();
        });

        $(document).on('click', '#grvOrder .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#grvOrder > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#simple-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if ($row.is('.detail-row ')) return;
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

        /***************/
        $('.show-details-btn').on('click', function (e) {
            e.preventDefault();
            $(this).closest('tr').next().toggleClass('open');
            $(this).find(ace.vars['.icon']).toggleClass('fa-angle-double-down').toggleClass('fa-angle-double-up');
        });
        /***************/
    })
</script>
@*}*@