﻿@model Carrier.Models.Entities.SysSetting
<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>

 <link href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Thêm tham số</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createSysSetting" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.Label("User", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBox("UserName","", new { @class = "form-control" })
                    @Html.Hidden("UserId","0")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SettingKey, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SettingKey, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SettingKey, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SettingValue, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SettingValue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SettingValue, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    }

    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <div class="col-md-offset-2 col-md-10">
                <button value="Save" class="btn btn-default" onclick="CreateSysSetting()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#UserName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/SysSetting/AutoComplete/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#createSysSetting").find("#UserId").val(i.item.val);
            },
            minLength: 1
        });
    });
    </script>