﻿@model Carrier.Models.Entities.SysSetting

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SysSetting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SettingKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SettingKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SettingValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SettingValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
