﻿@model IEnumerable<Carrier.Models.Entities.SysSetting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Home</a>
        </li>
        <li class="">Danh sách tham số</li>
    </ul>
}
<div class="page-header">
    <h1>Danh sách tham số</h1>
</div>
<p style="margin-top: 10px;">
    @Html.ActionLink("Thêm mới", "Create", "SysSetting", null, new { @class = "btn btn-info btn-sm modal-link" })
</p>
<form action="/Admin/SysSetting" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.DropDownList("UserId", (SelectList)ViewBag.User, "---Chọn tài khoản---", new { @class = "form-control", @style = "width:250px;" })
            </div>
            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: 0px 0px 0px 20px" />
        </div>
    </div>
</form>
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace cball">
                    <span class="lbl"></span>
                </label>
            </th>
            @*<th align="center" scope="col" class="header">
                @Html.DisplayNameFor(model => model.UserId)
            </th>*@
            <th align="center" scope="col" class="header">
                @Html.DisplayNameFor(model => model.SettingKey)
            </th>
            <th align="center" scope="col" class="header">
                @Html.DisplayNameFor(model => model.SettingValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace cbitem">
                        <span class="lbl"></span>
                        <input type="hidden" id="hdfId" class="hdfId" name="hdfId" value="@item.Id" />
                    </label>
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.SettingKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SettingValue)
                </td>
                <td>
                    <a href='@Url.Action("Edit", "SysSetting", new { id = item.Id })' class="modal-link"><img src="~/Images/page_white_edit.png" title="Cập nhật" /></a>  |
                    @*<a href='@Url.Action("Details", "SysSetting", new { id = item.Id })'><img src="~/Images/details.png" title="Chi tiết" /></a>  |*@
                    <button style="border:none; background:none" title="Xóa" onclick="DeleteRow('@item.Id')">
                        <img src="~/Images/icons/bin_closed.png" title="Xóa" />|
                    </button>
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thông báo
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <center><p class="message-content" style="font-weight:bold;color:red" id="message-content"></p></center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Huỷ
                    </button>

                    <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-delete" data-dismiss="modal">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Đồng ý
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdflistIdselected" name="hdflistIdselected" value="" />
<script>
    $('#dynamic-table tbody tr td:first-child').each(function () {
        var id = $(this).find('input[type="hidden"][name="hdfId"]').attr('value');
        $('#btnHuyGanXe_' + id).click(function () {
            OpenPopup(id, "Bạn có chắc muốn hủy gán xe", 'huyganxe');
            return false;
        })
    });

    $(document).ready(function () {
        $('.cball').click(function () {
            if ($('.cball').is(":checked")) {
                $('.cbitem').attr('checked', true);
            } else {
                $(this).attr('checked', false);
                $('.cbitem').attr('checked', false);
            }
        });
    });
    $('#removeselected').click(function () {
        var listId = "";
        var id;
        $('.cbitem').each(function () {
            if ($(this).is(':checked')) {
                id = $(this).parent().find('input[type="hidden"][name="hdfId"]').val();
                listId = listId + id + ",";
            }
        });
        if (listId.length > 0) {
            OpenPopup(listId, "Bạn có chắc muốn xóa các bản ghi tích chọn", 'delete');
        }
        else {
            ShowMessage("Bạn chưa tích chọn bản ghi nào");
        }
    });

    function DeleteRow(Id) {
        OpenPopup(Id, 'Bạn có chắc muốn xóa bản ghi này?', 'delete');
    }

    function ShowMessage(message) {
        $('#message-content').html(message);
        $('#btn-delete').hide();
        $('#btn-cancel').hide();
        $('#myModal2').modal('toggle');
    }

    function OpenPopup(id, message, type) {
        $('#hdflistIdselected').val(id);
        $('#message-content').html(message);
        if (type == 'delete') {
            $('#btn-delete').show();
        }
        if (type == 'huyganxe') {
            $('#btn-delete').hide();
        }
        $('#btn-cancel').show();
        $('#myModal2').modal('toggle');
    }

    $('#btn-delete').click(function () {
        Delete($('#hdflistIdselected').val());
    });

    function Delete(listId) {
        if (listId.length > 0) {
            $.ajax({
                url: "@Url.Action("DeleteSysSetting", "SysSetting")",
                type: "POST",
                data: { 'listId': listId },
                dataType: 'json',
                success: function (data) {
                    $('#myModal2').modal('hide');
                    if (data == 'OK') {
                        ShowMessage("Xóa thành công");
                        setTimeout(function () { $('#myModal2').hide(); }, 1500);
                        location.reload();
                    }
                },
                error: function (node) {
                }
            })
        }
    }

</script>

<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
        $('#dynamic-table')
        .dataTable({
            bAutoWidth: false,
            "aoColumns": [
              { "bSortable": false },
              null, null,
              { "bSortable": false }
            ],
            "aaSorting": [],
            pageLength: 50,
        });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
        .prependTo('.tableTools-container .btn-group')
        .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
        .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
        .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
        .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>

<script>
    //Tạo bảng giá theo tuyến

    function CreateSysSetting() {
        if ($("#createSysSetting").find(" #UserName").val().trim().length == 0)
        {
            $("#createSysSetting").find("#UserId").val("");
        }
        var dataT = $("#createSysSetting").serialize();
        $.ajax({
            url: '/SysSetting/CreateSysSetting',
            dataType: "json",
            type: "GET",
            contentType: 'application/json',
            data: dataT,
            success: function (result) {
                $('#modal-container').modal('hide');
                $('#myModal2').modal('hide');
                if (result== 'OK') {
                    ShowMessage("Thêm mới thành công");
                    setTimeout(function () { $('#myModal2').hide(); }, 1500);
                    location.reload();
                }

            },
            error: function (req, status, error) {

                alert("lỗi");
            }
        });
    };
    // Cập nhật bảng giá theo tuyến
    function EditSysSetting() {
        if ($("#editSysSetting").find("#UserName").val().trim().length == 0) {
            $("#editSysSetting").find("#UserId").val("");
        }
        var dataT = $("#editSysSetting").serialize();
        $.ajax({
            url: '/SysSetting/EditSysSetting',
            dataType: "json",
            type: "GET",
            ntntType: 'application/json',
            data: dataT,
            success: function (result) {
                $('#modal-container').modal('hide');
                $('#myModal2').modal('hide');
                if (result == 'OK') {
                    ShowMessage("Cập nhật thành công");
                    setTimeout(function () { $('#myModal2').hide(); }, 1500);
                    location.reload();
                }
            },
            error: function (req, status, error) {
                // do something with error
                alert('error');
            }
        });
    };
</script>