﻿@using Carrier.Models.Entities;
@model Order
@using Carrier.CMS.Controllers;
@{
    //var controller = ViewContext.Controller as OrderController;
}
@{
    var OrderPlace = (List<OrderPlaces>)ViewBag.ListPlace;
    int countdth = OrderPlace.Count + 2;
}
<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Chi tiết vận đơn</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            Mã vận đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaVanDon)
        </dd>
        <dt>
            Tên hàng hóa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>
        <dt>
            Địa điểm đi
        </dt>

        <dd>
            1- @Html.DisplayFor(model => model.DiemDiChiTiet)
        </dd>
        <dt></dt>
        <dd>
            <i class="fa fa-arrow-down"></i>
        </dd>
        @if (OrderPlace.Count > 0)
        {
            <dt>
                Điểm trả hàng
            </dt>
            for (int i = 0; i < OrderPlace.Count; i++)
            {
                <dd>
                    @float.Parse((i + 2).ToString())  - @OrderPlace[i].FormatAddress
                </dd>
                <dd>
                    <i class="fa fa-arrow-down"></i>
                </dd>
            }
        }

        <dt>
            Địa điểm đến
        </dt>
        <dd>
            @countdth -  @Html.DisplayFor(model => model.DiemDenChiTiet)
        </dd>

        <dt>
            Trọng lượng (Kg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrongLuong)
        </dd>
        <dt>
            Thời gian đi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGianDi)
        </dd>

        <dt>
            Thời gian đến
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ThoiGianDen)
        </dd>

        <dt>
            Giá
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gia) VNĐ
        </dd>

        <dt>
            Số KM ước tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoKmUocTinh)
        </dd>



        @*<dt>
                Loại thanh toán
            </dt>
            <dd>
                Tiến mặt
            </dd>*@
    </dl>
    <div class="row">
        &nbsp;
    </div>
</div>
<script type="text/javascript">
                        //$(function () {
                        //    $('#approve-btn').click(function () {
                        //        $('#modal-container').modal('hide');
                        //    });
                        //});
</script>
