﻿@*@model PagedList.IPagedList<Carrier.CMS.Models.OrderViewModel>*@
@model IEnumerable<Carrier.Models.Entities.SP_GetAllOrdersByParameter_Result>
@using Carrier.Utilities;
@using PagedList.Mvc;
@using CMS.Carrier.Areas.Enterprise.Controllers;
@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    var controller = ViewContext.Controller as EOrderController;
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh sách vận đơn nhiều xe";
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
            Danh sách vận đơn
        </li>
    </ul>
}
<div class="col-md-12">
    <div class="page-header">
        <h1>Danh sách vận đơn</h1>
    </div>
    <br>
</div>
@using (Html.BeginForm("Indexs", "EOrder", FormMethod.Get))
{
    <div class="row">
        @*<div class="col-sm-2">@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "tên hàng hóa", @style = "width: 100%;" })</div>*@
        @*<div class="col-sm-2">
                @Html.TextBox("MaVanDon", ViewBag.CurrentFilter as string, new { @placeholder = "Mã vận đơn" })
            </div>*@
        @*<div class="col-sm-2">
                <select name="OrderType" id="status" style="width: 100%; padding: 6px; border: 1px solid #eee; height: 35px; font-size:15px;">
                    <option value="">----- Loại vận đơn ----</option>
                    <option value="1">Vận đơn tạo</option>
                    <option value="2">Vận đơn nhận</option>
                </select>
            </div>*@
    </div>
    <div class="row" style="padding-top:5px">
        <div class="col-sm-2">
            @Html.TextBox("txtFromDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtFromDate", @name = "txtFromDate", @placeholder = "Từ ngày:" })
        </div>
        <div class="col-sm-2">
            @Html.TextBox("txtToDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtToDate", @name = "txtToDate", @placeholder = "Đến ngày:" })
        </div>
        <div class="col-sm-2">
            <select name="status" id="status" style="width: 100%; padding: 6px; border: 1px solid #eee; height: 35px; font-size:15px;"  onchange="this.form.submit();">
                <option value="-1">----- Trạng thái ----</option>
                <option value="0">Sẵn sàng</option>
                <option value="1">Đang chạy</option>
                <option value="2">Tài xế hủy</option>
                <option value="3">Chủ hàng hủy</option>
                <option value="4">Đang vận chuyển hàng</option>
                <option value="5">Hoàn thành</option>
                @*<option value="6">Kết thúc</option>*@
                <option value="7">Đơn quá ngày</option>
            </select>
        </div>
        <div class="col-sm-2">
            <select name="Type" id="Type" style="width: 100%; padding: 6px; border: 1px solid #eee; height: 35px; font-size:15px;"  onchange="this.form.submit();">
                <option value="0">----- Loại vận đơn ----</option>
                <option value="1">Đơn nội bộ</option>
                <option value="2">Đơn ngoài</option>
            </select>
        </div>
        <div class="col-sm-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: 0px 0px 0px 20px" />
        </div>
        <div class="col-sm-1">
            @Html.ActionLink("Thêm vận đơn", "Create", null, new { @class = "btn btn-info btn-sm" })
        </div>
    </div>

}
<p style="margin-top: 10px;">
    @if (!User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
    {
        @Html.ActionLink("Thêm mới", "Create", "EOrder", null, new { @class = "btn btn-info btn-sm" })
    }
</p>
<table class="table table-striped table-bordered table-hover" id="grvOrder" style="width:100%; table-layout:fixed">
    <thead>
        <tr>
            <th align="center" scope="col" class="header" style="width:4%">
                Mã vận đơn
            </th>
            <th align="center" scope="col" class="header" style="width:4%">
                Tên hàng
            </th>
            <th align="center" scope="col" class="header" style="width:6%">
                Điểm đi
            </th>
            <th align="center" scope="col" class="header" style="width:6%">
                Điểm đến
            </th>
            <th align="center" scope="col" class="header" style="width:5%">
                Thời gian
            </th>
            <th align="center" scope="col" class="header" style="width:5%">
                Thành tiền(VNĐ)
            </th>
            <th align="center" scope="col" class="header" style="width:5%">
                Thanh toán
            </th>
            <th align="center" scope="col" class="header" style="width:5%">
                Danh sách xe
            </th>
            <th align="center" scope="col" class="header" style="width:4%">
                Ngày tạo
            </th>
            <th align="center" scope="col" class="header" style="width:4%">
                Trạng thái
            </th>
            <th align="center" scope="col" class="header" style="width:6%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td id="oderId" value="@item.Id">
                        <a title="Mã vận đơn" href='@Url.Action("Details", "EOrder", new { id = item.Id })'>@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiemDiChiTiet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiemDenChiTiet)
                    </td>
                    <td>
                        <p>Từ @item.ThoiGianDi </p>
                        <p> Đến @item.ThoiGianDen</p>
                    </td>
                    <td>
                        @if (item.Gia != null && item.VAT == false)
                        {
                            <p>
                                @GlobalCommon.ConvertToCurrency(item.Gia.Value)
                            </p>
                        }
                        else
                        {
                            <p>
                                @GlobalCommon.ConvertToCurrency(item.Gia.Value) (VAT)
                            </p>
                        }
                    </td>
                    <td>
                        @if (item.LoaiThanhToan == 0)
                        {
                            <p>Thu tiền mặt</p>
                        }
                        else
                        {
                            <p>Chuyển khoản</p>
                        }
                    </td>
                    <td style="text-align: center;">
                        <button style="border:none; background:none" title="Danh sách xe" onclick="DanhSachXe('@item.Id')">
                            <img src="~/Images/icons/car.png" title="Danh sách xe" />
                        </button>
                    </td>
                    <td>
                        @item.CreateAt
                    </td>
                    <td>
                        @*@if (item.ThoiGianDi != null)
                        {
                            @Html.Raw(controller.ShowStatusToView(DateTime.Parse(item.ThoiGianDi.ToString()), int.Parse(item.STATUS.ToString())))
                        }*@
                    </td>
                    <td>
                        @*@if (item.Status == 1) // đã nhận đơn-> show icon
                            {
                                    @Html.Raw("<img title=\"đã nhận đơn\" src=\"../Images/accept.png\" alt=\"//vantaitoiuu.com\" style=\"width:20px\" />");
                            }*@
                        @*@if (!controller.CheckOrderTracking(long.Parse(item.Id.ToString())))*@
                        @if (item.STATUS != 1 && item.STATUS != 5 && item.STATUS != 7 && (item.OrderType == 0))
                        {
                            <button style="border:none; background:none" title="Gửi vận đơn" onclick="LoadDriver('@item.Id')">
                                <img src="~/Images/icons/arrow_right.png" title="Gửi vận đơn" /> |
                            </button>
                        }
                        @if (item.STATUS != 1 && item.STATUS != 5)
                        {
                            <a href='@Url.Action("Edit", "EOrder", new { id = item.Id })'><img src="~/Images/page_white_edit.png" title="Cập nhật" /></a> @Html.Raw("|")
                            <button style="border:none; background:none" title="Xóa" onclick="DeleteRow('@item.Id')">
                                <img src="~/Images/icons/bin_closed.png" title="Xóa" />
                            </button>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:auto !important">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Chọn tài xế
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <div class="row">
                        <center>
                            <p class="message-content" style="font-weight:bold;color:red;padding: 0 !important;
    border: none !important" id="message-content"></p>
                        </center>
                    </div>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Huỷ
                    </button>
                    <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-send" data-dismiss="modal" onclick="GuiVanDon()">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Gửi vận đơn
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>

<div id="listXeModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Danh sách xe
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <center>
                        <table id="tblDanhSachXe" border='1' style="margin: 18px 0px 30px 0px; width:90%;font-size:15px" class="wapperpager table table-bordered table-hover dataTable"></table>
                    </center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Đóng
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>

<script>
    function LoadDriver(id) {
        sessionStorage.setItem('orderID', id);
        $.ajax({
            type: "GET",
            url: "/EOrder/LoadListDriver",
            data: { id: id },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                $('#message-content').html(result);
                $('#myModal').modal('show');
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
    function ClickDriver(id) {
        var driverId = $('#' + id).attr('value');
        sessionStorage.setItem('id', driverId);
        $('#message-content button').each(function () {
            $(this).addClass('btn-default');
            $(this).removeClass('btn-primary');
        });
    };
    function GuiVanDon() {
        var driverId = sessionStorage.getItem('id');
        var orderID = sessionStorage.getItem('orderID');
        $.ajax({
            type: "GET",
            url: "/EOrder/SendNewOrderTest",
            data: {
                orderId: orderID,
                driverId: driverId
            },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                alert(result);
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
    function DeleteRow(id) {
        $.ajax({
            type: "GET",
            url: "/EOrder/Delete",
            data: { id: id },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                // refesh page
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };

    function DanhSachXe(id) {
        $.ajax({
            type: "GET",
            url: "/EOrder/DanhSachXe",
            data: { id: id },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                var trHTML = '';

                $("#tblDanhSachXe").empty();

                //create table header
                var headertr = $("<thead><tr style='background-color: #eff3f8;'><th>Id </th><th>Biển số xe</th></tr></thead>");

                //get table id from jquery
                var tableelement = $("#tblDanhSachXe");

                //add header row to table
                tableelement.append(headertr);

                var tbody = $("<tbody>");
                tableelement.append(tbody);

                $.each(result, function (i, item) {

                    trHTML += '<tr><td>' + result[i].Id + '</td><td>' + result[i].License + '</td></tr>';
                });

                tableelement.append(trHTML);
                tbody = $("</tbody>");
                tableelement.append(tbody);

                $('#listXeModal').modal('show');
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
</script>

@*@section Scripts {*@
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
@*}

    @section ScriptsBottom{*@
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/fuelux.spinner.min.js"></script>

<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/daterangepicker.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $.mask.definitions['~'] = '[+-]';
        $('.input-mask-phone').mask('(999) 999-9999');
        $('.input-mask-date').mask('99/99/9999');
        $('.input-mask-phone').mask('(999) 999-9999');
    });

    $('.date-picker').datepicker({
        format: 'dd-mm-yyyy',
        autoclose: true,
        todayHighlight: true
    }).next().on(ace.click_event, function () {
        $(this).prev().focus();
    });
    //show datepicker when clicking on the icon
</script>

<script src="~/assets/js/jquery.2.1.1.min.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />

<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/fuelux.spinner.min.js"></script>

<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/daterangepicker.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>



<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- BS JavaScript -->
<script src="~/assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
        $('#grvOrder')
        .dataTable({
            bAutoWidth: false,
            "aoColumns": [
              null, null, null, null,
              null, null, null, null, null,
              { "bSortable": false },
              { "bSortable": false }
            ],
            "aaSorting": [],
        });

        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
        .prependTo('.tableTools-container .btn-group')
        .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
        .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
        .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
        .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#grvOrder > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#grvOrder').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#grvOrder .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#grvOrder > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#grvOrder').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>
<script>
    $(document).ready(function () {
        $('.status').change(function () {
            LoadOrderByStataus();
        });   

    function LoadOrderByStataus() {
        var fromdate = $('#txtFromDate').val();
        var todate = $('#status').val();
        var status = $('#status').val();
        var type = $('#txtToDate').val();
        $.ajax({
            type: "GET",
            url: "/EOrder/Indexs",
            data: { txtFromDate: fromdate, txtToDate: todate, status:status,Type:type },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                $('#message-content').html(result);
                $('#myModal').modal('show');
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };

    });
</script>
@*}*@
