﻿@model IEnumerable<Carrier.Models.Entities.SP_GetAllOrdersByParameter_New_Result>
@using Carrier.Utilities;
@using PagedList.Mvc;
@using CMS.Carrier.Areas.Enterprise.Controllers;
@{ 
    var controller = ViewContext.Controller as EOrderController;
    var oParent = (Carrier.Models.Entities.Order)ViewBag.ParentOrder;
    List<string> dsx = (List<string>)ViewBag.DSX;
}
<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Chi tiết vận đơn</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            Mã vận đơn
        </dt>

        <dd>
            @oParent.MaVanDon
        </dd>
        <dt>
            Tên hàng hóa
        </dt>

        <dd>
            @oParent.TenHang
        </dd>
        <dt>
            Địa điểm đi
        </dt>

        <dd>
            @oParent.DiemDiChiTiet
        </dd>

        <dt>
            Địa điểm đến
        </dt>

        <dd>
            @oParent.DiemDenChiTiet
        </dd>

        <dt>
            Thời gian đi
        </dt>
        <dd>
            @oParent.ThoiGianDi
        </dd>

        <dt>
            Thời gian đến
        </dt>
        <dd>
            @oParent.ThoiGianDen
        </dd>

        <dt>
            Giá
        </dt>
        <dd>
            @oParent.Gia
        </dd>

        <dt>
            Số KM ước tính
        </dt>

        <dd>
            @oParent.SoKmUocTinh
        </dd>

        <dt>
            Khối lượng
        </dt>

        <dd>
            @oParent.TrongLuong
        </dd>

        @*<dt>
                Loại thanh toán
            </dt>
            <dd>
                Tiến mặt
            </dd>*@
        <dt>
            Số lượng xe
        </dt>

        <dd>
            @oParent.SoKmUocTinh
        </dd>
    </dl>

    <h4 class="modal-title">Danh sách vận đơn con</h4>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover" style="width:100%; table-layout:fixed">
        <thead>
            <tr>
                <th align="center" scope="col" class="header" style="width:4%">
                    Mã vận đơn
                </th>
                @*<th align="center" scope="col" class="header" style="width:4%">
                    Tên hàng
                </th>
                <th align="center" scope="col" class="header" style="width:8%">
                    Điểm đi
                </th>
                <th align="center" scope="col" class="header" style="width:8%">
                    Điểm đến
                </th>
                <th align="center" scope="col" class="header" style="width:5%">
                    Thời gian
                </th>
                <th align="center" scope="col" class="header" style="width:5%">
                    Thành tiền (VNĐ)
                </th>*@
                <th align="center" scope="col" class="header" style="width:5%">
                    Thanh toán
                </th>
                <th align="center" scope="col" class="header" style="width:5%">
                    Danh sách xe
                </th>
                @*<th align="center" scope="col" class="header" style="width:4%">
                    Ngày tạo
                </th>*@
                <th align="center" scope="col" class="header" style="width:4%">
                    Trạng thái
                </th>
                <th align="center" scope="col" class="header" style="width:6%"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int i=0;
                foreach (var item in Model)
                {
                    
                    <tr>
                        <td id="oderId" value="@item.Id">
                            <a title="Mã vận đơn" data-target="#" href='@Url.Action("PopUpDetail", "EOrder", new { id = item.Id })' class="modal-link">@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                            <input type="hidden" id="hdfId_@item.Id" class="hdfId" name="hdfId" value="@item.Id" />
                        </td>
                        <td>
                            @if (item.LoaiThanhToan == 0)
                            {
                                <p>Thu tiền mặt</p>
                            }
                            else
                            {
                                <p>Chuyển khoản</p>
                            }
                        </td>
                        <td style="text-align: center;" id="">

                            @{
                                var x = @dsx[i];
                                i++;
                            }                                        
                            @x

                        </td>
                        <td>
                            @if (item.ThoiGianDi != null)
                            {
                                @Html.Raw(controller.ShowStatusToView(DateTime.Parse(item.ThoiGianDi.ToString()), int.Parse(item.TrackingStatus.ToString()), item.OrderStatus.Value))
                            }
                        </td>
                        <td>
                            @if (item.OrderStatus == 0 && item.TrackingStatus == -1 && item.ThoiGianDi > DateTime.Now)
                            {
                                <button style="border:none; background:none" title="Gửi vận đơn" onclick="LoadDriver('@item.Id')">
                                    <img src="~/Images/icons/arrow_right.png" title="Gửi vận đơn" /> |
                                </button>
                            }
                            @*@if (item.TrackingStatus != 1 && item.TrackingStatus != 5)
                            {
                                <a href='@Url.Action("Edit", "EOrder", new { id = item.Id })'><img src="~/Images/page_white_edit.png" title="Cập nhật" /></a><span>|</span>
                                <a href='@Url.Action("Delete", "EOrder", new { id = item.Id })'><img src="~/Images/icons/bin_closed.png" title="Xóa" /></a>
                            }*@
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="row">
        &nbsp;
    </div>
</div>

<script type="text/javascript">
    //$(function () {
    //    $('#approve-btn').click(function () {
    //        $('#modal-container').modal('hide');
    //    });
    //});
</script>

