﻿@model List<Carrier.Models.Entities.SP_GetCarByDriverId_Result1>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Gán xe cho tài xế";
}
<style type="text/css">
    table.dataTable {
        margin-top: 20px;
    }
</style>
<div class="col-md-12">
    <div class="page-header">
        <h3 style="text-align:center">Gán xe cho tài xế</h3>
    </div>
    <br>
</div>
@using (Html.BeginForm("Index", "DriverCar", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-3 col-sm-3 col-xs-12">
            <div class="pull-left">Nhà xe:</div>
            <div class="pull-right ">
                @Html.DropDownList("OrganizationId", new SelectList(ViewBag.ListOrganization, "Value", "Text"), new { @id = "OrganizationId", @name = "OrganizationId", @class = "form-control", @style = "width: 200px; display: inline;" })
            </div>
        </div>
        <div class="col-sm-3 col-sm-3 col-xs-12">
            Tài xế : <select id="ddlDriver" name="ddlDriver"></select>
        </div>
        <div class="col-sm-4 col-sm-4 col-xs-12">
            <input type="button" name="btnUpdate" class="btn btn-info btn-sm" id="btnUpdate" value="Cập nhật" onclick="Update();" />
        </div>
    </div>
}

<table class="wapperpager table table-bordered table-hover dataTable" id="grvOrder">
    <thead>
        <tr>
            <th class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace cball">
                    <span class="lbl"></span>
                </label>
            </th>
            <th align="center" scope="col" class="header">
                Tên xe
            </th>
            <th align="center" scope="col" class="header">
                Tải trọng
            </th>
            <th align="center" scope="col" class="header">
                Kích thước thùng chứa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="center">
                        <label class="pos-rel">
                            @if (item.Checked.ToString() == "checked")
                            {
                                <input type="checkbox" class="ace cbitem" checked="@item.Checked">
                            }
                            else
                            {
                                <input type="checkbox" class="ace cbitem">
                            }
                            <span class="lbl"></span>
                            <input type="hidden" id="hdfId" class="hdfId" name="hdfId" value="@item.CarId" />
                        </label>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.License)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payload)
                    </td>
                    <td>
                        @item.Leng_Size x @item.Width_Size x @item.Height_Size
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thông báo
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <center><p class="message-content" style="font-weight:bold;color:red" id="message-content"></p></center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Huỷ
                    </button>
                    <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-delete" data-dismiss="modal">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Đồng ý
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdflistIdselected" name="hdflistIdselected" value="" />

<script src="~/assets/js/jquery.2.1.1.min.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/fuelux.spinner.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- BS JavaScript -->
<script src="~/assets/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('.cball').click(function () {
            if ($('.cball').is(":checked")) {
                $('.cbitem').attr('checked', true);
            } else {
                $(this).attr('checked', false);
                $('.cbitem').attr('checked', false);
            }
        });
    });

    function ShowMessage(message) {
        $('#message-content').html(message);
        $('#btn-delete').hide();
        $('#btn-cancel').hide();
        $('#myModal').modal('toggle');
    }

    function OpenPopup(id, message, type) {
        $('#hdflistIdselected').val(id);
        $('#message-content').html(message);
        if (type == 'delete') {
            $('#btn-delete').show();
        }
        if (type == 'changestatus') {
            $('#btn-delete').hide();
        }
        $('#btn-cancel').show();
        $('#myModal').modal('toggle');
    }

    function Update() {
        var listId = "";
        var id;
        $('.cbitem').each(function () {
            if ($(this).is(':checked')) {
                id = $(this).parent().find('input[type="hidden"][name="hdfId"]').val();
                listId = listId + id + ",";
            }
        });
        if (listId.length > 0) {
            if (listId.length > 0) {
                $.ajax({
                    url: "@Url.Action("Update", "DriverCar")",
                    type: "POST",
                    data: { 'listId': listId, 'driverId': $('ddlDriver').val() },
                    dataType: 'json',
                    success: function (data) {
                        $('#myModal').modal('hide');
                        if (data == 'OK') {
                            ShowMessage("Cập nhật thành công");
                            setTimeout(function () { $('#myModal').hide(); }, 1500);
                            location.reload();
                        }
                    },
                    error: function (node) {
                    }
                })
            }
        }
        else {
            ShowMessage("Bạn chưa tích chọn xe nào");
            return false;
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#ddlOrganzation').change(function () {
            var organizationId = $(this).val();

            $.ajax({
                url: '/History/GetListDriverByOrganization',
                data: "{ 'Id': '" + organizationId + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var markup = "<option value='0'>Chọn nhà xe</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#ddlDriver").html(markup).show();
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                failure: function (response) {
                    console.log(response.responseText);
                }
            });
        });

        $('#ddlDriver').change(function () {
            var driverId = $(this).val();
            $.ajax({
                url: '/History/GetListCarByDriverId',
                data: "{ 'DriverId:' " + driverId + ", 'OrganizationId:' " + $('ddlOrganzation').val() + " }",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                failure: function (response) {
                    console.log(response.responseText);
                }
            });
        });
    });
</script>