﻿@model IEnumerable<Carrier.Models.Entities.SP_GetAll_Enterprise_Result>
@using Carrier.Utilities
@{
    ViewBag.Title = "BaoCaoDoanhThu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

<div class="col-md-12">
    <div class="page-header">
        <h4>Thống kê Admin</h4>
    </div>
    @using (Html.BeginForm("BaoCaoDoanhThuAd", "BaoCaoAd", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <p>
            Từ ngày: @Html.TextBox("txtFromDate", "", new { @class = "date-picker", @Style = "width:150px", @id = "txtFromDate", @name = "txtFromDate" })

            Đến ngày: @Html.TextBox("txtToDate", "", new { @class = "date-picker", @Style = "width:150px", @id = "txtToDate", @name = "txtToDate" })
            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin-left:30px" />
            <br /><br />
            Tổng số tiền:  <span id="totalMoney"></span>
        </p>
    }
</div>
<div class="col-md-12" style="margin-top:20px">
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace cball">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>
                    Tên doanh nghiệp
                </th>
                <th>
                    Vận đơn nội bộ
                </th>
                <th>
                    Vận đơn ngoài
                </th>
                <th>
                    Vận đơn chờ
                </th>
                <th>
                  Tổng số xe
                </th>
                <th>
                    Tổng số tài xế
                </th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var item in Model)
            {
                <tr onload="LoadPage(@item.Id)">
                    <td class="center">
                        <label class="pos-rel">
                            <input type="checkbox" class="ace cbitem">
                            <span class="lbl"></span>
                        </label>
                        <input type="hidden" id="hdfId_@item.Id" class="hdfId" name="hdfId" value="@item.Id" />
                    </td>
                    <td id="name_@item.Id"></td>
                    <td id="ordersuccess_@item.Id"></td>
                    <td id="orderOut_@item.Id"></td>
                    <td id="orderpending_@item.Id"></td>
                    <td id="totalCar_@item.Id"></td>
                    <td id="totalDriver_@item.Id"></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    var sumOrderIn = 0, sumOrderOut = 0, sumMoneyIn = 0, sumMoneyOut = 0, sumMoneyVat = 0,
        sumMoneyNoVat = 0, sumTienMat = 0, sumChuyenKhoan = 0;
    $(document).ready(function () {
        var money = $("#money").html();
        if (money == "") {
            $("#totalMoney").text("0");
        } else {
            $("#totalMoney").text(money);
        }
        $("#sumMoneyOut").val(sumMoneyOut);
    });
    $('#dynamic-table tbody tr td:first-child').each(function () {
        var id = $(this).find('input[type="hidden"][name="hdfId"]').attr('value');
        var fromDate = $('#txtFromDate').val();
        var toDate = $('#txtToDate').val();
        if ("@ViewBag.FromDate" != "" && "@ViewBag.ToDate" != "") {
            fromDate ="@ViewBag.FromDate";
            toDate = "@ViewBag.ToDate";
        } else {
            fromDate = "";
            toDate = "";
        }
        $.ajax({
            url: "@Url.Action("ProfitByUserId", "BaoCaoAd")",
            type: "GET",
            data: { 'id': id, 'fromDate': fromDate, 'toDate': toDate },
            dataType: 'json',
            success: function (data) {
                if (data) {
                    var etName = data.EnterpriseName != null ? data.EnterpriseName : "";
                    var ordersuccess = data.TotalOrderSuccess != null ? data.TotalOrderSuccess : 0;
                    var orderOut = data.TotalOrderSuccessOut != null ? data.TotalOrderSuccessOut : 0;
                    var orderPending = data.TotalOrderPending != null ? data.TotalOrderPending : 0;
                    var totalCar = data.ToTalCar != null ? data.ToTalCar : 0;
                    var totalDriver = data.ToTalDrivers != null ? data.ToTalDrivers : 0;

                    $("#name_" + id).html(etName);
                    $("#ordersuccess_" + id).html(ordersuccess);
                    $("#orderOut_" + id).html(orderOut);
                    $("#orderpending_" + id).html(orderPending);
                    $("#totalCar_" + id).html(totalCar);
                    $("#totalDriver_" + id).html(totalDriver);
                }
            },
            error: function (node) {
            }
        });

    });
</script>
@section Scripts{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
}
@section ScriptsBottom{
    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = "KhopLenh";
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
    </script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>

    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/js/jquery.knob.min.js"></script>
    <script src="~/assets/js/jquery.autosize.min.js"></script>
    <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/js/bootstrap-tag.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-date').mask('99/99/9999');
            $('.input-mask-phone').mask('(999) 999-9999');
        });

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
    </script>
}

<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
        $('#dynamic-table')
        .dataTable({
            bAutoWidth: false,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null, 
              { "bSortable": false }
            ],
            "aaSorting": [],
            "pageLength": 100
        });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
        .prependTo('.tableTools-container .btn-group')
        .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
        .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
        .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
        .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>
