﻿@using CMS.Carrier.Models
@using Carrier.Utilities
@model IEnumerable<RevenueViewModel>
@using Carrier.Utilities
@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thống kê doanh thu";
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
        </li>
    </ul>
}
<div class="col-md-12">
    <div class="page-header">
        <h4>Thống kê doanh thu</h4>
    </div>
    @using (Html.BeginForm("Index", "ERevenue", FormMethod.Get))
    {
        <p>
            Từ ngày: @Html.TextBox("txtFromDate", "", new { @class = "date-picker", @Style = "width:150px", @id = "txtFromDate", @name = "txtFromDate" })

            Đến ngày: @Html.TextBox("txtToDate", "", new { @class = "date-picker", @Style = "width:150px", @id = "txtToDate", @name = "txtToDate" })

            @if (ViewBag.ListDriver != null)
            {
                @Html.Raw("Tài xế: ")
                @Html.DropDownList("ddlDriver", new SelectList(ViewBag.ListDriver, "Value", "Text"), new { @id = "ddlDriver", @name = "ddlDriver", @class = "form-control", @Style = "width:250px;display: inline;" })
            }

            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" />
        </p>
    }
</div>
<table class="wapperpager table table-bordered table-hover dataTable">
    <tr>
        <th>
            Ngày tạo
        </th>
        <th>
            Account
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Giá
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CrateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
        </tr>
    }
</table>
<script src="~/scripts/jquery1.12.4.min.js"></script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/fuelux.spinner.min.js"></script>

<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/daterangepicker.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>
<script>
    $(document).ready(function () {

        $('#OrganizationId').change(function () {
            var organizationId = $(this).val();

            $.ajax({
                url: '/EHistory/GetDriverByOrganizationId',
                data: "{ 'Id': '" + organizationId + "'}",
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var markup = "<option value='0'>Select City</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#ddlDriver").html(markup).show();
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                failure: function (response) {
                    console.log(response.responseText);
                }
            });
        });
    });
</script>

@*<script src="~/scripts/jquery1.12.4.min.js"></script>*@
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<style type="text/css">
    .ui-widget-content {
        border: 1px solid #c5c5c5;
        width: 250px !important;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    })
</script>

