﻿@using Carrier.Models.Entities;
@using Carrier.Utilities;
@model IEnumerable<SP_GetAllUserByRoleName_Result>
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
    <thead>
        <tr style="background-color:#F2F2F2">
            <th>
                #
            </th>
            <th>
                Tên đăng nhập
            </th>
            <th>
                Email
            </th>
            <th>
                Tài khoản chính
            </th>
            <th>
                Tài khoản thưởng
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Ngày tạo
            </th>
            <th style="width:300px">Liên hệ</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" /></td>
                <td>
                    @if (item.RoleId == "5")
                    {
                        <a href='@Url.Action("ProfileDriver", "UsersAdmin", new { userid = item.ApplicationUserID })' class="modal-link">@item.UserName</a>
                    }
                    else if (item.RoleId == "4")
                    {
                        <a href='@Url.Action("ProfileUser", "UsersAdmin", new { userid = item.ApplicationUserID })' class="modal-link">@item.UserName</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.UserName)
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <a href='@Url.Action("NapTien", "UsersAdmin", new { userid = item.ApplicationUserID })'>
                        @if (item.Balance != 0)
                        {
                            @Ultilities.ConvertToCurrency(item.Balance.Value)
                        }
                        else
                        {
                            @item.Balance
                        }
                    </a>
                </td>
                <td>
                    <a href='@Url.Action("NapTien", "UsersAdmin", new { userid = item.ApplicationUserID })'>
                        @if (item.Commission != 0)
                        {
                            @Ultilities.ConvertToCurrency(item.Commission.Value)
                        }
                        else
                        {
                            @item.Commission
                        }
                    </a>
                </td>
                <td>
                    @if (item.Status == PublicConstant.STATUS_PENDING)
                    {
                        <span>Đang chờ</span>
                    }
                    else if (item.Status == PublicConstant.STATUS_ACTIVE)
                    {
                        <span>Đã kích hoạt</span>
                    }
                    else if (item.Status == PublicConstant.STATUS_DEACTIVE)
                    {
                        <span>Đã khóa</span>
                    }
                </td>
                <td>@item.Created_At</td>
                <td>
                    <p>Tên đầy đủ: @Html.DisplayFor(modelItem => item.FullName)</p>
                    <p>Số điện thoại: @Html.DisplayFor(modelItem => item.MobilePhone)</p>
                </td>

                <td>
                    <a href='@Url.Action("Edit","UsersAdmin",new { id = item.Id })'><img src="~/Images/exchange-32.png" title="Cập nhật quyền tài khoản" /></a> |
                    <a href='@Url.Action("Delete","UsersAdmin",new { id = item.Id })'><img src="~/Images/icons/bin_closed.png" title="Xóa tài khoản" /></a>|
                    @if (item.Status == PublicConstant.STATUS_PENDING)
                    {
                        <a onclick="Changelock(@item.Id)"><img src="~/Images/accept.png" title="Kích hoạt tài khoản" /></a>
                    }
                    else if (item.Status == PublicConstant.STATUS_ACTIVE)
                    {
                        <a onclick="Changelock(@item.Id)"><img src="~/Images/icons/lock.png" title="Khóa tài khoản" /></a>
                    }
                    else if (item.Status == PublicConstant.STATUS_DEACTIVE)
                    {
                        <a onclick="Changelock(@item.Id)"><img src="~/Images/icons/lock_unlock.png" title="Mở khóa tài khoản" /></a>
                    }
                    <button class="btn btn-xs btn-danger" title="Đặt lại mật khẩu" onclick="resetPass('@item.ApplicationUserID')">
                        <i class="ace-icon fa fa-key align-top bigger-120"></i>
                    </button>
                    @if (item.RoleId == "5")
                    {
                        <a href='@Url.Action("EditDriver", "UsersAdmin", new { userid = item.ApplicationUserID })'><img src="~/Images/icons/page_white_edit.png" title="Cập nhật thông tin tài xế" /></a>
                    }
                    @if (item.RoleId == "4")
                    {
                        <a href='@Url.Action("EditUser", "UsersAdmin", new { userid = item.ApplicationUserID })'><img src="~/Images/edit-24.png" title="Cập nhật thông tin user" /></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
            $('#dynamic-table')
                .dataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        { "bSortable": false },
                        null, null, null, null, null, null,null,
                        { "bSortable": false }
                    ],
                    "aaSorting": [],
                    "pageLength": 100
                });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
            .prependTo('.tableTools-container .btn-group')
            .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
            .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
            .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
            .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })

    function resetPass(Id) {
        window.location.href = '@Url.Action("ResetPassword", "UsersAdmin")' + "?id=" + Id;
    }
</script>
