﻿@model Carrier.CMS.Models.UserViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
<style type="text/css">
    .tbform td {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Admin/UsersAdmin">Danh sách tài khoản</a>
        </li>
        <li class="">
            <a href="/Admin/UsersAdmin/Create">Thêm mới tài khoản</a>
        </li>
    </ul>
}
@using (Html.BeginForm("Create", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <table style="width:100%;">
        <tr>
            <td valign="top" style="width:50%">
                <table class="tbform" style="width:100%">
                    <tr>
                        <td>Tên đăng nhập:</td>
                        <td>@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @name = "UserName", @id = "UserName" })</td>
                        <div class="form-group">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <span class="lb-Check" id="UserName_NULL" style="margin-left: 0px; color:red"></span>
                            </div>
                        </div>
                    </tr>
                    <tr style="height:30px"><td colspan="2"></td></tr>
                    <tr>
                        <td>Mật khẩu đăng nhập:</td>
                        <td>@Html.PasswordFor(m => m.PassWord, new { @class = "form-control", @name = "Password", @id = "Password", @type = "password" })</td>
                        <div class="form-group">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <span class="lb-Check" id="Password_NULL" style="margin-left: 0px; color:red"></span>
                            </div>
                        </div>
                    </tr>
                    <tr style="height:30px"><td colspan="2"></td></tr>
                    <tr>
                        <td>Xác nhận mật khẩu:</td>
                        <td>
                            @Html.PasswordFor(m => m.ConfrimPassWord, new { @class = "form-control", @name = "ConfirmPassword", @id = "ConfirmPassword", @type = "password" })
                        </td>
                        <div class="form-group">
                            <div class="col-md-5"></div>
                            <div class="col-md-7">
                                <span class="lb-Check" id="ConfirmPassword_NULL" style="margin-left: 0px; color:red"></span>
                            </div>
                        </div>
                    </tr>
                    <tr style="height:30px"><td colspan="2"></td></tr>
                    <tr>
                        <td>Email:</td>
                        <td>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr style="height:30px"><td colspan="2"></td></tr>
                    <tr>
                        <td>Quyền đăng nhập:</td>
                        <td>
                            @if (ViewBag.RoleId != null)
	                        {
                                foreach (var item in (SelectList)ViewBag.RoleId)
                                {
                                    <input type="checkbox" name="SelectedRoles" value="@item.Value" class="checkbox-inline cbrole" />
                                    @Html.Label(item.Value, new { @class = "control-label" }) <br />
                                }
                            }
                            
                        </td>
                    </tr>

                    <tr style="height:30px">
                        <td colspan="2"></td>
                    </tr>

                </table>
            </td>
            <td valign="top">
                <table class="tbform" style="width:100%;text-align:right;">
                    <tr>
                        <td>Tên đầy đủ:</td>
                        <td>
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>@Html.TextBoxFor(m => m.Address, new { @class = "form-control", @name = "Address", @id = "Address" })</td>
                    </tr>
                    <tr style="height:30px"><td colspan="2"></td></tr>

                    <tr>
                        <td>Số điện thoại(cố định):</td>
                        <td>
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr style="height:30px"><td colspan="2"></td></tr>
                    <tr>
                        <td>Số điện thoại(di động):</td>
                        <td>
                            @Html.TextBoxFor(m => m.MobilePhone, new { @class = "form-control" })
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr style="height:30px"><td colspan="2"></td></tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <input type="submit" class="btn btn-info btn-sm" value="Thêm mới tài khoản" id="btnSubmit" /> |
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
            </td>
        </tr>
    </table>
}
<script src="~/scripts/jquery1.12.4.min.js"></script>
@*google map*@
<script src="~/scripts/jquery1.12.4.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
        async defer></script>
<script>
    $(document).ready(function () {
        $('#Address').keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });
        $('#btnSubmit').click(function () {
            if ($('#ConfirmPassword').val() == "") {
                $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại không được để trống!');
                return false;
            } else {
                $('#ConfirmPassword_NULL').html('');
            }
            if ($('#Password').val() != $('#ConfirmPassword').val()) {
                $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại phải giống mật khẩu!');
                return false;
            } else {
                $('#ConfirmPassword_NULL').html('');
            }
            var userName = $('#UserName').val();
            var filter = /^([a-zA-Z0-9\.\-_?@@]+)$/;
            if (!filter.test(userName.value)) {
                $('#UserName_NULL').html('Tài khoản k được kí tự đặc biệt!');
                return false;
            } else {
                $('#UserName_NULL').html('');
            }

        })
    });
    //function checkUserName() {
    //     var userName = $('#UserName').val();
    //     var filter = /[a-zA-Z0-9]/;
    //    //if (!filter.search(userName.value)) {
    //    if(userName.match(filter)){
    //         alert("ok");
    //         return false;
    //     }
    // };

    function initMap() {
        var input = document.getElementById('Address');
        var originAutocomplete = new google.maps.places.Autocomplete(input, { placeIdOnly: true });
    }
</script>
@*google map*@
<script>
    function validateForm() {
        return true;
    }
    function removeunicode(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        // Gộp nhiều dấu space thành 1 space
        str = str.replace(/\s+/g, '');
        // loại bỏ toàn bộ dấu space (nếu có) ở 2 đầu của xâu
        str.trim();
        return str;
    }
    $(document).ready(function () {
        $("#UserName").keypress(function () {
            $("#UserName").val(removeunicode($("#UserName").val()));
        });

        // only check one role
        $('.cbrole').on('change', function () {
            $('.cbrole').not(this).prop('checked', false);
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
