﻿@model Carrier.CMS.Models.ApplicationUser
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
@{
    ViewBag.Title = "Xóa người dùng";
}
<div>
    <h3>Bạn có chắc chắn muốn xóa tài khoản <span style="color:red">@Html.DisplayFor(model => model.UserName)</span> không?</h3>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-info btn-sm" /> |
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
        </div>
    }
</div>
