﻿@using Carrier.CMS.Common;
@model Carrier.Models.Entities.Driver
@{
    ViewBag.Title = "Sửa thông tin tài xế";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Cập nhật thông tin tài xế</h4>
</div>
<div class="modal-body">

    @using (Html.BeginForm("EditDriver", "UsersAdmin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreate" }))
    {
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => Model.Id)
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Tên tài xế</label>
                    <div class="col-sm-9">
                        @Html.TextBox("Name", Model.Name, new { @class = "form-control", @name = "Name", @id = "Name" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <span class="lb-Check" id="Name_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Địa chỉ</label>
                    <div class="col-sm-9">
                        @Html.TextBox("Address", Model.Address, new { @class = "form-control", @name = "Address", @id = "Address" })

                        <div style="border: 1px solid gray; height:400px; margin-top:20px; display:none" id="map">
                        </div>
                        @*<div id="infowindow-content">
                                <img src="" width="16" height="16" id="place-icon">
                                <span id="place-name" class="title"></span><br>
                                <span id="place-address"></span>
                            </div>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <span class="lb-Check" id="Address_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Điện thoại liên hệ</label>
                    <div class="col-sm-9">
                        @Html.TextBox("Phone", Model.Phone, new { @class = "form-control input-mask-phone", @name = "Phone", @id = "Phone" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <span class="lb-Check" id="Phone_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Giới tính</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("Sex", new SelectListItem[]{
                         new SelectListItem() {Text = "Nữ", Value="Nữ"},
                        new SelectListItem() {Text = "Nam", Value="Nam"},
                        }, new { @id = "Sex", @name = "Sex", @class = "form-control", @Style = "width:100%" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <span class="lb-Check" id="Sex_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Ngày sinh</label>
                    <div class="col-sm-9 form-inline">
                        @Html.TextBox("BirthDay", Model.BirthDay, new { @class = "date-picker form-control", @Style = "width:100%", @id = "BirthDay", @name = "BirthDay" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <span class="lb-Check" id="BirthDay_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Ảnh mặt trước</label>
                    <div class="col-sm-9 form-inline">
                        <input type="file" name="Front_Image" id="Front_Image" style="width: 100%;" /><br>
                        @if (Model.Front_Image != null)
                        {
                            <div class="divimage">
                                <img src="@Model.Front_Image" width="150" />
                            </div>
                        }
                        <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <span class="lb-Check" id="Front_Image_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right">Ảnh mặt sau</label>
                    <div class="col-sm-9 form-inline">
                        <input type="file" name="Back_Image" id="Back_Image" style="width: 100%;" /><br>
                        @if (Model.Back_Image != null)
                        {
                            <div class="divimage">
                                <img src="@Model.Back_Image" width="150" />
                            </div>
                        }
                        <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <span class="lb-Check" id="Back_Image_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        <input type="submit" id="btnEdit" value="Cập nhật" class="btn btn-info btn-sm" />
                        &nbsp;&nbsp;
                        @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
                    </div>
                </div>
            </div>
        }

    }

    @*<div class="row">
            <div class="col-md-offset-2 col-md-10">
                <button value="Luu" class="btn btn-default" onclick="EditProfileDriver()">Lưu</button>
            </div>
        </div>*@
</div>
@*google map*@
<script src="~/scripts/jquery-3.1.1.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
        async defer></script>
<script>
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        mapTypeControl: false,
                        center: {lat: 21.027764, lng: 105.834160},
                        zoom: 17
                    });

                    var input = document.getElementById('Address');
                    var autocomplete = new google.maps.places.Autocomplete(input);
                    autocomplete.bindTo('bounds', map);

                    var infowindow = new google.maps.InfoWindow();
                    var infowindowContent = document.getElementById('infowindow-content');
                    infowindow.setContent(infowindowContent);
                    var marker = new google.maps.Marker({
                        map: map,
                        anchorPoint: new google.maps.Point(0, -29)
                    });

                    autocomplete.addListener('place_changed', function() {
                        infowindow.close();
                        marker.setVisible(false);
                        var place = autocomplete.getPlace();
                        if (!place.geometry) {
                            window.alert("địa chỉ nhập vào không tồn tại: '" + place.name + "'");
                            return;
                        }

                        if (place.geometry.viewport) {
                            map.fitBounds(place.geometry.viewport);
                        } else {
                            map.setCenter(place.geometry.location);
                            map.setZoom(17);
                        }
                        marker.setPosition(place.geometry.location);
                        marker.setVisible(true);

                        infowindow.open(map, marker);
                    });

                    loadLocation(map,@Model.Lat, @Model.Lng);
                }

                function loadLocation(map,lat, lng) {
                    var mapSrc =map;
                    var pos = {
                        lat: parseFloat(lat),
                        lng: parseFloat(lng)
                    };

                    mapSrc.setCenter(pos);

                    var marker = new google.maps.Marker({
                        map: mapSrc,
                        position:  {lat: parseFloat(lat) , lng: parseFloat(lng)},
                        draggable: false,
                        size : new google.maps.Size(12, 32)
                    });
                }
</script>
@*google map*@
<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />

<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>


