﻿@using Carrier.CMS.Models;
@using Carrier.Utilities;
@model IEnumerable<UserViewModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Admin/UsersAdmin">Danh sách tài khoản</a>
        </li>
    </ul>
}
<div class="page-header">
    <h1>Danh sách tài khoản</h1>
</div>
<p style="text-align:right">
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-info btn-sm" })
    <a href="#" title="Xóa tất cả đã chọn"><img src="~/Images/icons/bin_closed.png" /></a>
    <a href="#" title="Khóa tất cả đã chọn"><img src="~/Images/icons/lock.png" /></a>
    <a href="#" title="Kích hoạt tất cả đã chọn"><img src="~/Images/icons/lock_unlock.png" /></a>
</p>

<div class="tabbable">
    <ul class="nav nav-tabs" id="myTab">
        <li class="active">
            <a data-toggle="tab" href="#trade_users" aria-expanded="true">
                <i class="green ace-icon fa fa-exchange bigger-120"></i>
                Thành viên
            </a>
        </li>

        <li class="">
            <a data-toggle="tab" href="#trade_drivers" aria-expanded="false">
                Tài xế
            </a>
        </li>
        <li class="">
            <a data-toggle="tab" href="#trade_enterprise" aria-expanded="false">
                Enterprise
            </a>
        </li>

        <li class="">
            <a data-toggle="tab" href="#trade_forwarder" aria-expanded="false">
                Forwarder
            </a>
        </li>

        <li class="">
            <a data-toggle="tab" href="#trade_admin" aria-expanded="false">
                Admin
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="partialUser" class="tab-pane fade in active">
        </div>
        <div id="partialDriver" class="tab-pane fade">
        </div>
        <div id="partialEnterprise" class="tab-pane fade">
        </div>
        <div id="partialForwarder" class="tab-pane fade">
        </div>
        <div id="partialAdmin" class="tab-pane fade">
        </div>
    </div>
</div>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thông báo
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <center><p class="message-content" style="font-weight:bold;color:red" id="message-content"></p></center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Huỷ
                    </button>
                    <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-delete" data-dismiss="modal">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Đồng ý
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdflistIdselected" name="hdflistIdselected" value="" />

<script>
    function Changelock(id) {
        //console.log($(this).val())
        $.ajax({
            url: "@Url.Action("ChangeLockout", "UsersAdmin")",
            type: "POST",
            data: { 'id': id },
            dataType: 'json',
            success: function (node) {
                if (node.success) {
                    alert("Đã thay đổi trạng thái thành công");
                    location.reload();
                    //your success callback logic goes here
                    //window.location.reload()
                } else alert("Đã mở khóa người dùng!");
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        ReloadDataUser();
    });
    function ReloadDataUser() {
        $.ajax({
            url: '@Url.Action("ListUser", "UsersAdmin")',
            type: "GET",
            dataType: "html",
            data: { ddlRole: "4" },
            success: function (data) {
                $('#partialUser').html(data);
            },
        });
    }
    function ReloadDataDriver() {
        $.ajax({
            url: '@Url.Action("ListUser", "UsersAdmin")',
            type: "GET",
            dataType: "html",
            data: { ddlRole: "5" },
            success: function (data) {
                $('#partialDriver').html(data);
            },
        });
    }
    function ReloadDataEnterprise() {
        $.ajax({
            url: '@Url.Action("ListUser", "UsersAdmin")',
            type: "GET",
            dataType: "html",
            data: { ddlRole: "3" },
            success: function (data) {
                $('#partialEnterprise').html(data);
            },
        });
    }
    function ReloadDataForwarder() {
        $.ajax({
            url: '@Url.Action("ListUser", "UsersAdmin")',
            type: "GET",
            dataType: "html",
            data: { ddlRole: "6" },
            success: function (data) {
                $('#partialForwarder').html(data);
            },
        });
    }
    function ReloadDataAdmin() {
        $.ajax({
            url: '@Url.Action("ListUser", "UsersAdmin")',
            type: "GET",
            dataType: "html",
            data: { ddlRole: "2" },
            success: function (data) {
                $('#partialAdmin').html(data);
            },
        });
    }

    function resetPass(Id) {
        window.location.href = '@Url.Action("ResetPassword", "UsersAdmin")' + "?id=" + Id;
    }
    jQuery(function ($) {
        $('#myTab a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            console.log(e.target.getAttribute("href"));
            if (e.target.getAttribute("href") == '#trade_users') {
                $('#partialUser').addClass('in active');
                $('#partialDriver').removeClass('in active');
                $('#partialDriver').empty();
                $('#partialEnterprise').removeClass('in active');
                $('#partialEnterprise').empty();
                $('#partialForwarder').removeClass('in active');
                $('#partialForwarder').empty();
                $('#partialAdmin').removeClass('in active');
                $('#partialAdmin').empty();
                ReloadDataUser();
            }
            else if (e.target.getAttribute("href") == '#trade_drivers') {
                $('#partialDriver').addClass('in active');
                $('#partialUser').removeClass('in active');
                $('#partialUser').empty();
                $('#partialEnterprise').removeClass('in active');
                $('#partialEnterprise').empty();
                $('#partialForwarder').removeClass('in active');
                $('#partialForwarder').empty();
                $('#partialAdmin').removeClass('in active');
                $('#partialAdmin').empty();
                ReloadDataDriver();
            }
            else if (e.target.getAttribute("href") == '#trade_enterprise') {
                $('#partialEnterprise').addClass('in active');
                $('#partialDriver').removeClass('in active');
                $('#partialDriver').empty();
                $('#partialUser').removeClass('in active');
                $('#partialUser').empty();
                $('#partialForwarder').removeClass('in active');
                $('#partialForwarder').empty();
                $('#partialAdmin').removeClass('in active');
                $('#partialAdmin').empty();
                ReloadDataEnterprise();
            }
            else if (e.target.getAttribute("href") == '#trade_forwarder') {
                $('#partialForwarder').addClass('in active');
                $('#partialDriver').removeClass('in active');
                $('#partialDriver').empty();
                $('#partialEnterprise').removeClass('in active');
                $('#partialEnterprise').empty();
                $('#partialUser').removeClass('in active');
                $('#partialUser').empty();
                $('#partialAdmin').removeClass('in active');
                $('#partialAdmin').empty();
                ReloadDataForwarder();
            }
            else if (e.target.getAttribute("href") == '#trade_admin') {
                $('#partialAdmin').addClass('in active');
                $('#partialDriver').removeClass('in active');
                $('#partialDriver').empty();
                $('#partialEnterprise').removeClass('in active');
                $('#partialEnterprise').empty();
                $('#partialForwarder').removeClass('in active');
                $('#partialForwarder').empty();
                $('#partialUser').removeClass('in active');
                $('#partialUser').empty();
                ReloadDataAdmin();
            }
        });
    });

    // Cập nhật thông tin tài xế
    function EditProfileDriver() {
        var dataT = $("#editProfileDriverForm").serialize();
        $.ajax({
            url: '@Url.Action("EditProfileDriver","UsersAdmin")',
            dataType: "json",
            type: "GET",
            ntntType: 'application/json',
            data: dataT,
            success: function (result) {

                if (result == 'OK') {
                    //ShowMessage("Cập nhật thành công");
                    //setTimeout(function () { $('#myModal2').hide(); }, 1500);
                    location.reload();
                    toastr.success("Cập nhật thành công");
                }
            },
            error: function (req, status, error) {
                // do something with error
                alert('error');
            }
        });
    };
    // Cập nhật thông tin User
    function EditUserSubmit() {
        var dataT = $("#editProfileUserForm").serialize();
        $.ajax({
            url: '@Url.Action("EditProfileUser", "UsersAdmin")',
            dataType: "json",
            type: "GET",
            ntntType: 'application/json',
            data: dataT,
            success: function (result) {

                if (result == 'OK') {
                    //ShowMessage("Cập nhật thành công");
                    //setTimeout(function () { $('#myModal2').hide(); }, 1500);
                    location.reload();
                    toastr.success("Cập nhật thành công");
                }
            },
            error: function (req, status, error) {
                // do something with error
                alert('error');
            }
        });
    };
</script>

@section ScriptsBottom{

    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = "KhopLenh";
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
    </script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>

    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/js/jquery.knob.min.js"></script>
    <script src="~/assets/js/jquery.autosize.min.js"></script>
    <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/js/bootstrap-tag.min.js"></script>
}