﻿
@{
    ViewBag.Title = "NapTien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
<style>
    .form-horizontal {
        border-radius: 4px;
        padding-left: 10px;
        padding-top: 15px;
    }

    .btn-primary {
        color: black !important;
        background-color: white !important;
        border-color: #357ebd !important;
    }
</style>
@using (Html.BeginForm("NapTien", "UsersAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
            <div class="center wow fadeInDown">
                <h2 style="text-align:center">Nạp tiền</h2>
                <hr style="height:2px;width:180px;border:none;color:#333;background-color:#c52d2f;" />
            </div>
            <div class="form-horizontal">
                <input type="hidden" id="hf-Type" name="hf-Type" value="1" />
                <div class="form-group">
                    @*<label class="control-label col-md-4" style="font-size:25px">@TempData["USERNAME"]</label>*@
                    @*<div class="col-md-8" style="font-size:25px">
                        @TempData["FULLNAME"]
                    </div>*@
                    <h2 style="text-align:center">@TempData["FULLNAME"]</h2>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Chọn hình thức nạp</label>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active" style="margin-left:10px" onclick="ChooseTKChinh()">
                            <input type="radio" name="rdtype1" value="" id="rdtype1" autocomplete="off" checked>Tài khoản chính
                        </label>
                        <label id="lb2" class="btn btn-primary" onclick="ChooseTKThuong()">
                            <input type="radio" name="rdtype2" id="rdtype2" autocomplete="off"> Tài khoản thưởng
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Số tiền</label>
                    <div class="col-md-8" style="width:300px">
                        <input type="text" name="txtmonney" id="txtmonney" class="form-control" value="" />
                        <input type="text" id="txtNewmonney" name="txtNewmonney" class="form-control" value="" />
                        <span id="txtChu"></span>
                        <span class="txtmonney text-danger"></span>
                        <input type="hidden" name="userid" id="userid" value="@ViewBag.userid" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-8" style="width:300px">
                        <input type="submit" id="btnChange" value="Nạp tiền" class="btn btn-default" style="background: #0066c0; color: #FFF;" />&nbsp;
                        <a href="@Url.Action("Index","UsersAdmin")" class="btn btn-default">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
}
<div id="divProcessing" style="height:1000px;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
    <img style="position: absolute;top: 50%;" src="~/Images/processing.gif" alt="" width="70" height="70" />
</div>

<script>
    function ChooseTKChinh() {
        $('#hf-Type').val('1');
    }
    function ChooseTKThuong() {
        $('#hf-Type').val('0');
    }
    $(document).ready(function () {
        $("#divProcessing").hide();
        $("#txtNewmonney").hide();
        $('#btnChange').click(function () {
            $("#divProcessing").show();
            var bCheck = true;
            if ($('#txtmonney').val() == '') {
                $('.txtmonney').text('Bạn chưa nhập số tiền muốn nạp')
                bCheck = false;
            } else {
                $('.txtmonney').text('');
            }
            var money = $('#txtmonney').val();
            if (isNaN($('#txtmonney').val())) {
                $('.txtmonney').text('số tiền nạp phải là số');
                bCheck = false;
            } else {
                $('.txtmonney').text('');
            }

            $("#divProcessing").show();
        });
    });
    $('#txtmonney').on('change', function () {
        if ($('#txtmonney').val) {
            var value = $("#txtmonney").val();
            $('#txtChu').html(capitalizeFirstLetter(DOCSO.doc(value)));
        }
        var money = $('#txtmonney').val();
        var tien = parseFloat(money);
        $('#txtNewmonney').val(tien.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
        $('#txtNewmonney').show();
        $('#txtmonney').hide();
    });
    $('#txtNewmonney').on('change', function () {
        if ($('#txtNewmonney').val) {
            var value = $("#txtNewmonney").val();
            $('#txtChu').html(capitalizeFirstLetter(DOCSO.doc(value)));
        }
        var money = $('#txtNewmonney').val();
        $('#txtmonney').val(money);
        $('#txtmonney').hide();
        var tien = parseFloat(money);
        $('#txtNewmonney').val(tien.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
        $('#txtNewmonney').show();
    });
    /**
* Đọc số thành chữ (Vietnamese)
* DOCSO.doc( 123 );
*/
    var DOCSO = function () { var t = ["không", "một", "hai", "ba", "bốn", "năm", "sáu", "bảy", "tám", "chín"], r = function (r, n) { var o = "", a = Math.floor(r / 10), e = r % 10; return a > 1 ? (o = " " + t[a] + " mươi", 1 == e && (o += " mốt")) : 1 == a ? (o = " mười", 1 == e && (o += " một")) : n && e > 0 && (o = " lẻ"), 5 == e && a >= 1 ? o += " lăm" : 4 == e && a >= 1 ? o += " tư" : (e > 1 || 1 == e && 0 == a) && (o += " " + t[e]), o }, n = function (n, o) { var a = "", e = Math.floor(n / 100), n = n % 100; return o || e > 0 ? (a = " " + t[e] + " trăm", a += r(n, !0)) : a = r(n, !1), a }, o = function (t, r) { var o = "", a = Math.floor(t / 1e6), t = t % 1e6; a > 0 && (o = n(a, r) + " triệu", r = !0); var e = Math.floor(t / 1e3), t = t % 1e3; return e > 0 && (o += n(e, r) + " nghìn", r = !0), t > 0 && (o += n(t, r)), o }; return { doc: function (r) { if (0 == r) return t[0]; var n = "", a = ""; do ty = r % 1e9, r = Math.floor(r / 1e9), n = r > 0 ? o(ty, !0) + a + n : o(ty, !1) + a + n, a = " tỷ"; while (r > 0); return n.trim() } } }();
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
    function commaSeparateNumber(val) {
        while (/(\d+)(\d{3})/.test(val.toString())) {
            val = val.toString().replace(/(\d+)(\d{3})/, '$1' + '.' + '$2');
        }
        return val;
    }
</script>
