﻿@using Carrier.CMS.Common;
@model Carrier.Models.Entities.Driver
<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Cập nhật thông tin tài xế</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editProfileDriverForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id);
            <div class="form-group">
                @Html.Label("Họ và tên", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Điện thoại liên hệ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Giới tính", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sex, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Năm sinh", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BirthDay, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.BirthDay, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Ảnh CMT", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    <div class="divimage">
                        <img src="@Model.Front_Image" width="150" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="divimage">
                        <img src="@Model.Back_Image" width="150" />
                    </div>
                </div>
            </div>

        </div>
    }



    @*<div class="row">
            <div class="col-md-offset-2 col-md-10">
                <button value="Luu" class="btn btn-default" onclick="EditProfileDriver()">Lưu</button>
            </div>
        </div>*@
</div>
<script type="text/javascript">
                                //$(function () {
                                //    $('#approve-btn').click(function () {
                                //        $('#modal-container').modal('hide');
                                //    });
                                //});
</script>


