﻿
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

<style>
    .form-horizontal {
        border-radius: 4px;
        padding-left: 10px;
        padding-top: 15px;
    }
</style>
@using (Html.BeginForm("ResetPassword", "UsersAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
            <div class="center wow fadeInDown">
                <h2 style="text-align:center">Reset mật khẩu</h2>
                <hr style="height:2px;width:180px;border:none;color:#333;background-color:#c52d2f;" />
            </div>
            <div class="col">
                <label class="control-label col-md-4">Mật khẩu mới</label>
                <input type="text" name="Newpass" id="txtNewpass" value="" style="width:200px" />
                <button class="btn btn-xs btn-danger" title="Đặt lại mật khẩu" id="resetPass">
                    <i class="ace-icon fa fa-key align-top bigger-120"></i>
                </button>
                <span class="txtNewpass text-danger"></span>

            </div>

            <div class="col">
                <label class="control-label col-md-4"></label>
                <div class="col-md-8" style="width:300px; margin-top:30px">
                    <input type="submit" id="btnChange" value="Reset mật khâu" class="btn btn-primary" style="background: #0066c0; color: #FFF;" />
                </div>
            </div>
        </div>

        <div class="col-lg-3"></div>
    </div>
}
<div>
    @Html.ActionLink("Trở lại danh sách", "Index")
</div>
<script>
  
    $(document).ready(function () {
        //var newssPass = $("#txtNewpass").val();
        $("#resetPass").bind("click", (function (e) {
            $.ajax({
                method: "GET",
                contentType: "application/json",
                url: "@Url.Action("setPassword", "UsersAdmin")",
                //data: { 'newssPass': pass },
                success: function (result) {
                    {
                        $("#txtNewpass").val(result);
                    }
                },
                error: function (req, status, error) {
                    // do something with error
                }
            });
            return false;
        }));
    });
</script>



