﻿@using Carrier.Models.Entities;
@using Carrier.CMS.Common;
@using Carrier.CMS.Models;
@*@using Susoft.CMS.Controllers;*@
@model IEnumerable<CategoriesViewModel> 

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

<h2>Index</h2>

<p style="margin-top: 10px;">
    @Html.ActionLink("Thêm mới", "Create", "Categories", null, new { @class = "btn btn-info btn-sm" })
</p>
<table class="wapperpager table table-bordered table-hover dataTable">
    <tr>
        <th>
            Tên chuyên mục
        </th>
        <th>
            Linh liên kết
        </th>
        <th>
            Menu
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Chuyên mục cha
        </th>
        <th>
            Người tạo
        </th>
        <th>
            Ngày tạo
        </th>
        <th></th>
        <th>
            Ngày cập nhật
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoryInfo.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoryInfo.URL)
        </td>
        <td>
            @item.isMenu.ToString()
        </td>
        <td>
            @*@Utitlitys.StatusToString(item.categoryInfo.Status.Value)*@
        </td>
        <td>
          @*@controller.getCategory(item.ParentId.Value).Name*@
            @if (item.parentCategory == null)
            {
                <span> --- </span>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.parentCategory.Name)
            }
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categoryInfo.CreateBy)
        </td>
        <td>
           @item.categoryInfo.CreateAt
            @*@Utitlitys.DatetimeToVN(item.categoryInfo.CreateAt.Value)*@
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.UpdateBy)*@    
        </td>
        <td>
            @item.categoryInfo.UpdateAt
            @*@Html.DisplayFor(modelItem => item.UpdateAt)*@
        </td>
        <td style="white-space:nowrap">
            <a href='@Url.Action("Edit", "Categories", new { id = item.categoryInfo.Id })'><img src="~/Images/icons/page_white_edit.png" title="Cập nhật" /></a> |
            <a href='@Url.Action("Delete", "Categories",new { id = item.categoryInfo.Id })'><img src="~/Images/icons/bin_closed.png" title="Xóa thông tin" /></a>
        </td>
    </tr>
}

</table>
