﻿@model Carrier.Models.Entities.UserInfoes
@{
    ViewBag.Title = "Cập nhật thông tin";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

@*js dùng cho datepicker*@
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
@*js dùng cho datepicker*@

<style>
    .form-horizontal {
        border-radius: 4px;
        border: 1px solid #d2cece;
        padding: 10px;
        background: #f5f5f5;
    }

    .control-label {
        font-weight: normal;
    }

    .user-menu a:hover {
        color: #FFF;
    }
</style>
@using (Html.BeginForm("CapNhatProfile", "YourProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container" style="padding: 20px 100px;">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="center wow fadeInDown">
                <h3 style="text-align:center">Cập nhật thông tin người dùng</h3>
                <hr style="height:2px;width:180px;border:none;color:#333;background-color:#c52d2f;" />
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4" style="margin-top: 18px;">Ảnh</label>
                    <div class="col-md-8" style="width:300px">
                        <img src="~/Uploads/Account/@Model.Picture" alt="" id="img-avata" height="120" width="100" style="margin-bottom:10px" /><br />
                        <input type="file" name="fUploadAvata" id="fUploadAvata" value="" />
                        <span class="fUploadAvata text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Họ tên</label>
                    <div class="col-md-8" style="width:300px">
                        <input type="text" name="txtfullname" id="txtfullname" class="form-control" value="@Model.FullName" />
                        <span class="txtfullname text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Số CMND</label>
                    <div class="col-md-8" style="width:300px">
                        <input type="text" name="txtcmnn" id="txtcmnn" class="form-control" value="@Model.CMND" />
                        <span class="txtcmnn text-danger"></span>
                    </div>
                </div>

                @*<div class="form-group">
                        <label class="control-label col-md-4">Email</label>
                        <div class="col-md-8" style="width:300px">
                            <input type="text" name="txtEmail" id="txtEmail" class="form-control" value="@Model.em" />
                            <span class="txtEmail text-danger"></span>
                        </div>
                    </div>*@

                <div class="form-group">
                    <label class="control-label col-md-4">Điện thoại</label>
                    <div class="col-md-8" style="width:300px">
                        <input type="text" name="txtphone" id="txtphone" class="form-control" value="@Model.MobilePhone" />
                        <span class="txtphone text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Địa chỉ</label>
                    <div class="col-md-8" style="width:300px">
                        <input type="text" name="txtaddress" id="txtaddress" class="form-control" value="@Model.Address" />
                        <span class="txtaddress text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Ngày sinh</label>
                    <div class="col-md-8" style="width:300px">
                        <input type="text" name="txtbirhday" id="txtbirhday" class="date-picker form-control" value="@Model.BirthDay" />
                        <span class="txtbirhday text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-8" style="width:300px">
                        <input type="submit" id="btnChange" value="Cập nhật" class="btn btn-info btn-sm" />
                        &nbsp;
                        @Html.ActionLink("Hủy", "Index", new { @class = "btn btn-info btn-sm" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
}
<script src="~/scripts/ai.1.0.9-build01279.js"></script>
<script>
    $(document).ready(function () {
        $('#btnChange').click(function () {
            if ($('#txtfullname').val() == '') {
                $('.txtfullname').text('Bạn chưa nhập họ tên');
                $('#txtfullname').focus();
                return false;
            } else {
                $('.txtfullname').text('');
            }

            if ($('#txtcmnn').val() == '') {
                $('.txtcmnn').text('Bạn chưa nhập số chứng minh nhân dân');
                $('#txtcmnn').focus();
                return false;
            } else {
                $('.txtcmnn').text('');
            }

            if ($('#txtphone').val() == '') {
                $('.txtphone').text('Bạn chưa nhập số điện thoại');
                $('#txtphone').focus();
                return false;
            } else {
                $('.txtphone').text('');
            }

            if (isNaN($('#txtphone').val())) {
                $('.txtphone').text('số điện thoại nhận phải là số');
                $('#txtphone').focus();
                return false;
            } else {
                $('.txtphone').text('');
            }

            if ($('#txtaddress').val() == '') {
                $('.txtaddress').text('Bạn chưa nhập địa chỉ');
                $('#txtaddress').focus();
                return false;
            } else {
                $('.txtaddress').text('');
            }

            if ($('#txtbirhday').val() == '') {
                $('.txtbirhday').text('Bạn chưa nhập ngày sinh');
                $('#txtbirhday').focus();
                return false;
            } else {
                $('.txtbirhday').text('');
            }
        });
    });

    function validateEmail(email) {
        var re = /\S+@@\S+\.\S+/;
        return re.test(email);
    }
    $('#txtbirhday').datepicker({
        dateFormat: 'dd/mm/yy'
    })
</script>
