﻿
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<style>
    .form-horizontal {
        border-radius: 4px;
        border: 1px solid #d2cece;
        padding-left: 10px;
        background: #f5f5f5;
    }

    .control-label {
        font-weight: normal;
    }
</style>
@using (Html.BeginForm("DoiMatKhau", "YourProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="center wow fadeInDown">
                <h2 style="text-align:center">Đổi mật khẩu</h2>
                <hr style="height:2px;width:180px;border:none;color:#333;background-color:#c52d2f;" />
            </div>
            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-4">Mật khẩu cũ</label>
                    <div class="col-md-8" style="width:300px">
                        <input type="password" name="txtOldPassword" id="txtOldPassword" class="form-control" value="" />
                        <span class="txtOldPassword text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Mật khẩu mới</label>
                    <div class="col-md-8" style="width:300px">
                        <input type="password" name="txtNewPassWord" id="txtNewPassWord" class="form-control" value="" />
                        <span class="txtNewPassWord text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Nhắc lại mật khẩu</label>
                    <div class="col-md-8" style="width:300px">
                        <input type="password" name="txtRepeatePassWord" id="txtRepeatePassWord" class="form-control" value="" />
                        <span class="txtRepeatePassWord text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4"></label>
                    <div class="col-md-8" style="width:300px">
                        <input type="submit" id="btnChange" value="Thay đổi" class="btn btn-info btn-sm" style="background: #0066c0;color: #FFF;" />
                        &nbsp;
                        @Html.ActionLink("Hủy", "Index", new { @class = "btn btn-info btn-sm" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
}

<script>
    $(document).ready(function () {
        $('#btnChange').click(function () {
            if ($('#txtOldPassword').val() == '') {
                $('.txtOldPassword').text('Bạn chưa nhập mật khẩu');
                $('#txtOldPassword').focus();
                return false;
            } else {
                $('.txtOldPassword').text('');
            }

            if ($('#txtNewPassWord').val() == '') {
                $('.txtNewPassWord').text('Bạn chưa mật khẩu mới');
                $('#txtNewPassWord').focus();
                return false;
            } else {
                $('.txtNewPassWord').text('');
            }

            if ($('#txtNewPassWord').val().length < 6) {
                $('.txtNewPassWord').text('Mật khẩu phải có độ dài tối thiểu 6 ký tự');
                $('#txtNewPassWord').focus();
                return false;
            } else {
                $('.txtNewPassWord').text('');
            }

            if ($('#txtRepeatePassWord').val() == '') {
                $('.txtRepeatePassWord').text('Bạn chưa nhập lại mật khẩu');
                $('#txtRepeatePassWord').focus();
                return false;
            } else {
                $('.txtRepeatePassWord').text('');
            }

            if ($('#txtRepeatePassWord').val() != $('#txtNewPassWord').val()) {
                $('.txtRepeatePassWord').text('Mật khẩu nhập lại không giống với mật khẩu mới');
                $('#txtRepeatePassWord').focus();
                return false;
            } else {
                $('.txtRepeatePassWord').text('');
            }
        });
    });
</script>

