﻿@model IEnumerable<Carrier.Models.Entities.SP_GetAllDataTracking_Result>
@using Carrier.Utilities
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th align="center" scope="col" class="header">
                Mã vận đơn
            </th>
            <th align="center" scope="col" class="header">
                Tên tài xế
            </th>
            <th align="center" scope="col" class="header">
                Biển số xe
            </th>
            <th align="center" scope="col" class="header">
                Trọng tải
            </th>
            <th align="center" scope="col" class="header">
                Điện thoại
            </th>
            <th align="center" scope="col" class="header">
                Trạng thái
            </th>
            <th align="center" scope="col" class="header">
                Thời gian gửi
            </th>
            <th align="center">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("OrderDetail", "EChoKhopLenh", new { id = item.OrderId})" class="modal-link">@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                </td>
                <td>
                    <a href="@Url.Action("UserInfoDetail", "EChoKhopLenh", new { DriverId = item.DriverId })"
                       class="modal-link">@Html.DisplayFor(modelItem => item.DriverName)</a>
                </td>
                <td>
                    @item.License
                </td>
                <td>
                    @item.Payload
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverPhone)
                </td>
                <td>
                    @if (item.Payload == null || item.Payload == 0 || item.Status == -1)
                    {
                        <span style="color:blue">
                            Tạo mới
                        </span>
                    }
                    else if (item.Status == PublicConstant.ORDER_CANCEL_BY_DRIVER)
                    {
                        <span style="color:red">
                            Đã hủy
                        </span>
                    }
                    else if (item.Status == PublicConstant.ORDER_CANNOT_SEND)
                    {
                        <span style="color:red"> Lỗi gửi đơn</span>
                    }
                    else if (item.Status == PublicConstant.ORDER_EXPIRED)
                    {
                        <span style="color:red">
                            Hết hạn
                        </span>
                    }
                    else if (item.Status == PublicConstant.ORDER_PENDING)
                    {
                        <span style="color:yellowgreen">
                            Chờ xác nhận
                        </span>
                    }
                    else if (item.Status == PublicConstant.ORDER_ACCEPT)
                    {
                        <span style="color:blue">
                            Xe đã nhận đơn
                        </span>
                    }
                    else
                    {
                        <span style="color:yellowgreen">
                            @item.Status
                        </span>
                    }
                </td>
                <td>
                    @item.Updated_At
                </td>
                <td style="width:100px;text-align:center">
                    @*@if (item.StatusOrder == 0)
                        {*@
                    <button style="border:none; background:none" title="Gửi vận đơn" onclick="LoadDriver('@item.OrderId')">
                        <img src="~/Images/icons/arrow_right.png" title="Gửi vận đơn" /> |
                    </button>
                    <button style="border:none; background:none" title="Reset vận đơn" onclick="ResetOrder('@item.OrderId')">
                        <img src="~/Images/icons/wand.png" title="Reset vận đơn" />
                    </button>
                    @*}*@
                    @*<button style="border:none; background:none" title="Hủy đơn hàng" onclick="DeleteRow('@item.Id')">
                            <img src="~/Images/icons/cancel.png" title="Hủy đơn hàng" />
                        </button>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function SearchDriver() {
        var searchString = $("#SearchString").val();
        alert(searchString);
        $("#dynamic-table").load('@(Url.Action("GetListDriver", "EChoKhopLenh", null, Request.Url.Scheme))?id=' + id+'&searchString='+searchString+'&pagsiz='+10);
        var id =sessionStorage.getItem('driverId');
        $.ajax({
            type: "GET",
            url: "/EChoKhopLenh/GetListDriver",
            data: {
                id:id,
                searchString: "29",
                pagsiz:10
            },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                if (result == "OK") {
                    @*$("#dvCategoryResults").load('@(Url.Action("GetCategoryProducts","Home",null, Request.Url.Scheme))?categoryId=' + categoryId);*@
                }
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
</script>

<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
            $('#dynamic-table')
                .dataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        { "bSortable": false },
                        null, null, null, null, null, null,
                        { "bSortable": false }
                    ],
                    "aaSorting": [],
                });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
            .prependTo('.tableTools-container .btn-group')
            .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
            .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
            .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
            .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>
