﻿@using Carrier.CMS.Models;
@using Carrier.Utilities;
@model IEnumerable<HistoryModel>

@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
            Theo dõi khớp lệnh vận đơn
        </li>
    </ul>
}
@if (User.IsInRole(PublicConstant.ROLE_FORWARDER))
{
    <div class="page-header">
        <h3>Vận đơn đang được khớp lệnh</h3>
    </div>
    <div id="partialAutomatic">
    </div>

}
else
{
    @*<div class="page-header">
            <h3>Vận đơn đang được khớp lệnh</h3>
        </div>*@
    <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a data-toggle="tab" href="#trade_automatic" aria-expanded="true">
                    <i class="green ace-icon fa fa-exchange bigger-120"></i>
                    Khớp lệnh tự động
                </a>
            </li>

            <li class="">
                <a data-toggle="tab" href="#trade_manual" aria-expanded="false">
                    Khớp lệnh bằng tay
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="partialAutomatic" class="tab-pane fade in active">
            </div>
            <div id="partialManual" class="tab-pane fade">
            </div>
        </div>
    </div>
}

<div id="ConfirmOrder" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thông báo
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <center><p class="message-content-order" style="font-weight:bold;color:red" id="message-content-order"></p></center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel-order" id="btn-cancel-order" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Huỷ
                    </button>
                    <button class="btn btn-sm btn-primary pull-center btn-delete-order" id="btn-delete-order" data-dismiss="modal">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Đồng ý
                    </button>
                    <button class="btn btn-sm btn-primary pull-center" id="reset_order" data-dismiss="modal">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Reset Vận đơn
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdflistIdselected" name="hdflistIdselected" value="" />

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:auto !important">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Chọn tài xế
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin-top:20px">
                    <div class="col-sm-6" style="width:unset;margin-left:30px">Tìm kiếm: @Html.TextBox("SearchString")</div>
                    <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: -3px 0px 0px 60px" onclick="DanhSachTaiXe()" id="search" />
                </div>
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <div class="row">
                        <center>
                            <p class="message-content" style="font-weight:bold;color:red;padding: 0 !important;border: none !important" id="message-content"></p>
                            <table id="tblDanhSachtaixe" border='1' style="margin: 18px 0px 30px 0px; width:90%; font-size:15px" class="wapperpager table table-bordered table-hover dataTable"></table>
                        </center>
                    </div>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Huỷ
                    </button>
                    <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-send" data-dismiss="modal" onclick="GuiVanDon()">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Gửi vận đơn
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
<div style="text-align:left;padding-top:7px;">
    Chú thích:
    <p>
        <img src="~/Images/icons/arrow_right.png" /> Gửi lại vận đơn
    </p>
    <img src="~/Images/icons/cancel.png" /> Hủy đơn hàng
</div>

@section Scripts{
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
}
<script type="text/javascript">
    $(function () {
        RefreshData();
        // Create a proxy to signalr hub on web server. It reference the hub.
        var notifications = $.connection.notificationHub;
        notifications.client.updateOrderTracking = function (serverResponse) {
            console.log("Need reload data");
            RefreshData();
        };
        // Connect to signalr hub
        $.connection.hub.start().done(function () {
            console.log('Now connected hub to reload data tracking success ');
        }).fail(function (error) {
            console.log('lỗi connect hub: ' + error);
        });
        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });
    });
    function RefreshData() {
        $.ajax({
            url: '@Url.Action("ListOrderTracking", "EChoKhopLenh")',
            type: "GET",
            dataType: "html",
            data: { type: 1 },
            success: function (data) {
                $('#partialAutomatic').html(data);
            },
        });
    }
    function ReloadDataManual() {
        $.ajax({
            url: '@Url.Action("ListOrderTracking", "EChoKhopLenh")',
            type: "GET",
            dataType: "html",
            data: { type: 0 },
            success: function (data) {
                $('#partialManual').html(data);
            },
        });
    }
    jQuery(function ($) {
        $('#myTab a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            console.log(e.target.getAttribute("href"));
            if (e.target.getAttribute("href") == '#trade_manual') {
                $('#partialManual').addClass('in active');
                $('#partialAutomatic').removeClass('in active');
                $('#partialAutomatic').empty();
                ReloadDataManual();
            }
            else {
                $('#partialAutomatic').addClass('in active');
                $('#partialManual').removeClass('in active');
                $('#partialManual').empty();
                RefreshData();
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.cball').click(function () {
            if ($('.cball').is(":checked")) {
                $('.cbitem').attr('checked', true);
            } else {
                $(this).attr('checked', false);
                $('.cbitem').attr('checked', false);
            }
        });
    });
    $('#removeselected').click(function () {
        var listId = "";
        var id;
        $('.cbitem').each(function () {
            if ($(this).is(':checked')) {
                id = $(this).parent().find('input[type="hidden"][name="hdfId"]').val();
                listId = listId + id + ",";
            }
        });
        if (listId.length > 0) {
            OpenPopup(listId, "Bạn có chắc muốn xóa các bản ghi tích chọn", 'delete');
        }
        else {
            ShowMessage("Bạn chưa tích chọn bản ghi nào");
        }
    });
    function DeleteRow(Id) {
        OpenPopup(Id, 'Bạn có chắc muốn hủy đơn hàng này?', 'delete');
    }
    function ResetOrder(Id) {
        OpenPopup(Id, 'Bạn có chắc muốn reset đơn hàng này?', 'reset');
    }

    function NotifyOrder(Id) {
        OpenPopup(Id, 'Đơn này được khớp lệnh tự động', 'push');
    }
    function ShowMessage(message) {
        $('#message-content-order').html(message);
        $('#btn-delete-order').hide();
        $('#btn-cancel-order').hide();
        $('#reset_order').hide();
        $('#ConfirmOrder').modal('toggle');
    }

    function OpenPopup(id, message, type) {
        $('#hdflistIdselected').val(id);
        $('#message-content-order').html(message);
        if (type == 'delete') {
            $('#btn-delete-order').show();
        }
        if (type == 'push') {
            $('#btn-delete-order').show();
        }
        if (type == 'reset')
        {
            $('#reset_order').show();
            $('#btn-delete-order').hide();
        }
        $('#btn-cancel-order').show();
        $('#ConfirmOrder').modal('toggle');
    }

    $('#btn-delete-order').click(function () {
        Delete($('#hdflistIdselected').val());
    });
    $('#reset_order').click(function () {
        Reset($('#hdflistIdselected').val());
    });
    function Delete(listId) {
        if (listId.length > 0) {
            $.ajax({
                url: "@Url.Action("DeleteOrderId", "EChoKhopLenh")",
                type: "POST",
                data: { 'listId': listId },
                dataType: 'json',
                success: function (data) {
                    $('#ConfirmOrder').modal('hide');
                    if (data == 'OK') {
                        ShowMessage("Xóa thành công");
                        setTimeout(function () { $('#ConfirmOrder').hide(); }, 1500);
                        location.reload();
                    }
                },
                error: function (node) {
                }
            })
        }
    }
    function Reset(listId) {
        if (listId.length > 0) {
            $.ajax({
                url: "@Url.Action("ResetOrderAjax", "EChoKhopLenh")",
                type: "POST",
            data: { 'listId': listId },
            dataType: 'json',
            success: function (data) {
                $('#myConfirmModal').modal('hide');
                if (data == 'OK') {

                    setTimeout(function () { $('#myConfirmModal').hide(); }, 1500);
                    location.reload();
                }
            },
            error: function (node) {
            }
        })
        }
    }

</script>
@section ScriptsBottom{

    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = "KhopLenh";
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
    </script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>

    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/daterangepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/assets/js/jquery.knob.min.js"></script>
    <script src="~/assets/js/jquery.autosize.min.js"></script>
    <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/assets/js/jquery.maskedinput.min.js"></script>
    <script src="~/assets/js/bootstrap-tag.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-date').mask('99/99/9999');
            $('.input-mask-phone').mask('(999) 999-9999');
        });

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });
        //show datepicker when clicking on the icon
    </script>

    <script>

        function ClickDriver(id) {
            var driverId = $('#' + id).attr('value');
            sessionStorage.setItem('id', driverId);
            $('#message-content button').each(function () {
                $(this).addClass('btn-default');
                $(this).removeClass('btn-primary');
            });
        };
        function GetId(id) {
            var id = id;
            sessionStorage.setItem('orderID', id);
        };
        function LoadDriver(id) {
            sessionStorage.setItem('orderID', id);
            $.ajax({
                type: "GET",
                url: "/EChoKhopLenh/LoadListDriver",
                data: { id: id },
                dataType: "json",
                contentType: 'application/json',
                success: function (result) {
                    $('#message-content').html(result);
                    $('#myModal').modal('show');
                },
                error: function (req, status, error) {
                    // do something with error
                }
            });
        };
        
        function DanhSachTaiXe() {
            var id = sessionStorage.getItem("orderID");
            var searchString = $("#SearchString").val();
            $.ajax({
                type: "GET",
                url: "/EChoKhopLenh/ListDriverInfo",
                data: {
                  
                    searchString: searchString
                },
                dataType: "json",
                contentType: 'application/json',
                success: function (result) {
                    var trHTML = '';

                    $("#tblDanhSachtaixe").empty();

                    //create table header
                    var headertr = $("<thead><tr><th>#</th><th>Tên</th> <th>SĐT</th><th></th></tr></thead>");

                    //get table id from jquery
                    var tableelement = $("#tblDanhSachtaixe");

                    //add header row to table
                    tableelement.append(headertr);

                    var tbody = $("<tbody>");
                    tableelement.append(tbody);

                    $.each(result, function (i, item) {

                        trHTML += '<tr  onclick="ClickDriver(' + '' + result[i].Id + '' +')"> <td><input type="checkbox" /></td><td>' + result[i].Name + '</td> <td>' + result[i].Phone + '</td> <td><button style="border:none; background:none "><img src="//vantaitoiuu.com/Images/icons/car.png" style="height:30px"/></button></td></tr>';
                    });

                    tableelement.append(trHTML);
                    tbody = $("</tbody>");
                    tableelement.append(tbody);

                    $('#myModal').modal('show');
                },
                error: function (req, status, error) {
                    // do something with error
                }
            });
        };
        function GuiVanDon() {
            var driverId = sessionStorage.getItem('id');
            //var driverId = DriverId;
            var orderID = sessionStorage.getItem('orderID');
            $.ajax({
                type: "GET",
                url: "/EChoKhopLenh/SendNewOrderToDriver",
                data: {
                    orderId: orderID,
                    driverId: driverId
                },
                dataType: "json",
                contentType: 'application/json',
                success: function (result) {
                    alert(result);
                    location.reload(true);
                },
                error: function (req, status, error) {
                    // do something with error
                }
            });
        };
    </script>
}

