﻿@model List<Carrier.CMS.Models.OrderViewModel>
@using Carrier.Utilities;
@{
    ViewBag.Title = "Danh sách tài xế mới nhận đơn";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Vận đơn mới hôm nay";
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
            Danh sách tài xế mới nhận đơn
        </li>
    </ul>
}
<div class="col-md-12">
    <div class="page-header">
        <h1>Danh sách tài xế mới nhận đơn</h1>
    </div>
    <br>
</div>

<table class="wapperpager table table-bordered table-hover dataTable" id="grvOrder" style="width:100%; table-layout:fixed">
    <thead>
        <tr>
            <th align="center" scope="col" class="header" style="width:10%">
                Tài xế
            </th>
            <th align="center" scope="col" class="header" style="width:3%">
                Mã vận đơn
            </th>
            <th align="center" scope="col" class="header" style="width:4%">
                Tên hàng
            </th>
            <th align="center" scope="col" class="header" style="width:8%">
                Điểm đi
            </th>
            <th align="center" scope="col" class="header" style="width:8%">
                Điểm đến
            </th>
            <th align="center" scope="col" class="header" style="width:5%">
                Thời gian
            </th>
            <th align="center" scope="col" class="header" style="width:3%">Đơn giá (VNĐ)</th>
            <th align="center" scope="col" class="header" style="width:6%"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td id="oderId" value="@item.Id">
                        <a title="Mã vận đơn" href='@Url.Action("Details", "EOrder", new { id = item.Id })'>@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiemDiChiTiet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiemDenChiTiet)
                    </td>
                    <td>
                        <p>Từ @item.ThoiGianDi </p>
                        <p> Đến @item.ThoiGianDen</p>
                    </td>
                    <td>
                        @if (item.Gia != null)
                        {
                            @GlobalCommon.ConvertToCurrency(item.Gia.Value)
                        }
                    </td>
                    <td>
                        @if (item.Status == 1) // đã nhận đơn-> show icon
                    {
                            @Html.Raw("<img title=\"đã nhận đơn\" src=\"../Images/accept.png\" alt=\"http://vantaitoiuu.com\" style=\"width:20px\" />");
                    }
                        <button style="border:none; background:none" title="Gửi vận đơn" onclick="LoadDriver('@item.Id')">
                            <img src="~/Images/icons/arrow_right.png" title="Gửi vận đơn" /> |
                        </button>
                        <a href='@Url.Action("Edit", "EOrder", new { id = item.Id })'><img src="~/Images/page_white_edit.png" title="Cập nhật" /></a>  |
                        <button style="border:none; background:none" title="Xóa" onclick="DeleteRow('@item.Id')">
                            <img src="~/Images/icons/bin_closed.png" title="Xóa" />
                        </button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:auto !important">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Chọn tài xế
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <div class="row">
                        <center>
                            <p class="message-content" style="font-weight:bold;color:red;padding: 0 !important;
    border: none !important" id="message-content"></p>
                        </center>
                    </div>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Huỷ
                    </button>
                    <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-send" data-dismiss="modal" onclick="GuiVanDon()">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Gửi vận đơn
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>

<script>
    function LoadDriver(id) {
        $.ajax({
            type: "GET",
            url: "/Orders/LoadListDriver",
            data: { id: id },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                $('#message-content').html(result);
                $('#myModal').modal('show');
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
    function ClickDriver(id) {
        var driverId = $('#' + id).attr('value');
        sessionStorage.setItem('id', driverId);
        $('#message-content button').each(function () {
            $(this).addClass('btn-default');
            $(this).removeClass('btn-primary');
        });
    };
    function GuiVanDon() {
        var driverId = sessionStorage.getItem('id');
        var orderID = $('#oderId').attr('value');
        $.ajax({
            type: "GET",
            url: "/Orders/SendNewOrderTest",
            data: {
                orderId: orderID,
                driverId: driverId
            },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                alert(result);
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
    function DeleteRow(id) {
        $.ajax({
            type: "GET",
            url: "../Orders/Delete",
            data: { id: id },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                // refesh page
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
</script>
