﻿@model System.Data.DataTable
@using System.Data;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
@{
    ViewBag.Title = "Index";
}
@*<script type="text/javascript">
    $(document).ready(function () {
        var strURLPath = window.location.pathname;
        var activeId = strURLPath.substring(1, strURLPath.length);
        $('#main_menu li#' + activeId).addClass('active');
        $('#main_menu li#' + activeId).parents('li').addClass('active open')
    });
</script>*@
<div>
    <h2>Tải dữ liệu từ file excel</h2>
    @using (Html.BeginForm("UploadFromExcel", "ImportExcel", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <div class=""></div>
        <div class="form-group">
            <table>
                <tr>
                    <td>
                       Áp dụng cho: @Html.DropDownList("EnterpriseId", new SelectList(ViewBag.ListEnterprise, "Value", "Text"))
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> @Html.RadioButton("UploadType", "0") Tải dữ liệu vận đơn</p>
                        <p> @Html.RadioButton("UploadType", "1") Tải dữ liệu lịch trình</p>
                        <p> @Html.RadioButton("UploadType", "2") Upload file excel tính giá vận đơn lên hệ thống</p>
                        <p> @Html.RadioButton("UploadType", "3") Cập nhật tính giá vận đơn từ file excel</p>
                    </td>
                </tr>
                <tr>
                    <td><p><input type="file" id="dataFile" name="upload" style="display:inline !important;" /></p></td>
                </tr>
                <tr>
                    <td><p><input type="submit" value="Upload" class="btn btn-info btn-sm" /></p></td>
                </tr>
            </table>
        </div>
        if (Model != null)
        {
            <table>
                <thead>
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                    {
                            <th>@col.ColumnName</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow row in Model.Rows)
                    {
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                        {
                                <td>@row[col.ColumnName]</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>