﻿
@{
    ViewBag.Title = "UploadSuccess";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
<script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = strURLPath.substring(1, strURLPath.length);
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
</script>
<h2>UploadSuccess</h2>

