﻿@model Carrier.Models.Entities.Messages

@{
    ViewBag.Title = "Chi tiết thông báo";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}

<style type="text/css">
    .form-horizontal .control-label {
        padding-top: 0px !important;
    }
</style>
<h3 style="text-align:center">Chi tiết thông báo</h3>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Nội dung</label>
        <div class="col-sm-7">
            @Html.DisplayFor(model => model.Message)
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Ngày gửi</label>
        <div class="col-sm-7">
            @Html.DisplayFor(model => model.Created_At)
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-5"></div>
        <div class="col-sm-7">
            <a href="/Enterprise/EMessage/ListMessageNotification" class="btn btn-info btn-sm">Quay lại danh sách</a>
        </div>
    </div>
</div>