﻿@model List<CMS.Carrier.Areas.Enterprise.Models.EReportSOSViewModel>
@{
    ViewBag.Title = "Thông báo từ tài xế";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
            Thông báo từ tài xế
        </li>
    </ul>
}
<div class="col-md-12">
    <div class="page-header">
        <h1>Thông báo từ tài xế</h1>
    </div>
    <br>
</div>

<table class="wapperpager table table-bordered table-hover dataTable" id="grvOrder" style="width:100%; table-layout:fixed">
    <thead>
        <tr>
            <th align="center" scope="col" class="header" style="width:20%">
                Tên tài xế
            </th>
            <th align="center" scope="col" class="header" style="width:30%">
                Vị trí thông báo
            </th>
            <th align="center" scope="col" class="header" style="width:30%">
                Nội dung thông báo
            </th>
            <th align="center" scope="col" class="header" style="width:10%">
                Thời gian
            </th>
            <th align="center" scope="col" class="header" style="width:10%">
                Mã vận đơn
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DriverName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressSOS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReportDescription)
                    </td>
                    <td>
                        @DateTime.Parse(item.Created_At.ToString()).ToString("dd/MM/yyyy")
                    </td>
                    <td id="oderId" value="@item.OrderId">
                        <a title="Mã vận đơn" href='@Url.Action("Details", "EOrder", new { id = item.OrderId })'>@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
