﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.table-header {
    background-color: #307ecc;
    font-size: 14px;
    line-height: 38px;
    padding-left: 12px;
    margin-bottom: 1px;
}

.modal-content {
    width: 300px !important;
    margin: 30px auto !important;
}

.modal {
    position: fixed !important;
    top: 0 !important;
    z-index: 1050 !important;
    -webkit-overflow-scrolling: touch !important;
    outline: 0 !important;
}

.modal-backdrop {
    z-index: 0 !important;
}

.modal-header {
    padding: 0px !important;
    color: #FFF;
}

.white {
    color: #fff !important;
    padding: 5px 5px 3px 10px !important;
    position: absolute !important;
    right: 0px !important;
}

.btn-xs {
    height: 25px !important;
}

.dataTable tr td:first-child, .dataTable tr td:last-child {
    text-align: center;
}