﻿@using Carrier.Utilities;
@using Carrier.Models.Entities;
@using Carrier.CMS.Common;
@model Articles

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
<style>
    .divimage {
        width: 100px;
        height: 100px;
    }

        .divimage img {
            display: block;
            width: 100%;
        }
</style>
<h2>Chi tiết bài viết</h2>

<div>
    <h4>Quản lý tin tức</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ảnh tiêu đề
        </dt>

        <dd>
            <div class="divimage">
                <img src="@Utitlitys.ImagePath(Model.ThumbURL,(int)CMS_IMAGE_TYPE.ARTICLE_TYPE)" />
            </div>
        </dd>
        <dt>
            Tiêu đề
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Tiêu đề tiếng Anh
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title_EN)
        </dd>
        <dt>
            Chuyên mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.Raw(Model.Summary)
        </dd>

        <dt>
            Mô tả tiếng Anh
        </dt>

        <dd>
            @Html.Raw(Model.Summary_EN)
        </dd>

        <dt>
            Chi tiết bài viết
        </dt>

        <dd>
            @Html.Raw(Model.Description)
        </dd>

        <dt>
            Chi tiết bài viết tiếng Anh
        </dt>

        <dd>
            @Html.Raw(Model.Description_EN)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Utitlitys.StatusToString(Model.Status.Value)
        </dd>

        <dt>
            Người đăng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            Người cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            Ngày đăng
        </dt>

        <dd>
            @Utitlitys.DatetimeToVN(Model.CreateAt.Value)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateAt)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" }) &nbsp;&nbsp;
@Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
</p>
