﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Home</a>
        </li>
        <li class=""><a href="/Enterprise/EDevicesPush">Gửi thông báo</a></li>
    </ul>
}
<div class="page-header">
    <h1>Gửi thông báo</h1>
</div>
@using (Html.BeginForm("Create", "EDevicesPush", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Account</label>
            <div class="col-md-10">
                <input type="text" id="userName" name="userName" />
                <span class="lb-Check" id="userName_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Nội dung</label>
            <div class="col-md-10">
                <textarea id="content" name="content" style="width:600px"></textarea>
                <span class="lb-Check" id="content_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnSubmit" value="Gửi" class="btn btn-default" style="width:100px; height:50px" />
            </div>
        </div>
        <br /><br />
        @ViewBag.Message

    </div>
}

<div>
    @Html.ActionLink("Trở lại trang chủ", "Index", "HomeEnterprise")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            if ($('#userName').val() == "") {
                $('#userName_NULL').html('Bạn chưa chọn tài khoản cần gửi thông báo!');
                return false;
            } else {
                $('#userName_NULL').html('');
            }

            if ($('#content').val() == "") {
                $('#content_NULL').html('Bạn chưa nhập nội dung!');
                return false;
            } else {
                $('#content_NULL').html('');
            }

            var username = $('#userName').val();
            var message = $('#content').val();
        });
    });
</script>

