﻿@using Carrier.Models.Entities;
@*@model IEnumerable<Driver>*@
@model IEnumerable<CMS.Carrier.Areas.Admin.Models.DriverViewModel>
@{
    ViewBag.Title = "Gửi thông báo";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}

@section HeaderScript{
    <link href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
          rel="Stylesheet" type="text/css" />
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Enterprise/EDevicesPush">Thông báo</a>
        </li>
    </ul>
}
<div class="page-header">
    <h1>Gửi thông báo</h1>
</div>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @using (Html.BeginForm("Index", "AutoComplete", FormMethod.Post))
        {
            <div class="form-group">
                <label class="control-label col-md-2">Danh sách tài khoản</label>
                <div class="col-md-10">
                    <input type="text" id="userName" name="userName" class="control-label col-md-2" style="width: 500px;text-align:left" />
                    <input type="hidden" id="hfUserId" name="name" value="" />
                    <span class="lb-Check" id="userName_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Nội dung</label>
                <div class="col-md-10">
                    <textarea id="content" name="content" style="width:500px;height:120px;"></textarea>
                    <span class="lb-Check" id="content_NULL" style=" margin-left 0px; color:red"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="btnSubmit" value="Gửi" class="btn btn-info btn-sm" />
                </div>
            </div>
            <br /><br />
            @ViewBag.Message
        }
    </div>
}

<table class="table table-striped table-bordered table-hover" id="grvOrder">
    <thead>
        <tr>
            <th class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace cball" >
                    <span class="lbl"></span>
                </label>
            </th>
            <th align="center" scope="col" class="header">
                Tên tài xế
            </th>
            <th align="center" scope="col" class="header">
                Account
            </th>
            <th align="center" scope="col" class="header">
                Điện thoại
            </th>
            <th align="center" scope="col" class="header">
                Giới tính
            </th>
            <th align="center" scope="col" class="header">
               Thời gian check-in
            </th>
            <th align="center" scope="col" class="header">
                Ngày sinh
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace cbitem">
                        <span class="lbl"></span>
                        <input type="hidden" id="hdfId" class="hdfId" name="hdfId" value="@item.UserId" />
                        <input type="hidden" id="hdfName" class="hdfName" name="hdfName" value="@item.User_Name" />
                    </label>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @item.Updated_At
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="hidden" id="hfUserIdSelected" name="hfUserIdSelected" value="" />

<script type="text/javascript">
    $(function () {
        $("#userName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/EDevicesPush/AutoComplete/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfUserIdSelected").val(i.item.val);
            },
            minLength: 1
        });
    });

    $(document).ready(function () {
        $("#btnSubmit").click(function (event) {
            event.preventDefault();
            if ($('#userName').val() == "") {
                $('#userName_NULL').html('Bạn chưa chọn tài khoản cần gửi thông báo!');
                return false;
            } else {
                $('#userName_NULL').html('');
            }

            if ($('#content').val() == "") {
                $('#content_NULL').html('Bạn chưa chọn nội dung của thông báo!');
                return false;
            } else {
                $('#content_NULL').html('');
            }

            var username = $('#hfUserIdSelected').val();//$('#hfUserId').val();
            var message = $('#content').val();
            Push(username, message);
        });
    });
    function Push(userId,message) {
        $.ajax({
            url: '/EDevicesPush/PustMessage/',
            data: "{ strUserId: '" + userId + "', message:'" + message + "'}",
            dataType: "json",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger
                if (data == "ok") {
                    toastr.success('Gửi thông báo thành công');
                    $('#content').val('');
                    
                } else {
                    toastr.error('Gửi thông báo thất bại, xin kiểm tra lại tên tài khoản');
                }
            },
            error: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>

<script>    
    // Get username checked
    $(document).ready(function () {
        $('.cball').click(function () {            
            //console.log(ids);
            if ($('.cball').is(":checked")) {
                
                var table = $('#grvOrder').DataTable();
                var listName = '';
                var listId = '';
                var ids = $.map(table.rows().data(), function (item) {

                    listName = listName + item[2] + ',';
                    return item[0];

                });
                $('#grvOrder > tbody > tr.active').each(function () {
                    $this = $(this);
                    listId = listId + $(this).find('td').eq(0).find('input[type="hidden"][name="hdfId"]').val() + ',';
                });
                console.log(ids);
                $('#userName').val(listName.substring(0, listName.length - 1));
                $('#hfUserIdSelected').val(listId.substring(0, listId.length - 1));
            } else {
                $('#userName').val('');
                $('#hfUserIdSelected').val('');
            }
            
        });
        $('.cbitem').click(function () {
            var table = $('#grvOrder').DataTable();
            var listName = '';
            var listId = '';
            var ids = $.map(table.rows('.active').data(), function (item) {

                listName = listName + item[2] + ',';           
                return item[2];               
            });

            $('#grvOrder > tbody > tr.active').each(function () {
                $this = $(this);
                listId = listId + $(this).find('td').eq(0).find('input[type="hidden"][name="hdfId"]').val() + ',';   
                
            });
            console.log(ids);                 
            $('#userName').val(listName.substring(0, listName.length - 1));   
            $('#hfUserIdSelected').val(listId.substring(0, listId.length - 1));
            
        });
    });
    //function getCheckItem() {
    //    var listId = "";
    //    var id;
    //    var listName = "";
    //    var name;
    //    $('.cbitem').each(function () {
    //        if ($(this).is(':checked')) {
    //            id = $(this).parent().find('input[type="hidden"][name="hdfId"]').val();
    //            name = $(this).parent().find('input[type="hidden"][name="hdfName"]').val();

    //            listId = listId + id + ",";
    //            listName = listName + " " + name + ",";
    //        }
    //    });
    //    $('#hfUserIdSelected').val('');
    //    $('#hfUserIdSelected').val(listId.substring(0, listId.length - 1));
    //    $('#userName').val(listName.substring(0, listName.length - 1));
    //}
</script>
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
        $('#grvOrder')
        .dataTable({
            bAutoWidth: false,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null,null, 
              { "bSortable": false }
            ],
            "aaSorting": [],
        });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
        .prependTo('.tableTools-container .btn-group')
        .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
        .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
        .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
        .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#grvOrder > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#grvOrder').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#grvOrder .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#grvOrder > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#grvOrder').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>
