﻿@model Carrier.Models.Entities.MessagesTemplates

@{
    ViewBag.Title = "Chi tiết tin nhắn mẫu";
}


<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>
<script>
    for (name in CKEDITOR.instances) {
        CKEDITOR.instances[name].destroy(true);
    }
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Chi tiết tin nhắn mẫu</h4>
</div>
<div class="modal-body">
        <div class="form-horizontal">
            @Html.Raw("Tiêu đề tin mẫu")
            <div class="form-group">
                <div class="col-md-12">
                    @Model.TemplateType
                </div>
            </div>
            @Html.Raw("Nội dung tin mẫu")
            <div class="form-group">
                <div class="col-md-12">                   
                   @Html.Raw(@Model.TemplateContent)
                </div>
            </div>
            @Html.Raw("Ngày tạo")
            <div class="form-group">
                <div class="col-md-12">
                   @Model.Created_At
                </div>
            </div>
            @Html.Raw("Tài khoản tạo")
            <div class="form-group">
                <div class="col-md-12">
                    @ViewBag.CreateBy
                </div>
            </div>
            @Html.Raw("Ngày cập nhật")
            <div class="form-group">
                <div class="col-md-12">
                    @Model.Updated_At
                </div>
            </div>
            @Html.Raw("Tài khoản cập nhật")
            <div class="form-group">
                <div class="col-md-12">
                   @ViewBag.EditBy
                </div>
            </div>
        </div>


</div>
