﻿@model Carrier.Models.Entities.MessagesTemplates

@{
    ViewBag.Title = "Cập nhật tin nhắn mẫu";
}


<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>
<script>
    for (name in CKEDITOR.instances) {
        CKEDITOR.instances[name].destroy(true);
    }
</script>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Cập nhật tin nhắn mẫu</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editTinNhanMauForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id);
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Raw("Tiêu đề tin mẫu")
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.TemplateType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TemplateType, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.Raw("Nội dung tin mẫu")
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.TemplateContent, new { @class = "form-control", @cols = 40, @rows = 10,@id = "noiDungTinNhanMau" })
                    @Html.ValidationMessageFor(model => model.TemplateContent, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
    }

    <div class="row">
        <div class="col-md-12">

            <button value="Save" class="btn btn-default" onclick="EditTinNhanMauSubmit()">Lưu</button>

        </div>
    </div>
</div>
<script type="text/javascript">
    CKEDITOR.replace("noiDungTinNhanMau",
        {
            toolbar: [

                { name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', '-', 'Undo', 'Redo'] },
                {
                    name: 'insert', items: ['Table', 'HorizontalRule', 'Smiley', 'SpecialChar'
                    ]
                },
                { name: 'basicstyles', items: ['Bold', 'Italic', 'Strike', '-', 'TextColor', 'BGColor', 'Font', 'FontSize', 'RemoveFormat', 'Styles', 'Format'] },
                { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock'] },
                //{ name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
                { name: 'tools', items: ['Maximize', '-', 'About'] }
            ]
        });
</script>