﻿@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
<style>
    .sc_image_wrap img {
        width: 150px;
        height: 150px;
    }
</style>
<section class="fullwidth_section clients_section" style="padding-top:50px">
    <div class="row">
        <div class="col-sm-12">
            <div class="sc_content container">
                @if (lang == null || lang.Contains("vi"))
                {
                    <h2 class="sc_title sc_title_regular sc_align_center">@Resources.ResourceVi.Ourclients</h2>
                }
                else
                {
                    <h2 class="sc_title sc_title_regular sc_align_center">@Resources.ResourceEn.Ourclients</h2>
                }

                <div class="sc_section">
                    <div id="clients_scroll" class="sc_scroll sc_scroll_horizontal swiper-slider-container scroll-container swiper-free-mode clients_scroll">
                        <div class="sc_scroll_wrapper swiper-wrapper">
                            <div class="sc_scroll_slide swiper-slide">
                                <div class="sc_image_wrap  alignleft">
                                    <figure class="sc_image  sc_image_shape_square">
                                        <img src="~/Images/slider/sonha.png" alt="">
                                    </figure>
                                </div>
                                <div class="sc_image_wrap  alignleft">
                                    <figure class="sc_image  sc_image_shape_square">
                                        <img src="~/Images/slider/hitacom.png" alt="">
                                    </figure>
                                </div>
                                <div class="sc_image_wrap  alignleft">
                                    <figure class="sc_image  sc_image_shape_square">
                                        <img src="~/Images/slider/vnthanglong.png" alt="">
                                    </figure>
                                </div>
                                <div class="sc_image_wrap  alignleft">
                                    <figure class="sc_image  sc_image_shape_square">
                                        <img src="~/Images/slider/bitis.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="sc_image_wrap  alignleft">
                                    <figure class="sc_image  sc_image_shape_square">
                                        <img src="~/Images/slider/hdintertrans.png" alt="">
                                    </figure>
                                </div>
                                <div class="sc_image_wrap  alignleft">
                                    <figure class="sc_image  sc_image_shape_square">
                                        <img src="~/Images/slider/vinhtuong.jpg" alt="">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div id="clients_scroll_bar" class="sc_scroll_bar clients_scroll_bar sc_scroll_bar_horizontal"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
