﻿@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
<style>
    input, select {
        max-width: none !important;
    }

    .modal-lg {
        width: 100% !important;
    }

    .content_wrap {
        width: 100% !important;
    }

    .bootstrap-timepicker-widget tr td {
        border: none !important;
    }

    .ui-datepicker td span, .ui-datepicker td a {
        padding: 1px !important;
    }

    .ui-tabs .ui-tabs-nav {
        border-bottom: none !important;
    }

        .ui-tabs .ui-tabs-nav li.ui-state-default > a {
            background-color: #3C414C !important;
            border: none !important;
        }

    .datepicker td, .datepicker th {
        border: none !important;
    }

    .white:hover {
        background-color: none !important;
    }
</style>
<div class="top-menu"></div>
<section id="order-form" class="fullwidth_section no_padding_top_container calculator_bg1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_section calculator">
                    <div class="sc_section_overlay">
                        <div class="sc_section_content">
                            <div class="sc_content container">
                                @*<h1 class="subtitle_container"></h1>*@
                                <div class="sc_columns">
                                    @using (Html.BeginForm("CreateOrder", "Home", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        if (lang == null || lang.Contains("vi"))
                                        {
                                            @*<div class="col-md-8 col-sm-7 sc_column_item">
                    <h1 class="sc_title sc_title_regular sc_align_left h1homecustom">
                        @Resources.ResourceVi.CallDriverNow
                    </h1>
                </div>*@
                                            <div class="col-md-8 col-sm-7 sc_column_item" style="TEXT-ALIGN: CENTER;">
                                                <h1 class="sc_title sc_title_regular sc_align_left h1homecustom">@Resources.ResourceVi.CallDriverNow</h1>
                                                <span style="/* TEXT-ALIGN:CENTER */">
                                                    @Resources.ResourceVi.CallDriverNow1
                                                </span>
                                            </div>

                                            <div class="col-md-4 col-sm-5 sc_column_item sc_column_item_home">
                                                <div class="sc_section">
                                                    <div id="fbuilder">
                                                        <div id="fieldlist_1" class="top_aligned">
                                                            <div class="pb0 pbreak" page="0">
                                                                <div class="fields" id="field_1-0">
                                                                    <div id="fieldname11_1">
                                                                        <div class="fields" id="field_1-2">
                                                                            <div id="fieldname12_1">
                                                                                <div class="fields" id="field_1-3">
                                                                                    <label for="fieldname2_1">@Resources.ResourceVi.FromLocation</label>
                                                                                    <div class="dfield">
                                                                                        <input id="txtFromLocation" name="txtFromLocation" type="text" value="" class="field large" placeholder="@Resources.ResourceVi.EnterLocation">
                                                                                        <input type="hidden" id="hfFrom" name="hfFrom" />
                                                                                        <input type="hidden" id="hfLatFrom" name="hfLatFrom" />
                                                                                        <input type="hidden" id="hfLngFrom" name="hfLngFrom" />
                                                                                        <input type="hidden" id="hftxtFrom" name="hftxtFrom" />
                                                                                        <span class="uh"></span>
                                                                                    </div>
                                                                                    <div class="clearer"></div>
                                                                                </div>
                                                                                <div class="fields" id="field_1-4">
                                                                                    <label for="fieldname26_1">@Resources.ResourceVi.ToLocation</label>
                                                                                    <div class="dfield">
                                                                                        <input id="txtToLocation" name="txtToLocation" type="text" value="" class="field large" placeholder="@Resources.ResourceVi.EnterLocation">
                                                                                        <input type="hidden" id="hfTo" name="hfTo" />
                                                                                        <input type="hidden" id="hfTo" name="hfTo" />
                                                                                        <input type="hidden" id="hfLatTo" name="hfLatTo" />
                                                                                        <input type="hidden" id="hfLngTo" name="hfLngTo" />
                                                                                        <input type="hidden" id="hftxtTo" name="hftxtTo" />
                                                                                        <input type="hidden" id="hdfSoKmUocTinh" name="hdfSoKmUocTinh" value="" />
                                                                                        <span class="uh"></span>
                                                                                    </div>
                                                                                    <div class="clearer"></div>
                                                                                </div>
                                                                                <div class="fields" id="field_1-4">
                                                                                    <label for="fieldname26_1">@Resources.ResourceVi.DescriptionTransportTitle</label>
                                                                                    <div class="dfield">
                                                                                        <textarea id="Mota" name="Mota" cols="3" rows="3" style="padding: 10px 17px;   border: 3px solid #f4f7f9" class="field large" placeholder="@Resources.ResourceVi.DescriptionTransportTitle1"></textarea>
                                                                                        <span class="uh"></span>
                                                                                    </div>
                                                                                    <div class="clearer"></div>
                                                                                </div>
                                                                                <div style="display:none" id="map"></div>
                                                                                <div class="fields col-md-4 col-xs-4" id="field_1-5">
                                                                                    <label for="fieldname26_1">@Resources.ResourceVi.Weight</label>
                                                                                    <div class="dfield">
                                                                                        @Html.DropDownList("Payload", new SelectList(ViewBag.ListCar, "Value", "Text"), new { @id = "Payload", @name = "Payload", @class = "form-control", @Style = "width:100%;display: inline;" })
                                                                                    </div>
                                                                                    <div class="clearer"></div>
                                                                                </div>
                                                                                <div class="col-md-1 col-xs-1" style="display: inline-block;"></div>
                                                                                <div class="fields col-md-7 col-xs-7 GiaResponsive" style="float:right" id="field_1-9">
                                                                                    <div id="fieldname20_1">
                                                                                        <label>@Resources.ResourceVi.Money (VNĐ)</label>
                                                                                        <div class="dfield">
                                                                                            <input id="Gia" name="Gia" class="codepeoplecalculatedfield field large col-md-10 col-xs-10" readonly style="max-height: 34px"><span style="color:black; font-weight:bolder"></span>
                                                                                            <span class="uh"></span>
                                                                                        </div>
                                                                                        <div class="clearer"></div>
                                                                                    </div>
                                                                                    <div class="clearer"></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="clearer"></div>
                                                                        </div>
                                                                        <div class="fields col-md-12 col-xs-12" id="field_1-4">
                                                                            <label for="fieldname26_1">@Resources.ResourceVi.PhoneNumber</label>
                                                                            <div class="dfield">
                                                                                <input id="PhoneNumber" name="PhoneNumber" type="text" value="" class="field large" placeholder="@Resources.ResourceVi.PhoneNumber">

                                                                                <span class="uh"></span>
                                                                            </div>
                                                                            <div class="clearer"></div>
                                                                        </div>
                                                                        <div class="fields" id="field_1-4">
                                                                            @*<button style="width:100%" for="fieldname26_1">@Resources.ResourceVi.BookNow</button>*@
                                                                            <input type="submit" id="btnAdd" value="@Resources.ResourceVi.BookNow" class="btn-booknow" />
                                                                            <div class="clearer"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearer">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else if (lang.Equals("en"))
                                        {
                                            @*<div class="col-md-8 col-sm-7 sc_column_item">
                                                <h1 class="sc_title sc_title_regular sc_align_left h1homecustom">
                                                    @Resources.ResourceEn.CallDriverNow
                                                </h1>
                                            </div>*@
                                            <div class="col-md-8 col-sm-7 sc_column_item" style="TEXT-ALIGN: CENTER;">
                                                <h1 class="sc_title sc_title_regular sc_align_left h1homecustom">@Resources.ResourceEn.CallDriverNow</h1>
                                                <span style="/* TEXT-ALIGN:CENTER */">
                                                    @Resources.ResourceEn.CallDriverNow1
                                                </span>
                                            </div>
                                            <div class="col-md-4 col-sm-5 sc_column_item sc_column_item_home">
                                                @*<h2 class="sc_title sc_title_regular sc_align_left">
                        @Resources.ResourceEn.CallDriverNow
                    </h2>*@
                                                <div class="sc_section">
                                                    <div id="fbuilder">
                                                        <div id="fieldlist_1" class="top_aligned">
                                                            <div class="pb0 pbreak" page="0">
                                                                <div class="fields" id="field_1-0">
                                                                    <div id="fieldname11_1">
                                                                        <div class="fields" id="field_1-2">
                                                                            <div id="fieldname12_1">
                                                                                <div class="fields" id="field_1-3">
                                                                                    <label for="fieldname2_1">@Resources.ResourceEn.FromLocation</label>
                                                                                    <div class="dfield">
                                                                                        <input id="txtFromLocation" name="txtFromLocation" type="text" value="" class="field large" placeholder="@Resources.ResourceEn.EnterLocation">
                                                                                        <input type="hidden" id="hfFrom" name="hfFrom" />
                                                                                        <input type="hidden" id="hfLatFrom" name="hfLatFrom" />
                                                                                        <input type="hidden" id="hfLngFrom" name="hfLngFrom" />
                                                                                        <input type="hidden" id="hftxtFrom" name="hftxtFrom" />
                                                                                        <span class="uh"></span>
                                                                                    </div>
                                                                                    <div class="clearer"></div>
                                                                                </div>
                                                                                <div class="fields" id="field_1-4">
                                                                                    <label for="fieldname26_1">@Resources.ResourceEn.ToLocation</label>
                                                                                    <div class="dfield">
                                                                                        <input id="txtToLocation" name="txtToLocation" type="text" value="" class="field large" placeholder="@Resources.ResourceEn.EnterLocation">
                                                                                        <input type="hidden" id="hfTo" name="hfTo" />
                                                                                        <input type="hidden" id="hfLatTo" name="hfLatTo" />
                                                                                        <input type="hidden" id="hfLngTo" name="hfLngTo" />
                                                                                        <input type="hidden" id="hftxtTo" name="hftxtTo" />
                                                                                        <span class="uh"></span>
                                                                                    </div>
                                                                                    <div class="clearer"></div>
                                                                                </div>
                                                                                <div class="fields" id="field_1-4">
                                                                                    <label for="fieldname26_1">@Resources.ResourceEn.DescriptionTransportTitle</label>
                                                                                    <div class="dfield">
                                                                                        <textarea id="Mota" name="Mota" cols="3" rows="3" style="padding: 10px 17px;   border: 3px solid #f4f7f9" class="field large" placeholder="@Resources.ResourceEn.DescriptionTransportTitle1"></textarea>
                                                                                        <span class="uh"></span>
                                                                                    </div>
                                                                                    <div class="clearer"></div>
                                                                                </div>
                                                                                <div style="display:none" id="map"></div>
                                                                                <div class="fields col-md-4 col-xs-12" id="field_1-5">
                                                                                    <label for="fieldname26_1">@Resources.ResourceEn.Weight</label>
                                                                                    <div class="dfield">
                                                                                        @Html.DropDownList("Payload", new SelectList(ViewBag.ListCar, "Value", "Text"), new { @id = "Payload", @name = "Payload", @class = "form-control", @Style = "width:100%;display: inline;" })
                                                                                    </div>
                                                                                    <div class="clearer"></div>
                                                                                </div>
                                                                                <div class="col-md-1" style="display: inline-block;"></div>
                                                                                <div class="fields col-md-7 col-xs-12" style="float:right" id="field_1-9">
                                                                                    <div id="fieldname20_1">
                                                                                        <label>@Resources.ResourceEn.Money (VNĐ)</label>
                                                                                        <div class="dfield">
                                                                                            <input id="Gia" name="Gia" class="codepeoplecalculatedfield field large col-md-10 col-xs-10" readonly style="max-height: 34px"><span style="color:black; font-weight:bolder"></span>
                                                                                            <span class="uh"></span>
                                                                                        </div>
                                                                                        <div class="clearer"></div>
                                                                                    </div>
                                                                                    <div class="clearer"></div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="clearer"></div>
                                                                        </div>

                                                                        <div class="fields col-md-12 col-xs-12" id="field_1-4">
                                                                            <label for="fieldname26_1">@Resources.ResourceEn.PhoneNumber</label>
                                                                            <div class="dfield">
                                                                                <input id="PhoneNumber" name="PhoneNumber" type="text" value="" class="field large" placeholder="@Resources.ResourceEn.PhoneNumber">
                                                                                <span class="uh"></span>
                                                                            </div>
                                                                            <div class="clearer"></div>
                                                                        </div>
                                                                        <div class="fields" id="field_1-4">
                                                                            <input type="submit" id="btnAdd" value="@Resources.ResourceEn.BookNow" class="btn-booknow" />
                                                                            <div class="clearer"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearer"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<input type="hidden" name="hdfStrCarTypeSelect" id="hdfStrCarTypeSelect" value="" />
<input type="hidden" id="hdfoldPrice" name="hdfoldPrice" value="" />
<input type="hidden" id="hdnewDistance" name="hdnewDistance" value="" />
<input type="hidden" id="hdorigirnDistance" name="hdorigirnDistance" value="" />
<input type="hidden" id="hdnewTime" name="hdnewTime" value="" />
<input type="hidden" id="hdorigirnTime" name="hdorigirnTime" value="" />
<input type="hidden" id="hdarrayDistance" name="hdarrayDistance" value="" />

<div class="popup-content" id="popup-content"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmKr-NN3C2Es701KyQv3NJSVLG3njLf9E&libraries=places&callback=initMap"
        async defer></script>

<script type="text/javascript">
    function parseDate(str) {
        var mdy = str.split('/');
        return new Date(mdy[2], mdy[1], mdy[0]);
    }

    $(document).ready(function () {
        $("#txtFromLocation").focusout(function () {
            if ($("#txtFromPosition").val().trim() == "" || $("#txtFromLocation").val().trim() == null) {
                toastr.error("Bạn chưa điểm đi!");
                return false;
            }
        });
        $("#txtToLocation").focusout(function () {
            if ($("#txtToLocation").val().trim() == "" || $("#txtToLocation").val().trim() == null) {
                toastr.error("Bạn chưa nhập điểm đến!");
                return false;
            }
        });
        $("#PhoneNumber").focusout(function () {
            if ($("#PhoneNumber").val().trim() == "" || $("#PhoneNumber").val().trim() == null) {
                toastr.error('Bạn chưa nhập điện thoại liên hệ!');
                return false;
            }
        });

        $('#btnAdd').click(function () {
            if ($('#txtFromLocation').val() == "" || $('#txtFromLocation').val() == null) {
                toastr.error("Bạn chưa điểm đi!");
                return false;
            }

            if ($('#hfFrom').val().length === 0 && $('#hfLatFrom_create').val() === 0 && $('#hfLngFrom_create').val() === 0) {
                toastr.error("Bạn chưa điểm đi!");
                return false;
            }

            if ($('#txtToLocation').val() == "" || $('#txtToLocation').val() == null) {
                toastr.error("Bạn chưa nhập điểm đến!");
                return false;
            }

            if ($('#hfTo').val().length === 0 && $('#hfLatTo_create').val() === 0 && $('#hfLngTo_create').val() === 0) {
                toastr.error("Bạn chưa nhập điểm đến!")
                return false;
            }

            //var totalValueSelect = 0;
            //var strOrderCar = '';
            //$('#Payload').each(function () {
            //    if ($(this).val().length > 0) {
            //        strOrderCar = strOrderCar + $(this).attr('id') + ":" + $(this).val() + "|";

            //        var idItem = $(this).attr('id');
            //        var typeCar = idItem.split('-')[0].replace('_', '.');
            //        var valueItem = parseFloat(typeCar) * 1000;
            //        totalValueSelect = totalValueSelect + valueItem;
            //    } else {
            //        strOrderCar = strOrderCar + $(this).attr('id') + ":0|";
            //    }
            //});

            //$('#hdfStrCarTypeSelect').val(strOrderCar);

            if ($('#PhoneNumber').val() == "" || $('#PhoneNumber').val() == null) {
                toastr.error("Bạn chưa nhập điện thoại liên hệ!");
                return false;
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#Payload').change(function () {
                                                    ////event when select order car
                                                    //$('.orderCar').val("");
                                                    //$(this).val(1);
                                                    CalcualatorMoney();
                                                });
        $('#txtFromLocation').keypress(function (e) {
                                                    if (e.which === 13) {
                                                        console.log('on keypress from');
                                                        callserviceapi(true);
                                                        return false;
                                                    }
                                                });

        $('#txtToLocation').keypress(function (e) {
                                                    if (e.which === 13) {
                                                        console.log('on keypress to');
                                                        callserviceapi(false);
                                                        return false;
                                                    }
                                                });

        $('#txtFromLocation').on('change', function () {
                                                    var fromaddress = $('#hfFrom').val();
                                                    var latFrom = $('#hfLatFrom').val();
                                                    var lngFrom = $('#hfLngFrom').val();
                                                    if (fromaddress.length == 0) {
                                                        console.log('on change from');
                                                        //   callserviceapi(true);
                                                    }
                                                });

        $('#txtToLocation').on('change', function () {
                                                    var toaddress = $('#hfTo').val();
                                                    var latTo = $('#hfLatTo').val();
                                                    var lngTo = $('#hfLngTo').val();
                                                    if (toaddress.length == 0) {
                                                        console.log('on change to');
                                                        //   callserviceapi(false);
                                                    }
                                                });

                                                initMap();
                                            });
    var map;
                                            var mapOrder;
                                            var markers = [];
                                            var directionsService;
                                            var directionsDisplay;

                                            function initMap() {
                                                var lat = 21.033781;
                                                var lng = 105.814054;
                                                map = new google.maps.Map(document.getElementById('map'), {
            mapTypeControl: false,
            center: { lat: lat, lng: lng },
            zoom: 13
                                                });

        directionsService = new google.maps.DirectionsService;
        directionsDisplay = new google.maps.DirectionsRenderer({
            suppressMarkers: true
        });

        directionsDisplay.setMap(map);
        new AutocompleteDirectionsHandler(map);
                                        calculateAndDisplayRoute(directionsService, directionsDisplay);
                                    }
                                    // manager marker on map
                                    // Sets the map on all markers in the array.
                                    function setMapOnAll(map) {
                                        for (var i = 0; i < markers.length; i++) {
                                            markers[i].setMap(map);
                                        }
                                    }

                                    // Removes the markers from the map, but keeps them in the array.
                                    function clearMarkers() {
                                        setMapOnAll(null);
                                    }

                                    // Shows any markers currently in the array.
                                    function showMarkers() {
                                        setMapOnAll(map);
                                    }

                                    // Deletes all markers in the array by removing references to them.
                                    function deleteMarkers() {
                                        clearMarkers();
                                        markers = [];
                                    }

                                    function addMarker(address, position, i, end) {
                                        var color = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + i + '|8e60a0|ffffff';
                                        if (i == 1) {
                                            color = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + i + '|2757db|ffffff';
                                        }
                                        if (i == end) {
                                            color = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + i + '|FF0000|ffffff';
                                        }
                                        var marker = new google.maps.Marker({
            icon: color,
            position: position,
            map: map
                                        });
        var infowindow = new google.maps.InfoWindow({
            content: address,
        });
        marker.addListener('click', function () {
                                        infowindow.open(map, marker);
                                    });

        markers.push(marker);
        return;
    }
    function calculateAndDisplayRoute(directionsService, directionsDisplay) {

                                        var start = document.getElementById('txtFromLocation');
                                        var end = document.getElementById('txtToLocation');
                                        var oTotalTime = 0;
                                        var oToTalDistance = 0;
                                        if (start != null && end != null && start.value.length > 0 && end.value.length > 0) {
                                            directionsService1 = new google.maps.DirectionsService;
                                            var request = {
                origin: start.value,
                destination: end.value,
                travelMode: 'DRIVING'
                                            };
                                        directionsService1.route(request, function (result, status) {
                                            if (status == 'OK') {
                                                oTotalTime = result.routes[0].legs[0].duration.value;
                                                oToTalDistance = result.routes[0].legs[0].distance.value;
                                                var _totalWayPoints = 0;
                                                deleteMarkers();
                                                //waypoints
                                                waypts = [];
                                                waypts.length = 0;
                                                for (var i = 0; i < _totalWayPoints; i++) {
                                                    var v = document.getElementById('txtToLocation_' + i);
                                                    if (v !== null && v !== undefined && v.value != "") {
                                                        waypts.push({
                                                        location: v.value,
                                stopover: true
                                                        });
                                            }
                                        }

                                        var way1 = waypts;
                                        var _destination = document.getElementById('txtToLocation').value;
                                        var _origin = document.getElementById('txtFromLocation').value;
                                        if (_origin === null || _origin === undefined || _origin === "") {
                                            return;
                                        }
                                        if (_destination === undefined || _destination === null || _destination === "") {
                                            way1 = [];
                                            for (i = 0; i < waypts.length - 1; i++) {
                                                way1[i] = waypts[i];
                                            }
                                            if (waypts.length > 0) {
                                                _destination = waypts[waypts.length - 1].location;
                                            } else {
                                                return;
                                            }
                                        }
                                        directionsService.route({
                                        origin: _origin,
                        destination: _destination,
                        waypoints: way1,
                        optimizeWaypoints: false,
                        travelMode: 'DRIVING'
                                        }, function (response, status) {
                                            if (status === 'OK') {
                                                var markerCounter = 1;
                                                directionsDisplay.setDirections(response);
                                                var totalSeconds = directionsDisplay.directions.routes[0].legs[0].duration.value;
                                                var totalDistance = directionsDisplay.directions.routes[0].legs[0].distance.value;
                                                var arrayDistance = directionsDisplay.directions.routes[0].legs[0].distance.value;
                                                var route = response.routes[0];

                                                addMarker(_origin, route.legs[0].start_location, markerCounter++, way1.length + 2);

                                                for (var i = 0; i < route.legs.length - 1; i++) {

                                                    addMarker(way1[i].location, route.legs[i].end_location, markerCounter++, way1.length + 2);
                                                    totalSeconds += directionsDisplay.directions.routes[0].legs[i + 1].duration.value;
                                                    totalDistance += directionsDisplay.directions.routes[0].legs[i + 1].distance.value;
                                                    arrayDistance += "|" + directionsDisplay.directions.routes[0].legs[i + 1].distance.value;
                                                }

                                                addMarker(_destination, route.legs[route.legs.length - 1].end_location, markerCounter++, way1.length + 2);

                                                var days = Math.floor(totalSeconds / 86400)
                                                var hours = Math.floor((totalSeconds - days * 86400) / 3600);
                                                var minutes = Math.floor((totalSeconds - days * 86400 - hours * 3600) / 60);
                                                var seconds = Math.floor(totalSeconds - days * 86400 - hours * 3600 - minutes * 60);
                                                var thoigian = "";
                                                if (days > 0) {
                                                    thoigian = days + " ngày " + hours + " giờ " + minutes + " phút";
                                                } else {
                                                    thoigian = hours + " giờ " + minutes + " phút";
                                                }


                                                console.log(thoigian);

                                                document.getElementById('hdnewTime').value = totalSeconds;
                                                document.getElementById('hdnewDistance').value = totalDistance;
                                                document.getElementById('hdorigirnTime').value = oTotalTime;
                                                document.getElementById('hdorigirnDistance').value = oToTalDistance;
                                                document.getElementById('hdarrayDistance').value = arrayDistance;

                                                //sessionStorage.setItem('hdnewTime',totalSeconds);
                                                //sessionStorage.setItem('hdnewDistance',totalDistance);
                                                //sessionStorage.setItem('hdorigirnTime',oTotalTime);
                                                //sessionStorage.setItem('hdorigirnDistance',oToTalDistance);
                                                GetOrderPrice();
                                            } else {
                                                window.alert('Directions request failed due to ' + status);
                                            }
                                        });
                                    }
            });
        }

    }
    function AutocompleteDirectionsHandler(map) {
                                        var options = {
            //types: ['(cities)'],
            componentRestrictions: { country: "vn" }
                                    };
        this.map = map;
        this.originPlaceId = null;
        this.destinationPlaceId = null;
        this.travelMode = 'DRIVING';
        var originInput = document.getElementById('txtFromLocation');
        var destinationInput = document.getElementById('txtToLocation');
        this.directionsService = new google.maps.DirectionsService;
        this.directionsDisplay = new google.maps.DirectionsRenderer;
        this.directionsDisplay.setMap(map);
        var originAutocomplete = new google.maps.places.Autocomplete(
            originInput, options);
        var destinationAutocomplete = new google.maps.places.Autocomplete(
            destinationInput, options);
        this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
        this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');
        }

        AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function (autocomplete, mode) {
            var me = this;
            autocomplete.bindTo('bounds', this.map);
            autocomplete.addListener('place_changed', function () {
                var count = 0;

                var place = autocomplete.getPlace();
                var fromAddress = place.formatted_address;
                var toAddress = place.formatted_address;


                if (!place.place_id) {
                    console.log("hãy chọn địa chỉ từ danh sách gợi ý.");
                    return;
                }

                if (mode === 'ORIG') {
                $('#hfFrom').val(place.formatted_address);
                                                console.log('autocomplted from:' + place.formatted_address);
                $('#hfLatFrom').val(place.geometry.location.lat());
                $('#hfLngFrom').val(place.geometry.location.lng())
                                                me.originPlaceId = place.place_id;
                                            } else if (mode === 'DEST') {
                $('#hfTo').val(place.formatted_address);
                                                console.log('autocomplted to:' + place.formatted_address);
                $('#hfLatTo').val(place.geometry.location.lat());
                $('#hfLngTo').val(place.geometry.location.lng())
                    me.destinationPlaceId = place.place_id;
                } else {

                }
                //me.route();
                calculateAndDisplayRoute(directionsService, directionsDisplay);
                console.log('finish autocomplted');
                //GetOrderPrice();
            });
        };
        function GetOrderPrice() {
            var fromaddress = $('#hfFrom').val();
            var toaddress = $('#hfTo').val();
            var latFrom = $('#hfLatFrom').val();
            var lngFrom = $('#hfLngFrom').val();
            var latTo = $('#hfLatTo').val();
            var lngTo = $('#hfLngTo').val();
            if (fromaddress.length > 0 && toaddress.length > 0) {
                console.log("address ok");
                CalcualatorMoney();
            }
            else {
                console.log("research address");
                callserviceapi(true);
                callserviceapi(false);
            }
        }
        function CalcualatorMoney() {
            var fromaddress = $('#hfFrom').val();
            var toaddress = $('#hfTo').val();
            var latFrom = $('#hfLatFrom').val();
            var lngFrom = $('#hfLngFrom').val();
            var latTo = $('#hfLatTo').val();
            var lngTo = $('#hfLngTo').val();

            var newDistance = $('#hdnewDistance').val();
            var origirnDistance = $('#hdorigirnDistance').val();
            var newTime = $('#hdnewTime').val();
            var origirnTime = $('#hdorigirnTime').val();
            var arrayDistance = $('#hdarrayDistance').val();

            if (fromaddress == '' || toaddress == '' || fromaddress.length == 0 || toaddress.length == 0) {
                return;
            }
            if (fromaddress.length > 0 && toaddress.length > 0) {

                var strOrderCar = '';
            $('#Payload').each(function () {
                        //if ($(this).val().length > 0) {
                        //    strOrderCar = strOrderCar + $(this).attr('id') + ":" + $(this).val() + "|";
                        //} else {
                        //    strOrderCar = strOrderCar + $(this).attr('id') + ":0|";
                        //}
                        strOrderCar = $('#Payload').val();
                    });

                    var address = $('#hfFrom').val();
                    var lat = $('#hfLatFrom').val();
                    var lng = $('#hfLngFrom').val();

                    for (j = 0; j < 3; j++) {
                        var vvv = $('#hfTo_' + j).val();
                        if (vvv !== null && vvv !== undefined) {
                            if ($('#hfTo_' + j).val() !== '0' && $('#hfLatTo_' + j).val() !== '0' && $('#hfLngTo_' + j).val() !== '0') {
                        address += "|" + $('#hfTo_' + j).val();
                        lat += "|" + $('#hfLatTo_' + j).val();
                        lng += "|" + $('#hfLngTo_' + j).val();
                    }
                }
            }
            address += "|" + $('#hfTo').val();
            lat += "|" + $('#hfLatTo').val();
            lng += "|" + $('#hfLngTo').val();

            //var isVAT = $('#VAT').is(':checked');
            var addresssug = $('#txtFromLocation').val() + "|" + $('#txtToLocation').val();

            //Get địa chỉ khi lấy được lat lng từ autocomplete
            var isfinish1 = false;
            var isfinish2 = false;
        $.ajax({
                        url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + latFrom + "," + lngFrom + "&key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U",
            type: 'GET',
            success: function (res) {

                                if (res.status === 'OK')
                                    isfinish = true;
                    $('#hftxtFrom').val(res.results[0].formatted_address);
                    $.ajax({
                                url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + latTo + "," + lngTo  + "&key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U",
            type: 'GET',
            success: function (res) {
        if (res.status === 'OK') {
            isfinish2 = true;
        $('#hftxtTo').val(res.results[0].formatted_address);

        var addressApi = $('#hftxtFrom').val() + "|" + $('#hftxtTo').val();
        //var isVAT = $('#VAT').is(':checked');
        var isVAT = true;
            $('#hdfSoKmUocTinh').val("");
        $('#Gia').val("");
        $('#loader').show();
                                            var data = { addresssug: addresssug, addressApi: addressApi, address: address, lat: lat, lng: lng, strOrderCar: strOrderCar, newdistance: newDistance, origirndistance: origirnDistance, newtime: newTime, origirntime: origirnTime, arrayDistance: arrayDistance };
                                        console.log(data);
                $.ajax(
            {
                                        url: '@Url.Action("GetPriceAPI","Home")',
                data: JSON.stringify(data),
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                                                if (data.message.length > 0) {
                                                    console.log(data.message);
                                                    toastr.info(data.message);
                                                }
                    $('#loader').hide();
                                                var km = parseFloat(newDistance);
                    $('#hdfSoKmUocTinh').val(Math.floor(km/10)/100);
                    $('#Gia').val(data.totalPrice);
                    $('#hdfoldPrice').val(data.oldPrice);
                                                //$('#hftxtFrom').val("");
                                                //$('#hftxtTo').val("");
                                                //$('#txtFromLocation').val("");
                                                //$('#txtToLocation').val("");
                                            },
                error: function (response) {
                    $('#loader').hide();
                                            },
                failure: function (response) {
                    $('#loader').hide();
                                            }
                                        });

                                    }
                                }
                            });
                        }
                    });

                }
            }
    function callserviceapi(isfrom) {
                // call api when map not suggest address
                if (isfrom === true) {
                    console.log("from null");
                    if (($('#hfFrom').val() == "" || $('#hfLatFrom').val() == "" || $('#hfLngFrom').val() == "") && ($('#txtFromLocation').val().length > 0)) {
                        var address = $('#txtFromLocation').val();
                $.ajax({
                    url: 'https://maps.googleapis.com/maps/api/geocode/json?&address=' + address + "&key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U",
                    type: 'GET',
                    success: function (res) {
                        if (res.status === 'OK')
                        $('#hfFrom').val(res.results[0].formatted_address);
                        console.log('api:' + res.results[0].formatted_address);

                        $('#hfLatFrom').val(res.results[0].geometry.location.lat);
                        $('#hfLngFrom').val(res.results[0].geometry.location.lng);
                                //me.originPlaceId = res.results[0].place_id
                                CalcualatorMoney();
                                console.log("OK");
                            }
                        });
                    }
                } else {
                    if (($('#hfTo').val() == "" || $('#hfLatTo').val() == "" || $('#hfLngTo').val() == "") && ($('#txtToLocation').val().length > 0)) {
                        console.log("to null");
                        var address = $('#txtToLocation').val();
                $.ajax({
                    url: 'https://maps.googleapis.com/maps/api/geocode/json?&address=' + address + "&key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U",
                    type: 'GET',
                    success: function (res) {
                    if (res.status === 'OK') {
                    $('#hfTo').val(res.results[0].formatted_address);
                    $('#hfLatTo').val(res.results[0].geometry.location.lat);
                    $('#hfLngTo').val(res.results[0].geometry.location.lng);
                    CalcualatorMoney();
                    console.log("OK");
                                            //me.destinationPlaceId = res.results[0].place_id;
                                        }
                                    }
                                });
                            }
                        }
                    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
            function GetPopupOrder() {
                if (@User.Identity.IsAuthenticated.ToString().ToLower() == false) {
                    alert('vui lòng đăng nhập trước khi hoàn thành tạo đơn hàng');
                    window.location = "../Account/Login";
                    return false;
                }

                if ($('#txtFromLocation').val().length == 0) {
                alert('Bạn chưa chọn điểm đi');
                return false;
            }
            if ($('#txtToLocation').val().length == 0) {
                alert('Bạn chưa chọn điểm đến');
                return false;
            }
            if ($('#Gia').val().length == 0) {
                alert('Giá không được để trống');
                return false;
            }
            $('.preloader').show();
            $('#loader').show();
            $.ajax({
                 type: "GET",
                url: "/Home/FinishOrder",
                data: { 'diemdi': $('#txtFromLocation').val(), 'diemden': $('#txtToLocation').val(), 'loaixe': $('#Payload').val(), 'tongtien': $('#Gia').val(), 'latFrom': $('#hfLatFrom').val(), 'lngFrom': $('#hfLngFrom').val(), 'latTo': $('#hfLatTo').val(), 'lngTo': $('#hfLngTo').val() },
                //data: { 'diemdi': "Hà Nội, Việt Nam", 'diemden': "Quảng Ninh, Việt Nam", 'loaixe': "2.5", 'tongtien': "1.581.201", 'latFrom': "21.0277644", 'lngFrom': "105.8341598", 'latTo': "20.97198569999999", 'lngTo': "107.00391939999997" },
                contentType: "application/json;",
                datatype: "json",
                success: function (data) {
                    $('#popup-content').html('');
                    $('#popup-content').html(data);
                    $('#myModal').modal('show');

                    $('.preloader').hide();
                    $('#loader').hide();
                    $('#order-form').hide();
                    $('html,body').animate({scrollTop: $(".popup-register-order").offset().top}, 'slow');
                        initMap();
                  },
                error: function (response)
                {
                     alert("Content load failed. " + response.responseText);
                }
            });
        }
        $(".finishOrder").click(function ()
        {
            GetPopupOrder();
        });
    });
</script>