﻿@using Carrier.Models.Entities;
@model IEnumerable<Articles>
@{
    IList<Articles> lstData = Model.ToList<Articles>();
}
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
<style type="text/less">
    .sc_column_item {
        text-align: justify;
    }
</style>
@if (lstData.Count > 0)
{
    <section class="fullwidth_section forwarding_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sc_section">
                        <div class="sc_content container">
                            @foreach (Articles article in lstData)
                            {
                                if (lang == null || lang.Contains("vi"))
                                {
                                    <div class="col-md-3 col-sm-6 col-xs-6 sc_column_item">
                                        <h4 class="sc_title sc_title_regular">@article.Title </h4>
                                        @if (lstData.Count > 0)
                                        {
                                            <p>@Html.Raw(article.Summary)</p>
                                            <a href="@Url.Action("Details", "News", new { id = SlugHelper.GenerateSlug(article.Id, article.Title) })" class="sc_button sc_button_square sc_button_bg_underline  sc_button_iconed">
                                                xem thêm
                                                <span class="sc_button_iconed icon-right"></span>
                                            </a>
                                        }
                                    </div>
                                }
                                else if (lang.Equals("en"))
                                {
                                    <div class="col-md-3 col-sm-6 col-xs-6 sc_column_item">
                                        <h4 class="sc_title sc_title_regular">@article.Title_EN </h4>
                                        @if (lstData.Count > 0)
                                        {
                                            <p>@Html.Raw(article.Summary_EN)</p>
                                            <a href="@Url.Action("Details", "News",  new { id = SlugHelper.GenerateSlug(article.Id, article.Title) })" class="sc_button sc_button_square sc_button_bg_underline  sc_button_iconed">
                                                View
                                                <span class="sc_button_iconed icon-right"></span>
                                            </a>
                                        }
                                    </div>
                                }

                            }
                            @if (lang == null || lang.Contains("vi"))
                            {
                                <div style="text-align:center;">
                                    <a style="font-size:20px!important;margin-top:20px!important" href="/vi/van-tai-carrier" class="sc_button sc_button_iconed">
                                        Tất cả bài viết
                                        <span class="sc_button_iconed icon-right"></span>
                                    </a>
                                </div>

                            }
                            else
                            {
                                <div style="text-align:center">
                                    <a style="font-size:20px!important;margin-top:20px!important" href="/vi/van-tai-carrier" class="sc_button sc_button_iconed">
                                        Another Articles
                                        <span class="sc_button_iconed icon-right"></span>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
