﻿<section class="fullwidth_section no_padding_container testimonals_section testimonals_bg1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_section">
                    <div class="sc_section_overlay">
                        <div class="sc_section_content">
                            <div class="sc_content container">
                                <h2 class="subtitle_container"><br>Carrier</h2>
                                <h2 class="sc_title sc_title_regular sc_align_left">Khách hàng và đối tác nói về chúng tôi</h2>
                                <div class="sc_testimonials sc_slider_swiper swiper-slider-container sc_slider_controls sc_slider_height_auto" data-interval="7000">
                                    <div class="slides swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="sc_testimonial_item">
                                                <div class="sc_testimonial_avatar">
                                                    <img alt="testimonial2.jpg" src="~/images/testimonial/testimonial1-135x135.jpg">
                                                </div>
                                                <div class="sc_testimonial_wrap">
                                                    <div class="sc_testimonial_content">
                                                        <p>
                                                            Ứng dụng rất hay, doanh thu vận tải của tôi tăng lên đáng kể, trước kia rất nhiều xe của công ty trống hàng chiều về. Hiện nay số lượng xe trống hàng chiều về đã giảm đi nhiều. Chúc công ty thành công hơn  trong tương lai.
                                                        </p>
                                                    </div>
                                                    <div class="sc_testimonial_author">
                                                        <a href="#">Nguyễn Đức Duy</a>
                                                    </div>
                                                    <div class="sc_testimonial_field">Giám đốc điều hành, Doanh nghiệp vận tải Đức Cường, Hà Nội </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="sc_testimonial_item">
                                                <div class="sc_testimonial_avatar">
                                                    <img alt="testimonial3.jpg" src="~/images/testimonial/testimonial2-135x135.jpg">
                                                </div>
                                                <div class="sc_testimonial_wrap">
                                                    <div class="sc_testimonial_content">
                                                        <p>
                                                            Tuyệt vời, chi phí vận tải của doanh nghiệp chúng tôi giảm đi đáng kể so với trước đây, thời gian vận chuyển nhanh chóng tiện lợi, an toàn, tôi rất ấn tượng với ứng dụng này !
                                                        </p>
                                                    </div>
                                                    <div class="sc_testimonial_author">
                                                        <a href="#">Lê Thị Mai</a>
                                                    </div>
                                                    <div class="sc_testimonial_field">Nhân viên điều phối, Công  ty TNHH Sản Xuất và Thương Mại An Việt </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc_slider_controls_wrap">
                                        <a class="sc_slider_prev" href="#"></a>
                                        <a class="sc_slider_next" href="#"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

