﻿
@using Carrier.Models.Entities;
@model IEnumerable<Articles>
@{
    Articles thiTruongVanTai = new Articles();
    if (ViewBag.thiTruongVanTai != null)
    {
        thiTruongVanTai = ViewBag.thiTruongVanTai;
    }
    Articles thucTrang = new Articles();
    if (ViewBag.thucTrang != null)
    {
        thucTrang = ViewBag.thucTrang;
    }
    Articles giaiPhap = new Articles();
    if (ViewBag.giaiPhap != null)
    {
        giaiPhap = ViewBag.giaiPhap;
    }
}
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
<style>
    .btn-sm {
        width: 400px;
        height: 80px;
        font-size: 40px;
    }

    .sc_tabs_content {
        padding: 35px 70px 50px 0 !important;
    }
</style>
<section class="fullwidth_section no_padding_container dark_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_section">
                    <div class="sc_section_overlay">
                        <div class="sc_section_content">
                            <div class="sc_content container">
                                <div class="sc_section sc_tabs_section style_3">
                                    <div id="sc_tabs_1" class="sc_tabs sc_tabs_style_3" data-active="0">
                                        @if (lang == null || lang.Contains("vi"))
                                        {
                                            <div class="sc_tabs_wrap_first">
                                                <div class="sc_tabs_wrap">
                                                    <div class="sc_tabs_top">
                                                        <h2 class="title" style="font-size:23px">@Resources.ResourceVi.HeadLine1</h2>
                                                        <div class="description">@Resources.ResourceVi.HeadLine2</div>
                                                    </div>
                                                    <ul class="sc_tabs_titles" role="tablist">
                                                        <li class="sc_tabs_title" role="tab" tabindex="0" aria-controls="sc_tab_1" aria-labelledby="sc_tab_1_tab" aria-selected="true" aria-expanded="true">
                                                            <a href="#sc_tab_1" class="theme_button ui-tabs-anchor" id="sc_tab_1_tab" tabindex="-1">
                                                                @Resources.ResourceVi.RegisterDriver
                                                                <span class="icon-right11"></span>
                                                            </a>
                                                        </li>
                                                        <li class="sc_tabs_title" role="tab" tabindex="-1" aria-controls="sc_tab_2" aria-labelledby="sc_tab_2_tab" aria-selected="false" aria-expanded="false">
                                                            <a href="#sc_tab_2" class="theme_button ui-tabs-anchor" id="sc_tab_2_tab" tabindex="-1">
                                                                @Resources.ResourceVi.RegisterCustomer
                                                                <span class="icon-right11"></span>
                                                            </a>
                                                        </li>
                                                        <li class="sc_tabs_title last ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="sc_tab_3" aria-labelledby="sc_tab_3_tab" aria-selected="false" aria-expanded="false">
                                                            <a href="#sc_tab_3" class="theme_button ui-tabs-anchor" id="sc_tab_3_tab" tabindex="-1">
                                                                @Resources.ResourceVi.RegisterEnterprise
                                                                <span class="icon-right11"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div id="sc_tab_1" class="sc_tabs_content" aria-labelledby="sc_tab_1_tab" role="tabpanel" aria-hidden="false">
                                                    <h3 class="sc_title sc_title_regular">
                                                        @Html.Raw(thiTruongVanTai.Title)
                                                    </h3>
                                                    <div class="sc_skills sc_skills_bar3 sc_skills_vertical" data-type="bar3" data-subtitle="Skills" data-dir="vertical">
                                                        @Html.Raw(thiTruongVanTai.Summary)
                                                    </div>

                                                    <a class="btn btn-info btn-sm" style="
    height: 80px;
    font-size: 40px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da" href="/Home/RegisterDriver" target="_blank">Đăng ký tài xế</a>
                                                </div>


                                                <div id="sc_tab_2" class="sc_tabs_content" aria-labelledby="sc_tab_2_tab" role="tabpanel" aria-hidden="true">

                                                    <h3 class="sc_title sc_title_regular">
                                                        @Html.Raw(thucTrang.Title)
                                                    </h3>
                                                    <div class="sc_section aligncenter">
                                                        @Html.Raw(thucTrang.Summary)
                                                    </div>

                                                    <a class="btn btn-info btn-sm" style="height: 80px;
    font-size: 40px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da" href="/Account/Register" target="_blank">Đăng ký khách hàng</a>
                                                </div>

                                                <div id="sc_tab_3" class="sc_tabs_content" aria-labelledby="sc_tab_3_tab" role="tabpanel" aria-hidden="true">

                                                    <h3 class="sc_title sc_title_regular">
                                                        @Html.Raw(giaiPhap.Title)
                                                    </h3>
                                                    <p>
                                                        @Html.Raw(giaiPhap.Summary)
                                                    </p>

                                                    <a class="btn btn-info btn-sm" style="height: 80px;
    font-size: 40px;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da" href="/Home/RegisterEnterprise" target="_blank">Đăng ký đối tác</a>
                                                </div>

                                            </div>
                                        }
                                        else if (lang.Equals("en"))
                                        {
                                            <div class="sc_tabs_wrap_first">
                                                <div class="sc_tabs_wrap">
                                                    <div class="sc_tabs_top">
                                                        <h2 class="title" style="font-size:27px">@Resources.ResourceEn.HeadLine1</h2>
                                                        <div class="description">@Resources.ResourceEn.HeadLine2</div>
                                                    </div>
                                                    <ul class="sc_tabs_titles" role="tablist">
                                                        <li class="sc_tabs_title" role="tab" tabindex="0" aria-controls="sc_tab_1" aria-labelledby="sc_tab_1_tab" aria-selected="true" aria-expanded="true">
                                                            <a href="#sc_tab_1" class="theme_button ui-tabs-anchor" id="sc_tab_1_tab" tabindex="-1">
                                                                @Resources.ResourceEn.RegisterDriver
                                                                <span class="icon-right11"></span>
                                                            </a>
                                                        </li>
                                                        <li class="sc_tabs_title" role="tab" tabindex="-1" aria-controls="sc_tab_2" aria-labelledby="sc_tab_2_tab" aria-selected="false" aria-expanded="false">
                                                            <a href="#sc_tab_2" class="theme_button ui-tabs-anchor" id="sc_tab_2_tab" tabindex="-1">
                                                                @Resources.ResourceEn.RegisterCustomer
                                                                <span class="icon-right11"></span>
                                                            </a>
                                                        </li>
                                                        <li class="sc_tabs_title last ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="sc_tab_3" aria-labelledby="sc_tab_3_tab" aria-selected="false" aria-expanded="false">
                                                            <a href="#sc_tab_3" class="theme_button ui-tabs-anchor" id="sc_tab_3_tab" tabindex="-1">
                                                                @Resources.ResourceEn.RegisterEnterprise
                                                                <span class="icon-right11"></span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div id="sc_tab_1" class="sc_tabs_content" aria-labelledby="sc_tab_1_tab" role="tabpanel" aria-hidden="false">
                                                    <h3 class="sc_title sc_title_regular">
                                                        @Html.Raw(thiTruongVanTai.Title_EN)
                                                    </h3>
                                                    <div class="sc_skills sc_skills_bar3 sc_skills_vertical" data-type="bar3" data-subtitle="Skills" data-dir="vertical">
                                                        @Html.Raw(thiTruongVanTai.Summary_EN)
                                                    </div>

                                                    <a class="btn btn-info btn-sm" href="/Home/RegisterDriver" target="_blank">@Resources.ResourceEn.RegisterButton</a>
                                                </div>


                                                <div id="sc_tab_2" class="sc_tabs_content" aria-labelledby="sc_tab_2_tab" role="tabpanel" aria-hidden="true">

                                                    <h3 class="sc_title sc_title_regular">
                                                        @Html.Raw(thucTrang.Title_EN)
                                                    </h3>
                                                    <div class="sc_section aligncenter">
                                                        @Html.Raw(thucTrang.Summary_EN)
                                                    </div>

                                                    <a class="btn btn-info btn-sm" href="/Account/Register" target="_blank">@Resources.ResourceEn.RegisterButton</a>
                                                </div>

                                                <div id="sc_tab_3" class="sc_tabs_content" aria-labelledby="sc_tab_3_tab" role="tabpanel" aria-hidden="true">

                                                    <h3 class="sc_title sc_title_regular">
                                                        @Html.Raw(giaiPhap.Title_EN)
                                                    </h3>
                                                    <p>
                                                        @Html.Raw(giaiPhap.Summary_EN)
                                                    </p>

                                                    <a class="btn btn-info btn-sm" href="/Home/RegisterEnterprise" target="_blank">@Resources.ResourceEn.RegisterButton</a>
                                                </div>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>