﻿@using Carrier.Models.Entities;
@using Carrier.CMS.Common;
@model IEnumerable<Articles>
@{
    List<Articles> lstLatestNew = Model.ToList<Articles>();

    //var lstArticleOlder = ((IEnumerable<Articles>)ViewBag.ArticleOlder).ToList();

    List<Articles> lstArticleOlder = new List<Articles>();
    if (ViewBag.ArticleOlder != null)
    {
        lstArticleOlder = (List<Articles>)ViewBag.ArticleOlder;
    }
}
<style type="text/css">
    .post_item{
        text-align:justify;
        min-height:inherit;
    }
</style>
<section class="fullwidth_section no_padding_container news_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_section">
                    <div class="sc_content container">
                        <h1 class="subtitle_container">
                            <br>
                            Carrier
                        </h1>
                        <h2 class="sc_title sc_title_regular sc_align_left">TIN MỚI NHẤT</h2>
                        <div class="sc_blogger layout_news template_news sc_blogger_horizontal">
                            <div class="columns_wrap">
                                @for (int i = 0; i < lstLatestNew.Count(); i++)
                                {
                                    <div class="col-sm-3 column_item_@(i+1)">
                                        <div class="post_item_news sc_blogger_item">
                                            <h2 class="post_title sc_title sc_blogger_title">@(lstLatestNew[i].Title)</h2>
                                            <div class="post_item post_content sc_blogger_content" style="color:black;">
                                                <div class="post_descr">
                                                    <p style="color:black">@Html.Raw(lstLatestNew[i].Summary)</p>
                                                    <a title="@lstLatestNew[i].Title" href="@Url.Action("Details","News",new { id = SlugHelper.GenerateSlug(lstLatestNew[i].Id, lstLatestNew[i].Title) })" class="sc_button sc_button_square sc_button_bg_underline  sc_button_iconed ">
                                                        Xem thêm 
                                                        <span class="sc_button_iconed icon-right"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                        <div class="related_wrap">
                            <h3 class="section_title">Bài viết cũ hơn</h3>
                            <div class="columns_wrap">
                                @foreach (Articles item in lstArticleOlder)
                                {
                                    <div class="post_content">
                                        <div class="post_content_wrap">
                                            <p class="post_title">
                                                <a title="@item.Title" href="@Url.Action("Details","News",new { id = SlugHelper.GenerateSlug(item.Id, item.Title) })">@item.Title</a>
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
