﻿@using Carrier.Models.Entities;
@using Carrier.CMS.Common;
@model HtmlContent
@{
    ViewBag.Title = "Giới thiệu về Carrier";
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<div class="page_content_wrap">
    <div class="content_wrap">
        <div class="content">
            @if (Model != null)
            {
                @Html.Raw(Model.Description)
            }
            else
            {
                <span>Giới thiệu</span>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#menu-main li.current-menu-item").removeClass("current-menu-item");
        $("#about").addClass('current-menu-item');
    });
</script>


@*banner 2 bên*@
@*<div id="divAdRight" style="DISPLAY: none; POSITION: absolute; TOP: 0px">
    <a href="https://vantaitoiuu.com" target="_blank"><img border="0" src="~/Images/right-bar.jpg" width="170" /></a>
</div>
<div id="divAdLeft" style="DISPLAY: none; POSITION: absolute; TOP: 0px">
    <a href="https://vantaitoiuu.com" target="_blank"><img border="0" src="~/Images/left-bar.jpg" width="170" /></a>
</div>

<script>
    function FloatTopDiv()
    {
        startLX = 0, startLY = TopAdjust;
        startRX = document.body.clientWidth - RightBannerW, startRY = TopAdjust;
        var d = document;
        function ml(id)
        {
            var el=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
            el.sP=function(x,y){this.style.left=x + 'px';this.style.top=y + 'px';};
            el.x = startRX;
            el.y = startRY;
            return el;
        }
        function m2(id)
        {
            var e2=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
            e2.sP=function(x,y){this.style.left=x + 'px';this.style.top=y + 'px';};
            e2.x = startLX;
            e2.y = startLY;
            return e2;
        }
        window.stayTopLeft=function()
        {
            if (document.documentElement && document.documentElement.scrollTop)
                var pY =  document.documentElement.scrollTop;
            else if (document.body)
                var pY =  document.body.scrollTop;
             if (document.body.scrollTop > 120){startLY = 3;startRY = 3;} else  {startLY = TopAdjust;startRY = TopAdjust;};
            ftlObj.y += (pY+startRY-ftlObj.y)/60;
            ftlObj.sP(ftlObj.x, ftlObj.y);
            ftlObj2.y += (pY+startLY-ftlObj2.y)/60;
            ftlObj2.sP(ftlObj2.x, ftlObj2.y);
            setTimeout("stayTopLeft()", 10);
        }
        ftlObj = ml("divAdRight");
        ftlObj2 = m2("divAdLeft");
        stayTopLeft();
    }
    function ShowAdDiv()
    {
        var objAdDivRight = document.getElementById("divAdRight");
        var objAdDivLeft = document.getElementById("divAdLeft");
        
        if (document.body.clientWidth < 1025)
        {
            objAdDivRight.style.display = "none";
            objAdDivLeft.style.display = "none";
        }
        else
        {
            objAdDivRight.style.display = "block";
            objAdDivLeft.style.display = "block";
            FloatTopDiv();
        }
    }
</script>
<script>
document.write("<script type='text/javascript' language='javascript'>MainContentW = 950;LeftBannerW = 170;RightBannerW = 170;LeftAdjust = 0;RightAdjust = 0;TopAdjust = 150;ShowAdDiv();window.onresize=ShowAdDiv;<\/script>");
</script>*@
@*banner 2 bên*@