﻿@using Carrier.Models.Entities;
@using Carrier.Utilities;
@model Order
@{
    ViewBag.Title = "Thêm mới vận đơn";

    List<CarType>
    listCarType = (List<CarType>
        )Session["LIST_CAR"];
    int _WAYPOINTS = Carrier.Utilities.PublicConstant.WAYPOINTS;
    string diemdi = ViewBag.diemdi;
    string diemden = ViewBag.diemden;
    string loaixe = ViewBag.loaixe;
    string tongtien = ViewBag.tongtien;
    string latFrom = ViewBag.latFrom;
    string lngFrom = ViewBag.lngFrom;
    string latTo = ViewBag.latTo;
    string lngTo = ViewBag.lngTo;
    string phonenumber = ViewBag.phonenumber;

    var lang = ViewContext.RouteData.Values["lang"] as string;
        }
        <style type="text/css">
            .mode {
                margin-top: 12px !important;
            }

            .form-group {
                margin-bottom: 5px !important;
            }

            input[input[type=radio] {
                margin-top: 12px;
            }

            #mapFrom, #mapTo {
                border: 1px solid gray;
                position: relative;
                overflow: hidden;
                height: 200px;
            }

            .bootstrap-timepicker-hour {
                width: 35px !important;
            }

            input::placeholder {
                color: red;
            }

            .content_wrap {
                width: 100% !important;
                padding: 10px !important;
            }

            .bootstrap-timepicker-widget tr td {
                border: none !important;
            }

            .datepicker td, .datepicker th {
                border: none !important;
            }

            .white:hover {
                background-color: none !important;
            }

            .ui-widget-content {
                border: 1px solid #c5c5c5;
            }

            .table-condensed td:hover {
                cursor: pointer;
            }

            .user-info small {
                display: inline !important;
            }
        </style>
        <!-- ace styles -->
        <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
        <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
        <link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
        <script src="~/assets/js/ace-extra.min.js"></script>
        @*@using (Ajax.BeginForm("CreateOrder", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "contactUsPartial" }))*@
        @using (Html.BeginForm("CreateOrder", "Home", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="modals fades popup-register-order" id="create-order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:20000 !important; display:inline">
            <div class="modal-dialogs modal-lgs">
                <div class="modal-contents" style="width:auto !important">
                    <div class="modal-header no-padding">
                        <div class="table-headers" style="color: #307ecc; margin-bottom: 1px; text-align: center; font-size: 30px; padding: 10px; font-weight: normal; text-transform: uppercase; text-shadow: 2px 2px 2px #cdcd94;">
                            Đăng vận đơn
                        </div>
                    </div>

                    <div class="modal-body no-padding container">
                        <div class="row" style="margin: 18px 0px -10px 0px; width:100%; padding: 0px 10px 25px 10px">
                            <div class="row">
                                <center>
                                    <div class="content_wrap">
                                        <div class="col-md-6">
                                            <div class="form-horizontal">
                                                @foreach (CarType item in listCarType)
                                                {
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        <div style="width:55%;margin-top: 10px;" class="pull-left">Xe @item.Name</div>
                                                        @if (double.Parse(item.Value.Split('.')[0]) <= 10)
                                                        {
                                                        @Html.DropDownList("" + item.Value.Replace(".", "_") + "-" + item.Id + "", new SelectListItem[]{
                                                        new SelectListItem() {Text = "1", Value="1"},
                                                        new SelectListItem() {Text = "2", Value="2"},
                                                        new SelectListItem() {Text = "3", Value="3"},
                                                        new SelectListItem() {Text = "4", Value="4"},
                                                        new SelectListItem() {Text = "5", Value="5"},
                                                        new SelectListItem() {Text = "6", Value="6"},
                                                        new SelectListItem() {Text = "7", Value="7"},
                                                        new SelectListItem() {Text = "8", Value="8"},
                                                        new SelectListItem() {Text = "9", Value="9"},
                                                        new SelectListItem() {Text = "10", Value="10"},
                                                        new SelectListItem() {Text = "11", Value="11"},
                                                        new SelectListItem() {Text = "12", Value="12"},
                                                        new SelectListItem() {Text = "13", Value="13"},
                                                        new SelectListItem() {Text = "14", Value="14"},
                                                        new SelectListItem() {Text = "15", Value="15"},
                                                        new SelectListItem() {Text = "16", Value="16"},
                                                        new SelectListItem() {Text = "17", Value="17"},
                                                        new SelectListItem() {Text = "18", Value="18"},
                                                        new SelectListItem() {Text = "19", Value="19"},
                                                        new SelectListItem() {Text = "20", Value="20"},
                                                        new SelectListItem() {Text = "21", Value="21"},
                                                        new SelectListItem() {Text = "22", Value="22"},
                                                        new SelectListItem() {Text = "23", Value="23"},
                                                        new SelectListItem() {Text = "24", Value="24"},
                                                        new SelectListItem() {Text = "25", Value="25"},
                                                        new SelectListItem() {Text = "26", Value="26"},
                                                        new SelectListItem() {Text = "27", Value="27"},
                                                        new SelectListItem() {Text = "28", Value="28"},
                                                        new SelectListItem() {Text = "29", Value="29"},
                                                        new SelectListItem() {Text = "30", Value="30"}
                                                        }, "---", new { @id = item.Value.Replace(".", "_") + "-" + item.Id, @name = item.Value.Replace(".", "_") + "-" + item.Id, @class = "orderCar form-control changeplaceholder", @Style = "width:40%" })
                                                        }else
                                                        {
                                                        @Html.DropDownList("" + item.Value.Replace(".", "_") + "-" + item.Id + "", new SelectListItem[]{
                                                        new SelectListItem() {Text = "1", Value="1"},
                                                        new SelectListItem() {Text = "2", Value="2"},
                                                        new SelectListItem() {Text = "3", Value="3"},
                                                        new SelectListItem() {Text = "4", Value="4"},
                                                        new SelectListItem() {Text = "5", Value="5"},
                                                        new SelectListItem() {Text = "6", Value="6"},
                                                        new SelectListItem() {Text = "7", Value="7"},
                                                        new SelectListItem() {Text = "8", Value="8"},
                                                        new SelectListItem() {Text = "9", Value="9"},
                                                        new SelectListItem() {Text = "10", Value="10"},
                                                        new SelectListItem() {Text = "11", Value="11"},
                                                        new SelectListItem() {Text = "12", Value="12"},
                                                        new SelectListItem() {Text = "13", Value="13"},
                                                        new SelectListItem() {Text = "14", Value="14"},
                                                        new SelectListItem() {Text = "15", Value="15"},
                                                        new SelectListItem() {Text = "16", Value="16"},
                                                        new SelectListItem() {Text = "17", Value="17"},
                                                        new SelectListItem() {Text = "18", Value="18"},
                                                        new SelectListItem() {Text = "19", Value="19"},
                                                        new SelectListItem() {Text = "20", Value="20"},
                                                        new SelectListItem() {Text = "21", Value="21"},
                                                        new SelectListItem() {Text = "22", Value="22"},
                                                        new SelectListItem() {Text = "23", Value="23"},
                                                        new SelectListItem() {Text = "24", Value="24"},
                                                        new SelectListItem() {Text = "25", Value="25"},
                                                        new SelectListItem() {Text = "26", Value="26"},
                                                        new SelectListItem() {Text = "27", Value="27"},
                                                        new SelectListItem() {Text = "28", Value="28"},
                                                        new SelectListItem() {Text = "29", Value="29"},
                                                        new SelectListItem() {Text = "30", Value="30"}
                                                        }, "---", new { @id = item.Value.Replace(".", "_") + "-" + item.Id, @name = item.Value.Replace(".", "_") + "-" + item.Id, @class = "orderCar form-control changeplaceholder", @Style = "width:40%", @disabled = "true" })
                                                        }
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="@item.Value.Replace(" .", "_" ) + '-' + @item.Id+" _NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                                }
                                                <span class="red pull-right" style="margin-top: 5px; margin-right: 5px;"> (*)</span>
                                            </div>

                                            <div style="clear:both"></div>
                                            <div class="form-horizontal">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtFromPosition", diemdi, new { @class = "form-control changeplaceholder", @name = "txtFromPosition", @id = "txtFromPosition", @Style = "width:100%", @placeholder = "Điểm đi" })
                                                        <span class="red pull-right" style="margin-top: -27px; margin-right: 0px;"> (*)</span>
                                                        <input type="hidden" id="hfFrom_create" name="hfFrom_create" />
                                                        <input type="hidden" id="hfLatFrom_create" name="hfLatFrom_create" />
                                                        <input type="hidden" id="hfLngFrom_create" name="hfLngFrom_create" />
                                                        <input type="hidden" id="hftxtFrom" name="hftxtFrom" />
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="txtFromPosition_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="form-horizontal">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:left">
                                                    <div id="toLocationGroup">
                                                        <input type="hidden" name="counterDiemTraHang_create" id="counterDiemTraHang_create" value="0" />
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-white btn-info btn-bold" id='addToLocationButton' type="button">
                                                            <i class="ace-icon glyphicon glyphicon-plus bigger-120 blue"></i>
                                                            Thêm điểm trả hàng
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="form-horizontal">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtToPosition", diemden, new { @class = "form-control changeplaceholder pull-right", @name = "txtToPosition", @id = "txtToPosition", @Style = "width:100%", @placeholder = "Điểm đến" })
                                                        <span class="red pull-right" style="margin-top: -27px; margin-right: 0px;"> (*)</span>
                                                        <input type="hidden" id="hfTo_create" name="hfTo_create" />
                                                        <input type="hidden" id="hfLatTo_create" name="hfLatTo_create" />
                                                        <input type="hidden" id="hfLngTo_create" name="hfLngTo_create" />
                                                        <input type="hidden" id="hftxtTo" name="hftxtTo" />
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="txtToPosition_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="form-horizontal">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.TextBox("TenHang", "", new { @class = "form-control changeplaceholder", @name = "TenHang", @id = "TenHang", @placeholder = "Tên hàng", @Style = "width:100%" })
                                                        <span class="red pull-right" style="margin-top: -27px; margin-right: 0px;"> (*)</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="TenHang_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="form-horizontal">
                                                <div class="row" style="margin-left:0px">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            @Html.TextBox("DienThoaiLienHe", "", new { @class = "form-control changeplaceholder", @name = "DienThoaiLienHe", @id = "DienThoaiLienHe", @placeholder = "Điện thoại liên hệ", @Style = "width:95%; float:left" })
                                                            <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <span class="lb-Check" id="DienThoaiLienHe_NULL" style="margin-left: 0px; color:red"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            @Html.TextBox("NguoiLienHe", "", new { @class = "form-control changeplaceholder", @name = "NguoiLienHe", @id = "NguoiLienHe", @placeholder = "Người liên hệ", @Style = "width:95%; float:left" })
                                                            <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                                                        </div>
                                                        <div class="form-group">
                                                            <span class="lb-Check" id="NguoiLienHe_NULL" style="margin-left: 0px; color:red"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="form-horizontal">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.TextArea("Note", "", new { @id = "Note", @name = "Note", @class = "form-control changeplaceholder", @style = "height: 64px; width:100%", @placeholder = "Ghi chú" })
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="Note_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="form-horizontal">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtTimeDi", "", new { @class = "date-picker form-control changeplaceholder", @Style = "width:90%; float:left", @id = "txtTimeDi", @name = "txtTimeDi", @placeholder = "Thời gian đi", @autocomplete = "off" })
                                                        <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="txtTimeDi_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        @Html.TextBox("ThoiGianBocHangDi", "", new { @class = "time-picker form-control changeplaceholder", @Style = "width:90% ; float:left", @name = "ThoiGianBocHangDi", @placeholder = "Thời gian bốc hàng (giờ)", @autocomplete = "off" })
                                                        <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="ThoiGianBocHang_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtTimeDen", "", new { @class = "date-picker form-control changeplaceholder", @Style = "width:90%; float:left", @name = "txtTimeDen", @id = "txtTimeDen", @placeholder = "Thời gian đến", @autocomplete = "off" })
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="txtTimeDen_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        @Html.TextBox("ThoiGianBocHangDen", "", new { @class = "form-control time-picker changeplaceholder pull-right", @Style = "width:90%; float:left", @name = "ThoiGianBocHangDen", @id = "ThoiGianBocHangDen", @placeholder = "Thời gian bốc hàng đến (giờ)", @autocomplete = "off" })
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="ThoiGianDoHang_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="form-horizontal">
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtLenght", "", new { @class = "form-control changeplaceholder", @Style = "width:90%; float:left", @name = "txtLenght", @id = "txtLenght", @placeholder = "Chiều dài (m)" })
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="txtLenght_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtWidth", "", new { @class = "form-control changeplaceholder", @Style = "width:90%; float:left", @name = "txtWidth", @id = "txtWidth", @placeholder = "Chiều rộng (m)" })
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="txtWidth_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtHeight", "", new { @class = "form-control changeplaceholder", @Style = "width:90%; float:left", @name = "txtHeight", @id = "txtHeight", @placeholder = "Chiều cao (m)" })
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="txtHeight_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtTrongLuong", "", new { @class = "form-control changeplaceholder pull-right", @style = "width:90%; float:left", @name = "txtTrongLuong", @id = "txtTrongLuong", @placeholder = "Trọng lượng (kg)" })
                                                        <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 5px;"> (*)</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="txtTrongLuong_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-horizontal">
                                                <div style="border: 1px solid gray; height:254px;" id="mapOrder">
                                                </div>
                                            </div>
                                            <div style="clear:both; height:12px;"></div>
                                            <div class="form-horizontal">
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtSoKmUocTinh", "", new { @class = "form-control changeplaceholder", @name = "txtSoKmUocTinh", @id = "txtSoKmUocTinh", @style = "width:90%;pointer-events: none; float:left", @placeholder = "Số km ước tính" })
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="txtSoKmUocTinh_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.TextBox("GiaPopup", tongtien, new { @id = "GiaPopup", @name = "Gia", @class = "form-control changeplaceholder", @style = "float: left; width: 80%; float:left", @placeholder = "Giá (VNĐ)", @readonly = "true" })
                                                        <div style="padding-top:7px">
                                                            <a title="tính lại giá" style="padding: 0px 0px 0px 15px;" href="javascript:void(0);" onclick="GetOrderPrice();"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="GiaPopup_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.TextBox("txtSoGio", "", new { @id = "txtSoGio", @name = "txtSoGio", @class = "form-control pull-right", @style = "pointer-events: none;float: left; width: 90%; float:left", @placeholder = "Số giờ ước tính (giờ)" })
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="SoGio_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="form-horizontal">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        Thanh toán: <input type="hidden" id="Payby_create" name="Payby_create" value="tiền mặt(mặc định)" />
                                                        <input type="radio" id="rCash" checked="checked" name="rThanhToan" class="mode" value="Chuyển khoản" />
                                                        <span>Chuyển khoản</span>&nbsp;&nbsp;
                                                        <input type="radio" id="rPaypal" name="rThanhToan" class="mode" value="Tiền mặt" />
                                                        <span>Tiền mặt</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="ThanhToan_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            @*<div class="form-horizontal">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.CheckBox("VAT", true) &nbsp; Có VAT
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="lb-Check" id="VAT_NULL" style="margin-left: 0px; color:red"></span>
                                                    </div>
                                                </div>
                                            </div>*@

                                            <div style="clear:both;"></div>
                                            @if (User.IsInRole(Carrier.Utilities.PublicConstant.ROLE_ENTERPRISE))
                                            {
                                            <div class="form-horizontal">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.DropDownList("Status", new SelectListItem[]{
                                                        new SelectListItem() {Text = "Khớp lệnh tự động", Value="1"},
                                                        new SelectListItem() {Text = "Khớp lệnh bằng tay", Value="0"},
                                                        }, new { @id = "Status", @name = "Status", @class = "form-control changeplaceholder pull-right" })
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                            @if (User.IsInRole(Carrier.Utilities.PublicConstant.ROLE_FORWARDER))
                                            {
                                            <div class="form-horizontal">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        @Html.DropDownList("Status", new SelectListItem[]{
                                                        new SelectListItem() {Text = "Khớp lệnh tự động", Value="1"},
                                                        }, new { @id = "Status", @name = "Status", @class = "form-control changeplaceholder pull-right" })
                                                    </div>
                                                </div>
                                            </div>
                                            }

                                            <div style="clear:both;"></div>
                                            <div class="form-horizontal">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <span class="red">(*) là điều kiện bắt buộc nhập</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both;height:12px;"></div>
                                        <div class="form-horizontal">
                                            <div class="form-group" style="text-align:center">
                                                @if (lang == null || lang.Contains("vi"))
                                                {
                                                <input type="submit" id="btnAdd" value="Đăng vận đơn" class="btn-style" />
                                                Html.Raw("&nbsp; &nbsp;");
                                                @*@Html.ActionLink("Hủy", "Index", null, new { @class = "btn-style btn_cancal_order" })*@
                                                <a href="javascript:void(0)" class="btn-style btn_cancal_order">Hủy</a>                                        }
                                                else
                                                {
                                                <input type="submit" id="btnAdd" value="create orders" class="btn-style" />
                                                Html.Raw("&nbsp; &nbsp;");
                                                @*@Html.ActionLink("Cancel", "Index", null, new { @class = "btn-style" })*@
                                                <a href="javascript:void(0)" class="btn-style btn_cancal_order">Cancel</a>
                                                }
                                            </div>
                                        </div>
                                        <input type="hidden" name="hdTotalWayPoints_create" id="hdTotalWayPoints_create" value="@_WAYPOINTS" />
                                        <input type="hidden" id="hdfoldPrice_create" name="hdfoldPrice_create" value="" />
                                        <input type="hidden" id="hdnewDistance_create" name="hdnewDistance_create" value="" />
                                        <input type="hidden" id="hdorigirnDistance_create" name="hdorigirnDistance_create" value="" />
                                        <input type="hidden" id="hdnewTime_create" name="hdnewTime_create" value="" />
                                        <input type="hidden" id="hdorigirnTime_create" name="hdorigirnTime_create" value="" />
                                        <input type="hidden" id="hdarrayDistance_create" name="hdarrayDistance_create" value="" />
                                        <input type="hidden" name="hdfStrCarTypeSelect_create" id="hdfStrCarTypeSelect_create" />

                                        <div id="loader" style="height: 100%; width: 100%;text-align: center;
                                                                background: #f5f5f5;opacity: 0.5;z-index: 999;
                                                                position: absolute;left: 0px;top: 0px;cursor: wait; display:none">
                                            <img style="position: absolute; top: 50%;" src="~/Content/images/pageloader.gif" alt="" width="70" height="70" />
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @*google map*@
        <script type="text/javascript">
            var mapOrder;
            var markers = [];
            var directionsService;
            var directionsDisplay;

            function initMap() {
                var lat = @latFrom;
                var lng = @lngFrom;
                mapOrder = new google.maps.Map(document.getElementById('mapOrder'), {
                    mapTypeControl: false,
                    center: { lat: lat, lng: lng },
                    zoom: 13
                });

                directionsService = new google.maps.DirectionsService;
                directionsDisplay = new google.maps.DirectionsRenderer({
                    suppressMarkers: true
                });

                directionsDisplay.setMap(mapOrder);
                new AutocompleteDirectionsHandler(mapOrder);
                calculateAndDisplayRoute(directionsService, directionsDisplay);
            }

            function setMapOnAll(mapOrder) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(mapOrder);
                }
            }
            function clearMarkers() {
                setMapOnAll(null);
            }
            function showMarkers() {
                setMapOnAll(mapOrder);
            }
            function deleteMarkers() {
                clearMarkers();
                markers = [];
            }
            function addMarker(address, position, i, end) {
                var color = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + i + '|8e60a0|ffffff';
                if (i == 1) {
                    color = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + i + '|2757db|ffffff';
                }
                if (i == end) {
                    color = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + i + '|FF0000|ffffff';
                }
                var marker = new google.maps.Marker({
                    icon: color,
                    position: position,
                    map: mapOrder
                });
                var infowindow = new google.maps.InfoWindow({
                    content: address,
                });
                marker.addListener('click', function () {
                    infowindow.open(mapOrder, marker);
                });

                markers.push(marker);
                return;
            }
            function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                var start = document.getElementById('txtFromPosition');
                var end = document.getElementById('txtToPosition');
                var oTotalTime = 0;
                var oToTalDistance = 0;
                if (start != null && end != null && start.value.length > 0 && end.value.length > 0) {
                    directionsService1 = new google.maps.DirectionsService;
                    var request = {
                        origin: start.value,
                        destination: end.value,
                        travelMode: 'DRIVING'
                    };
                    directionsService1.route(request, function (result, status) {
                        if (status == 'OK') {
                            oTotalTime = result.routes[0].legs[0].duration.value;
                            oToTalDistance = result.routes[0].legs[0].distance.value;
                            var _totalWayPoints = document.getElementById("hdTotalWayPoints_create").value;
                            deleteMarkers();
                            waypts = [];
                            waypts.length = 0;
                            for (var i = 0; i < _totalWayPoints; i++) {
                                var v = document.getElementById('txtToPosition_' + i);
                                if (v !== null && v !== undefined && v.value != "") {
                                    waypts.push({
                                        location: v.value,
                                        stopover: true
                                    });
                                }
                            }

                            var way1 = waypts;
                            var _destination = document.getElementById('txtToPosition').value;
                            var _origin = document.getElementById('txtFromPosition').value;
                            if (_origin === null || _origin === undefined || _origin === "") {
                                return;
                            }
                            if (_destination === undefined || _destination === null || _destination === "") {
                                way1 = [];
                                for (i = 0; i < waypts.length - 1; i++) {
                                    way1[i] = waypts[i];
                                }
                                if (waypts.length > 0) {
                                    _destination = waypts[waypts.length - 1].location;
                                } else {
                                    return;
                                }
                            }
                            directionsService.route({
                                origin: _origin,
                                destination: _destination,
                                waypoints: way1,
                                optimizeWaypoints: false,
                                travelMode: 'DRIVING'
                            }, function (response, status) {
                                if (status === 'OK') {
                                    var markerCounter = 1;
                                    directionsDisplay.setDirections(response);
                                    var totalSeconds = directionsDisplay.directions.routes[0].legs[0].duration.value;
                                    var totalDistance = directionsDisplay.directions.routes[0].legs[0].distance.value;
                                    var arrayDistance = directionsDisplay.directions.routes[0].legs[0].distance.value;
                                    var route = response.routes[0];

                                    addMarker(_origin, route.legs[0].start_location, markerCounter++, way1.length + 2);

                                    for (var i = 0; i < route.legs.length - 1; i++) {

                                        addMarker(way1[i].location, route.legs[i].end_location, markerCounter++, way1.length + 2);
                                        totalSeconds += directionsDisplay.directions.routes[0].legs[i + 1].duration.value;
                                        totalDistance += directionsDisplay.directions.routes[0].legs[i + 1].distance.value;
                                        arrayDistance += "|" + directionsDisplay.directions.routes[0].legs[i + 1].distance.value;
                                    }

                                    addMarker(_destination, route.legs[route.legs.length - 1].end_location, markerCounter++, way1.length + 2);

                                    var days = Math.floor(totalSeconds / 86400)
                                    var hours = Math.floor((totalSeconds - days * 86400) / 3600);
                                    var minutes = Math.floor((totalSeconds - days * 86400 - hours * 3600) / 60);
                                    var seconds = Math.floor(totalSeconds - days * 86400 - hours * 3600 - minutes * 60);
                                    var thoigian = "";
                                    if (days > 0) {
                                        thoigian = days + " ngày " + hours + " giờ " + minutes + " phút";
                                    } else {
                                        thoigian = hours + " giờ " + minutes + " phút";
                                    }

                                    document.getElementById('txtSoGio').value = thoigian;
                                    console.log(thoigian);

                                    document.getElementById('hdnewTime_create').value = totalSeconds;
                                    document.getElementById('hdnewDistance_create').value = totalDistance;
                                    document.getElementById('hdorigirnTime_create').value = oTotalTime;
                                    document.getElementById('hdorigirnDistance_create').value = oToTalDistance;
                                    document.getElementById('hdarrayDistance_create').value = arrayDistance;

                                    GetOrderPrice();
                                } else {
                                    window.alert('Directions request failed due to ' + status);
                                }
                            });
                        }
                    });
                }

            }
            function AutocompleteDirectionsHandler(mapOrder) {
                var options = {
                    //types: ['(cities)'],
                    componentRestrictions: { country: "vn" }
                };
                this.map = mapOrder;
                this.originPlaceId = null;
                this.destinationPlaceId = null;
                this.travelMode = 'DRIVING';
                var originInput = document.getElementById('txtFromPosition');
                var destinationInput = document.getElementById('txtToPosition');
                this.directionsService = new google.maps.DirectionsService;
                this.directionsDisplay = new google.maps.DirectionsRenderer;
                this.directionsDisplay.setMap(mapOrder);

                var originAutocomplete = new google.maps.places.Autocomplete(
                    originInput, options);
                var destinationAutocomplete = new google.maps.places.Autocomplete(
                    destinationInput, options);


                this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
                this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');
            }

            //    var originAutocomplete = new google.maps.places.Autocomplete(
            //        originInput,options);
            //    var destinationAutocomplete = new google.maps.places.Autocomplete(
            //        destinationInput,options);


            //    this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
            //    this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');
            //}

            AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function (autocomplete, mode) {
                var me = this;
                autocomplete.bindTo('bounds', this.map);
                autocomplete.addListener('place_changed', function () {
                    var count = 0;
                    $('.orderCar').each(function () {
                        if ($(this).val().length > 0) {
                            count = count + 1;
                        }
                    });
                    if (count === 0) {
                        alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                        $('#txtFromPosition').val('');
                        $('#txtToPosition').val('');
                        return false;
                    }

                    var place = autocomplete.getPlace();
                    var fromAddress = place.formatted_address;
                    var toAddress = place.formatted_address;

                    if (!place.place_id) {
                        console.log("hãy chọn địa chỉ từ danh sách gợi ý.");
                        return;
                    }

                    if (mode === 'ORIG') {
                        $('#hfFrom').val(place.formatted_address);
                        console.log('autocomplted from:' + place.formatted_address);
                        $('#hfLatFrom').val(place.geometry.location.lat());
                        $('#hfLngFrom').val(place.geometry.location.lng())
                        me.originPlaceId = place.place_id;
                    } else if (mode === 'DEST') {
                        $('#hfTo').val(place.formatted_address);
                        console.log('autocomplted to:' + place.formatted_address);
                        $('#hfLatTo').val(place.geometry.location.lat());
                        $('#hfLngTo').val(place.geometry.location.lng())
                        me.destinationPlaceId = place.place_id;
                    } else {

                    }
                    calculateAndDisplayRoute(directionsService, directionsDisplay);
                    console.log('finish autocomplted');
                });
            };

            function GetOrderPrice() {
                var fromaddress = $('#hfFrom_create').val();
                var toaddress = $('#hfTo_create').val();
                var latFrom = $('#hfLatFrom_create').val();
                var lngFrom = $('#hfLngFrom_create').val();
                var latTo = $('#hfLatTo_create').val();
                var lngTo = $('#hfLngTo_create').val();
                if (fromaddress.length > 0 && toaddress.length > 0) {
                    console.log("address ok");
                    CalcualatorMoney();
                }
                else {
                    console.log("research address");
                    callserviceapi(true);
                    callserviceapi(false);
                }
            }

            function CalcualatorMoney() {
                var fromaddress = $('#hfFrom_create').val();
                var toaddress = $('#hfTo_create').val();
                var latFrom = $('#hfLatFrom_create').val();
                var lngFrom = $('#hfLngFrom_create').val();
                var latTo = $('#hfLatTo_create').val();
                var lngTo = $('#hfLngTo_create').val();

                var newDistance = $('#hdnewDistance_create').val();
                var origirnDistance = $('#hdorigirnDistance_create').val();
                var newTime = $('#hdnewTime_create').val();
                var origirnTime = $('#hdorigirnTime_create').val();
                var arrayDistance = $('#hdarrayDistance_create').val();

                if (fromaddress == '' || toaddress == '' || fromaddress.length == 0 || toaddress.length == 0) {
                    return;
                }
                if (fromaddress.length > 0 && toaddress.length > 0) {

                    var strOrderCar = '';
                    $('.orderCar').each(function () {
                        if ($(this).val().length > 0) {
                            strOrderCar = strOrderCar + $(this).attr('id') + ":" + $(this).val() + "|";
                        } else {
                            strOrderCar = strOrderCar + $(this).attr('id') + ":0|";
                        }
                    });

                    var address = $('#hfFrom_create').val();
                    var lat = $('#hfLatFrom_create').val();
                    var lng = $('#hfLngFrom_create').val();

                    for (j = 0; j < 3; j++) {
                        var vvv = $('#hfTo_' + j).val();
                        if (vvv !== null && vvv !== undefined) {
                            if ($('#hfTo_' + j).val() !== '0' && $('#hfLatTo_' + j).val() !== '0' && $('#hfLngTo_' + j).val() !== '0') {
                                address += "|" + $('#hfTo_' + j).val();
                                lat += "|" + $('#hfLatTo_' + j).val();
                                lng += "|" + $('#hfLngTo_' + j).val();
                            }
                        }
                    }
                    address += "|" + $('#hfTo_create').val();
                    lat += "|" + $('#hfLatTo_create').val();
                    lng += "|" + $('#hfLngTo_create').val();



                    //Get địa chỉ khi lấy được lat lng từ autocomplete
                    var isfinish1 = false;
                    var isfinish2 = false;
                    $.ajax({
                        url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + latFrom + "," + lngFrom,
                        type: 'GET',
                        success: function (res) {

                            if (res.status === 'OK')
                                isfinish = true;
                            $('#hftxtFrom').val(res.results[0].formatted_address);
                            $.ajax({
                                url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + latTo + "," + lngTo,
                                type: 'GET',
                                success: function (res) {
                                    if (res.status === 'OK') {
                                        isfinish2 = true;
                                        $('#hftxtTo').val(res.results[0].formatted_address);

                                        var addressApi = $('#hftxtFrom').val() + "|" + $('#hftxtTo').val();
                                        //var isVAT = $('#VAT').is(':checked');
                                        var isVAT = true;
                                        $('#txtSoKmUocTinh').val("");
                                        $('#GiaPopup').val("");
                                        $('#loader').show();
                                        var data = { address: address, lat: lat, lng: lng, strOrderCar: strOrderCar, newdistance: newDistance, origirndistance: origirnDistance, newtime: newTime, origirntime: origirnTime, arrayDistance: arrayDistance };
                                        $.ajax(
                                            {
                                                url: '@Url.Action("GetPriceAPI", "Home")',
                                                data: JSON.stringify(data),
                                                dataType: "json",
                                                type: "POST",
                                                contentType: "application/json; charset=utf-8",
                                                success: function (data) {
                                                    if (data.message.length > 0) {
                                                        //console.log(data.message);
                                                        toastr.info(data.message);
                                                    }
                                                    $('#loader').hide();
                                                    var km = parseFloat(newDistance);
                                                    $('#txtSoKmUocTinh').val(Math.floor(km / 10) / 100);
                                                    $('#GiaPopup').val(data.totalPrice);
                                                    $('#hdfoldPrice_create').val(data.oldPrice);
                                                },
                                                error: function (response) {
                                                    $('#loader').hide();
                                                },
                                                failure: function (response) {
                                                    $('#loader').hide();
                                                }
                                            });
                                    }
                                }
                            });
                        }
                    });

                }
            }

            function tinhsogio() {
                var fromHour = document.getElementById('ThoiGianBocHangDi').value;
                var toHour = document.getElementById('ThoiGianBocHangDen').value;
                var dateFrom = document.getElementById('txtTimeDi').value;
                var dateTo = document.getElementById('txtTimeDen').value;
                if (document.getElementById('txtTimeDi').value.length > 0 && document.getElementById('txtTimeDen').value.length > 0) {
                    var fromString = dateFrom.split('/')[1] + "/" + dateFrom.split('/')[0] + "/" + dateFrom.split('/')[2] + " " + fromHour;
                    var toString = dateTo.split('/')[1] + "/" + dateTo.split('/')[0] + "/" + dateTo.split('/')[2] + " " + toHour;
                    var from = new Date(fromString);
                    var to = new Date(toString);
                    var offset = to.getTime() - from.getTime();
                    var hours = Math.floor(offset / 1000 / 60 / 60);
                    document.getElementById('txtSoGio').value = hours;
                }
            }

            function callserviceapi(isfrom) {
                if (isfrom === true) {
                    console.log("from null");
                    if (($('#hfFrom_create').val() == "" || $('#hfLatFrom_create').val() == "" || $('#hfLngFrom_create').val() == "") && ($('#txtFromPosition').val().length > 0)) {
                        var address = $('#txtFromPosition').val();
                        $.ajax({
                            url: 'https://maps.googleapis.com/maps/api/geocode/json?&address=' + address,
                            type: 'GET',
                            success: function (res) {
                                if (res.status === 'OK')

                                    $('#hfFrom_create').val(res.results[0].formatted_address);
                                console.log('api:' + res.results[0].formatted_address);

                                $('#hfLatFrom_create').val(res.results[0].geometry.location.lat);
                                $('#hfLngFrom_create').val(res.results[0].geometry.location.lng);
                                CalcualatorMoney();
                                console.log("OK");
                            }
                        });
                    }
                } else {
                    if (($('#hfTo_create').val() == "" || $('#hfLatTo_create').val() == "" || $('#hfLngTo_create').val() == "") && ($('#txtToPosition').val().length > 0)) {
                        console.log("to null");
                        var address = $('#txtToPosition').val();
                        $.ajax({
                            url: 'https://maps.googleapis.com/maps/api/geocode/json?&address=' + address,
                            type: 'GET',
                            success: function (res) {
                                if (res.status === 'OK') {
                                    $('#hfTo_create').val(res.results[0].formatted_address);
                                    $('#hfLatTo_create').val(res.results[0].geometry.location.lat);
                                    $('#hfLngTo_create').val(res.results[0].geometry.location.lng);
                                    CalcualatorMoney();
                                    console.log("OK");
                                }
                            }
                        });
                    }
                }
            }

            $(document).ready(function () {
                $('.orderCar').change(function () {
                    CalcualatorMoney();
                });
                $('#Status').change(function () {
                    var st = '';
                    st = $('#Status').val();
                    if (st == '0') {
                        $('#GiaPopup').prop('readonly', !$('#GiaPopup').prop('readonly'));
                    }
                    else {
                        $('#GiaPopup').attr('readonly', !$('#GiaPopup').attr('readonly'));
                    }
                });
                $("#txtTimeDi").focus(function () {
                    tinhsogio();
                });
                $("#ThoiGianBocHangDi").focus(function () {
                    tinhsogio();
                });
                $("#txtTimeDen").focus(function () {
                    tinhsogio();
                });
                $("#ThoiGianBocHangDen").focus(function () {
                    tinhsogio();
                });
                $("#txtLenght").focus(function () {
                    tinhsogio();
                });
                $("#txtWidth").focus(function () {
                    tinhsogio();
                });
                $("#txtHeight").focus(function () {
                    tinhsogio();
                });
                $("#txtTrongLuong").focus(function () {
                    tinhsogio();
                });
                $('#txtFromPosition').focus(function (e) {
                    var count = 0;
                    $('.orderCar').each(function () {
                        if ($(this).val().length > 0) {
                            count = count + 1;
                        }
                    });

                    if (count === 0) {
                        alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                        $('#txtFromPosition').blur();
                        return false;
                    }
                });
                $('#txtToPosition').focus(function (e) {
                    var count = 0;
                    $('.orderCar').each(function () {
                        if ($(this).val().length > 0) {
                            count = count + 1;
                        }
                    });

                    if (count === 0) {
                        alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                        $('#txtToPosition').blur();
                        return false;
                    }
                });
                $('#txtFromPosition').keypress(function (e) {
                    if (e.which === 13) {
                        console.log('on keypress from');
                        callserviceapi(true);
                        return false;
                    }
                });
                $('#txtToPosition').keypress(function (e) {
                    if (e.which === 13) {
                        console.log('on keypress to');
                        callserviceapi(false);
                        return false;
                    }
                });
                $('#txtFromPosition').on('change', function () {
                    var fromaddress = $('#hfFrom_create').val();
                    var latFrom = $('#hfLatFrom_create').val();
                    var lngFrom = $('#hfLngFrom_create').val();
                    if (fromaddress.length == 0) {
                        console.log('on change from');
                        //   callserviceapi(true);
                    }
                });
                $('#txtToPosition').on('change', function () {
                    var toaddress = $('#hfTo_create').val();
                    var latTo = $('#hfLatTo_create').val();
                    var lngTo = $('#hfLngTo_create').val();
                    if (toaddress.length == 0) {
                        console.log('on change to');
                        //   callserviceapi(false);
                    }
                });

                //Thêm textbox điểm trả hàng
                var counter = 0;
                var totalWayPoints = $('#hdTotalWayPoints_create').val();
                $("#addToLocationButton").click(function () {
                    if (counter > totalWayPoints - 1) {
                        alert('Tối đa thêm ' + totalWayPoints + ' điểm trả hàng');
                        return false;
                    }
                    //gan id sao cho khong bi trung voi id da tao
                    var id123 = 0;
                    debugger
                    for (i = 0; i < totalWayPoints; i++) {
                        if (document.getElementById('txtToPosition_' + id123) !== null && document.getElementById('txtToPosition_' + id123) !== undefined) {
                            id123 = i;
                        }
                    }

                    var newTextBox = $(document.createElement('div')).attr({ id: 'txtToPositionDiv_' + id123, class: 'form-group' });
                    newTextBox.after().html('<input style="width:100%" pull-right class="form-control changeplaceholder" id="txtToPosition_' + id123 + '" name="txtToPosition_' + id123 + '" placeholder="Điểm trả hàng" type="text" value="">' +
                        ' <span class="removeDiemTraHang red pull-right " style="margin-top: -26px; margin-right: 5px;"> <i class="ace-icon glyphicon glyphicon-remove "></i></span>'
                        + '<input type="hidden" id="hfTo_' + id123 + '" name="hfTo_' + id123 + '" value="" />'
                        + '<input type="hidden" id="hfLatTo_' + id123 + '" name="hfLatTo_' + id123 + '" value="0" />'
                        + '<input type="hidden" id="hfLngTo_' + id123 + '" name="hfLngTo_' + id123 + '" value="0" />'
                    );
                    newTextBox.appendTo("#toLocationGroup");

                    counter++;
                    $("#counterDiemTraHang").val(counter);
                    //tạo autocomplete google map cho textbox diem tra hang
                    var options =
                        {
                            componentRestrictions: { country: "vn" }
                        };
                    var autocomplete = new google.maps.places.Autocomplete(document.getElementById('txtToPosition_' + id123), options);
                    autocomplete.bindTo('bounds', mapOrder);
                    autocomplete.addListener('place_changed', function () {
                        var place = autocomplete.getPlace();
                        if (!place.place_id) {
                            console.log("hãy chọn địa chỉ từ danh sách gợi ý.");
                            return;
                        }
                        debugger
                        //tính kinh độ vĩ độ
                        if ($('#txtToPosition_' + id123).length > 0 && $('#txtToPosition_' + id123).val().length > 0) {
                            console.log("to null");
                            var address = $('#txtToPosition_' + id123).val();
                            $.ajax(
                                {
                                    url: 'https://maps.googleapis.com/maps/api/geocode/json?&address=' + address,
                                    type: 'GET',
                                    success: function (res) {
                                        if (res.status === 'OK') {
                                            $('#hfTo_' + id123).val(res.results[0].formatted_address);
                                            $('#hfLatTo_' + id123).val(res.results[0].geometry.location.lat);
                                            $('#hfLngTo_' + id123).val(res.results[0].geometry.location.lng);
                                            console.log("OK");
                                            //me.destinationPlaceId = res.results[0].place_id;
                                            calculateAndDisplayRoute2(directionsService, directionsDisplay);
                                        }
                                    }
                                });
                        }
                    });
                });
                //ve lai map sau khi remove mot diem tra hang
                $(document).on("click", ".removeDiemTraHang", function () {
                    if (counter == 0) {
                        alert("Không còn điểm trả hàng");
                        return false;
                    }
                    counter--;
                    $("#counterDiemTraHang").val(counter);
                    $(this).closest("div").remove();
                    calculateAndDisplayRoute2(directionsService, directionsDisplay);
                });
            });

            function calculateAndDisplayRoute2(directionsService, directionsDisplay) {
                var start = document.getElementById('txtFromPosition');
                var end = document.getElementById('txtToPosition');
                var oTotalTime = 0;
                var oToTalDistance = 0;
                if (start != null && end != null && start.value.length > 0 && end.value.length > 0) {
                    directionsService1 = new google.maps.DirectionsService;
                    var request = {
                        origin: start.value,
                        destination: end.value,
                        travelMode: 'DRIVING'
                    };
                    directionsService1.route(request, function (result, status) {
                        if (status == 'OK') {
                            oTotalTime = result.routes[0].legs[0].duration.value;
                            oToTalDistance = result.routes[0].legs[0].distance.value;
                            var _totalWayPoints = document.getElementById("hdTotalWayPoints_create").value;
                            deleteMarkers();
                            //waypoints
                            waypts = [];
                            waypts.length = 0;
                            for (var i = 0; i < _totalWayPoints; i++) {
                                var v = document.getElementById('txtToPosition_' + i);
                                if (v !== null && v !== undefined && v.value != "") {
                                    waypts.push({
                                        location: v.value,
                                        stopover: true
                                    });
                                }
                            }

                            var way1 = waypts;
                            var _destination = document.getElementById('txtToPosition').value;
                            var _origin = document.getElementById('txtFromPosition').value;
                            if (_origin === null || _origin === undefined || _origin === "") {
                                return;
                            }
                            if (_destination === undefined || _destination === null || _destination === "") {
                                way1 = [];
                                for (i = 0; i < waypts.length - 1; i++) {
                                    way1[i] = waypts[i];
                                }
                                if (waypts.length > 0) {
                                    _destination = waypts[waypts.length - 1].location;
                                } else {
                                    return;
                                }
                            }
                            directionsService.route({
                                origin: _origin,
                                destination: _destination,
                                waypoints: way1,
                                optimizeWaypoints: false,
                                travelMode: 'DRIVING'
                            }, function (response, status) {
                                if (status === 'OK') {
                                    var markerCounter = 1;
                                    directionsDisplay.setDirections(response);
                                    var totalSeconds = directionsDisplay.directions.routes[0].legs[0].duration.value;
                                    var totalDistance = directionsDisplay.directions.routes[0].legs[0].distance.value;
                                    var arrayDistance = directionsDisplay.directions.routes[0].legs[0].distance.value;
                                    var route = response.routes[0];

                                    addMarker(_origin, route.legs[0].start_location, markerCounter++, way1.length + 2);

                                    for (var i = 0; i < route.legs.length - 1; i++) {
                                        addMarker(way1[i].location, route.legs[i].end_location, markerCounter++, way1.length + 2);
                                        totalSeconds += directionsDisplay.directions.routes[0].legs[i + 1].duration.value;
                                        totalDistance += directionsDisplay.directions.routes[0].legs[i + 1].distance.value;
                                        arrayDistance += "|" + directionsDisplay.directions.routes[0].legs[i + 1].distance.value;
                                    }

                                    addMarker(_destination, route.legs[route.legs.length - 1].end_location, markerCounter++, way1.length + 2);

                                    var days = Math.floor(totalSeconds / 86400)
                                    var hours = Math.floor((totalSeconds - days * 86400) / 3600);
                                    var minutes = Math.floor((totalSeconds - days * 86400 - hours * 3600) / 60);
                                    var seconds = Math.floor(totalSeconds - days * 86400 - hours * 3600 - minutes * 60);
                                    var thoigian = "";
                                    if (days > 0) {
                                        thoigian = days + " ngày " + hours + " giờ " + minutes + " phút";
                                    } else {
                                        thoigian = hours + " giờ " + minutes + " phút";
                                    }

                                    console.log(thoigian);

                                    document.getElementById('hdnewTime_create').value = totalSeconds;
                                    document.getElementById('hdnewDistance_create').value = totalDistance;
                                    document.getElementById('hdorigirnTime_create').value = oTotalTime;
                                    document.getElementById('hdorigirnDistance_create').value = oToTalDistance;
                                    document.getElementById('hdarrayDistance_create').value = arrayDistance;
                                    //GetOrderPrice();
                                } else {
                                    window.alert('Directions request failed due to ' + status);
                                }
                            });
                        }
                    });
                }
            }
        </script>
        @*google map*@
        <script type="text/javascript">
            $(document).ready(function () {
                var strURLPath = window.location.pathname;
                var activeId = "Orders";
                $('#main_menu li#' + activeId).addClass('active');
                $('#main_menu li#' + activeId).parents('li').addClass('active open')
            });
        </script>

        <script src="~/assets/js/jquery-ui.custom.min.js"></script>
        <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
        <script src="~/assets/js/chosen.jquery.min.js"></script>
        <script src="~/assets/js/fuelux.spinner.min.js"></script>
        <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
        <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
        <script src="~/assets/js/moment.min.js"></script>
        <script src="~/assets/js/daterangepicker.min.js"></script>
        <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
        <script src="~/assets/js/jquery.knob.min.js"></script>
        <script src="~/assets/js/jquery.autosize.min.js"></script>
        <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
        <script src="~/assets/js/jquery.maskedinput.min.js"></script>
        <script src="~/assets/js/bootstrap-tag.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
        <script>
            $(document).ready(function () {
                $('.date-picker').datepicker({
                    format: 'dd/mm/yyyy',
                    minDate: 0
                });

                $('.time-picker').timepicker({
                    minuteStep: 1,
                    showMeridian: false
                }).next().on(ace.click_event, function () {
                    $(this).prev().focus();
                });

                $.mask.definitions['~'] = '[+-]';
                $('.input-mask-phone').mask('(999) 999-9999');
                $('.input-mask-date').mask('99/99/9999');
                $('.input-mask-phone').mask('(999) 999-9999');
            });
        </script>
        <script type="text/javascript">
            function parseDate(str) {
                var mdy = str.split('/');
                return new Date(mdy[2], mdy[1], mdy[0]);
            }

            $(document).ready(function () {
                var timenow = new Date();
                myTimeSpan = 120 * 60 * 1000; // thêm 120 phút vào giờ hiện tại
                timenow.setTime(timenow.getTime() + myTimeSpan);
                var hournow = timenow.getHours();
                var minutenow = timenow.getMinutes();
                $('#ThoiGianBocHangDi').val(hournow + ':' + minutenow);
                $('#ThoiGianBocHangDen').val('');

                $("#txtFromPosition").focusout(function () {
                    if ($("#txtFromPosition").val().trim() == "" || $("#txtFromPosition").val().trim() == null) {
                        $("#txtFromPosition_NULL").html('Bạn chưa điểm đi!');
                        return false;
                    } else {
                        $("#txtFromPosition_NULL").html('');
                    }
                });
                $("#txtToPosition").focusout(function () {
                    if ($("#txtToPosition").val().trim() == "" || $("#txtToPosition").val().trim() == null) {
                        $("#txtToPosition_NULL").html('Bạn chưa nhập điểm đến!');
                        return false;
                    } else {
                        $("#txtToPosition_NULL").html('');
                    }
                });
                $("#TenHang").focusout(function () {
                    if ($("#TenHang").val().trim() == "" || $("#TenHang").val().trim() == null) {
                        $("#TenHang_NULL").html('Bạn chưa nhập tên hàng!');
                        return false;
                    } else {
                        $("#TenHang_NULL").html('');
                    }
                });
                $("#DienThoaiLienHe").focusout(function () {
                    if ($("#DienThoaiLienHe").val().trim() == "" || $("#DienThoaiLienHe").val().trim() == null) {
                        $("#DienThoaiLienHe_NULL").html('Bạn chưa nhập điện thoại liên hệ!');
                        return false;
                    } else {
                        $("#DienThoaiLienHe_NULL").html('');
                    }
                });

                $("#txtTimeDi").focusout(function () {
                    if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                        var dateGo = $('#txtTimeDi').val();
                        var hourGo = $('#ThoiGianBocHangDi').val();
                        var dateEnd = $('#txtTimeDen').val();
                        var hourEnd = $('#ThoiGianBocHangDen').val();

                        var strTimeGo = dateGo.split('/')[2] + '/' + dateGo.split('/')[1] + '/' + dateGo.split('/')[0] + ' ' + hourGo;
                        var strTimeEnd = dateEnd.split('/')[2] + '/' + dateEnd.split('/')[1] + '/' + dateEnd.split('/')[0] + ' ' + hourEnd;
                        var giodi = Date.parse(strTimeGo);
                        var gioden = Date.parse(strTimeEnd);

                        if (giodi > gioden) {
                            $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                            return false;
                        } else {
                            $("#txtTimeDi_NULL").html("");
                        }
                    }
                });
                $("#txtTimeDen").focusout(function () {
                    if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                        var dateGo = $('#txtTimeDi').val();
                        var hourGo = $('#ThoiGianBocHangDi').val();
                        var dateEnd = $('#txtTimeDen').val();
                        var hourEnd = $('#ThoiGianBocHangDen').val();

                        var strTimeGo = dateGo.split('/')[2] + '/' + dateGo.split('/')[1] + '/' + dateGo.split('/')[0] + ' ' + hourGo;
                        var strTimeEnd = dateEnd.split('/')[2] + '/' + dateEnd.split('/')[1] + '/' + dateEnd.split('/')[0] + ' ' + hourEnd;
                        var giodi = Date.parse(strTimeGo);
                        var gioden = Date.parse(strTimeEnd);

                        if (giodi > gioden) {
                            $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                            return false;
                        } else {
                            $("#txtTimeDi_NULL").html("");
                        }
                    }
                });
                $("#txtTrongLuong").focus(function () {
                    if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                        var dateGo = $('#txtTimeDi').val();
                        var hourGo = $('#ThoiGianBocHangDi').val();
                        var dateEnd = $('#txtTimeDen').val();
                        var hourEnd = $('#ThoiGianBocHangDen').val();

                        var strTimeGo = dateGo.split('/')[2] + '/' + dateGo.split('/')[1] + '/' + dateGo.split('/')[0] + ' ' + hourGo;
                        var strTimeEnd = dateEnd.split('/')[2] + '/' + dateEnd.split('/')[1] + '/' + dateEnd.split('/')[0] + ' ' + hourEnd;
                        var giodi = Date.parse(strTimeGo);
                        var gioden = Date.parse(strTimeEnd);

                        if (giodi > gioden) {
                            $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                            return false;
                        } else {
                            $("#txtTimeDi_NULL").html("");
                        }
                    }
                });

                $("#txtTrongLuong").focusout(function () {
                    if ($("#txtTrongLuong").val().trim() == "" || $("#txtTrongLuong").val().trim() == null) {
                        $("#txtTrongLuong_NULL").html('Bạn chưa nhập trọng lượng!');
                        return false;
                    } else {
                        $("#txtTrongLuong_NULL").html('');
                    }

                    if ($.isNumeric($('#txtTrongLuong').val()) == false) {
                        $('#txtTrongLuong_NULL').html('trọng lượng phải là số');
                        return false;
                    }

                    var totalValueSelect = 0;
                    var strOrderCar = '';
                    $('.orderCar').each(function () {
                        if ($(this).val().length > 0) {
                            var idItem = $(this).attr('id');
                            var typeCar = idItem.split('-')[0].replace('_', '.');
                            var valueItem = parseFloat(typeCar) * 1000;
                            totalValueSelect = totalValueSelect + valueItem;
                        } else {
                            strOrderCar = strOrderCar + $(this).attr('id') + ":0:";
                        }
                    });

                    //valueItem
                    if (totalValueSelect < parseFloat($('#txtTrongLuong').val())) {
                        $('#txtTrongLuong_NULL').html('trọng lượng hàng quá tải');
                        return false;
                    } else {
                        $('#txtTrongLuong_NULL').html('');
                    }
                });

                $('#btnAdd').click(function () {
                    var count = 0;
                    $('.orderCar').each(function () {
                        if ($(this).val().length > 0) {
                            count = count + 1;
                        }
                    });

                    if (count === 0) {
                        alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                        return false;
                    }

                    if ($('#txtFromPosition').val() == "" || $('#txtFromPosition').val() == null) {
                        $('#txtFromPosition_NULL').html('Bạn nhập điểm đi!');
                        return false;
                    } else {
                        $('#txtFromPosition_NULL').html('');
                    }

                    if ($('#hfFrom_create').val().length === 0 && $('#hfLatFrom_create').val() === 0 && $('#hfLngFrom_create').val() === 0) {
                        $('#txtFromPosition_NULL').html('Bạn nhập điểm đi!');
                        return false;
                    }

                    if ($('#txtToPosition').val() == "" || $('#txtToPosition').val() == null) {
                        $('#txtToPosition_NULL').html('Bạn nhập điểm đến!');
                        return false;
                    } else {
                        $('#txtToPosition_NULL').html('');
                    }

                    if ($('#hfTo_create').val().length === 0 && $('#hfLatTo_create').val() === 0 && $('#hfLngTo_create').val() === 0) {
                        $('#txtToPosition_NULL').html('Bạn nhập điểm đến!');
                        return false;
                    }

                    if ($('#TenHang').val() == "" || $('#TenHang').val() == null) {
                        $('#TenHang_NULL').html('Bạn chưa nhập tên vận đơn!');
                        return false;
                    } else {
                        $("#TenHang_NULL").html('');
                    }

                    if ($('#DienThoaiLienHe').val() == "" || $('#DienThoaiLienHe').val() == null) {
                        $('#DienThoaiLienHe_NULL').html('Bạn chưa nhập tên vận đơn!');
                        return false;
                    } else {
                        $("#DienThoaiLienHe_NULL").html('');
                    }

                    if ($('#txtTimeDi').val() == "" || $('#txtTimeDi').val() == null) {
                        $('#txtTimeDi_NULL').html('Bạn chưa nhập thời gian đi!');
                        return false;
                    } else {
                        $("#txtTimeDi_NULL").html('');
                    }
                    if ($('#ThoiGianBocHangDi').val() == "" || $('#ThoiGianBocHangDi').val() == null) {
                        $('#ThoiGianBocHangDi_NULL').html('Bạn chưa nhập giờ bốc hàng đi đi!');
                        return false;
                    } else {
                        $("#ThoiGianBocHangDi_NULL").html('');
                    }

                    if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                        var dateGo = $('#txtTimeDi').val();
                        var hourGo = $('#ThoiGianBocHangDi').val();
                        var dateEnd = $('#txtTimeDen').val();
                        var hourEnd = $('#ThoiGianBocHangDen').val();

                        var strTimeGo = dateGo.split('/')[2] + '/' + dateGo.split('/')[1] + '/' + dateGo.split('/')[0] + ' ' + hourGo;
                        var strTimeEnd = dateEnd.split('/')[2] + '/' + dateEnd.split('/')[1] + '/' + dateEnd.split('/')[0] + ' ' + hourEnd;
                        var giodi = Date.parse(strTimeGo);
                        var gioden = Date.parse(strTimeEnd);

                        if (giodi > gioden) {
                            $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                            return false;
                        } else {
                            $("#txtTimeDi_NULL").html("");
                        }
                    }

                    //-------------------------- check giờ đi phải > 30 phút so với hiện tại
                    var hientai = new Date();
                    myTimeSpan = 30 * 60 * 1000; // thêm 30 phút vào giờ hiện tại
                    hientai.setTime(hientai.getTime() + myTimeSpan);
                    var ss = hientai.getMinutes();
                    var thoigiandi = + hientai.getFullYear() + "/"
                        + (hientai.getMonth() + 1) + "/"
                        + hientai.getDate() + " "
                        + hientai.getHours() + ":"
                        + hientai.getMinutes() + ":";

                    var dateGo = $('#txtTimeDi').val();
                    var hourGo = $('#ThoiGianBocHangDi').val();

                    strTimeGo = dateGo.split('/')[2] + '/' + dateGo.split('/')[1] + '/' + dateGo.split('/')[0] + ' ' + hourGo;
                    var giodi = Date.parse(strTimeGo);
                    var giohientai = Date.parse(thoigiandi);

                    if (giohientai > giodi) {
                        alert('quý khách vui lòng đặt thời gian xuất phát sớm nhất là sau 30 phút nữa');
                        return false;
                    }
                    //---------------------------------------------------------//

                    if ($('#txtTrongLuong').val() == "") {
                        $('#txtTrongLuong_NULL').html('Bạn chưa nhập trọng lượng!');
                        return false;
                    } else {
                        $('#txtTrongLuong_NULL').html('');
                    }

                    if ($.isNumeric($('#txtTrongLuong').val()) == false) {
                        $('#txtTrongLuong_NULL').html('trọng lượng phải là số');
                        return false;
                    } else {
                        $('#txtTrongLuong_NULL').html('');
                    }

                    var totalValueSelect = 0;
                    //save select cartype
                    var strOrderCar = '';
                    $('.orderCar').each(function () {
                        if ($(this).val().length > 0) {
                            strOrderCar = strOrderCar + $(this).attr('id') + ":" + $(this).val() + "|";

                            var idItem = $(this).attr('id');
                            var typeCar = idItem.split('-')[0].replace('_', '.');
                            var valueItem = parseFloat(typeCar) * 1000;
                            totalValueSelect = totalValueSelect + valueItem;
                        } else {
                            strOrderCar = strOrderCar + $(this).attr('id') + ":0|";
                        }
                    });

                    $('#hdfStrCarTypeSelect_create').val(strOrderCar);

                    //valueItem
                    if (totalValueSelect < parseFloat($('#txtTrongLuong').val())) {
                        $('#txtTrongLuong_NULL').html('trọng lượng hàng quá tải');
                        return false;
                    } else {
                        $('#txtTrongLuong_NULL').html('');
                    }
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                //$('#10-7').change(function (){
                //    if ($('#10-7') != '') {
                //        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                //        $('#10-7').val('');
                //        return false;
                //    }
                //});

                $('#15-8').change(function () {
                    if ($('#15-8') != '') {
                        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                        $('#15-8').val('');
                        return false;
                    }
                });

                $('#18-9').change(function () {
                    if ($('#18-9') != '') {
                        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                        $('#18-9').val('');
                        return false;
                    }
                });

                //$('#20-10').change(function (){
                //    if ($('#20-10') != '') {
                //        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                //        $('#20-10').val('');
                //        return false;
                //    }
                //});

                //$('#40-11').change(function (){
                //    if ($('#40-11') != '') {
                //        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                //        $('#40-11').val('');
                //        return false;
                //    }
                //});
            });
        </script>
        <script>
            $(document).ready(function () {
                // bind car type select
                $('.orderCar').each(function () {
                    var idItem = $(this).attr('id'); // ex:1_25-1
                    var typeCar = idItem.split('-')[0].replace('_', '.'); // ex: 1_25
                    var loaiXeSelect =  @loaixe.ToString();
                    if ("" + loaiXeSelect + "" == typeCar) {
                        $(this).val('1');
                    }
                });

                $('.btn_cancal_order').click(function () {
                    $('.popup-register-order').hide();
                    $('#order-form').show();
                    $('html,body').animate({ scrollTop: $("#order-form").offset().top }, 'slow');
                });
            });
        </script>
        }
