﻿@using Carrier.Models.Entities;
@using Carrier.CMS.Common;
@model HtmlContent
@{
    ViewBag.Title = "Dịch vụ vận chuyển";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<div class="page_content_wrap">
    <div class="content_wrap">
        <div class="content">
            @if (Model != null)
            {
                @Html.Raw(Model.Description)
            }
            else
            {
                <span>Dịch vụ vận chuyển</span>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#menu-main li.current-menu-item").removeClass("current-menu-item");
        $("#dichvuvanchuyen").addClass('current-menu-item');
    });
</script>

