﻿@model Carrier.CMS.Models.LoginViewModel
    @using Carrier.Utilities
<script type="text/javascript">
    $(document).ready(function () {
        var strURLPath = window.location.pathname;
        var activeId = strURLPath.substring(1, strURLPath.length);
        $('#main_menu li#' + activeId).addClass('active');
        $('#main_menu li#' + activeId).parents('li').addClass('active open')
    });
</script>
@{
    ViewBag.Title = "IndexBackend";
    Layout = "~/Views/Shared/_LayoutACE.cshtml";
}

@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Sử dụng tài khoản đã đăng ký.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                            <div style="display: inline-block">Hoặc </div>@*Html.ActionLink("Đăng ký", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default", @style = "display: inline-block" })*@
                            <div class="dropdown " style="display: inline-block">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    Đăng ký
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Đăng ký khách", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color: #FFF;background-color: blue" })</li>
                                    <li>@Html.ActionLink("Đăng ký tài xế", "RegisterDriver", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color: #FFF;background-color: blue" })</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                }
            </section>
        </div>
        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new Carrier.CMS.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>

}
else
{
    <div class="jumbotron">
        <h3>Delivery Order</h3>
        @if (User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
        {
            <p class="lead">Mời bạn quản lý lịch trình.</p>
            <p>@Html.ActionLink("Xem Lịch trình >>", "Index", "Schedules", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })</p>
        }
        else if (!User.IsInRole(PublicConstant.ROLE_ADMIN))
        {
            <div class="row">
                <h4 class="widget-title sparkline">
                    Thống kê chung
                </h4>
            </div>
            <div class="row infobox-container">
                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-users"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.TotalUser</span>
                        <div class="infobox-content">Tổng số User</div>
                    </div>
                </div>

                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-truck"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.TotalDriver</span>
                        <div class="infobox-content">Tổng số tài xế</div>
                    </div>
                </div>

                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-shopping-cart"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.TotalOrder</span>
                        <div class="infobox-content">Tổng số vận đơn</div>
                    </div>
                </div>

                <div class="infobox infobox-green">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-shopping-cart"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.TotalOrderRunning</span>
                        <div class="infobox-content">Vận đơn đang chạy</div>
                    </div>
                </div>

                <div class="infobox infobox-pink">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-shopping-cart"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.TotalOrderSuccess</span>
                        <div class="infobox-content">Vận đơn thành công</div>
                    </div>
                </div>

            </div>

            <hr />
            <p class="lead">Mời bạn thêm vận đơn hoặc xem chi tiết.</p>
            <p>
                @Html.ActionLink("Thêm vận đơn >>", "Create", "Orders", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })<span>   </span>
                @Html.ActionLink("Xem vận đơn >>", "Index", "Orders", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
            </p>
        }
        else
        {
            <p id="online"></p>
        }

    </div>
}

@section Scripts{
    <script>

        $(document).ready(function () {
            setInterval(getOnline(), 10000);

            function getOnline() {

                $.ajax({
                    url: '@Url.Action("getOnliner")',
                    dataType: 'html',
                    data: null,
                    success: function (data) {
                        $('#online').empty();
                        $('#online').html(data);
                    }
                })

            }
        })
    </script>
}