﻿@model Carrier.CMS.Models.LoginViewModel
@{
    ViewBag.Title = "Trang cá nhân";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
<style>
    .infobox {
        padding: 10px;
        border: 1px solid #5cb9e2;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
    }

        .infobox:hover {
            border: 2px solid #eeba00;
            color: #FFF;
            background: #5cb9e2;
        }
</style>
@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Sử dụng tài khoản đã đăng ký.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                            <div style="display: inline-block">Hoặc </div>
                            <div class="dropdown " style="display: inline-block">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                    Đăng ký
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Đăng ký khách", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color: #FFF;background-color: blue" })</li>
                                    <li>@Html.ActionLink("Đăng ký tài xế", "RegisterDriver", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style = "color: #FFF;background-color: blue" })</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
}
else
{
    <div class="container-fluid" style="padding:20px 100px; min-height:320px">
        <div class="col-sm-3">
            <a href="/Orders">
                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-truck"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number"></span>
                        <div class="infobox-content">Quản lý vận đơn</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="/OrderStatic">
                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-truck"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number"></span>
                        <div class="infobox-content">Thống kê vận đơn</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a href="/YourProfile/CapNhatProfile">
                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-user"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number"></span>
                        <div class="infobox-content">Cập nhật thông tin cá nhân</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3">
            <a href="/YourProfile/ChangePassword">
                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-lock"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number"></span>
                        <div class="infobox-content">Thay đổi mật khẩu</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        setInterval(getOnline(), 10000);
        function getOnline() {
            $.ajax({
                url: '@Url.Action("getOnliner")',
                dataType: 'html',
                data: null,
                success: function (data) {
                    $('#online').empty();
                    $('#online').html(data);
                }
            })
        }
    })
</script>
