﻿@using Carrier.Models.Entities;
@{
    ViewBag.Title = "Vận tải tối ưu - vận tải tiết kiệm";
}
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}

<link href="~/Content/toastr.css" rel="stylesheet" />
<style>
    .menu_main1 {
        margin: 25px 0px 20px !important;
    }

    .logo1 {
        margin: 25px 0px 20px !important;
    }
</style>
@Html.Partial("_PartialFact")

@Html.Partial("_PartialSlider")
@Html.Partial("_PartialOurClients")
<section class="fullwidth_section no_padding_top_container calculator_bg1">
    <div class="container-fluid" style="padding-bottom:0px">
        <div class="row">
            @if (lang == null || lang.Contains("vi"))
            {
                <div style="height: 300px; background-image: url('../../images/bg-cloud.PNG');background-repeat:repeat; text-align: center; padding-top: 55px;">
                    @*<h4>@Resource.ResourceVi.DownLoadApp</h4>*@
                    <a href="https://itunes.apple.com/vn/app/carrier-driver/id1272629940?l=vi&mt=8" style="margin-right:15px;">
                        <img style="width:250px;height:80px;" src="~/images/Available_on_the_App_Store_(black).png" />
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.mobileplus.drivercarrier"><img style="width:250px;height:80px;" src="~/images/mobile-app-hub-button-google-lg.png" />   </a>
                </div>

            }
            else if (lang.Equals("en"))
            {
                <div style="height: 300px; background-image: url('../../images/bg-cloud.PNG');background-repeat:repeat; text-align: center; padding-top: 55px;">
                    <h4>@Resources.ResourceEn.DownLoadApp</h4>
                    <a href="https://itunes.apple.com/vn/app/carrier-driver/id1272629940?l=vi&mt=8" style="margin-right:15px;">
                        <img style="width:250px;height:80px;" src="~/images/Available_on_the_App_Store_(black).png" />
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.mobileplus.drivercarrier"><img style="width:250px;height:80px;" src="~/images/mobile-app-hub-button-google-lg.png" />   </a>
                </div>
            }

        </div>
    </div>
</section>
@Html.Partial("_PartialService", (IEnumerable<Articles>)ViewBag.HomeService)
@*<section class="fullwidth_section no_padding_top_container emailer_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_section">
                    <div class="sc_content container">
                        <div class="sc_line sc_line_style_solid"></div>
                        <div class="sc_emailer alignleft sc_emailer_opened">
                            @if (lang == null || lang.Contains("vi"))
                            {
                                <form class="sc_emailer_form">
                                    <span class="title">@Resources.ResourceVi.NewsLetter</span>
                                    <input type="text" class="sc_emailer_input" name="email" value="" placeholder="Nhập email của bạn tại đây">
                                    <a href="#" class="sc_emailer_button" title="Submit" data-group="E-mailer subscription">Subscribe</a>
                                </form>
                            }
                            else if (lang.Equals("en"))
                            {
                                <form class="sc_emailer_form">
                                    <span class="title">@Resources.ResourceEn.NewsLetter</span>
                                    <input type="text" class="sc_emailer_input" name="email" value="" placeholder="@Resources.ResourceEn.Email">
                                    <a href="#" class="sc_emailer_button" title="Submit" data-group="E-mailer subscription">Subscribe</a>
                                </form>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section class="fullwidth_section no_padding_top_container dark_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_section">
                    <div class="sc_section_overlay">
                        <div class="sc_section_content">
                            <div class="sc_content container">
                                @if (lang == null || lang.Contains("vi"))
                                {
                                    <div class="sc_contact_form sc_contact_form_standard">
                                        <div class="sc_contact_form_left">
                                            <div class="sc_contact_info">
                                                <h6 class="sc_contact_form_subtitle">Carrier</h6>
                                                <h2 class="sc_contact_form_title">@Resources.ResourceVi.ContactFooter</h2>
                                                <div class="sc_contact_form_address_wrap">
                                                    <div class="sc_contact_form_address_field">
                                                        <span class="sc_contact_form_address_data">
                                                            <b>Công Ty TNHH Công  Nghệ Carrier</b>
                                                            <br>@Html.Raw(Resources.ResourceVi.lbAddress1)
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            @*link dow app*@
                                            @*<div class="sc_icon-app sc_socials_size_small " style="margin-top: 30px;">
                                                    <div class="sc_app_item">
                                                        <a href="~/AppMobile/" target="_blank">
                                                            iOS Driver
                                                        </a>
                                                    </div>
                                                    <div class="sc_app_item">
                                                        <a href="~/AppMobile/" target="_blank">
                                                            Android Driver
                                                        </a>
                                                    </div>
                                                    <div class="sc_app_item">
                                                        <a href="~/AppMobile/" target="_blank">
                                                            iOS User
                                                        </a>
                                                    </div>
                                                    <div class="sc_app_item">
                                                        <a href="~/AppMobile/CarrierUser.apk" target="_blank">
                                                            Android User
                                                        </a>
                                                    </div>
                                                </div>*@
                                            @*link dow app*@

                                            <div class="sc_contact_info_bottom">
                                                <div class="sc_contact_form_address_wrap">
                                                    <div class="sc_contact_form_address_field">
                                                        <span class="sc_contact_form_address_label">@Resources.ResourceVi.Phone: </span>
                                                        <span class="sc_contact_form_address_data">02423249555</span>
                                                    </div>
                                                    <div class="sc_contact_form_address_field">
                                                        <span class="sc_contact_form_address_label">@Resources.ResourceVi.Email: </span>
                                                        <span class="sc_contact_form_address_data">info@vantaitoiuu.com</span>
                                                    </div>
                                                </div>
                                                <div class="sc_socials sc_socials_size_small  color_icons">
                                                    <div class="sc_socials_item">
                                                        <a href="https://www.facebook.com/Carrier.Technology/" target="_blank" class="social_icons social_twitter icons">
                                                            <span class="icon-twitter"></span>
                                                            <span class="sc_socials_hover icon-twitter"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sc_socials_item">
                                                        <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_facebook icons">
                                                            <span class="icon-facebook"></span>
                                                            <span class="sc_socials_hover icon-facebook"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sc_socials_item">
                                                        <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_gplus icons">
                                                            <span class="icon-gplus"></span>
                                                            <span class="sc_socials_hover icon-gplus"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sc_socials_item">
                                                        <a href="https://www.instagram.com/carrier2017" target="_blank" class="social_icons social_linkedin icons">
                                                            @*<span class="icon-linkedin"></span>
                                                                <span class="sc_socials_hover icon-linkedin"></span>*@
                                                            <span><img src="~/Content/images/icon-insta.png" /></span>
                                                            <span class="sc_socials_hover"><img src="~/Content/images/icon-insta.png" /></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_contact_form_right">
                                            <div class="sc_contact_form_info">
                                                <div class="sc_contact_form_item sc_contact_form_field label_over">
                                                    <label class="required" for="sc_contact_form_username">@Resources.ResourceVi.FullName</label>
                                                    <input id="sc_contact_form_username" type="text" name="username" placeholder="Họ và tên">
                                                    <span class="sc_contact_form_username text-danger"></span>
                                                </div>
                                                <div class="sc_contact_form_item sc_contact_form_field label_over">
                                                    <label class="required" for="sc_contact_form_email">@Resources.ResourceVi.Phone</label>
                                                    <input id="sc_contact_form_email" type="text" name="phone" placeholder="Số điện thoại">
                                                    <span class="sc_contact_form_email text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="sc_contact_form_item sc_contact_form_message label_over">
                                                <label class="required" for="sc_contact_form_message">@Resources.ResourceVi.Content</label>
                                                <textarea id="sc_contact_form_message" name="message" placeholder="Nội dung"></textarea>
                                            </div>
                                            <div class="sc_contact_form_item sc_contact_form_button">
                                                <button type="submit" onclick="SendMessage()">
                                                    @Resources.ResourceVi.Send
                                                    <span class="icon-mail-alt"></span>
                                                </button>
                                            </div>
                                            <div class="result sc_infobox"></div>
                                        </div>
                                    </div>
                                }
                                else if (lang.Equals("en"))
                                {
                                    <div class="sc_contact_form sc_contact_form_standard">
                                        <div class="sc_contact_form_left">
                                            <div class="sc_contact_info">
                                                <h6 class="sc_contact_form_subtitle">Carrier</h6>
                                                <h2 class="sc_contact_form_title">@Resources.ResourceEn.ContactUs</h2>
                                                <div class="sc_contact_form_address_wrap">
                                                    <div class="sc_contact_form_address_field">
                                                        <span class="sc_contact_form_address_data">
                                                            <b>Công Ty TNHH Công  Nghệ Carrier</b>
                                                            <br>@Html.Raw(Resources.ResourceEn.lbAddress1)
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            @*link dow app*@
                                            @*<div class="sc_icon-app sc_socials_size_small " style="margin-top: 30px;">
                                                    <div class="sc_app_item">
                                                        <a href="~/AppMobile/" target="_blank">
                                                            iOS Driver
                                                        </a>
                                                    </div>
                                                    <div class="sc_app_item">
                                                        <a href="~/AppMobile/" target="_blank">
                                                            Android Driver
                                                        </a>
                                                    </div>
                                                    <div class="sc_app_item">
                                                        <a href="~/AppMobile/" target="_blank">
                                                            iOS User
                                                        </a>
                                                    </div>
                                                    <div class="sc_app_item">
                                                        <a href="~/AppMobile/CarrierUser.apk" target="_blank">
                                                            Android User
                                                        </a>
                                                    </div>
                                                </div>*@
                                            @*link dow app*@

                                            <div class="sc_contact_info_bottom">
                                                <div class="sc_contact_form_address_wrap">
                                                    <div class="sc_contact_form_address_field">
                                                        <span class="sc_contact_form_address_label">@Resources.ResourceEn.Phone: </span>
                                                        <span class="sc_contact_form_address_data">02423249555</span>
                                                    </div>
                                                    <div class="sc_contact_form_address_field">
                                                        <span class="sc_contact_form_address_label">@Resources.ResourceEn.Email: </span>
                                                        <span class="sc_contact_form_address_data">info@vantaitoiuu.com</span>
                                                    </div>
                                                </div>
                                                <div class="sc_socials sc_socials_size_small  color_icons">
                                                    <div class="sc_socials_item">
                                                        <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_twitter icons">
                                                            <span class="icon-twitter"></span>
                                                            <span class="sc_socials_hover icon-twitter"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sc_socials_item">
                                                        <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_facebook icons">
                                                            <span class="icon-facebook"></span>
                                                            <span class="sc_socials_hover icon-facebook"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sc_socials_item">
                                                        <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_gplus icons">
                                                            <span class="icon-gplus"></span>
                                                            <span class="sc_socials_hover icon-gplus"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sc_socials_item">
                                                        <a href="https://www.instagram.com/carrier2017" target="_blank" class="social_icons social_linkedin icons">
                                                            @*<span class="icon-linkedin"></span>
                                                                <span class="sc_socials_hover icon-linkedin"></span>*@
                                                            <span><img src="~/Content/images/icon-insta.png" /></span>
                                                            <span class="sc_socials_hover"><img src="~/Content/images/icon-insta.png" /></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sc_contact_form_right">
                                            <div class="sc_contact_form_info">
                                                <div class="sc_contact_form_item sc_contact_form_field label_over">
                                                    <label class="required" for="sc_contact_form_username">@Resources.ResourceEn.FullName</label>
                                                    <input id="sc_contact_form_username" type="text" name="username" placeholder="@Resources.ResourceEn.FullName" > 
                                                    <span class="sc_contact_form_username text-danger"></span>
                                                </div>
                                                <div class="sc_contact_form_item sc_contact_form_field label_over">
                                                    <label class="required" for="sc_contact_form_email">@Resources.ResourceEn.Phone</label>
                                                    <input id="sc_contact_form_email" type="text" name="phone" placeholder="@Resources.ResourceEn.Phone">
                                                    <span class="sc_contact_form_email text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="sc_contact_form_item sc_contact_form_message label_over">
                                                <label class="required" for="sc_contact_form_message">@Resources.ResourceEn.Content</label>
                                                <textarea id="sc_contact_form_message" name="message" placeholder="@Resources.ResourceEn.Content"></textarea>
                                            </div>
                                            <div class="sc_contact_form_item sc_contact_form_button">
                                                <button type="submit" id="btn_send" onclick="SendMessage()">
                                                    @Resources.ResourceEn.Send
                                                    <span class="icon-mail-alt"></span>
                                                </button>
                                            </div>
                                            <div class="result sc_infobox"></div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    /*.row {
        background: #ff944d;
        padding-bottom: 0px;
    }*/
    /*.fullwidth_section no_padding_top_container calculator_bg1 {
        padding-bottom: 0px;
    }*/
    .container-fluid {
        padding-bottom: 20px;
    }
</style>


<div class="bts-popup" role="alert" style="z-index:10000">
    <div class="bts-popup-container" style="padding-bottom:0px !important">
        <img class="popup_home.jpg" src="~/assets/images/popup_home.png" width="1050px" height="1050px" />
        <a href="#0" class="bts-popup-close img-replace">Close</a>
    </div>
</div>

<style>
    .img-replace {
        /* replace text with an image */
        display: inline-block !important;
        overflow: hidden !important;
        text-indent: 100% !important;
        color: transparent !important;
        white-space: nowrap !important;
    }

    .bts-popup {
        padding-top: 0px !important; /*110px;*/
        position: fixed !important;
        left: 0 !important;
        top: 0 !important;
        height: 100% !important;
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.5) !important;
        opacity: 0 !important;
        visibility: hidden !important;
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s !important;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s !important;
        transition: opacity 0.3s 0s, visibility 0s 0.3s !important;
    }

        .bts-popup.is-visible {
            opacity: 1 !important;
            visibility: visible !important;
            -webkit-transition: opacity 0.3s 5s, visibility 0s 0s !important;
            -moz-transition: opacity 0.3s 5s, visibility 0s 0s !important;
            transition: opacity 0.3s 5s, visibility 0s 0s !important;
        }

    .bts-popup-container {
        max-width: 100% !important;
        max-width: 1050px !important;
        padding: 0px !important;
        margin: 0em auto !important;
        background: #a0cff1 !important;
        border-radius: none !important;
        text-align: center !important;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) !important;
        -webkit-transform: translateY(-40px) !important;
        -moz-transform: translateY(-40px) !important;
        -ms-transform: translateY(-40px) !important;
        -o-transform: translateY(-40px) !important;
        transform: translateY(-40px) !important;
        /* Force Hardware Acceleration in WebKit */
        -webkit-backface-visibility: hidden !important;
        -webkit-transition-property: -webkit-transform !important;
        -moz-transition-property: -moz-transform !important;
        transition-property: transform !important;
        -webkit-transition-duration: 0.3s !important;
        -moz-transition-duration: 0.3s !important;
        transition-duration: 0.3s !important;
    }

        .bts-popup-container img {
            padding: 0 0 0 0 !important;
        }

        .bts-popup-container p {
            color: #99d6ff !important;
            padding: 10px 40px !important;
        }

        .bts-popup-container .bts-popup-button {
            padding: 5px 25px !important;
            border: 2px solid white !important;
            display: inline-block !important;
            margin-bottom: 10px !important;
        }

        .bts-popup-container a {
            color: #99d6ff !important;
            text-decoration: none !important;
            text-transform: uppercase !important;
        }

        .bts-popup-container .bts-popup-close {
            position: absolute !important;
            top: 8px !important;
            right: 8px !important;
            width: 30px !important;
            height: 30px !important;
        }

            .bts-popup-container .bts-popup-close::before, .bts-popup-container .bts-popup-close::after {
                content: '' !important;
                position: absolute !important;
                top: 12px !important;
                width: 16px !important;
                height: 3px !important;
                background-color: #99d6ff !important;
            }

            .bts-popup-container .bts-popup-close::before {
                -webkit-transform: rotate(45deg) !important;
                -moz-transform: rotate(45deg) !important;
                -ms-transform: rotate(45deg) !important;
                -o-transform: rotate(45deg) !important;
                transform: rotate(45deg) !important;
                left: 8px !important;
            }

            .bts-popup-container .bts-popup-close::after {
                -webkit-transform: rotate(-45deg) !important;
                -moz-transform: rotate(-45deg) !important;
                -ms-transform: rotate(-45deg) !important;
                -o-transform: rotate(-45deg) !important;
                transform: rotate(-45deg) !important;
                right: 6px !important;
                top: 13px !important;
            }

    .is-visible .bts-popup-container {
        -webkit-transform: translateY(0) !important;
        -moz-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        -o-transform: translateY(0) !important;
        transform: translateY(0) !important;
    }
</style>

@section Scripts{
    <script type="text/javascript" src="~/js/vendor/jquery.js"></script>
    <script src="~/scripts/toastr.js"></script>
    <script>
        $(document).ready(function () {
            setInterval(getOnline(), 10000);

            function getOnline() {

                $.ajax({
                    url: '@Url.Action("getOnliner")',
                    dataType: 'html',
                    data: null,
                    success: function (data) {
                        $('#online').empty();
                        $('#online').html(data);
                    }
                })

            };
            $("#menu-main li.current-menu-item").removeClass("current-menu-item");
            $("#home").addClass('current-menu-item');
        })
    </script>
    <script type="text/javascript">
            $(document).ready(function () {
                if ('@TempData["message"]') {
                    toastr.success('@TempData["message"]');
                }
                else if ('@TempData["info"]') {
                    toastr.info('@TempData["info"]');
                }
                else if ('@TempData["error"]') {
                    toastr.error('@TempData["error"]');
                }
                else { }
            });
    </script>
    @*<script>
        //$(window).load(function () {
        //    $('#myModal').modal('show');

        //});
        jQuery(document).ready(function ($) {

            window.onload = function () {
                $(".bts-popup").delay(1000).addClass('is-visible');
            }

            $('.bts-popup').on('click', function (event) {
                if ($(event.target).is('.bts-popup-close') || $(event.target).is('.bts-popup')) {
                    event.preventDefault();
                    $(this).removeClass('is-visible');
                }
            });
            //close popup when clicking the esc keyboard button
            $(document).keyup(function (event) {
                if (event.which == '27') {
                    $('.bts-popup').removeClass('is-visible');
                }
            });
        });
    </script>*@
    <script>
        $('#btn_send').click(function () {
            var bcheck = true;

            if ($('#sc_contact_form_email').val() == "") {
                $('.UserName').html('Tên đăng nhập không được để trống!');
                bcheck = false;
                return false;
            }
            else {
                $('.sc_contact_form_email').html('');
            }
            if ($('#sc_contact_form_username').val() == "") {
                $('.Password').html('Mật khẩu không được để trống!');
                bcheck = false;
                return false;
            } else {
                $('.sc_contact_form_username').html('');
            }

            
            if (bCheck == false) {
                return false;
            }
            else {
                $("#divProcessing").show();
                return true;
            }
        });
    </script>
    <script>
        function SendMessage() {

            var Phone = '' + $('#sc_contact_form_email').val() + '';
            var Fullname = '' + $('#sc_contact_form_username').val() + '';
            var Content = '' + $('#sc_contact_form_message').val() + '';
            if (Phone == "") {
                $('.sc_contact_form_email').html('Số điện thoại không được để trống!');
            }
            else if (Fullname == "") {
                $('.sc_contact_form_username').html('Tên không được để trống!');
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "/Home/SendMessage",
                    data: { 'phone': Phone, 'fullname': Fullname, 'content': Content },
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data == 'success') {
                            toastr.success('Gửi liên hệ thành công');
                        } else {
                            toastr.error('Gửi liên hệ thất bại');
                        }
                    },
                    error: function (req, status, error) {

                    }
                });
            }        
        };

    </script>
}
