﻿@using CMS.Carrier.Areas.Enterprise.Controllers;
@using Carrier.Utilities;
@{
    Layout = null;
    var hasDriver = 0;
    string lastChecking_Driver = "";
    Carrier.Models.Entities.Driver _driver = null;
    if (ViewBag.DrOrigin!=null)
    {
        _driver = (Carrier.Models.Entities.Driver)ViewBag.DrOrigin;
        hasDriver = 1;
        lastChecking_Driver = _driver.Updated_At.ToString(); ;
    }

    var _order = (Carrier.Models.Entities.Order)ViewBag.Order;
    //var ctl = (HomeEnterpriseController)this.ViewContext.Controller;

    var _listOrderPlace = (List<Carrier.Models.Entities.OrderPlaces>)ViewBag.ListDiemTraHang;
}

<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Theo dõi vận đơn</title>
    <meta charset='utf-8' />
    <link rel="icon" type="image/x-icon" href="~/Images/icon_carrier.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content='Vận tải tối ưu' name='description' />
    <meta content='Vận tải tối ưu' name='author' />
    <!-- Styles -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        a {
            color: #4B58A6;
        }

            a:hover {
                color: #4B58A6;
            }

        #map_canvas img {
            max-width: none;
        }

        .filter-box {
            height: 15px;
            width: 15px;
            display: inline-block;
            *border-right-width: 2px;
            *border-bottom-width: 2px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-background-clip: padding-box;
            -moz-background-clip: padding;
            background-clip: padding-box;
        }

        .filter-yellow {
            background-color: #FBF358;
        }

        .filter-green {
            background-color: #00E13C;
        }

        .filter-blue {
            background-color: #5781FC;
        }

        .filter-purple {
            background-color: #7C54FB;
        }

        .filter-red {
            background-color: #FB6353;
        }

        canvas {
            -ms-touch-action: double-tap-zoom;
        }

        /* customizations for iframe template */
        .iframe #map_canvas {
            height: 500px;
        }

        .iframe .well {
            margin-bottom: 5px;
        }

        .iframe .alert {
            margin-top: 5px;
        }
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class='navbar navbar-default navbar-static-top'>
        <div class='container-fluid'>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class='navbar-brand' href='https://vantaitoiuu.com'>HỆ THỐNG QUẢN LÝ KHỚP LỆNH VẬN TẢI</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li class='active'><a href="https://vantaitoiuu.com">Trang chủ</a></li>
                    <li><a href="https://vantaitoiuu.com/Home/About">Giới thiệu</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-4'>
                @*<p>Thông tin vận đơn</p>*@
                @{ 
                    var loaithanhtoan = "Tiền mặt";
                    if (_order.LoaiThanhToan == 1)
                    {
                        loaithanhtoan = "Chuyển khoản";
                    }
                }
                <div class='well'>
                    <h4>
                        Mã vận đơn: <small>@_order.MaVanDon</small>
                    </h4>
                    <p>
                        Tên hàng:@_order.TenHang<br />
                        Trọng lượng: @Ultilities.ConvertToCurrency(_order.TrongLuong.Value) Tấn<br />
                        Thời gian đi: @_order.ThoiGianDi<br />
                        Thời gian đến: @_order.ThoiGianDen<br />
                        Điểm đi: @_order.DiemDiChiTiet<br />

                        @if (_listOrderPlace.Count > 0)
                        {
                        <p>Điểm trả hàng</p>
                            for (int i = 0; i < _listOrderPlace.Count; i++)
                            {
                                <dd>
                                    @float.Parse((i + 2).ToString())  - @_listOrderPlace[i].FormatAddress
                                </dd>
                                <dd>
                                    <i class="fa fa-arrow-down"></i>
                                </dd>
                            }
                        }
                        Điểm đến: @_order.DiemDenChiTiet<br />
                        Số km ước tính: @_order.SoKmUocTinh<br />
                        Thanh toán: @loaithanhtoan<br />
                        Trạng thái đơn:@Html.Raw(@ViewBag.TrangThai)<br />
                        Tài khoản tạo: @_order.UserName<br />
                        Liên hệ:  @_order.NguoiLienHe
                        |
                        SĐT: @_order.DienThoaiLienHe<br />
                        Ghi chú: @_order.Note<br />
                    </p>
                    
            </div>
                @if (hasDriver==1 && _driver != null)
                {
                    <div class='well'>
                        <h4>
                            Tài xế: <small>@_driver.Name</small>
                        </h4>
                        <p>
                            Biển số xe: @ViewBag.CarLicense<br/>
                            Điện thoại: @_driver.Phone <br />
                            Địa chỉ: @_driver.Address<br />
                            Giới tính: @_driver.Sex<br />
                            Ngày sinh: @_driver.BirthDay<br />
                        </p>

                    </div>
                }

            @*<div class='col-md-4'>
    <p>Thông tin vận đơn</p>
    <div class='well'>
        <h4>
            Address <small>(<a id='find_me' href='#'>find me</a>)</small>
        </h4>
        <p>
            <input class='form-control' id='search_address' placeholder='Enter an address or an intersection' type='text' />
        </p>
        <p>
            <label>
                within
                <select id='search_radius'>
                    <option value='400'>2 blocks</option>
                    <option value='805'>1/2 mile</option>
                    <option value='1610'>1 mile</option>
                    <option value='3220'>2 miles</option>
                </select>
            </label>
        </p>

        <br />
        <h4>Custom filters and views</h4>
        <p>Take a look at the <a href='https://github.com/derekeder/FusionTable-Map-Template/wiki/Filter-examples'>wiki</a> to see how to add your own custom filters and views like:</p>
        <div class='row'>
            <div class='col-md-6'>
                <ul>
                    <li><a href='https://github.com/derekeder/FusionTable-Map-Template/wiki/Filter-examples#wiki-checkboxes'>Checkboxes</a></li>
                    <li><a href='https://github.com/derekeder/FusionTable-Map-Template/wiki/Filter-examples#wiki-radiobuttons'>Radio buttons</a></li>
                    <li><a href='https://github.com/derekeder/FusionTable-Map-Template/wiki/Filter-examples#wiki-drop-down-lists'>Drop down lists</a></li>
                    <li><a href='https://github.com/derekeder/FusionTable-Map-Template/wiki/Filter-examples#wiki-textsearches'>Text searches</a></li>
                </ul>
            </div>
            <div class='col-md-6'>
                <ul>
                    <li><a href='https://github.com/derekeder/FusionTable-Map-Template/wiki/Filter-examples#wiki-sliders'>Sliders</a></li>
                    <li><a href='https://github.com/derekeder/FusionTable-Map-Template/wiki/Filter-examples#wiki-date-sliders'>Date sliders</a></li>
                    <li><a href='https://github.com/derekeder/FusionTable-Map-Template/wiki/List-search-results'>Results lists</a></li>
                </ul>
            </div>
        </div>
        <br />
        <a class='btn btn-primary' id='search' href='#'>
            <i class='glyphicon glyphicon-search'></i>
            Search
        </a>
        <a class='btn btn-default' id='reset' href='#'>
            <i class='glyphicon glyphicon-repeat'></i>
            Reset
        </a>
    </div>
    <div class='alert alert-info' id='result_box'><strong id='result_count'></strong></div>*@
            </div>
            <div class='col-md-8'>
                <noscript>
                    <div class='alert alert-info'>
                        <h4>Your JavaScript is disabled</h4>
                        <p>Please enable JavaScript to view the map.</p>
                    </div>
                </noscript>
                <div id='map_canvas'></div>
                <p class='pull-right'>
                    @*<a href='http://derekeder.com/searchable_map_template/'>Searchable Map Template</a> by <a href='http://derekeder.com'>Derek Eder</a>.*@
                </p>
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-1.10.0.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>

    <script type='text/javascript'>
        var map;
        var markers = [];
        var driverMarker;
        var directionsService;
        var directionsDisplay;

        function initMap() {
            var centerLat =  (@_order.FromLat+@_order.ToLat)/2;
            var centerLng = (@_order.FromLng+@_order.ToLng)/2;
            map = new google.maps.Map(document.getElementById('map_canvas'), {
                center: { lat: centerLat, lng: centerLng },
                zoom: 13
            });
            directionsService = new google.maps.DirectionsService;
            directionsDisplay = new google.maps.DirectionsRenderer({
                suppressMarkers: true
            });

            directionsDisplay.setMap(map);

            var start = { lat: parseFloat(@_order.FromLat.ToString().Replace(',','.')), lng: parseFloat(@_order.FromLng.ToString().Replace(',','.'))};
            var end = { lat: parseFloat(@_order.ToLat.ToString().Replace(',','.')), lng: parseFloat(@_order.ToLng.ToString().Replace(',','.'))};

            if (start != null && end != null) {
                directionsService1 = new google.maps.DirectionsService;
                var request = {
                    origin: start,
                    destination: end,
                    travelMode: 'DRIVING'
                };

                directionsService1.route(request, function (result, status) {
                    if (status == 'OK') {
                        oTotalTime = result.routes[0].legs[0].duration.value;
                        oToTalDistance = result.routes[0].legs[0].distance.value;

                        var _totalWayPoints = @_listOrderPlace.Count;
                        deleteMarkers();
                        waypts = [];
                        waypts.length = 0;


                        var markers = [];
                        var listPlace = @Html.Raw(Json.Encode(_listOrderPlace));
                        for (var i = 0; i < listPlace.length; i++) {
                            var ds= listPlace[i].FormatAddress;
                            waypts.push({
                                location: listPlace[i].FormatAddress,
                                stopover: true
                            });
                        }

                        var way1 = waypts;
                        var _destination = { lat: parseFloat(@_order.FromLat.ToString().Replace(',','.')), lng: parseFloat(@_order.FromLng.ToString().Replace(',','.'))};
                        var _origin = { lat: parseFloat(@_order.ToLat.ToString().Replace(',','.')), lng: parseFloat(@_order.ToLng.ToString().Replace(',','.'))};

                        if (_origin === null || _origin === undefined || _origin === "") {
                            return;
                        }

                        if (_destination === undefined || _destination === null || _destination === "") {
                            way1 = [];
                            for (i = 0; i < waypts.length - 1; i++) {
                                way1[i] = waypts[i];
                            }
                            if (waypts.length > 0) {
                                _destination = waypts[waypts.length - 1].location;
                            } else {
                                return;
                            }
                        }

                        way1 = way1.reverse()

                        directionsService.route({
                            origin: _origin,
                            destination: _destination,
                            waypoints: way1,
                            optimizeWaypoints: false,
                            travelMode: 'DRIVING'
                        }, function (response, status) {
                            if (status === 'OK') {
                                var markerCounter = 1;
                                directionsDisplay.setDirections(response);

                                var route = response.routes[0];

                                var icon = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=B|FF0000|ffffff';
                                addMarker('@_order.DiemDenChiTiet', route.legs[0].start_location,icon);

                                markerCounter = _totalWayPoints;
                                for (var i = 0; i < route.legs.length - 1; i++) {
                                    addMarker(way1[i].location, route.legs[i].end_location, markerCounter--, way1.length + 2);
                                }

                                icon = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=A|2757db|ffffff';
                                addMarker('@_order.DiemDiChiTiet', route.legs[route.legs.length - 1].end_location, icon);


                            } else {
                                window.alert('Directions request failed due to ' + status);
                            }
                        });

                        // vẽ maker driver
                        var originDr = @Html.Raw(Json.Encode(_driver));
                        if (originDr!==null)
                        {
                            //add driver marker
                            //icon = '//chart.apis.google.com/chart?chst=d_simple_text_icon_left&chld=|14|000|truck|24|000|f4418c';
                            var myicon = '/assets/map/images/logistics-delivery-truck-in-movement-black.png';
                            if (originDr.Status== 1)
                            {
                                myicon = '/assets/map/images/logistics-delivery-truck-in-movement-blue.png';
                            }

                            driverMarker = new google.maps.Marker({
                                position: { lat:originDr.Lat, lng: originDr.Lng},
                                //animation: google.maps.Animation.BOUNCE,
                                icon: myicon,
                                map: map
                            });

                            var strStatus = 'Online';
                            var tt = originDr.Status;
                            if (tt == 0) {
                                strStatus = 'Offline';
                            }
                            var contentString = '';
                            contentString = '<div class="content"><h3>' +originDr.Name + ' </h3>' + '<p><span>BKS: </span>' + '<span>' + '@ViewBag.CarLicense' +
                                '</span></p>' +
                                '<p><span>Điện thoại: </span>' + '<span>' + originDr.Phone + '</span></p>' +
                                '<p><span>Trạng thái: </span>' + '<span>' + strStatus + '</span></p>' +
                                '<p><span>CheckIn lần cuối: </span>' + '<span>' + '@lastChecking_Driver' + '</span></p>' +
                                '<h3>Đơn hàng ' + '@_order.MaVanDon' + '</h3>' +
                                '<p>Liên hệ: '  + '@_order.NguoiLienHe'  +' SĐT:'+ '@_order.DienThoaiLienHe' + '</p>' +
                                '<p>Thời gian đi: ' + '@_order.ThoiGianDi' + '</p>' +
                                '<p>Thời gian trả hàng: ' + '@_order.ThoiGianDen' + '</p></div>';
                            var infowindowDriver = new google.maps.InfoWindow({
                                content: contentString
                            });
                            driverMarker.addListener('click', function () {
                                infowindowDriver.open(map, driverMarker);
                            });
                        }
                        // vẽ maker driver

                    }
                });
            }
        }

        // manager marker on map
        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }
        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }
        // Shows any markers currently in the array.
        function showMarkers() {
            setMapOnAll(map);
        }
        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }

        function addMarker(address, position, i,end) {
            var color = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + i + '|8e60a0|ffffff';
            if (i == 1)
            {
                color = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + i + '|2757db|ffffff';
            }
            if (i == end) {
                color = '//chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + i + '|FF0000|ffffff';
            }
            var marker = new google.maps.Marker({
                icon: color,
                position: position,
                map: map
            });
            var infowindow = new google.maps.InfoWindow({
                content: address,
            });
            marker.addListener('click', function () {
                infowindow.open(map, marker);
            });

            markers.push(marker);
            return;
        }

        var geo = {

            bearing: function (lat1, lng1, lat2, lng2) {
                var dLon = this._toRad(lng2 - lng1);
                var y = Math.sin(dLon) * Math.cos(this._toRad(lat2));
                var x = Math.cos(this._toRad(lat1)) * Math.sin(this._toRad(lat2)) - Math.sin(this._toRad(lat1)) * Math.cos(this._toRad(lat2)) * Math.cos(dLon);
                var brng = this._toDeg(Math.atan2(y, x));
                return ((brng + 360) % 360);
            },


            _toRad: function (deg) {
                return deg * Math.PI / 180;
            },


            _toDeg: function (rad) {
                return rad * 180 / Math.PI;
            },
        };
        var RotateIcon = function (options) {
            this.options = options || {};
            this.rImg = options.img || new Image();
            this.rImg.src = this.rImg.src || this.options.url || '';
            this.options.width = this.options.width || this.rImg.width || 52;
            this.options.height = this.options.height || this.rImg.height || 60;
            var canvas = document.createElement("canvas");
            canvas.setAttribute("id", "canvas" + this.options.id);
            canvas.width = this.options.width;
            canvas.height = this.options.height;
            this.context = canvas.getContext("2d");
            this.canvas = canvas;
        };
        RotateIcon.makeIcon = function (url, id) {
            return new RotateIcon({ url: url, id: id });
        };
        RotateIcon.prototype.setRotation = function (options) {
            var canvas = this.context,
                angle = options.deg ? options.deg * Math.PI / 180 :
                    options.rad,
                centerX = this.options.width / 2,
                centerY = this.options.height / 2;

            canvas.clearRect(0, 0, this.options.width, this.options.height);
            canvas.save();
            canvas.translate(centerX, centerY);
            canvas.rotate(angle);
            canvas.translate(-centerX, -centerY);
            canvas.drawImage(this.rImg, 0, 0);
            canvas.restore();
            return this;
        };
        RotateIcon.prototype.getUrl = function () {
            return this.canvas.toDataURL('image/png');
        };
        //var oldLat = 0.001;
        //var oldLng = 0.001;
        // var btest =1;
        var rad = function (x) {
            return x * Math.PI / 180;
        };

        var getDistance = function (lat1, lng1, lat2, lng2) {
            var R = 6378137; // Earth’s mean radius in meter
            var dLat = rad(lat2 - lat1);
            var dLong = rad(lng2 - lng1);
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(rad(lat1)) * Math.cos(rad(lat2)) *
                Math.sin(dLong / 2) * Math.sin(dLong / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = R * c;
            return d; // returns the distance in meter
        };
        function updateMarker(dr) {
            var originDr = @Html.Raw(Json.Encode(_driver));
            var st = @Html.Raw(Json.Encode(ViewBag.MaTrangThai));
            if (originDr.UserId === dr.UserId && (st===1 || st === 4))
            {
                var lat = dr.lat;// + oldLat;
                var lng = dr.lng;// + oldLng;
                //alert(lat +'-'+ lng) ;
                var latLng = new google.maps.LatLng(lat, lng);
                var _angle = geo.bearing(driverMarker.getPosition().lat(), driverMarker.getPosition().lng(), lat, lng);
                var myicon = RotateIcon
                    .makeIcon(
                    '/assets/map/images/logistics-delivery-truck-in-movement-black.png', 1)
                    .setRotation({ deg: _angle + 225 })
                    .getUrl();

                if (dr.Status == 0) {

                    _angle = geo.bearing(driverMarker.getPosition().lat(), driverMarker.getPosition().lng(), lat, lng);
                    // Tai xe tat chuc nang checkIn location
                    myicon = RotateIcon
                        .makeIcon(
                        '/assets/map/images/logistics-delivery-truck-in-movement-black.png', 1)
                        .setRotation({ deg: _angle + 225 })
                        .getUrl();
                }
                else if (dr.Status == 1) {
                    _angle = geo.bearing(driverMarker.getPosition().lat(), driverMarker.getPosition().lng(), lat, lng);
                    myicon = RotateIcon
                        .makeIcon(
                        '/assets/map/images/logistics-delivery-truck-in-movement-yellow.png', 1)
                        .setRotation({ deg: _angle + 135 })
                        .getUrl();
                }
                driverMarker.setIcon(myicon);
                driverMarker.setPosition(latLng);
                map.setCenter(latLng);
                //oldLng = oldLng + 0.001;
                //oldLng = oldLng+ 0.001;
                console.log('updating markers');
            }

        }




        // defaule template
        $(window).resize(function () {
            var h = $(window).height(),
                offsetTop = 105; // Calculate the top offset

            $('#map_canvas').css('height', (h - offsetTop));
        }).resize();


        //var oldl = 0;
        //var oldm = 0;
        //$(document).ready(function () {
        //    setTimeout(function () {
        //        setInterval(
        //            function () {
        //                oldl = oldl + 0.0001;
        //                oldm = oldm - 0.0002;
        //                var dr = { lat: driverMarker.getPosition().lat() + oldl, lng: driverMarker.getPosition().lng() + oldm, Status: 1, UserId:'b26652ce-1824-4bb8-9a03-efd39e9d7c65' }
        //                updateMarker(dr);
        //            }
        //            , 2000);
        //    }, 5000);
        //});

        $.support.cors = true;
        var connection = $.hubConnection('https://api.vantaitoiuu.com');
        connection.qs = { 'UserId': '60f14979-b21b-4a81-a017-a09b432ae8a7' }; //Fake UserId,Need change CurrentUserId Login
        var hubProxy = connection.createHubProxy('CarrierMonitor');
        hubProxy.on('ReceivedData', function (message) {
            //Driver object
            console.log(message);
            updateMarker(message)
        });
        hubProxy.on('updateDriver',function(message){
            console.log('update driver:' + message);
            updateMarker(message)
        });
        connection.start()
            .done(function () {
                console.log('Now connected, connection ID=' + connection.id);
            })
            .fail(function () {
                console.log('Could not connect');
            });
        connection.disconnected(function() {
            setTimeout(function() {
                connection.start();
            }, 5000); // Restart connection after 5 seconds.you can set the time based your requirement
        });
    </script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyAgMqWIpBz2pWxhfApgA8Nu7Q8TGaV9Yi8&callback=initMap"></script>
</body>
</html>
