﻿@using Carrier.Models.Entities
@model Articles
@{
    ViewBag.Title = "Chính sách bảo mật";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<div class="page_content_wrap">
    <div class="content_wrap">
        <div class="content">
            @if (Model != null)
            {
                @Html.Raw(Model.Description)
            }
            else
            {
                <span>Chính sách bảo mật</span>
            }
        </div>
    </div>
</div>

