﻿
@model CMS.Carrier.Models.UserFronEndViewModel
@{
    ViewBag.Title = "Đăng ký đối tác";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}


<style type="text/css">
    .tbform td {
        padding-left: 15px;
        padding-right: 15px;
    }
</style>
<style type="text/css">
    input[type="text"], input[type="Password"] {
        border: 1px solid #b3b3b3 !important;
    }

    .control-label {
        text-align: left !important;
        color: #FFF;
    }

    .form-group {
        margin-bottom: 5px;
    }
</style>
@using (Html.BeginForm("RegisterEnterprise", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-1">
    </div>
    <div class="register-wapper col-md-10">
        <h4 class="center" style="color:#FFF;text-align:center">@ViewBag.Title</h4><hr />
        <div class="form-group">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-12 control-label no-padding-right">Tên đăng nhập</label>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @name = "UserName", @id = "UserName" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span id="resultCheckUserName" />
                            <span class="lb-Check" id="UserName_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-12 control-label no-padding-right">Email</label>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @name = "Email", @id = "Email" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="lb-Check" id="Email_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-12 control-label no-padding-right">Mật khẩu</label>
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", @name = "Password", @id = "Password", @type = "password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="lb-Check" id="Password_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-12 control-label no-padding-right">Tên công ty</label>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @name = "FullName", @id = "FullName" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="lb-Check" id="Name_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-12 control-label no-padding-right">Xác thực mật khẩu</label>
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.ConfrimPassWord, new { @class = "form-control", @name = "ConfirmPassword", @id = "ConfirmPassword", @type = "password" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="lb-Check" id="ConfirmPassword_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-12 control-label no-padding-right">Điện thoại liên hệ</label>
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.MobilePhone, new { @class = "form-control", @name = "MobilePhone", @id = "MobilePhone" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="lb-Check" id="MobilePhone_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-12 control-label no-padding-right">Địa chỉ</label>
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @name = "Address", @id = "Address" })
                    <div style="display:none" id="map">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <span class="lb-Check" id="Address_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-12 control-label no-padding-right">Đối tác là: </label>
                <div class="col-md-12 form-inline">
                    @foreach (var item in (SelectList)ViewBag.RoleId)
                {
                        <input type="radio" name="selectedRoles" value="@item.Value" style="width:20px;height:20px" class="checkbox-inline" />
                        @Html.Label(item.Value, new { @class = "control-label" })<br />
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <span class="lb-Check" id="Back_Image_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" id="btnSubmit" value="Đăng ký" class="btn btn-info btn-sm col-md-push-4 col-md-2 col-xs-4 col-xs-push-2" style="margin-right:5px" />
                    &nbsp;&nbsp;
                    <a class="sc_button col-md-push-4 col-md-2 col-xs-4 col-xs-push-2" href="/Home/Index" style = "margin-left:5px;margin-top: 0px">Quay Lại</a>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/scripts/jquery1.12.4.min.js"></script>
@*google map*@
<script src="~/scripts/jquery1.12.4.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
        async defer></script>
<script>
    $(document).ready(function () {
        $('#Address').keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });
        $('#btnSubmit').click(function () {
            if ($('#ConfirmPassword').val() == "") {
                $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại không được để trống!');
                return false;
            } else {
                $('#ConfirmPassword_NULL').html('');
            }
            if ($('#Password').val() != $('#ConfirmPassword').val()) {
                $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại phải giống mật khẩu!');
                return false;
            } else {
                $('#ConfirmPassword_NULL').html('');
            }
            var userName = $('#UserName').val();
            var filter = /^([a-zA-Z0-9\.\-_?@@]+)$/;
            if (!filter.test(userName.value)) {
                $('#UserName_NULL').html('Tài khoản k được kí tự đặc biệt!');
                return false;
            } else {
                $('#UserName_NULL').html('');
            }

        })
    });
    $("#ConfirmPassword").focusout(function () {
        if ($('#ConfirmPassword').val().trim() == "" || $('#ConfirmPassword').val().trim() == null) {
            $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại không được để trống!');
            return false;
        } else {
            if ($('#Password').val().trim() != $('#ConfirmPassword').val().trim()) {
                $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại phải giống mật khẩu!');
            } else {
                $('#ConfirmPassword_NULL').html('');
            }
        }
    });


    $('#btnSubmit').click(function () {
        if ($('#Name').val() == "") {
            $('#Name_NULL').html('Bạn chưa nhập tên!');
            return false;
        }

        if ($('#ConfirmPassword').val() == "") {
            $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại không được để trống!');
            return false;
        } else {
            $('#ConfirmPassword_NULL').html('');
        }
        if ($('#Password').val() != $('#ConfirmPassword').val()) {
            $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại phải giống mật khẩu!');
            return false;
        } else {
            $('#ConfirmPassword_NULL').html('');
        }

        if ($('#Address').val() == "") {
            $('#Address_NULL').html('Bạn chưa nhập địa chỉ!');
            return false;
        }

        if ($('#Phone').val() == "") {
            $('#Phone_NULL').html('Bạn chưa nhập số điện thoại liên hệ!');
            return false;
        }

        if ($.isNumeric($('#MobilePhone').val()) == false) {
            $('#MobilePhone_NULL').html('Điện thoại liên hệ phải là số');
            return false;
        }

        if ($('#Location').val() == "") {
            $('#Location_NULL').html('Bạn chưa chọn vị trí');
            return false;
        }
    });

    //function checkUserName() {
    //     var userName = $('#UserName').val();
    //     var filter = /[a-zA-Z0-9]/;
    //    //if (!filter.search(userName.value)) {
    //    if(userName.match(filter)){
    //         alert("ok");
    //         return false;
    //     }
    // };

    function initMap() {
        var input = document.getElementById('Address');
        var originAutocomplete = new google.maps.places.Autocomplete(input, { placeIdOnly: true });
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#UserName").keypress(function () {
            $("#UserName").val(removeunicode($("#UserName").val()));
        });
    });
    function removeunicode(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        // Gộp nhiều dấu space thành 1 space
        str = str.replace(/\s+/g, '');
        // loại bỏ toàn bộ dấu space (nếu có) ở 2 đầu của xâu
        str.trim();
        return str;
    }
</script>