﻿@model Carrier.Models.Entities.Driver
@using Carrier.Utilities
@{
    ViewBag.Title = "Đăng ký tài xế";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<style type="text/css">
    input[type="text"], input[type="Password"] {
        border: 1px solid #b3b3b3 !important;
    }

    .control-label {
        text-align: left !important;
        color: #FFF;
    }

    .form-group {
        margin-bottom: 5px;
    }
</style>

@using (Html.BeginForm("RegisterDriver", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "createform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (TempData["error"] != null)
    {
        <div id="divResult" class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong style="font-size:33px">@TempData["error"]</strong>
        </div>
    }
    <div class="col-md-1">
    </div>
    <div class="register-wapper col-md-10">
        <h4 class="center" style="color:#FFF;text-align:center">@ViewBag.Title</h4><hr />

        <ul class="nav nav-tabs">
            <li class="active" ><a data-toggle="tab" style="background: #fff" href="#thongtintaixe">Thông tin tài xế</a></li>
            <li><a style="background: #fff" data-toggle="tab" href="#thongtinxe">Thông tin xe</a></li>
        </ul>
        <div class="tab-content">
            <div id="thongtintaixe" class="tab-pane fade in active">
                <br />
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">Tên đăng nhập</label>
                                <div class="col-md-12">
                                    @{
                                        string uname = ViewBag.Uname;
                                        string email = ViewBag.Email;
                                        string pass = ViewBag.Password;
                                        string phone = ViewBag.Phone;
                                        string name = ViewBag.Name;
                                        string birthday = ViewBag.BirthDay;
                                        string cmnd = ViewBag.CMND;
                                        string address = ViewBag.Address;
                                    }
                                    @Html.TextBox("UserName", @uname, new { @class = "form-control", @name = "UserName", @id = "UserName", @autocomplete = "new-password" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span id="resultCheckUserName" />
                                    <span class="lb-Check" id="UserName_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">Email</label>
                                <div class="col-md-12">

                                    @Html.TextBox("Email", @email, new { @class = "form-control", @name = "Email", @id = "Email" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="lb-Check" id="Email_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">Mật khẩu</label>
                                <div class="col-md-12">
                                    @Html.TextBox("Password", @pass, new { @class = "form-control", @name = "Password", @id = "Password", placeholder = "Mật khẩu", @type = "password", @autocomplete = "new-password" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="lb-Check" id="Password_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">Mật khẩu</label>
                                <div class="col-md-12">
                                    @Html.TextBox("ConfirmPassword", @pass, new { @class = "form-control", @name = "ConfirmPassword", @id = "ConfirmPassword", placeholder = "Xác nhận mật khẩu", @type = "password" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="lb-Check" id="ConfirmPassword_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">Tên tài xế</label>
                                <div class="col-md-12">
                                    @Html.TextBox("Name", @name, new { @class = "form-control", @name = "Name", @id = "Name" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="lb-Check" id="Name_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">Điện thoại liên hệ</label>
                                <div class="col-md-12">
                                    @Html.TextBox("Phone", @phone, new { @class = "form-control input-mask-phone", @name = "Phone", @id = "Phone" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="lb-Check" id="Phone_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">Giới tính</label>
                                <div class="col-md-12">
                                    @Html.DropDownList("Sex", new SelectListItem[]{
               new SelectListItem() {Text = "Nam", Value="Nam"},
                new SelectListItem() {Text = "Nữ", Value="Nữ"},
                }, new { @id = "Sex", @name = "Sex", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="lb-Check" id="Sex_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">Ngày sinh</label>
                                <div class="col-md-12 form-inline">
                                    @Html.TextBox("BirthDay", birthday, new { @class = "date-picker form-control", @Style = "width:100%", @id = "BirthDay", @name = "BirthDay" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="lb-Check" id="BirthDay_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">CMND</label>
                                <div class="col-md-12">
                                    @Html.TextBox("CMND", @cmnd, new { @class = "form-control", @name = "CMND", @id = "CMND" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="lb-Check" id="CMND_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-12 control-label no-padding-right">Địa chỉ</label>
                        <div class="col-md-12">
                            @Html.TextBox("Address", @address, new { @class = "form-control", @name = "Address", @id = "Address" })
                            <div style="display:none" id="map">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <span class="lb-Check" id="Address_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group" style="color:#FFF">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">Ảnh mặt trước</label>
                                <div class="col-md-12 form-inline">
                                    <input type="file" name="Front_Image" id="Front_Image" style="width: 100%;" /><br>
                                    <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="lb-Check" id="Front_Image_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-12 control-label no-padding-right">Ảnh mặt sau</label>
                                <div class="col-md-12 form-inline">
                                    <input type="file" name="Back_Image" id="Back_Image" style="width: 100%;" /><br>
                                    <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <span class="lb-Check" id="Back_Image_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="thongtinxe" class="tab-pane fade">
                <br />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Tên xe (biển số xe)</label>
                        <div class="col-sm-9">
                            @Html.TextBox("License", "", new { @class = "form-control", @name = "License", @id = "License" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <span class="lb-Check" id="License_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Tải trọng</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("Payload", new SelectList(ViewBag.ListCar, "Value", "Text"), new { @id = "Payload", @name = "Payload", @class = "form-control", @Style = "width:250px;display: inline;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <span class="lb-Check" id="Payload_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Kích thước thùng </label>
                        <div class="col-sm-9">
                            <div class="col-sm-3" style="padding-left:0px">
                                @Html.TextBox("txtLenght", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtLenght", @id = "txtLenght", @placeholder = "Chiều dài (m)" })
                            </div>
                            <div class="col-sm-3">
                                @Html.TextBox("txtWidth", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtWidth", @id = "txtWidth", @placeholder = "Chiều rộng (m)" })
                            </div>
                            <div class="col-sm-3">
                                @Html.TextBox("txtHeight", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtHeight", @id = "txtHeight", @placeholder = "Chiều cao (m)" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="col-sm-3">
                                <span class="lb-Check" id="txtLenght_NULL" style="margin-left: 0px; color:red"></span>
                            </div>
                            <div class="col-sm-3">
                                <span class="lb-Check" id="txtWidth_NULL" style="margin-left: 0px; color:red"></span>
                            </div>
                            <div class="col-sm-3">
                                <span class="lb-Check" id="txtWidth_NULL" style="margin-left: 0px; color:red"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Bãi đỗ xe</label>
                        <div class="col-sm-9">
                            @Html.TextBox("AddressCar", "", new { @class = "form-control", @name = "AddressCar", @id = "AddressCar" })
                            <br />
                            <div style="border: 1px solid gray; height:400px; margin-top:20px" id="map2">
                            </div>
                            <div id="infowindow-content">
                                <img src="" width="16" height="16" id="place-icon">
                                <span id="place-name" class="title"></span><br>
                                <span id="place-address"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <span class="lb-Check" id="AddressCar_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                    <input type="hidden" id="hfLat" name="hfLat" />
                    <input type="hidden" id="hfLng" name="hfLng" />
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right">Mô tả</label>
                        <div class="col-sm-9">
                            @Html.TextArea("Description", "", new { @id = "Description", @name = "Description", @class = "form-control", @style = "height: 80px;" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <span class="lb-Check" id="Description_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="text-center">
                        <input type="submit" id="btnAdd" value="Đăng ký" class="btn btn-info btn-sm col-md-push-4 col-md-2 col-xs-4 col-xs-push-2" style="margin-right:5px" />
                        &nbsp;&nbsp;
                        <a class="sc_button col-md-push-4 col-md-2 col-xs-4 col-xs-push-2" href="/Home/Index" style = "margin-left:5px;margin-top: 0px">Quay Lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/scripts/jquery-3.1.1.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
            async defer></script>
    <script>
        var map;
        var map2;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            mapTypeControl: false,
            center: { lat: 21.027764, lng: 105.834160 },
            zoom: 17
        });
        map2 = new google.maps.Map(document.getElementById('map2'), {
            mapTypeControl: false,
            center: { lat: 21.027764, lng: 105.834160 },
            zoom: 17
        });

        var input = document.getElementById('Address');
        var input2 = document.getElementById('AddressCar');

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        var autocomplete2 = new google.maps.places.Autocomplete(input2);
        autocomplete2.bindTo('bounds', map2);

        var infowindow = new google.maps.InfoWindow();
        var infowindow2 = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        var infowindowContent2 = document.getElementById('infowindow-content2');
        infowindow.setContent(infowindowContent);
        infowindow2.setContent(infowindowContent2);
        var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
        });
        var marker2 = new google.maps.Marker({
            map: map2,
            anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function () {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("địa chỉ nhập vào không tồn tại: '" + place.name + "'");
                return;
            }

            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            infowindow.open(map, marker);
        });
        autocomplete2.addListener('place_changed', function () {
            var place2 = autocomplete2.getPlace();
            var lat = place2.geometry.location.lat();
            var lng = place2.geometry.location.lng();
            $('#hfLat').val(lat);
            $('#hfLng').val(lng);

            infowindow2.close();
            marker2.setVisible(false);
            
            if (!place2.geometry) {
                window.alert("địa chỉ nhập vào không tồn tại: '" + place2.name + "'");
                return;
            }

            if (place2.geometry.viewport) {
                map2.fitBounds(place2.geometry.viewport);
            } else {
                map2.setCenter(place2.geometry.location);
                map2.setZoom(17);
            }
            marker2.setPosition(place2.geometry.location);
            marker2.setVisible(true);

            infowindow2.open(map2, marker2);
        });
    }
    </script>

        <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
        <script src="~/assets/js/jquery.2.1.1.min.js"></script>
        <script src="~/assets/js/jquery-ui.custom.min.js"></script>
        <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
        <script src="~/assets/js/chosen.jquery.min.js"></script>
        <script src="~/assets/js/fuelux.spinner.min.js"></script>

        <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
        <script src="~/assets/js/moment.min.js"></script>
        <script src="~/assets/js/daterangepicker.min.js"></script>
        <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
        <script src="~/assets/js/jquery.knob.min.js"></script>
        <script src="~/assets/js/jquery.autosize.min.js"></script>
        <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
        <script src="~/assets/js/jquery.maskedinput.min.js"></script>
        <script src="~/assets/js/bootstrap-tag.min.js"></script>

        <script type="text/javascript">
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#UserName').blur(function () {
                    var url = "/Home/CheckUserName";
                    var name = $('#UserName').val();
                    $.get(url, { input: name }, function (data) {
                        if (data == "Available") {
                            $("#resultCheckUserName").html("<span style='color:green'>Có thể đăng ký tên đăng nhập này</span>");
                            $("#UserName").css('background-color', '');
                        }
                        else {
                            $("#resultCheckUserName").html("<span style='color:red'>Tên đăng nhập đã tồn tại</span>");
                            $("#UserName").css('background-color', '#e97878');
                        }
                    });
                })

                $("#Address").focusout(function () {
                    if ($("#Address").val().trim() == "" || $("#Address").val().trim() == null) {
                        $("#Address_NULL").html('Bạn chưa nhập địa chỉ tài xế!');
                        return false;
                    } else {
                        $("#Address_NULL").html('');
                    }
                });

                $("#Phone").focusout(function () {
                    if ($("#Phone").val().trim() == "" || $("#Phone").val().trim() == null) {
                        $("#Phone_NULL").html('Bạn chưa chọn số điện thoại!');
                        return false;
                    } else {
                        $("#Phone_NULL").html('');
                    }

                    if ($.isNumeric($('#Phone').val()) == false) {
                        $('#Phone_NULL').html('Số điện thoại phải là số');
                        return false;
                    }
                });
                $("#CMND").focusout(function () {
                    if ($("#CMND").val().trim() == "" || $("#CMND").val().trim() == null) {
                        $("#CMND_NULL").html('Bạn chưa chọn số CMND!');
                        return false;
                    } else {
                        $("#CMND_NULL").html('');
                    }

                    if ($.isNumeric($('#CMND').val()) == false) {
                        $('#CMND_NULL').html('Số CMND phải là số');
                        return false;
                    }
                });

                

                $("#Location").focusout(function () {
                    if ($("#Location").val().trim() == "" || $("#Location").val().trim() == null) {
                        $("#Location_NULL").html('Bạn chưa chọn vị trí của tài xế!');
                        return false;
                    } else {
                        $("#Location_NULL").html('');
                    }
                });
                $("#ConfirmPassword").focusout(function () {
                    if ($('#ConfirmPassword').val().trim() == "" || $('#ConfirmPassword').val().trim() == null) {
                        $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại không được để trống!');
                        return false;
                    } else {
                        if ($('#Password').val().trim() != $('#ConfirmPassword').val().trim()) {
                            $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại phải giống mật khẩu!');
                        } else {
                            $('#ConfirmPassword_NULL').html('');
                        }
                    }
                });


                $('#btnAdd').click(function () {
                    if ($('#UserName').val() == "") {
                        $('#UserName_NULL').html('Bạn chưa nhập tên đăng nhập!');
                        $('#thongtintaixe').css('display', 'inline');
                        $('#thongtinxe').css('display', 'none');
                        return false;
                    }

                    if ($('#ConfirmPassword').val() == "") {
                        $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại không được để trống!');
                        $('#thongtintaixe').css('display', 'inline');
                        $('#thongtinxe').css('display', 'none');
                        return false;
                    } else {
                        $('#ConfirmPassword_NULL').html('');
                    }
                    if ($('#Password').val() != $('#ConfirmPassword').val()) {
                        $('#ConfirmPassword_NULL').html('Mật khẩu nhập lại phải giống mật khẩu!');
                        $('#thongtintaixe').css('display', 'inline');
                        $('#thongtinxe').css('display', 'none');
                        return false;
                    } else {
                        $('#ConfirmPassword_NULL').html('');
                    }
                    if ($('#Name').val() == "") {
                        $('#Name_NULL').html('Bạn chưa nhập tên tài xế!');
                        $('#thongtintaixe').css('display', 'inline');
                        $('#thongtinxe').css('display', 'none');
                        return false;
                    }

                    if ($('#Address').val() == "") {
                        $('#Address_NULL').html('Bạn chưa nhập địa chỉ tài xế!');
                        $('#thongtintaixe').css('display', 'inline');
                        $('#thongtinxe').css('display', 'none');
                        return false;
                    }

                    if ($('#Phone').val() == "") {
                        $('#Phone_NULL').html('Bạn chưa nhập số điện thoại liên hệ!');
                        $('#thongtintaixe').css('display', 'inline');
                        $('#thongtinxe').css('display', 'none');
                        return false;
                    }

                    if ($.isNumeric($('#Phone').val()) == false) {
                        $('#Phone_NULL').html('Điện thoại liên hệ phải là số');
                        $('#thongtintaixe').css('display', 'inline');
                        $('#thongtinxe').css('display', 'none');
                        return false;
                    }

                    if ($('#CMND').val() == "") {
                        $('#CMND_NULL').html('Bạn chưa nhập số CMND!');
                        $('#thongtintaixe').css('display', 'inline');
                        $('#thongtinxe').css('display', 'none');
                        return false;
                    }

                    if ($.isNumeric($('#CMND').val()) == false) {
                        $('#CMND_NULL').html('Số CMND phải là số');
                        $('#thongtintaixe').css('display', 'inline');
                        $('#thongtinxe').css('display', 'none');
                        return false;
                    }

                    if ($('#Location').val() == "") {
                        $('#Location_NULL').html('Bạn chưa chọn vị trí của tài xế');
                        $('#thongtintaixe').css('display', 'inline');
                        $('#thongtinxe').css('display', 'none');
                        return false;
                    }


                    var bcheck = true;
                    if ($('#License').val() == "") {
                        $('#License_NULL').html('Bạn chưa nhập License!');
                        $('#thongtintaixe').css('display','none');
                        $('#thongtinxe').css('display', 'inline');
                        bcheck = false;
                        return false;
                    }

                    if ($('#Payload').val() == "") {
                        $('#Payload_NULL').html('Bạn chưa nhập Payload!');
                        $('#thongtintaixe').css('display', 'none');
                        $('#thongtinxe').css('display', 'inline');
                        bcheck = false;
                        return false;
                    }

                    if ($('#txtLenght').val() == "") {
                        $('#txtLenght_NULL').html('Bạn chưa nhập chiều dài của xe!');
                        $('#thongtintaixe').css('display', 'none');
                        $('#thongtinxe').css('display', 'inline');
                        bcheck = false;
                        return false;
                    }

                    if ($('#txtWidth').val() == "") {
                        $('#txtWidth_NULL').html('Bạn chưa nhập chiều rộng của xe!');
                        $('#thongtintaixe').css('display', 'none');
                        $('#thongtinxe').css('display', 'inline');
                        bcheck = false;
                        return false;
                    }

                    if ($('#txtHeight').val() == "") {
                        $('#txtHeight_NULL').html('Bạn chưa nhập chiều cao của xe!');
                        $('#thongtintaixe').css('display', 'none');
                        $('#thongtinxe').css('display', 'inline');
                        bcheck = false;
                        return false;
                    }
                    if ($('#AddressCar').val() == "") {
                        $('#AddressCar_NULL').html('Bạn chưa nhập vị trí bãi đỗ xe!');
                        $('#thongtintaixe').css('display', 'none');
                        $('#thongtinxe').css('display', 'inline');
                        bcheck = false;
                        return false;
                    }
                    if (bCheck == false) {
                        return false;
                    }
                    else {
                        $("#divProcessing").show();
                        return true;
                    }

                });
            });
        </script>
    }

<script src="~/scripts/jquery1.12.4.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<style type="text/css">
    .ui-widget-content {
        border: 1px solid #c5c5c5;
        width: 250px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#BirthDay').datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $("#UserName").keypress(function () {
            $("#UserName").val(removeunicode($("#UserName").val()));
        });
    });
    function removeunicode(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        // Gộp nhiều dấu space thành 1 space
        str = str.replace(/\s+/g, '');
        // loại bỏ toàn bộ dấu space (nếu có) ở 2 đầu của xâu
        str.trim();
        return str;
    }
</script>

@*google map*@
@*<script src="~/scripts/jquery1.12.4.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
        async defer></script>*@

@*<script>
    var map;
    function initMap() {
        debugger
        map = new google.maps.Map(document.getElementById('map2'), {
            mapTypeControl: false,
            center: { lat: 21.027764, lng: 105.834160 },
            zoom: 17
        });

        var input = document.getElementById('AddressCar');
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            var lat = place.geometry.location.lat();
            //alert(lat);
            var lng = place.geometry.location.lng();
            $('#hfLat').val(lat);
            $('#hfLng').val(lng);
            var location = "<b>Address</b>: " + place.formatted_address + "<br/>";
            location += "<b>Latitude</b>: " + place.geometry.location.lat() + "<br/>";
            location += "<b>Longitude</b>: " + place.geometry.location.lng();

            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("địa chỉ nhập vào không tồn tại: '" + place.name + "'");
                return;
            }

            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            infowindow.open(map, marker);
        });
    }
</script>*@
<script src="~/assets/js/jquery.2.1.1.min.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
<script type="text/javascript">
    $(document).ready(function () {
        $("#License").focusout(function () {
            if ($("#License").val().trim() == "" || $("#License").val().trim() == null) {
                $("#License_NULL").html('Bạn chưa nhập License!');
                return false;
            } else {
                $("#License_NULL").html('');
            }
        });

        $("#Payload").focusout(function () {
            if ($("#Payload").val().trim() == "" || $("#Payload").val().trim() == null) {
                $("#Payload_NULL").html('Bạn chưa nhập Payload!');
                return false;
            } else {
                $("#Payload_NULL").html('');
            }
        });

        $("#ContainerSize").focusout(function () {
            if ($("#ContainerSize").val().trim() == "" || $("#ContainerSize").val().trim() == null) {
                $("#ContainerSize_NULL").html('Bạn chưa nhập trọng tải!');
                return false;
            } else {
                $("#ContainerSize_NULL").html('');
            }
        });
        $("#AddressCar").focusout(function () {
            if ($("#AddressCar").val().trim() == "" || $("#AddressCar").val().trim() == null) {
                $("#AddressCar_NULL").html('Bạn chưa nhập vị trí bãi đỗ xe!');
                return false;
            } else {
                $("#AddressCar_NULL").html('');
            }
        });
        //$('#btnAdd').click(function () {
        //    var bcheck = true;
        //    if ($('#License').val() == "") {
        //        $('#License_NULL').html('Bạn chưa nhập License!');
        //        bcheck = false;
        //        return false;
        //    }

        //    if ($('#Payload').val() == "") {
        //        $('#Payload_NULL').html('Bạn chưa nhập Payload!');
        //        bcheck = false;
        //        return false;
        //    }

        //    if ($('#txtLenght').val() == "") {
        //        $('#txtLenght_NULL').html('Bạn chưa nhập chiều dài của xe!');
        //        bcheck = false;
        //        return false;
        //    }

        //    if ($('#txtWidth').val() == "") {
        //        $('#txtWidth_NULL').html('Bạn chưa nhập chiều rộng của xe!');
        //        bcheck = false;
        //        return false;
        //    }

        //    if ($('#txtHeight').val() == "") {
        //        $('#txtHeight_NULL').html('Bạn chưa nhập chiều cao của xe!');
        //        bcheck = false;
        //        return false;
        //    }
        //    if ($('#AddressCar').val() == "") {
        //        $('#AddressCar_NULL').html('Bạn chưa nhập vị trí bãi đỗ xe!');
        //        bcheck = false;
        //        return false;
        //    }
        //    if (bCheck == false) {
        //        return false;
        //    }
        //    else {
        //        $("#divProcessing").show();
        //        return true;
        //    }
        //});
    });
</script>
@*google map*@
