﻿@model PagedList.IPagedList<Carrier.Models.Entities.Articles>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tin tức carrier";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}
<div class="page_content container">
    <section class="fullwidth_section news_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="sc_section">
                        <div class="sc_content container">
                            <div class="sc_blogger layout_news template_news sc_blogger_horizontal">
                                <div class="columns_wrap">
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <div class="col-sm-4">
                                                <div class="post_item post_item_news sc_blogger_item">
                                                    <div class="post_featured">
                                                        <div class="post_thumb">
                                                            <img alt="KẾT NỐI VẬN TẢI ĐƯỜNG BỘ" src="@Utitlitys.ImagePath(item.ThumbURL, (int)CMS_IMAGE_TYPE.ARTICLE_TYPE)">
                                                            <div class="hover_wrap">
                                                                <div class="link_wrap">
                                                                    <a class="hover_link icon-link" href="@Url.Action("Details", "News", new { id = SlugHelper.GenerateSlug(item.Id, item.Title) })"></a>
                                                                    <a class="hover_view icon-resize-full" href="@Utitlitys.ImagePath(item.ThumbURL, (int)CMS_IMAGE_TYPE.ARTICLE_TYPE)" title="KẾT NỐI VẬN TẢI ĐƯỜNG BỘ"></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="post_title sc_title sc_blogger_title h4" href="@Url.Action("Details", "News", new { id = SlugHelper.GenerateSlug(item.Id, item.Title) })">@item.Title</a>
                                                    <div class="post_content sc_blogger_content">
                                                        <div class="post_descr">
                                                            <p>@Html.Raw(Server.HtmlDecode(item.Summary))</p>
                                                            <a href="@Url.Action("Details", "News", new { id = SlugHelper.GenerateSlug(item.Id, item.Title) })" class="sc_button sc_button_square sc_button_bg_underline  sc_button_iconed ">
                                                                xem thêm
                                                                <span class="sc_button_iconed icon-right"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="row" style="margin:0px">
    <div class="col-12 text-center">
        @Html.PagedListPager(Model, page => Url.Action("Services", "Home", new { page = page }))
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#menu-main li.current-menu-item").removeClass("current-menu-item");
        $("#service").addClass('current-menu-item');
    });
</script>
