﻿@using Carrier.Models.Entities
@model Articles
@{
    ViewBag.Title = "Điều khoản sử dụng";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<div class="page_content_wrap">
    <div class="content_wrap">
        <div class="content">
            @if (Model != null)
            {
                @Html.Raw(Model.Description)
            }
            else
            {
                <span>Điều khoản sử dụng</span>
            }
        </div>
    </div>
</div>

