﻿@using Carrier.Models.Entities;
@using Carrier.CMS.Models;
@model HtmlContentsViewModel

@{
    ViewBag.Title = "Thêm mới trang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

@section HeaderScript{
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>

<link href="~/Content/Bootstrap.min.css" rel="stylesheet" />
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Admin/HtmlContents">Danh sách Html</a>
        </li>
        <li class="">
            Thêm mới trang
        </li>
    </ul>
}
<div class="page-header">
    <h1>Thêm mới trang</h1>
</div>

@using (Html.BeginForm("Create", "HtmlContents", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreate" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">PagedId</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PageId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PageId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Chi tiết</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @id = "Description" })
                <script>
                    //Replace the <textarea id="editor1"> with a CKEditor
                    //instance, using default configuration.
                    //CKEDITOR.replace('Description', {
                    //    filebrowserBrowseUrl: '/CKFinderScripts/ckfinder.html',
                    //    filebrowserImageBrowseUrl: '/CKFinderScripts/ckfinder.html?type=Images',
                    //    filebrowserUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Files',
                    //    filebrowserImageUploadUrl: '/CKFinderScripts/connector?command=QuickUpload&type=Images'
                    //});

                    var editor = CKEDITOR.replace('Description', {
                        enterMode: CKEDITOR.ENTER_BR,
                    });
                    CKFinder.setupCKEditor(null, '@Url.Content("~/Content/ckfinder/")');
                </script>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm mới" class="btn btn-default" />
                &nbsp;&nbsp;
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $('#frmCreate').on('submit', function () {
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
    });
</script>
