﻿@model IEnumerable<Carrier.CMS.Models.HtmlContentsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}


@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Admin/HtmlContents">HtmlContents</a>
        </li>
    </ul>
}
@*@section ScriptsBottom{
    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var activeId = "HtmlContents";
            $('#main_menu li#' + activeId).addClass('active');
            $('#main_menu li#' + activeId).parents('li').addClass('active open')
        });
    </script>
    }*@
<div class="page-header">
    <h1>Danh sách trang</h1>
</div>
<p style="margin-top: 10px;">
    @Html.ActionLink("Thêm mới", "Create", "HtmlContents", null, new { @class = "btn btn-info btn-sm" })
</p>
<table class="table">
    <tr>
        <th>#</th>
        <th>
            PageId
        </th>
        <th>
            Nội dung chi tiết
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><input type="checkbox" /></td>
            <td>
                <a href="@Url.Action("Details",new { id = item.Id })">@item.PageId</a>
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                <a href='@Url.Action("Details", "HtmlContents",new { id = item.Id })'><img src="~/Images/icons/application_view_detail.png" title="Chi tiết" /></a> |
                <a href='@Url.Action("Edit", "HtmlContents", new { id = item.Id })'><img src="~/Images/icons/page_white_edit.png" title="Cập nhật" /></a> |
                <a href='@Url.Action("Delete", "HtmlContents",new { id = item.Id })'><img src="~/Images/icons/bin_closed.png" title="Xóa" /></a>
            </td>
        </tr>
    }

</table>
