﻿<!DOCTYPE html>

<html lang="vi">
<head>
    <link rel="icon" type="image/x-icon" href="~/Images/icon_carrier.png">
    <link href="~/Images/icon/favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="title" content="@ViewBag.Title">
    <meta name="image" content="http://vantaitoiuu.com/Uploads/TinTuc/@ViewBag.Image" />

    <title>@ViewBag.Title</title>
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    else
    {
        <meta name="description" content="vận tải tối ưu giải pháp vận tải mang lại lợi ích cho doanh nghiệp" />
    }
    <meta name="keywords" content="vận tải tối ưu,vận tải tiết kiệm,vận tải nhanh,tìm xe tải,tìm xe chở hàng,ghép xe,vận tải,phương thức vận tải tiết kiệm, ghép xe trống hàng,tìm xe chở hàng tại hà nội,tìm xe chở hàng tại hải phòng,tìm xe chở hàng tại quảng ninh,vận tải giá rẻ,tìm xe trở hàng giá rẻối ưu, van tai toi uu, carrier app, ung dung dat xe tai, ứng dụng đặt xe tải, carrier driver, carrier2017, đặt xe tải thông minh, dat xe tai thong minh, carrier app for android, carrier app for ios, he thong carrier, dat xe tai carrier, đặt xe tải carrier, carrier order" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" id="packed-css" href="/css/_packed.css" type="text/css" media="all">
    <link rel="stylesheet" id="fontello-style-css" href="/css/fontello.css" type="text/css" media="all">
    <link rel="stylesheet" id="main-style-css" href="/css/main_style.css" type="text/css" media="all">
    <link rel="stylesheet" id="custom-style-css" href="/css/custom-style.css" type="text/css" media="all">
    <style id="custom-style-inline-css" type="text/css"></style>
    <link rel="stylesheet" id="responsive-style-css" href="/css/responsive.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/scripts/toastr.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114665599-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114665599-1');
    </script>
</head>
<body class="page body_style_wide body_filled article_style_stretch top_panel_opacity_solid top_panel_show top_panel_above user_menu_hide sidebar_hide fixed_top_menu">
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap" style="background-color:#5cb9e2d6">
                <div class="menu_main_wrap logo_left menu_show">
                    <div class="container">
                        <div class="logo">
                            <a href="http://vantaitoiuu.com">
                                <img src="~/Images/icon_carrier.png" class="logo_main" alt="">
                                <span class="logo_info"></span>
                            </a>
                        </div>
                        <div class="menu_main">
                            <nav class="menu_main_nav_area">
                                @Html.Partial("_PartialMainMenu")
                            </nav>
                            <a href="#" class="menu_main_responsive_button icon-menu"></a>
                            @*@Html.Partial("_PartialSearch")*@
                        </div>
                    </div>
                </div>
            </header>
            <div class="page_content container">
                @RenderBody();
            </div>
            @Html.Partial("_PartialPageFooter");
        </div>
    </div>

    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
    <script type="text/javascript" src="/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="custom_tools/js/front.customizer.js"></script>
    <script type="text/javascript" src="custom_tools/js/skin.customizer.js"></script>-->
    @*<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>
        <script type='text/javascript' src='/js/core.googlemap.js'></script>*@

    <script type="text/javascript" src="/js/_packed.js"></script>
    <script type="text/javascript" src="/js/shortcodes.min.js"></script>
    <script type="text/javascript" src="/js/_main.js"></script>
</body>
</html>
<script type="text/javascript">
        $(document).ready(function () {
            if ('@TempData["message"]') {
                toastr.success('@TempData["message"]');
            }
            else if ('@TempData["info"]') {
                toastr.info('@TempData["info"]');
            }
            else if ('@TempData["error"]') {
                toastr.error('@TempData["error"]');
            }
            else { }
        });
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5a9f8ff8d7591465c70854c6/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->