﻿<!DOCTYPE html>

<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="icon" type="image/x-icon" href="~/Images/icon_carrier.png">

    <title>@ViewBag.Title</title>
    <meta name="description" content="vận tải tối ưu giải pháp vận tải mang lại lợi ích cho doanh nghiệp" />
    <meta name="keywords" content="vận tải tối ưu,vận tải tiết kiệm,vận tải nhanh,tìm xe tải,tìm xe chở hàng,ghép xe,vận tải,phương thức vận tải tiết kiệm, ghép xe trống hàng,tìm xe chở hàng tại hà nội,tìm xe chở hàng tại hải phòng,tìm xe chở hàng tại quảng ninh,vận tải giá rẻ,tìm xe trở hàng giá rẻ" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" id="packed-css" href="/css/_packed.css" type="text/css" media="all">
    <link rel="stylesheet" id="fontello-style-css" href="/css/fontello.css" type="text/css" media="all">
    <link rel="stylesheet" id="main-style-css" href="/css/main_style.css" type="text/css" media="all">
    <link rel="stylesheet" id="custom-style-css" href="/css/custom-style.css" type="text/css" media="all">
    <style id="custom-style-inline-css" type="text/css"></style>
    <link rel="stylesheet" id="responsive-style-css" href="/css/responsive.css" type="text/css" media="all">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114665599-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114665599-1');
    </script>
</head>
<body class="page body_style_wide body_filled article_style_stretch top_panel_opacity_transparent top_panel_show top_panel_above top_panel_over user_menu_hide sidebar_hide top_image_show">
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap">
                <div class="menu_user_wrap">
                    <div class="container">
                        <div class="menu_user_area menu_user_right menu_user_nav_area">
                            <ul id="menu_user" class="menu_user_nav">
                                <li class="menu-item">
                                    <a href="request-a-quote.html">Request A Quote</a>
                                </li>
                                <li class="menu-item">
                                    <a href="contacts.html">Contact</a>
                                </li>
                                <li class="login_wrap">
                                    <a href="#user-popUp" class="popup_link popup_login_link">
                                        <span class="icon-profile"></span>
                                        Log in
                                    </a>
                                    <div id="user-popUp" class="user-popUp mfp-with-anim mfp-hide">
                                        <div class="sc_tabs">
                                            <ul class="loginHeadTab" role="tablist">
                                                <li role="tab" aria-controls="loginForm" aria-labelledby="ui-id-1">
                                                    <a href="#loginForm" class="loginFormTab icon" id="ui-id-1">Log In</a>
                                                </li>
                                                <li role="tab" aria-controls="registerForm" aria-labelledby="ui-id-2">
                                                    <a href="#registerForm" class="registerFormTab icon ui-tabs-anchor" id="ui-id-2">Create an Account</a>
                                                </li>
                                            </ul>
                                            <div id="loginForm" class="formItems loginFormBody popup_wrap popup_login" aria-labelledby="ui-id-1" role="tabpanel">
                                                <div class="form_left">
                                                    <form action="#" method="post" name="login_form" class="popup_form login_form">
                                                        <input type="hidden" name="redirect_to" value="#">
                                                        <div class="icon popup_form_field login_field iconed_field icon-mail">
                                                            <input type="text" id="log" name="log" value="" placeholder="Login or Email">
                                                        </div>
                                                        <div class="icon popup_form_field password_field iconed_field icon-lock-2">
                                                            <input type="password" id="password" name="pwd" value="" placeholder="Password">
                                                        </div>
                                                        <div class="popup_form_field remember_field">
                                                            <a href="#" class="forgot_password">Forgot password?</a>
                                                            <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                                            <label for="rememberme">Remember me</label>
                                                        </div>
                                                        <div class="popup_form_field submit_field">
                                                            <input type="submit" class="submit_button sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_medium" value="Login">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="form_right">
                                                    <div class="login_socials_title">You can login using your social profile</div>
                                                    <div class="login_socials_list">
                                                        <a href="#" class="iconLogin fb"></a>
                                                        <a href="#" class="iconLogin tw"></a>
                                                        <a href="#" class="iconLogin gg"></a>
                                                    </div>
                                                    <div class="login_socials_problem">
                                                        <a href="#">Problem with login?</a>
                                                    </div>
                                                    <div class="result message_block"></div>
                                                </div>
                                            </div>

                                            <div id="registerForm" class="formItems registerFormBody popup_wrap popup_registration" aria-labelledby="ui-id-2" role="tabpanel">
                                                <form name="registration_form" method="post" class="popup_form registration_form">
                                                    <input type="hidden" name="redirect_to" value="#">
                                                    <div class="form_left">
                                                        <div class="icon popup_form_field login_field iconed_field icon-man">
                                                            <input type="text" id="registration_username" name="registration_username" value="" placeholder="User name (login)">
                                                        </div>
                                                        <div class="icon popup_form_field email_field iconed_field icon-mail">
                                                            <input type="text" id="registration_email" name="registration_email" value="" placeholder="E-mail">
                                                        </div>
                                                        <div class="popup_form_field agree_field">
                                                            <input type="checkbox" value="agree" id="registration_agree" name="registration_agree">
                                                            <label for="registration_agree">I agree with</label>
                                                            <a href="#">Terms &amp; Conditions</a>
                                                        </div>
                                                        <div class="popup_form_field submit_field">
                                                            <input type="submit" class="submit_button sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_medium" value="Sign Up">
                                                        </div>
                                                    </div>
                                                    <div class="form_right">
                                                        <div class="icon popup_form_field password_field iconed_field icon-lock-2">
                                                            <input type="password" id="registration_pwd" name="registration_pwd" value="" placeholder="Password">
                                                        </div>
                                                        <div class="icon popup_form_field password_field iconed_field icon-lock-2">
                                                            <input type="password" id="registration_pwd2" name="registration_pwd2" value="" placeholder="Confirm Password">
                                                        </div>
                                                        <div class="popup_form_field description_field">Minimum 6 characters</div>
                                                    </div>
                                                </form>
                                                <div class="result messageBlock"></div>
                                            </div>
                                        </div>  <!-- /.sc_tabs -->
                                    </div>      <!-- /.user-popUp -->
                                </li>
                                <li class="top_socials">
                                    <div class="sc_socials sc_socials_size_tiny">
                                        <div class="sc_socials_item">
                                            <a href="https://twitter.com/Theme_REX" target="_blank" class="social_icons social_twitter icons">
                                                <span class="icon-twitter"></span>
                                                <span class="sc_socials_hover icon-twitter"></span>
                                            </a>
                                        </div>
                                        <div class="sc_socials_item">
                                            <a href="https://www.facebook.com/themerex" target="_blank" class="social_icons social_facebook icons">
                                                <span class="icon-facebook"></span>
                                                <span class="sc_socials_hover icon-facebook"></span>
                                            </a>
                                        </div>
                                        <div class="sc_socials_item">
                                            <a href="https://plus.google.com/102189073109602153696" target="_blank" class="social_icons social_gplus icons">
                                                <span class="icon-gplus"></span>
                                                <span class="sc_socials_hover icon-gplus"></span>
                                            </a>
                                        </div>
                                        <div class="sc_socials_item">
                                            <a href="#" target="_blank" class="social_icons social_linkedin icons">
                                                <span class="icon-linkedin"></span>
                                                <span class="sc_socials_hover icon-linkedin"></span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="menu_user_area menu_user_left menu_user_contact_area">Call Us Now: 858.536.4161</div>
                    </div>
                </div>
                <div class="menu_main_wrap logo_left menu_show">
                    <div class="container">
                        <div class="logo">
                            <a href="http://vantaitoiuu.com">
                                <img src="~/Images/icon_carrier.png" class="logo_main" alt="">
                                <span class="logo_info"></span>
                            </a>
                        </div>
                        <div class="menu_main">
                            <nav class="menu_main_nav_area">
                                @Html.Partial("_PartialMainMenu")   ;
                            </nav>
                            @*@Html.Partial("_PartialSearch")*@
                        </div>
                    </div>
                </div>
            </header>
            <section class="top_panel_image top_panel_bg2">
                <div class="top_panel_image_hover"></div>
                <div class="top_panel_image_header">
                    <h1 class="top_panel_image_title entry-title">Tin tức</h1>
                    <div class="breadcrumbs">
                        <span class="breadcrumbs_item_first">You Are Here:</span>
                        <a class="breadcrumbs_item home" href="@Url.Action("Index","Home")">Trang chủ</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <span class="breadcrumbs_item current">Tin tức</span>
                    </div>
                </div>
            </section>

            <div class="page_content">
                @RenderBody()
            </div>
            @Html.Partial("_PartialPageFooter");
        </div>
    </div>
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
    <script type="text/javascript" src="/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/js/vendor/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="custom_tools/js/front.customizer.js"></script>
    <script type="text/javascript" src="custom_tools/js/skin.customizer.js"></script>-->
    <script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>
    <script type='text/javascript' src='/js/core.googlemap.js'></script>

    <script type="text/javascript" src="/js/_packed.js"></script>
    <script type="text/javascript" src="/js/shortcodes.min.js"></script>
    <script type="text/javascript" src="/js/_main.js"></script>
</body>


</html>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5a9f8ff8d7591465c70854c6/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->