﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Images/icon_carrier.png">
    <title>@ViewBag.Title - DeliveryOrder</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Carrier.Utilities;
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114665599-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114665599-1');
    </script>
</head>
<body>
    <div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("DeliveryOrder", "Index", "Home", null, new { @class = "navbar-brand" })*@
                <a href='@Url.Action("Index","Home")'><img src='@Url.Content("~/Images/icon_carrier.png")' width="60" height="45" style="margin-top:3px;border-radius:4px;" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ADMIN))
                    {
                        <li>@Html.ActionLink("Vận Đơn", "Index", "Orders")</li>
                        <li>@Html.ActionLink("Lịch trình", "Index", "Schedules")</li>
                        <li>
                            <a href="Enterprise/Cars">Quản lý xe</a>
                            @*@Html.ActionLink("Quản lý xe", "Index", "Cars")*@
                        </li>
                        <li>@Html.ActionLink("Nhà xe", "Index", "Organizations")</li>
                        <li>@Html.ActionLink("Tk người dùng", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("Khớp lệnh", "Index", "KhopLenh")</li>
                        <li>@Html.ActionLink("Import dữ liệu", "Index", "ImportExcel")</li>
                    }
                    else
                    {
                        if (Request.IsAuthenticated)
                        {
                            if (!User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
                            {
                                <li>
                                    @*@Html.ActionLink("Vận Đơn", "Index", "Orders")*@
                                    <a href="Admin/Orders">Vận Đơn</a>
                                </li>
                                <li>
                                    @*@Html.ActionLink("Lái xe", "Index", "Driver")*@
                                    <a href="Enterprise/Driver">Lái xe</a>
                                </li>
                                <li>
                                    @*@Html.ActionLink("Quản lý xe", "Index", "Car")*@
                                    <a href="Enterprise/Car">Quả lý xe</a>
                                </li>
                                <li>
                                    @*@Html.ActionLink("Khách hàng", "Index", "Customers")*@
                                    <a href="Enterprise/Customers">Khách hàng</a>
                                </li>
                                <li>
                                    @Html.ActionLink("Thống kê doanh thu", "Index", "Revenue")
                                </li>
                            }
                            else
                            {
                                <li>
                                    @Html.ActionLink("Quản lý xe", "Index", "Cars")
                                    @*<a href="Enterprise/Car">Quả lý xe</a>*@
                                </li>
                                <li>
                                    @Html.ActionLink("Import dữ liệu", "Index", "ImportExcel")
                                    @*<a href="Admin/ImportExcel">Import dữ liệu</a>*@
                                </li>
                                <li>
                                    @Html.ActionLink("Lịch trình", "Index", "Schedules")
                                    @*<a href="Admin/Schedules">Lịch trình</a>*@
                                </li>
                            }
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now. - Hệ thống vẫn đang trong quá trình phát triển</p>
        </footer>
    </div>

</body>
</html>
