﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Đăng nhập hệ thống - Carrier Admin</title>
    <meta name="description" content="vận tải tối ưu giải pháp vận tải mang lại lợi ích cho doanh nghiệp" />
    <meta name="keywords" content="vận tải tối ưu,vận tải tiết kiệm,vận tải nhanh,tìm xe tải,tìm xe chở hàng,ghép xe,vận tải,phương thức vận tải tiết kiệm, ghép xe trống hàng,tìm xe chở hàng tại hà nội,tìm xe chở hàng tại hải phòng,tìm xe chở hàng tại quảng ninh,vận tải giá rẻ,tìm xe trở hàng giá rẻ" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    @RenderSection("MaterializeStyleSheet", required: false);

    @*<link rel="stylesheet" href="~/Content/materialize.css" />*@
    <link rel="stylesheet" href="~/Content/app.css" />
    <script src="~/assets/js/jquery.2.1.1.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114665599-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114665599-1');
    </script>
</head>

<body class="login-layout">
    @RenderBody()
    @RenderSection("MaterializeScript", required: false)
    @*<script src="~/scripts/materialize.js"></script>*@
</body>
</html>
