﻿@using Microsoft.AspNet.Identity
@using Carrier.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HỆ THỐNG QUẢN LÝ KHỚP LỆNH VẬN TẢI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/x-icon" href="~/Images/icon_carrier.png">
    <link href="~/Images/icon/favicon.ico" rel="icon" type="image/x-icon" />

    @RenderSection("scripts", required: false)
    <script src="~/assets/js/jquery-1.10.0.min.js"></script>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/fonts/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/assets/js/html5shiv.min.js"></script>
    <script src="~/assets/js/respond.min.js"></script>
    <![endif]-->
    @RenderSection("HeaderScript", required: false)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114665599-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114665599-1');
    </script>
    <title>@ViewBag.Title</title>
</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>
        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler"
                    data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <img src="~/Images/icon_carrier.png" width="30px" height="30px" />
                        HỆ THỐNG QUẢN LÝ VÀ KHỚP LỆNH CARRIER <span style="font-size: small">version 1.0</span>
                    </small>
                </a>
                <p></p>
            </div>
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav ace-nav">
                            @*<li class="grey">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <i class="ace-icon fa fa-tasks"></i>
                                        <span class="badge badge-grey">4</span>
                                    </a>

                                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                        <li class="dropdown-header">
                                            <i class="ace-icon fa fa-check"></i>
                                            4 Tasks to complete
                                        </li>

                                        <li class="dropdown-content">
                                            <ul class="dropdown-menu dropdown-navbar">
                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">Software Update</span>
                                                            <span class="pull-right">65%</span>
                                                        </div>

                                                        <div class="progress progress-mini">
                                                            <div style="width:65%" class="progress-bar"></div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">Hardware Upgrade</span>
                                                            <span class="pull-right">35%</span>
                                                        </div>

                                                        <div class="progress progress-mini">
                                                            <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">Unit Testing</span>
                                                            <span class="pull-right">15%</span>
                                                        </div>

                                                        <div class="progress progress-mini">
                                                            <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">Bug Fixes</span>
                                                            <span class="pull-right">90%</span>
                                                        </div>

                                                        <div class="progress progress-mini progress-striped active">
                                                            <div style="width:90%" class="progress-bar progress-bar-success"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-footer">
                                            <a href="#">
                                                See tasks with details
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="purple">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                                        <span class="badge badge-important">8</span>
                                    </a>

                                    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                                        <li class="dropdown-header">
                                            <i class="ace-icon fa fa-exclamation-triangle"></i>
                                            8 Notifications
                                        </li>

                                        <li class="dropdown-content">
                                            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">
                                                                <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                                                New Comments
                                                            </span>
                                                            <span class="pull-right badge badge-info">+12</span>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <i class="btn btn-xs btn-primary fa fa-user"></i>
                                                        Bob just signed up as an editor ...
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">
                                                                <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                                                New Orders
                                                            </span>
                                                            <span class="pull-right badge badge-success">+8</span>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <span class="pull-left">
                                                                <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                                                Followers
                                                            </span>
                                                            <span class="pull-right badge badge-info">+11</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-footer">
                                            <a href="#">
                                                See all notifications
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="green">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                                        <span class="badge badge-success">5</span>
                                    </a>

                                    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                                        <li class="dropdown-header">
                                            <i class="ace-icon fa fa-envelope-o"></i>
                                            5 Messages
                                        </li>

                                        <li class="dropdown-content">
                                            <ul class="dropdown-menu dropdown-navbar">
                                                <li>
                                                    <a href="#" class="clearfix">
                                                        <img src="assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                                        <span class="msg-body">
                                                            <span class="msg-title">
                                                                <span class="blue">Alex:</span>
                                                                Ciao sociis natoque penatibus et auctor ...
                                                            </span>

                                                            <span class="msg-time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span>a moment ago</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="clearfix">
                                                        <img src="assets/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                                                        <span class="msg-body">
                                                            <span class="msg-title">
                                                                <span class="blue">Susan:</span>
                                                                Vestibulum id ligula porta felis euismod ...
                                                            </span>

                                                            <span class="msg-time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span>20 minutes ago</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="clearfix">
                                                        <img src="assets/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                                                        <span class="msg-body">
                                                            <span class="msg-title">
                                                                <span class="blue">Bob:</span>
                                                                Nullam quis risus eget urna mollis ornare ...
                                                            </span>

                                                            <span class="msg-time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span>3:15 pm</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="clearfix">
                                                        <img src="assets/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
                                                        <span class="msg-body">
                                                            <span class="msg-title">
                                                                <span class="blue">Kate:</span>
                                                                Ciao sociis natoque eget urna mollis ornare ...
                                                            </span>

                                                            <span class="msg-time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span>1:33 pm</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="clearfix">
                                                        <img src="assets/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
                                                        <span class="msg-body">
                                                            <span class="msg-title">
                                                                <span class="blue">Fred:</span>
                                                                Vestibulum id penatibus et auctor  ...
                                                            </span>

                                                            <span class="msg-time">
                                                                <i class="ace-icon fa fa-clock-o"></i>
                                                                <span>10:09 am</span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="dropdown-footer">
                                            <a href="inbox.html">
                                                See all messages
                                                <i class="ace-icon fa fa-arrow-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>*@

                            <li class="light-blue">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <img class="nav-user-photo" src="~/assets/avatars/user.jpg" alt="@User.Identity.Name" />
                                    <span class="user-info">
                                        <small>Xin chào ,</small>
                                        @User.Identity.Name
                                    </span>

                                    <i class="ace-icon fa fa-caret-down"></i>
                                </a>
                                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li>
                                        <a href="@Url.Action("Index", "Manage")">
                                            <i class="ace-icon fa fa-user"></i>
                                            Tài khoản
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="ace-icon fa fa-power-off"></i>
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <!-- /.navbar-container -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>
        <div id="sidebar" class="sidebar                  responsive">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    @*<button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                        </button>
                        <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                        </button>
                        <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                        </button>*@
                    <h4 style="color: #4c8fbd"></h4>
                </div>
                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div>
            <!-- /.sidebar-shortcuts -->
            <ul class='nav nav-list' id='main_menu'>
                @if (Request.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ADMIN) || User.IsInRole("Khách"))
                {
                    <li class='' id='Orders'>
                        <a href='@Url.Action("Index", "Orders")'>
                            <i class='menu-icon fa fa-desktop'></i>
                            <span class='menu-text'>
                                Quản lý Vận đơn
                            </span>
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ADMIN))
                {
                    <li class='' id='UsersAdmin'>
                        <a href='@Url.Action("Index", "OrderStatic")'>
                            <i class='menu-icon fa fa-desktop'>
                            </i>
                            <span class='menu-text'>
                                Thống kê vận đơn
                            </span>
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ENTERPRISE) || User.IsInRole(PublicConstant.ROLE_ADMIN))
                {
                    @*<li class='' id='Schedules'>
                            <a href='@Url.Action("Index", "Schedules")'>
                                <i class='menu-icon fa fa-desktop'></i>
                                <span class='menu-text'>
                                    Quản lý lịch trình
                                </span>
                            </a>
                        </li>*@
                    <li class='' id='UserLocation'>
                        <a href='@Url.Action("Index", "UserLocations")'>
                            <i class='menu-icon fa fa-desktop'></i>
                            <span class='menu-text'>
                                Quản lý lịch trình
                            </span>
                        </a>
                    </li>
                    @*<li class='' id='Cars'>
                            <a href='@Url.Action("Index", "Cars")'>
                                <i class='menu-icon fa fa-desktop'></i>
                                <span class='menu-text'>
                                    Quản lý xe
                                </span>
                            </a>
                        </li>
                        <li class='' id='Drivers'>
                            <a href='@Url.Action("Index", "Drivers")'>
                                <i class='menu-icon fa fa-desktop'></i>
                                <span class='menu-text'>
                                    Quản lý tài xế
                                </span>
                            </a>
                        </li>*@
                    <li class='' id='Cars'>
                        <a href="../Enterprise/Car" )'>
                            <i class='menu-icon fa fa-desktop'></i>
                            <span class='menu-text'>
                                Quản lý xe
                            </span>
                        </a>
                    </li>
                    <li class='' id='Drivers'>
                        <a href='../Enterprise/Driver'>
                            <i class='menu-icon fa fa-desktop'></i>
                            <span class='menu-text'>
                                Quản lý tài xế
                            </span>
                        </a>
                    </li>
                    <li class='' id='Customers'>
                        <a href='../Enterprise/Customers'>
                            <i class='menu-icon fa fa-desktop'></i>
                            <span class='menu-text'>
                                Quản lý khách hàng
                            </span>
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ADMIN))
                {
                    <li class='' id='UsersAdmin'>
                        <a href='@Url.Action("Index", "UsersAdmin")'>
                            <i class='menu-icon fa fa-desktop'>
                            </i>
                            <span class='menu-text'>
                                Quản lý tài khoản
                            </span>
                        </a>
                    </li>
                }

                <li class='' id='KhopLenh'>
                    <a href='@Url.Action("Index", "KhopLenh")'>
                        <i class='menu-icon fa fa-desktop'></i>
                        <span class='menu-text'>
                            Khớp lệnh
                        </span>
                    </a>
                </li>
                <li class='' id='History'>
                    <a href='@Url.Action("Index", "History")'>
                        <i class='menu-icon fa fa-desktop'></i>
                        <span class='menu-text'>
                            Lịch sử khớp lệnh
                        </span>
                    </a>
                </li>
                <li class='' id='ImportExcel'>
                    <a href='@Url.Action("Index", "ImportExcel")'>
                        <i class='menu-icon fa fa-desktop'></i>
                        <span class='menu-text'>
                            Import dữ liệu
                        </span>
                    </a>
                </li>
                <li class="" id="Category">
                    <a href='@Url.Action("Index", "Categories")'>
                        <i class='menu-icon fa fa-desktop'></i>
                        <span class='menu-text'>
                            Quản lý chuyên mục
                        </span>
                    </a>
                </li>
                <li class='' id='Articles'>
                    <a href='@Url.Action("Index", "Articles")'>
                        <i class='menu-icon fa fa-desktop'></i>
                        <span class='menu-text'>
                            Quản lý tin bài
                        </span>
                    </a>
                </li>

                <li class='' id='Articles'>
                    <a href='@Url.Action("Index", "DevicesPush")'>
                        <i class='menu-icon fa fa-desktop'></i>
                        <span class='menu-text'>
                            Push Notification
                        </span>
                    </a>
                </li>
                <li class='' id='ImportExcel'>
                    @*<a href='@Url.Action("Index", "Revenue")'>
                            <i class='menu-icon fa fa-desktop'></i>
                            <span class='menu-text'>
                                Thống kê doanh thu
                            </span>
                        </a>*@
                    <a href='~/Revenue'>
                        <i class='menu-icon fa fa-desktop'></i>
                        <span class='menu-text'>
                            Thống kê doanh thu
                        </span>
                    </a>
                </li>
            </ul>

            <!-- /.nav-list -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
                   data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="~/">Home</a>
                        </li>
                        <li class="active">
                        </li>
                    </ul>
                    <!-- /.breadcrumb -->
                    <!-- /.nav-search -->
                </div>
                <div class="page-content">
                    @*<div class="page-header">
                        <h1>
                        Widgets
                        <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Draggabble Widget Boxes &amp; Containers
                        </small>
                        </h1>
                        </div>*@
                    <!-- /.page-header -->
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            @RenderBody()
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">HỆ THỐNG QUẢN LÝ VÀ KHỚP LỆNH CARRIER</span>
                        SOFTWARE &copy; Copyright @Html.Raw("@")2016 by Carrier Technology
                    </span>
                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>
                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>
                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
    <!-- /.main-content -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    @*<script src="~/assets/js/jquery.2.1.1.min.js"></script>*@
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/assets/js/jquery.1.11.1.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

    <![endif]-->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='~/assets/js/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
      <script src="~/assets/js/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/jquery.flot.min.js"></script>
    <script src="~/assets/js/jquery.flot.pie.min.js"></script>
    <script src="~/assets/js/jquery.flot.resize.min.js"></script>
    @*<script src="~/assets/js/jquery-ui.custom.min.js"></script>*@
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>

    <!-- ace scripts -->
    <script src="~/assets/js/ace.min.js"></script>
    <script src="~/assets/js/ace-elements.min.js"></script>
    <style>
        .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
        }
    </style>
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="width: 650px;">
            </div>
        </div>
    </div>
    @*<div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-content">
            </div>
        </div>*@

    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            debugger
            if ('@TempData["message"]') {
                toastr.success('@TempData["message"]');
            }
            else if ('@TempData["info"]') {
                toastr.info('@TempData["info"]');
            }
            else if ('@TempData["error"]') {
                toastr.error('@TempData["error"]');
            }
            else { }
        });
    </script>
    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
