﻿@using Carrier.CMS.Common;
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/Images/icon_carrier.png">
    <meta name="title" content="@ViewBag.Title">
    <title>@ViewBag.Title - DeliveryOrder</title>
    <meta name="description" content="vận tải tối ưu giải pháp vận tải mang lại lợi ích cho doanh nghiệp" />
    <meta name="keywords" content="vận tải tối ưu,vận tải tiết kiệm,vận tải nhanh,tìm xe tải,tìm xe chở hàng,ghép xe,vận tải,phương thức vận tải tiết kiệm, ghép xe trống hàng,tìm xe chở hàng tại hà nội,tìm xe chở hàng tại hải phòng,tìm xe chở hàng tại quảng ninh,vận tải giá rẻ,tìm xe trở hàng giá rẻ,carrier , carriervn, vận tải tối ưu, van tai toi uu, carrier app, ung dung dat xe tai, ứng dụng đặt xe tải, carrier driver, carrier2017, đặt xe tải thông minh, dat xe tai thong minh, carrier app for android, carrier app for ios, he thong carrier, dat xe tai carrier, đặt xe tải carrier, carrier order" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="google-site-verification" content="aXaW4f7JbCAYtGlyMk20Jlvf0NXVmfds1anxmNJia00" />
    <!-- @Scripts.Render("~/bundles/jquery") -->
    <!-- @Scripts.Render("~/bundles/bootstrap") -->
    @RenderSection("scripts", required: false)
    <!-- @Styles.Render("~/Content/css") -->
    <!-- @Scripts.Render("~/bundles/modernizr") -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" id="timeline-css-css" href="~/css/timeline.css" type="text/css" media="all">
    <link rel="stylesheet" id="packed-css" href="~/css/_packed.css" type="text/css" media="all">
    <link rel="stylesheet" id="rs-settings-css" href="~/js/vendor/revslider/css/settings.css" type="text/css" media="all">
    <link rel="stylesheet" id="fontello-style-css" href="~/css/fontello.css" type="text/css" media="all">
    <link rel="stylesheet" id="main-style-css" href="~/css/main_style.css" type="text/css" media="all">
    <link rel="stylesheet" id="custom-style-css" href="~/css/custom-style.css" type="text/css" media="all">
    <style id="custom-style-inline-css" type="text/css"></style>
    <link rel="stylesheet" id="responsive-style-css" href="~/css/responsive.css" type="text/css" media="all">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114665599-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114665599-1');
    </script>
</head>
<body class="home page body_style_fullscreen body_filled article_style_stretch top_panel_opacity_transparent top_panel_over user_menu_hide sidebar_hide">
    @*<div>
            @Url.LangSwitcher("/Images/Vi.jpg", ViewContext.RouteData, "vi")
            @Url.LangSwitcher("/Images/En.jpg", ViewContext.RouteData, "en")
        </div>*@
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap header-menu" style="background-color: #4fa7d5;">
                <div class="menu_main_wrap logo_left menu_show">
                    <div class="container header-res">
                        <div class="logo_new">
                            <a href="http://vantaitoiuu.com">
                                <img src="/Images/icon_carrier.png" class="logo_main logo_main_new" alt="" style="vertical-align: middle;">
                                <span class="logo_info"></span>
                            </a>
                            <p class="spanphone">024 2324 9555</p>
                        </div>
                        @*<div class="logo logo1">
                            <a href="http://vantaitoiuu.com">
                                <img src="~/Images/icon_carrier.png" class="logo_main" alt="">
                                <span class="logo_info"></span>
                            </a>
                        </div>*@
                        <div class="menu_main1 menu_main">
                            <nav class="menu_main_nav_area">
                                @Html.Partial("_PartialMainMenu")
                                @*@Html.Partial("_PartialMainMenuHome")*@
                            </nav>
                            <a href="#" class="menu_main_responsive_button icon-menu"></a>
                            @*@Html.Partial("_PartialSearch")*@
                        </div>
                    </div>
                </div>
            </header>
            @Html.Partial("_PartialCalcualatorPrice")

            <div class="page_content">
                @RenderBody()
            </div>
            @RenderSection("PageFooter", false)
            @if (lang == null || lang.Contains("vi"))
            {
                <section class="copyright_wrap fullwidth_section dark_section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="container">
                                    <p>
                                        Carrier © 2016 All Rights Reserved.
                                        <a href="@Url.Action("TermOfUse","Home")">@Resources.ResourceVi.TermOfUse</a>
                                        and
                                        <a href="@Url.Action("PrivacyPolicy","Home")">@Resources.ResourceVi.PrivacyPolicy</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }
            else if (lang.Equals("en"))
            {
                <section class="copyright_wrap fullwidth_section dark_section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="container">
                                    <p>
                                        Carrier © 2016 All Rights Reserved.
                                        <a href="@Url.Action("TermOfUse","Home")">@Resources.ResourceEn.TermOfUse</a>
                                        and
                                        <a href="@Url.Action("PrivacyPolicy","Home")">@Resources.ResourceEn.PrivacyPolicy</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            }

        </div>
    </div>
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
    <script type="text/javascript" src="~/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="~/js/vendor/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/vendor/jquery.timeline.min.js"></script>
    <script type="text/javascript" src="~/js/vendor/revslider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/js/vendor/revslider/js/jquery.themepunch.revolution.min.js"></script>
    <!--<script type="text/javascript" src="custom_tools/js/front.customizer.js"></script>
    <script type="text/javascript" src="custom_tools/js/skin.customizer.js"></script>-->

    <script type="text/javascript" src="~/js/_packed.js"></script>
    <script type="text/javascript" src="~/js/shortcodes.min.js"></script>
    <script type="text/javascript" src="~/js/_main.js"></script>

    <!-- <script type="text/javascript" src="~/js/vendor/jquery.formstyler.js"></script> -->
    <!-- <script type="text/javascript" src="~/js/vendor/jquery.validate.js"></script> -->
    <!-- <script type="text/javascript" src="~/js/vendor/logical.js"></script> -->

</body>
</html>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5a9f8ff8d7591465c70854c6/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->