﻿<!DOCTYPE html>

<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" type="image/x-icon" href="~/Images/icon_carrier.png">
    
    <title>@ViewBag.Title</title>
    <meta name="description" content="vận tải tối ưu giải pháp vận tải mang lại lợi ích cho doanh nghiệp" />
    <meta name="keywords" content="vận tải tối ưu,vận tải tiết kiệm,vận tải nhanh,tìm xe tải,tìm xe chở hàng,ghép xe,vận tải,phương thức vận tải tiết kiệm, ghép xe trống hàng,tìm xe chở hàng tại hà nội,tìm xe chở hàng tại hải phòng,tìm xe chở hàng tại quảng ninh,vận tải giá rẻ,tìm xe trở hàng giá rẻ" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" id="packed-css" href="/css/_packed.css" type="text/css" media="all">
    <link rel="stylesheet" id="fontello-style-css" href="/css/fontello.css" type="text/css" media="all">
    <link rel="stylesheet" id="main-style-css" href="/css/main_style.css" type="text/css" media="all">
    <link rel="stylesheet" id="custom-style-css" href="/css/custom-style.css" type="text/css" media="all">
    <style id="custom-style-inline-css" type="text/css"></style>
    <link rel="stylesheet" id="responsive-style-css" href="/css/responsive.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    @*<script type="text/javascript" src="/js/vendor/jquery.js"></script>*@
    <script type="text/javascript" src="/scripts/jquery-3.1.1.min.js"></script>
   

    @*<script type="text/javascript" src="/js/vendor/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/_packed.js"></script>
    <script type="text/javascript" src="/js/shortcodes.min.js"></script>
    <script type="text/javascript" src="/js/_main.js"></script>*@
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114665599-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-114665599-1');
    </script>
</head>
<body class="page body_style_wide body_filled article_style_stretch top_panel_opacity_solid top_panel_show top_panel_above user_menu_hide sidebar_hide fixed_top_menu">
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <header class="top_panel_wrap">
                <div class="menu_main_wrap logo_left menu_show">
                    <div class="container">
                        <div class="logo">
                            <a href="http://vantaitoiuu.com">
                                <img src="~/Images/icon_carrier.png" class="logo_main" alt="">
                                <span class="logo_info"></span>
                            </a>
                        </div>
                        <div class="menu_main">
                            <nav class="menu_main_nav_area">
                                    @Html.Partial("_PartialMainMenu")
                                </nav>
                                @*@Html.Partial("_PartialSearch")*@
                                    @*<div class="navbar-buttons navbar-header pull-right" role="navigation">
                                @if (Request.IsAuthenticated)
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <ul class="nav ace-nav">
                                            <li class="light-blue">
                                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                                    <img class="nav-user-photo" src="~/assets/avatars/user.jpg" alt="@User.Identity.Name" />
                                                    <span class="user-info">
                                                        <small>Xin chào ,</small>
                                                        @User.Identity.Name
                                                    </span>

                                                    <i class="ace-icon fa fa-caret-down"></i>
                                                </a>
                                                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="@Url.Action("Index", "Manage")">
                                                            <i class="ace-icon fa fa-user"></i>
                                                            Tài khoản
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                                            <i class="ace-icon fa fa-power-off"></i>
                                                            Đăng xuất
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    }
                                }
                            </div>*@
                        </div>
                    </div>
                </div>
            </header>
            <div class="page_content container">
                @RenderBody()
            </div>
            @Html.Partial("_PartialPageFooter");
        </div>
    </div>

    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
   
    <script type="text/javascript" src="/js/vendor/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/_packed.js"></script>
    <script type="text/javascript" src="/js/shortcodes.min.js"></script>
    <script type="text/javascript" src="/js/_main.js"></script>
</body>
</html>
