﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav ace-nav">
            <li class="light-blue">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo" src="~/assets/ace-master/assets/avatars/user.jpg" alt="Jason's Photo" />
                    <span class="user-info">
                        <small>Xin chào, </small>
                        <a href="@Url.Action("Index", "Manage")">@User.Identity.GetUserName()!</a>
                    </span>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        @Html.ActionLink("Đổi mật khẩu", "ResetPassword", "Account ", new { @class = "ace - icon fa fa - user" })
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="ace-icon fa fa-cog">Đăng xuất</a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav ace-nav">
        <li class="light-blue">
            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                    @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    @Html.ActionLink("Đổi mật khẩu", "ResetPassword", "Account ", new { @class = "ace - icon fa fa - user" })
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="ace-icon fa fa-cog">Đăng xuất</a>
                </li>
            </ul>
        </li>
    </ul>
}
