﻿@model  CMS.Carrier.Models.MessageOrderTrackingViewModel
@using Carrier.Utilities;
@if (Model.Quanlity > 0)
{
    var linkAll = "";

    if (!User.IsInRole(PublicConstant.ROLE_ADMIN))
    {
        linkAll = "Admin/Message/ListMessageOrderTracking";
    }
    else if (!User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
    {
        linkAll = "Enterprise/EMessage/ListMessageOrderTracking";
    }
    else if (!User.IsInRole(PublicConstant.ROLE_USERS))
    {
        linkAll = "Enterprise/EMessage/ListMessageOrderTracking";
    }

    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
        <span class="badge badge-important">@Model.Quanlity</span>
    </a>
    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-check" title="Tài xế mới nhận đơn"></i>
            @Model.Quanlity &nbsp;Tài xế mới nhận đơn
        </li>
        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                @foreach (var item in Model.listMessageOrderTracking)
                {
                    <li>
                        <a href="javascript:void(0);">
                            <div class="clearfix">
                                <span class="pull-left">
                                    <i class="btn btn-xs no-hover btn-success ace-icon fa fa-bell icon-animated-bell"></i>
                                    @Html.DisplayFor(modelItem => item.DriverName)
                                </span>
                                <span class="pull-right badge badge-important">@item.Create_At.ToString("hh:mm tt")</span>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li class="dropdown-footer">
            <a href="@linkAll">
                Danh sách tài xế mới nhận đơn
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
}
else
{
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
        <span class="badge badge-important">0</span>
    </a>
}
