﻿@model  Carrier.CMS.Models.MessageOrderViewModel
@using Carrier.Utilities;
@if (Model.Quanlity > 0)
{
    var linkAll = "";
    var linkDetail = "";
    if (!User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
    {
        linkAll = "/Enterprise/HetHan";
        linkDetail = "/Enterprise/EOrder/Details/";
    }
    else
    {
        linkAll = "/Enterprise/HetHan";
        linkDetail = "/Enterprise/EOrder/Details/";
    }
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell gray"></i>
        <span class="badge badge-grey">@Model.Quanlity</span>
    </a>

    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-check"></i>
            @Model.Quanlity &nbsp;Đơn hàng mới hết hạn
        </li>
        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar">
                @foreach (var item in Model.listMessageOrder)
                {
                    <li>
                        @*<a href="/Enterprise/EOrder/Details/@item.Id">*@
                        <a href="@linkDetail@item.Id">
                            <div class="clearfix">
                                <span class="pull-left">
                                    <i class="btn btn-xs no-hover ace-icon fa fa-bell icon-animated-bell"></i>
                                    &nbsp;Mã VĐ: @Html.DisplayFor(modelItem => item.OrderCode)
                                </span>
                                <span class="pull-right">@item.CreateDate.ToString("hh:mm tt")</span>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </li>

        <li class="dropdown-footer">
            <a href="@linkAll">
               Danh sách đơn hàng mới hết hạn
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
}
else
{
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon  glyphicon glyphicon-shopping-cart" title="Đơn hàng hết hạn" style="color:gray"></i>
        <span class="badge badge-grey">0</span>
    </a>
}