﻿@model  CMS.Carrier.Models.MessageNotificationViewModel
@using Carrier.Utilities;
@if (Model.Quanlity > 0)
{
    var linkAll = "";
    if (User.IsInRole(PublicConstant.ROLE_ADMIN))
    {
        linkAll = "/Admin/Message/ListMessageNotification";
    }
    else if (User.IsInRole(PublicConstant.ROLE_ENTERPRISE) || User.IsInRole(PublicConstant.ROLE_FORWARDER))
    {
        linkAll = "/Enterprise/EMessage/ListMessageNotification";
    }
    else if (!User.IsInRole(PublicConstant.ROLE_USERS))
    {
        linkAll = "/Enterprise/ListMessageNotification";
    }

    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell" title="Thông báo hệ thống"></i>
        <span class="badge badge-important">@Model.Quanlity</span>
    </a>
    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-check"></i>
            @Model.Quanlity &nbsp;Thông báo
        </li>
        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                @foreach (var item in Model.listMessageNotification)
                {
                    <li>
                        <a href="javascript:void(0);">
                            <div class="clearfix">
                                <a href="/Enterprise/Emessage/Details/@item.Id">
                                    <span class="pull-left">
                                        <i class="btn btn-xs no-hover btn-success ace-icon fa fa-bell icon-animated-bell"></i>
                                        @Html.DisplayFor(modelItem => item.Message)

                                    </span>
                                </a>
                                <span class="pull-right badge badge-important">@item.Created_At.ToString("hh:mm tt")</span>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li class="dropdown-footer">
            <a href="@linkAll">
                Danh sách thông báo
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
}
else
{
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
        <span class="badge badge-important">0</span>
    </a>
}