﻿@model  Carrier.CMS.Models.MessageUserViewModel
@using Carrier.Utilities;
@if (Model.Quanlity > 0)
{

    var linkAll = "";

    if (User.IsInRole(PublicConstant.ROLE_ADMIN))
    {
        //linkAll = "Message/ListMessageUser?Quanlity=" + Model.Quanlity;
        linkAll = Url.Action("ListMessageUser", "Message", new { Quanlity = Model.Quanlity });
    }
    else if (User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
    {
        linkAll = "Enterprise/EMessage/ListMessageUser";
    }
    else if (User.IsInRole(PublicConstant.ROLE_USERS))
    {
        linkAll = "Enterprise/EMessage//ListMessageUser";
    }

    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
        <span class="badge badge-important">@Model.Quanlity</span>
    </a>
    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-check" title="Tài khoản mới đăng ký"></i>
            @Model.Quanlity &nbsp;Tài khoản mới đăng ký
        </li>
        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                @foreach (var item in Model.listMessageUser)
                {
                    <li>
                        <a href="javascript:void(0);">
                            <div class="clearfix">
                                <span class="pull-left">
                                    <i class="btn btn-xs no-hover btn-success fa fa-user"></i>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </span>
                                <span class="pull-right badge badge-important">@item.CreateDate.ToString("hh:mm tt")</span>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </li>
        <li class="dropdown-footer">
            <a href="@linkAll">
                Danh sách tài khoản mới
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
}
else
{
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
        <span class="badge badge-important">0</span>
    </a>
}