﻿@model  Carrier.CMS.Models.MessageOrderViewModel
@using Carrier.Utilities;
@if (Model.Quanlity > 0)
{
    var linkAll = "";
    if (!User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
    {
        linkAll = "/Enterprise/EMessage/ListMessageOrder";
    }
    else
    {
        linkAll = "/Enterprise/EMessage/ListMessageOrder";
    }
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa-bell icon-animated-bell"></i>
        <span class="badge bell-grey">@Model.Quanlity</span>
    </a>

    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-check" title="Danh sách đơn hàng trong ngày"></i>
            @Model.Quanlity &nbsp;Vận đơn mới hôm nay
        </li>
        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar">
                @foreach (var item in Model.listMessageOrder)
                {
                <li>
                    <a href="/Enterprise/EOrder/Details/@item.Id">
                        <div class="clearfix">
                            <span class="pull-left">
                                <i class="btn btn-xs no-hover btn-success fa fa-bell icon-animated-bell"></i>
                                &nbsp;Mã VĐ: @Html.DisplayFor(modelItem => item.OrderCode)
                            </span>
                            <span class="pull-right">@item.CreateDate.ToString("hh:mm tt")</span>
                        </div>
                    </a>
                </li>
                }
            </ul>
        </li>

        <li class="dropdown-footer">
            <a href="@linkAll">
                Danh sách đơn hàng trong ngày
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
}
else
{
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa-bell icon-animated-bell"></i>
        <span class="badge badge-grey">0</span>
    </a>
}