﻿@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
<footer class="footer_wrap bg_tint_dark footer_style_dark widget_area">
    <div class="container">
        @if (lang == null || lang.Contains("vi"))
        {
            <div class="row">
                <aside class="col-md-3 col-sm-6 widget widget_socials">
                    <div class="widget_inner">
                        <div class="logo">
                            <a href="@Url.Action("Index","Home")">
                                <img src="~/images/icon_carrier.png" alt="">
                                <span class="logo_info"></span>
                            </a>
                        </div>
                        <div class="logo_descr">Công ty TNHH Công Nghệ Carrier</div>
                        <div class="sc_socials sc_socials_size_small">
                            <div class="sc_socials_item">
                                <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_twitter icons">
                                    <span class="icon-twitter"></span>
                                    <span class="sc_socials_hover icon-twitter"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="https://www.facebook.com/Carrier.Technology/" target="_blank" class="social_icons social_facebook icons">
                                    <span class="icon-facebook"></span>
                                    <span class="sc_socials_hover icon-facebook"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_gplus icons">
                                    <span class="icon-gplus"></span>
                                    <span class="sc_socials_hover icon-gplus"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="https://www.facebook.com/CarrierVN/" target="_blank" class="social_icons social_linkedin icons">
                                    <span class="icon-linkedin"></span>
                                    <span class="sc_socials_hover icon-linkedin"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="https://www.instagram.com/carrier2017" target="_blank" class="social_icons social_linkedin icons">
                                    <span class="fa fa-instagram"></span>
                                    <span class="sc_socials_hover fa fa-instagram"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>
                <aside class="col-md-3 col-sm-6 widget widget_text">
                    <h5 class="widget_title">@Resources.ResourceVi.ContactFooter</h5>
                    <div class="textwidget">
                        <div class="sc_section">
                            <a href="#">
                                <b>Công Ty TNHH Công  Nghệ Carrier</b>
                            </a>
                            <br>@Html.Raw(Resources.ResourceVi.lbAddress1)
                        </div>
                        <div class="sc_section">
                            @Resources.ResourceVi.Phone: 02423249555
                            <br>@Resources.ResourceVi.Email: info@vantaitoiuu.com
                        </div>
                    </div>
                </aside>
                <aside class="col-md-3 col-sm-6 widget widget_recent_reviews">
                    <h5 class="widget_title">Mobile app</h5>
                    <div class="recent_reviews">
                        <article class="post_item with_thumb" style="min-height: auto;">
                            <div class="post_thumb">
                                <img alt="" src="~/Images/ic_ios.png">
                            </div>
                            <div class="post_content">
                                <h6 class="post_title">
                                    <a href="https://itunes.apple.com/vn/app/carrier-driver/id1272629940?l=vi&mt=8">iOS Carrier</a>
                                </h6>
                                <div class="post_rating reviews_summary blog_reviews">
                                    <div class="criteria_summary criteria_row">
                                        <div class="reviews_stars reviews_style_stars" data-mark="100">
                                            <div class="reviews_stars_wrap">
                                                <div class="reviews_stars_bg">
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                </div>
                                                <div class="reviews_stars_hover">
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                </div>
                                            </div>
                                            <div class="reviews_value">@*53.5*@</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post_info"></div>
                            </div>
                        </article>
                        <article class="post_item with_thumb">
                            <div class="post_thumb">
                                <img alt="Import Fundamentals" src="~/Images/ic_android.png">
                            </div>
                            <div class="post_content">
                                <h6 class="post_title">
                                    <a href="https://play.google.com/store/apps/details?id=com.mobileplus.drivercarrier">Android Carrier</a>
                                </h6>
                                <div class="post_rating reviews_summary blog_reviews">
                                    <div class="criteria_summary criteria_row">
                                        <div class="reviews_stars reviews_style_stars" data-mark="100">
                                            <div class="reviews_stars_wrap">
                                                <div class="reviews_stars_bg">
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                </div>
                                                <div class="reviews_stars_hover">
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                </div>
                                            </div>
                                            <div class="reviews_value">@*46.5*@</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post_info"></div>
                            </div>
                        </article>
                    </div>
                </aside>
            </div>
        }
        else if (lang.Equals("en"))
        {
            <div class="row">
                <aside class="col-md-3 col-sm-6 widget widget_socials">
                    <div class="widget_inner">
                        <div class="logo">
                            <a href="@Url.Action("Index","Home")">
                                <img src="~/images/icon_carrier.png" alt="">
                                <span class="logo_info"></span>
                            </a>
                        </div>
                        <div class="logo_descr">Công ty TNHH Công Nghệ Carrier</div>
                        <div class="sc_socials sc_socials_size_small">
                            <div class="sc_socials_item">
                                <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_twitter icons">
                                    <span class="icon-twitter"></span>
                                    <span class="sc_socials_hover icon-twitter"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_facebook icons">
                                    <span class="icon-facebook"></span>
                                    <span class="sc_socials_hover icon-facebook"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_gplus icons">
                                    <span class="icon-gplus"></span>
                                    <span class="sc_socials_hover icon-gplus"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="https://www.facebook.com/Carrier.Technology" target="_blank" class="social_icons social_linkedin icons">
                                    <span class="icon-linkedin"></span>
                                    <span class="sc_socials_hover icon-linkedin"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="https://www.instagram.com/carrier2017" target="_blank" class="social_icons social_linkedin icons">
                                    <span class="fa fa-instagram"></span>
                                    <span class="sc_socials_hover fa fa-instagram"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>
                <aside class="col-md-3 col-sm-6 widget widget_text">
                    <h5 class="widget_title">@Resources.ResourceEn.ContactFooter</h5>
                    <div class="textwidget">
                        <div class="sc_section">
                            <a href="#">
                                <b>Công Ty TNHH Công  Nghệ Carrier</b>
                            </a>
                            <br>@Html.Raw(Resources.ResourceVi.lbAddress1)
                        </div>
                        <div class="sc_section">
                            @Resources.ResourceEn.Phone: 02423249555
                            <br>@Resources.ResourceEn.Email: info@vantaitoiuu.com
                        </div>
                    </div>
                </aside>
                <aside class="col-md-3 col-sm-6 widget widget_recent_reviews">
                    <h5 class="widget_title">Mobile app</h5>
                    <div class="recent_reviews">
                        <article class="post_item with_thumb" style="min-height: auto;">
                            <div class="post_thumb">
                                <img alt="" src="~/Images/ic_ios.png">
                            </div>
                            <div class="post_content">
                                <h6 class="post_title">
                                    <a href="https://itunes.apple.com/vn/app/carrier-driver/id1272629940?l=vi&mt=8">iOS Carrier</a>
                                </h6>
                                <div class="post_rating reviews_summary blog_reviews">
                                    <div class="criteria_summary criteria_row">
                                        <div class="reviews_stars reviews_style_stars" data-mark="100">
                                            <div class="reviews_stars_wrap">
                                                <div class="reviews_stars_bg">
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                </div>
                                                <div class="reviews_stars_hover">
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                </div>
                                            </div>
                                            <div class="reviews_value">@*53.5*@</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post_info"></div>
                            </div>
                        </article>
                        <article class="post_item with_thumb">
                            <div class="post_thumb">
                                <img alt="Import Fundamentals" src="~/Images/ic_android.png">
                            </div>
                            <div class="post_content">
                                <h6 class="post_title">
                                    <a href="https://play.google.com/store/apps/details?id=com.mobileplus.drivercarrier">Android Carrier</a>
                                </h6>
                                <div class="post_rating reviews_summary blog_reviews">
                                    <div class="criteria_summary criteria_row">
                                        <div class="reviews_stars reviews_style_stars" data-mark="100">
                                            <div class="reviews_stars_wrap">
                                                <div class="reviews_stars_bg">
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                </div>
                                                <div class="reviews_stars_hover">
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                    <span class="reviews_star"></span>
                                                </div>
                                            </div>
                                            <div class="reviews_value">@*46.5*@</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="post_info"></div>
                            </div>
                        </article>
                    </div>
                </aside>
            </div>
        }

    </div>
</footer>
<section class="copyright_wrap fullwidth_section dark_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="container">
                    @if (lang == null || lang.Contains("vi"))
                    {
                        <p>
                            Carrier © 2016 All Rights Reserved.
                            <a href="@Url.Action("TermOfUse","Home")">@Resources.ResourceVi.TermOfUse</a>
                            và
                            <a href="@Url.Action("TermOfUse","Home")">@Resources.ResourceVi.PrivacyPolicy</a>
                        </p>
                    }
                    else if (lang.Contains("en"))
                    {
                        <p>
                            Carrier © 2016 All Rights Reserved.
                            <a href="@Url.Action("TermOfUse","Home")">@Resources.ResourceEn.TermOfUse</a>
                            and
                            <a href="@Url.Action("TermOfUse","Home")">@Resources.ResourceEn.PrivacyPolicy</a>
                        </p>
                    }

                </div>
            </div>
        </div>
    </div>
</section>