﻿@using Carrier.CMS.Common;
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}

@if (lang == null || lang.Contains("vi"))
{
    <section class="copyright_wrap fullwidth_section dark_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container">
                        <p>
                            Carrier © 2016 All Rights Reserved.
                            <a href="@Url.Action("TermOfUse","Home")">@Resources.ResourceVi.TermOfUse</a>
                            và
                            <a href="@Url.Action("TermOfUse","Home")">@Resources.ResourceVi.PrivacyPolicy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else if (lang.Equals("en"))
{
    <section class="copyright_wrap fullwidth_section dark_section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container">
                        <p>
                            Carrier © 2016 All Rights Reserved.
                            <a href="@Url.Action("TermOfUse","Home")">@Resources.ResourceEn.TermOfUse</a>
                            and
                            <a href="@Url.Action("TermOfUse","Home")">@Resources.ResourceEn.PrivacyPolicy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
