﻿@using Carrier.CMS.Common;
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
<style>
    .tp-resizeme.start {
        font-size: 38px;
        line-height: 45px;
    }

    #banner_content {
        font-size: 18px;
        line-height: 24px;
    }
</style>
<section class="slider_wrap slider_fullwide slider_engine_revo slider_alias_main" id="slide_home">
    <div id="rev_slider_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
        <!-- START REVOLUTION SLIDER 4.6.92 fullwidth mode -->
        <div id="rev_slider_1_1" class="rev_slider fullwidthabanner tp-simpleresponsive">
            @if (lang == null || lang.Contains("vi"))
            {
                <ul class="tp-revslider-mainul">
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="400" data-saveperformance="off" class="tp-revslider-slidesli">
                        <!-- MAIN IMAGE -->
                        <div class="slotholder" data-bgposition="center top" data-bgfit="cover">
                            <img class="tp-bgimg defaultimg" alt="carrier, vận tải tối ưu, van tai toi uu" src="../Images/slider/slider_bg_main.jpg" data-src="../Images/slider/slider_bg_main.jpg">
                            <div class="slot">
                                <div class="slotslide">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfl stl start" data-x="center" data-hoffset="-408" data-y="bottom" data-voffset="1" data-speed="500" data-start="1900" data-easing="Quad.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" data-endeasing="Quad.easeIn">
                            <img src="~/Images/slider/truck_1.png" alt="carrier, ứng dụng đặt xe tải">
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr ltr start" data-x="center" data-hoffset="146" data-y="bottom" data-voffset="4" data-speed="500" data-start="1400" data-easing="Quad.easeOut" data-elementdelay="0.1" data-endelementdelay="0.5" data-endspeed="700" data-endeasing="Quad.easeIn">
                            <img src="~/Images/slider/truck_2.png" alt="carrier, đặt xe tải thông minh">
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption trx-big-extra tp-fade fadeout tp-resizeme start" data-x="center" data-hoffset="65" data-y="200" data-speed="500" data-start="600" data-easing="Quad.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400">
                            @Html.Raw(Resources.ResourceVi.ContentBanner1)
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption randomrotate fadeout start" data-x="center" data-hoffset="435" data-y="307" data-speed="700" data-start="2500" data-easing="easeOutBounce" data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500">
                            <img src="~/Images/slider/slider_guarantee_main.png" alt="carrier, dat xe tai carrier; đặt xe tải carrier">
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="400" data-saveperformance="off" class="tp-revslider-slidesli">
                        <!-- MAIN IMAGE -->
                        <div class="slotholder" data-bgposition="center top" data-bgfit="cover">
                            <img class="tp-bgimg defaultimg" alt="carrier, vận tải tối ưu, đặt xe tải thông minh" src="https://vantaitoiuu.com/Images/slider/slider_bg_main.jpg" data-src="https://vantaitoiuu.com/Images/slider/slider_bg_main.jpg">
                        </div>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption trx-big-left sfb fadeout tp-resizeme start" data-x="100" data-y="250" data-speed="500" data-start="1200" data-easing="Quad.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400">
                            @Html.Raw(Resources.ResourceVi.ContentBanner2)
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption trx-normal-white sfb fadeout tp-resizeme start" id="banner_content" data-x="100" data-y="370" data-speed="500" data-start="1600" data-easing="Quad.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            @Html.Raw(Resources.ResourceVi.SubBn21)
                        </div>
                        <!-- LAYER NR. 3 -->
                        @*<div class="tp-caption trx-no-style sfb fadeout start" data-x="100" data-y="475" data-speed="500" data-start="2000" data-easing="Quad.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400">
                                <a href="#" class="sc_button sc_button_square sc_button_bg_light">
                                    <span>xem thêm</span
                                </a>
                            </div>*@
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sfb stb start" data-x="right" data-hoffset="-120" data-y="bottom" data-voffset="10" data-speed="600" data-start="800" data-easing="Quad.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" data-endeasing="Quad.easeIn" style="margin-left:20px">
                            <img src="../Images/slider/ship_main.png" alt="carrier, dat xe tai thong minh, dat xe tai carrier, dat xe carrier,carrier app for android" data-ww="408.9807692307693" data-hh="459">
                        </div>
                    </li>
                    <!-- SLIDE  -->
                   

                </ul>
            }
            else if (lang.Equals("en"))
            {
                <ul class="tp-revslider-mainul">
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="400" data-saveperformance="off" class="tp-revslider-slidesli">
                        <!-- MAIN IMAGE -->
                        <div class="slotholder" data-bgposition="center top" data-bgfit="cover">
                            <img class="tp-bgimg defaultimg" alt="carrier, app carrier for IOS, app carrier for android, book truck, book car, carrier system" src="https://vantaitoiuu.com/Images/slider/slider_bg_main.jpg" data-src="https://vantaitoiuu.com/Images/slider/slider_bg_main.jpg">
                            <div class="slot">
                                <div class="slotslide">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption lfl stl start" data-x="center" data-hoffset="-408" data-y="bottom" data-voffset="1" data-speed="500" data-start="1900" data-easing="Quad.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" data-endeasing="Quad.easeIn">
                            <img src="~/Images/slider/truck_1.png" alt="carrier, app carrier for IOS, app carrier for android, book truck, book car, carrier system">
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption sfr ltr start" data-x="center" data-hoffset="146" data-y="bottom" data-voffset="4" data-speed="500" data-start="1400" data-easing="Quad.easeOut" data-elementdelay="0.1" data-endelementdelay="0.5" data-endspeed="700" data-endeasing="Quad.easeIn">
                            <img src="~/Images/slider/truck_2.png" alt="carrier, app carrier for IOS, app carrier for android, book truck, book car, carrier system">
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption trx-big-extra tp-fade fadeout tp-resizeme start" data-x="center" data-hoffset="65" data-y="200" data-speed="500" data-start="600" data-easing="Quad.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400">
                            @Html.Raw(Resources.ResourceEn.ContentBanner1)
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption randomrotate fadeout start" data-x="center" data-hoffset="435" data-y="307" data-speed="700" data-start="2500" data-easing="easeOutBounce" data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500">
                            <img src="~/Images/slider/slider_guarantee_main.png" alt="carrier, app carrier for IOS, app carrier for android, book truck, book car, carrier system">
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="400" data-saveperformance="off" class="tp-revslider-slidesli">
                        <!-- MAIN IMAGE -->
                        <div class="slotholder" data-bgposition="center top" data-bgfit="cover">
                            <img class="tp-bgimg defaultimg" alt="carrier, app carrier for IOS, app carrier for android, book truck, book car, carrier system" src="../Images/slider/slider_bg_main.jpg" data-src="https://vantaitoiuu.com/Images/slider/slider_bg_main.jpg">
                        </div>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption trx-big-left sfb fadeout tp-resizeme start" data-x="100" data-y="250" data-speed="500" data-start="1200" data-easing="Quad.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400">
                            @Html.Raw(Resources.ResourceEn.ContentBanner2)
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption trx-normal-white sfb fadeout tp-resizeme start" id="banner_content" data-x="100" data-y="370" data-speed="500" data-start="1600" data-easing="Quad.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">
                            @Html.Raw(Resources.ResourceEn.SubBn21)
                        </div>
                        <!-- LAYER NR. 3 -->
                        @*<div class="tp-caption trx-no-style sfb fadeout start" data-x="100" data-y="475" data-speed="500" data-start="2000" data-easing="Quad.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400">
                                <a href="#" class="sc_button sc_button_square sc_button_bg_light">
                                    <span>xem thêm</span
                                </a>
                            </div>*@
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption sfb stb start" data-x="right" data-hoffset="-120" data-y="bottom" data-voffset="10" data-speed="600" data-start="800" data-easing="Quad.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="400" data-endeasing="Quad.easeIn" style="margin-left:20px">
                            <img src="../Images/slider/ship_main.png" alt="carrier, app carrier for IOS, app carrier for android, book truck, book car, carrier system" data-ww="408.9807692307693" data-hh="459">
                        </div>
                    </li>
                </ul>
            }

        </div>

    </div><!-- END REVOLUTION SLIDER -->    
</section>