﻿@using Carrier.Utilities
@using System
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}
<style>
    .menu_main_nav > li > a {
        color: white !important
    }
    .menu_main_wrap .menu_main_nav > li.current-menu-item > a{
        border-color:white!important;
    }
    .menu_main_wrap .menu_main_nav > li:hover > a {
        border-color: white !important;
    }
</style>
<ul id="menu_main" class="menu_main_nav">
    @if (lang == null || lang.Contains("vi"))
    {
        <li class="menu-item" id="home">
            <a href="@Url.Action("Index","Home")" class="sf-with-ul">@Resources.ResourceVi.Home</a>
        </li>
        <li class="menu-item" id="about">
            <a href="@Url.Action("About","Home")" class="sf-with-ul">@Resources.ResourceVi.About</a>
        </li>
        <li class="menu-item" id="service">
            <a href="@Url.Action("Services","Home")">@Resources.ResourceVi.Posts</a>
        </li>
        @*<li class="menu-item" id="dichvuvanchuyen">
            <a href="#">
                @Resources.ResourceVi.Service
            </a>
            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                    <a href="@Url.Action("DichVuVanChuyen","Home")">
                        @Resources.ResourceVi.ShippingServices
                    </a>
                </li>
            </ul>
        </li>*@
        if (Request.IsAuthenticated)
        {
            <li class="menu-item" id="yourprofile">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <span class="user-info">
                        <small>@Resources.ResourceVi.Hello ,</small>
                        @User.Identity.Name
                    </span>

                    <i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a href="../Yourprofile/Index">
                            <i class="ace-icon fa fa-user"></i>
                            @Resources.ResourceVi.Account
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="../Account/LogOff">
                            <i class="ace-icon fa fa-power-off"></i>
                            @Resources.ResourceVi.LogOut
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                @if (User.IsInRole(PublicConstant.ROLE_ADMIN))
                {
                    <a href="~/Admin/HomeBackend">
                        <i class="ace-icon fa fa-power-off"></i>
                        @Resources.ResourceVi.Manage
                    </a>
                }
                else if (User.IsInRole(PublicConstant.ROLE_ENTERPRISE) || User.IsInRole(PublicConstant.ROLE_FORWARDER))
                {
                    <a href="~/Enterprise/HomeEnterprise">
                        <i class="ace-icon fa fa-power-off"></i>
                        @Resources.ResourceVi.Manage
                    </a>
                }
                else
                {
                }
            </li>
        }
        else
        {
            <li class="menu-item">
                <a href="@Url.Action("Login", "Account")">@Resources.ResourceVi.LogIn</a>
            </li>
        }

    }
    else if (lang.Equals("en"))
    {

        <li class="menu-item" id="home">
            <a href="@Url.Action("Index","Home")" class="sf-with-ul">@Resources.ResourceEn.Home</a>
        </li>
        <li class="menu-item" id="about">
            <a href="@Url.Action("About","Home")" class="sf-with-ul">@Resources.ResourceEn.About</a>
        </li>
        <li class="menu-item" id="service">
            <a href="@Url.Action("Services","Home")">@Resources.ResourceEn.Posts</a>
        </li>
        @*<li class="menu-item" id="dichvuvanchuyen">
            <a href="#">
                @Resources.ResourceEn.Service
            </a>
            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                    <a href="@Url.Action("DichVuVanChuyen","Home")">
                        @Resources.ResourceEn.ShippingServices
                    </a>
                </li>
            </ul>
        </li>*@
        if (Request.IsAuthenticated)
        {
            <li class="menu-item" id="yourprofile">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <span class="user-info">
                        <small>@Resources.ResourceEn.Hello ,</small>
                        @User.Identity.Name
                    </span>

                    <i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a href="../Yourprofile/Index">
                            <i class="ace-icon fa fa-user"></i>
                            @Resources.ResourceEn.Account
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="../Account/LogOff">
                            <i class="ace-icon fa fa-power-off"></i>
                            @Resources.ResourceEn.LogOut
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                @if (User.IsInRole(PublicConstant.ROLE_ADMIN))
                {
                    <a href="~/Admin/HomeBackend">
                        <i class="ace-icon fa fa-power-off"></i>
                        @Resources.ResourceEn.Manage
                    </a>
                }
                else if (User.IsInRole(PublicConstant.ROLE_ENTERPRISE) || User.IsInRole(PublicConstant.ROLE_FORWARDER))
                {
                    <a href="~/Enterprise/HomeEnterprise">
                        <i class="ace-icon fa fa-power-off"></i>
                        @Resources.ResourceEn.Manage
                    </a>
                }
                else
                {
                }
            </li>
        }
        else
        {
            <li class="menu-item">
                <a href="@Url.Action("Login", "Account")">@Resources.ResourceEn.LogIn</a>
            </li>
        }
    }
    @Html.Partial("_PartialSearch")
    @*<li class="menu-item" id="home">
            <a href="@Url.Action("Index","Home")" class="sf-with-ul">Trang chủ</a>
        </li>
        <li class="menu-item" id="about">
            <a href="@Url.Action("About","Home")" class="sf-with-ul">Giới thiệu</a>
        </li>
        <li class="menu-item" id="service">
            <a href="@Url.Action("Services","Home")">Bài viết</a>
        </li>

        @if (Request.IsAuthenticated)
        {
            <li class="menu-item" id="yourprofile">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <span class="user-info">
                        <small>Xin chào ,</small>
                        @User.Identity.Name
                    </span>

                    <i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a href="../Yourprofile/Index">
                            <i class="ace-icon fa fa-user"></i>
                            Tài khoản
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="../Account/LogOff">
                            <i class="ace-icon fa fa-power-off"></i>
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                @if (User.IsInRole(PublicConstant.ROLE_ADMIN))
                        {
                    <a href="~/Admin/HomeBackend">
                        <i class="ace-icon fa fa-power-off"></i>
                        Quản lý
                    </a>
                        }
                        else if (User.IsInRole(PublicConstant.ROLE_ENTERPRISE) || User.IsInRole(PublicConstant.ROLE_FORWARDER))
                        {
                    <a href="~/Enterprise/HomeEnterprise">
                        <i class="ace-icon fa fa-power-off"></i>
                        Quản lý
                    </a>
                        }
                        else
                        {
                        }
            </li>
        }
        else
        {
            <li class="menu-item">
                <a href="@Url.Action("Login", "Account")">Đăng nhập</a>
            </li>
        }
    *@
</ul>
<script type="text/javascript" src="~/js/vendor/jquery.js"></script>

<script type="text/javascript">
    @*$(document).ready(function () {
        var cateId = @ViewBag.CurrentCateId;
        if (cateId == 1) {
            $('#menu_main li').removeClass('current-menu-item');
            $('#home').addClass('current-menu-item');
        }
        else if (cateId == 2) {
            $('#menu_main li').removeClass('current-menu-item');
            $('#service').addClass('current-menu-item');
        }
        else {
            var currenturl = jQuery(location).attr('href');
            $('#menu_main li').removeClass('current-menu-item');
            if (currenturl.indexOf('Home/Services') != -1) {
                $('#service').addClass('current-menu-item');
            }
            else if (currenturl.indexOf('Contact') != -1) {
                $('#contact').addClass('current-menu-item');
            }
            else {
                $('#home').addClass('current-menu-item');
            }
        }
    });*@
</script>
