﻿@using Carrier.CMS.Common;
@{var lang = ViewContext.RouteData.Values["lang"] as string;
}

@*<div class="search_wrap search_style_regular search_state_closed search_ajax">
    @Url.LangSwitcher("/Images/Vi.jpg", ViewContext.RouteData, "vi")
    @Url.LangSwitcher("/Images/En.jpg", ViewContext.RouteData, "en")

</div>*@
<li class="menu-item">
    @Url.LangSwitcher("/Images/Vi.jpg", ViewContext.RouteData, "vi")
</li>
<li class="menu-item">
    @Url.LangSwitcher("/Images/En.jpg", ViewContext.RouteData, "en")
</li>