﻿
<header class="top_panel_wrap">
    <div class="menu_user_wrap">
        <div class="container">
            <div class="menu_user_area menu_user_right menu_user_nav_area">
                <ul id="menu_user" class="menu_user_nav">
                    <li class="menu-item">
                        <a href="request-a-quote.html">Đăng vận đơn</a>
                    </li>
                    <li class="menu-item">
                        <a href="contacts.html">Liên hệ</a>
                    </li>
                    <li class="login_wrap">
                        <a href="#user-popUp" class="popup_link popup_login_link">
                            <span class="icon-profile"></span>
                            Đăng nhập
                        </a>
                        <div id="user-popUp" class="user-popUp mfp-with-anim mfp-hide">
                            <div class="sc_tabs">
                                <ul class="loginHeadTab" role="tablist">
                                    <li role="tab" aria-controls="loginForm" aria-labelledby="ui-id-1">
                                        <a href="#loginForm" class="loginFormTab icon" id="ui-id-1">Đăng nhập</a>
                                    </li>
                                    <li role="tab" aria-controls="registerForm" aria-labelledby="ui-id-2">
                                        <a href="#registerForm" class="registerFormTab icon ui-tabs-anchor" id="ui-id-2">Đăng ký tài khoản</a>
                                    </li>
                                </ul>
                                <div id="loginForm" class="formItems loginFormBody popup_wrap popup_login" aria-labelledby="ui-id-1" role="tabpanel">
                                    <div class="form_left">
                                        <form action="#" method="post" name="login_form" class="popup_form login_form">
                                            <input type="hidden" name="redirect_to" value="#">
                                            <div class="icon popup_form_field login_field iconed_field icon-mail">
                                                <input type="text" id="log" name="log" value="" placeholder="Login or Email">
                                            </div>
                                            <div class="icon popup_form_field password_field iconed_field icon-lock-2">
                                                <input type="password" id="password" name="pwd" value="" placeholder="Password">
                                            </div>
                                            <div class="popup_form_field remember_field">
                                                <a href="#" class="forgot_password">Quyên mật khẩu?</a>
                                                <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                                <label for="rememberme">Nhớ mật khẩu</label>
                                            </div>
                                            <div class="popup_form_field submit_field">
                                                <input type="submit" class="submit_button sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_medium" value="Login">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form_right">
                                        <div class="login_socials_title">Đăng nhập với mạng xã hội?</div>
                                        <div class="login_socials_list">
                                            <a href="#" class="iconLogin fb"></a>
                                            <a href="#" class="iconLogin tw"></a>
                                            <a href="#" class="iconLogin gg"></a>
                                        </div>
                                        <div class="login_socials_problem">
                                            <a href="#">Lỗi đăng nhập?</a>
                                        </div>
                                        <div class="result message_block"></div>
                                    </div>
                                </div>

                                <div id="registerForm" class="formItems registerFormBody popup_wrap popup_registration" aria-labelledby="ui-id-2" role="tabpanel">
                                    <form name="registration_form" method="post" class="popup_form registration_form">
                                        <input type="hidden" name="redirect_to" value="#">
                                        <div class="form_left">
                                            <div class="icon popup_form_field login_field iconed_field icon-man">
                                                <input type="text" id="registration_username" name="registration_username" value="" placeholder="User name (login)">
                                            </div>
                                            <div class="icon popup_form_field email_field iconed_field icon-mail">
                                                <input type="text" id="registration_email" name="registration_email" value="" placeholder="E-mail">
                                            </div>
                                            <div class="popup_form_field agree_field">
                                                <input type="checkbox" value="agree" id="registration_agree" name="registration_agree">
                                                <label for="registration_agree">I agree with</label>
                                                <a href="#">Terms &amp; Conditions</a>
                                            </div>
                                            <div class="popup_form_field submit_field">
                                                <input type="submit" class="submit_button sc_button sc_button_square sc_button_style_filled sc_button_bg_link sc_button_size_medium" value="Sign Up">
                                            </div>
                                        </div>
                                        <div class="form_right">
                                            <div class="icon popup_form_field password_field iconed_field icon-lock-2">
                                                <input type="password" id="registration_pwd" name="registration_pwd" value="" placeholder="Password">
                                            </div>
                                            <div class="icon popup_form_field password_field iconed_field icon-lock-2">
                                                <input type="password" id="registration_pwd2" name="registration_pwd2" value="" placeholder="Confirm Password">
                                            </div>
                                            <div class="popup_form_field description_field">Mật khẩu tối thiểu 6 ký tự</div>
                                        </div>
                                    </form>
                                    <div class="result messageBlock"></div>
                                </div>
                            </div>  <!-- /.sc_tabs -->
                        </div>      <!-- /.user-popUp -->
                    </li>
                    <li class="top_socials">
                        <div class="sc_socials sc_socials_size_tiny">
                            <div class="sc_socials_item">
                                <a href="https://twitter.com/Theme_REX" target="_blank" class="social_icons social_twitter icons">
                                    <span class="icon-twitter"></span>
                                    <span class="sc_socials_hover icon-twitter"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="https://www.facebook.com/themerex" target="_blank" class="social_icons social_facebook icons">
                                    <span class="icon-facebook"></span>
                                    <span class="sc_socials_hover icon-facebook"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="https://plus.google.com/102189073109602153696" target="_blank" class="social_icons social_gplus icons">
                                    <span class="icon-gplus"></span>
                                    <span class="sc_socials_hover icon-gplus"></span>
                                </a>
                            </div>
                            <div class="sc_socials_item">
                                <a href="#" target="_blank" class="social_icons social_linkedin icons">
                                    <span class="icon-linkedin"></span>
                                    <span class="sc_socials_hover icon-linkedin"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="menu_user_area menu_user_left menu_user_contact_area">Call Us Now: 858.536.4161</div>
        </div>
    </div>
    <div class="menu_main_wrap logo_left menu_show">
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="~/images/icon_carrier.png" class="logo_main" alt="">
                    <span class="logo_info"></span>
                </a>
            </div>
            <div class="menu_main">
                <nav class="menu_main_nav_area">
                    @Html.Partial("_PartialMainMenu");
                </nav>
                @Html.Partial("_PartialSearch");
            </div>
        </div>
    </div>
</header>