﻿@model  Carrier.CMS.Models.OrderNewPopupModel
@using Carrier.Utilities;
@if (Model.MaVanDon != null)
{
    <div id="NewOrderMessageModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-sm" style="width: 575px;
    margin: 125px auto;">
            <div class="modal-content" style="width: 300px !important">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="white">&times;</span>
                        </button>
                        Thông báo đơn hàng mới
                    </div>
                </div>

                <div class="modal-body no-padding">
                    <div class="row" style="margin: 10px 0px 20px 0px; width:100%">
                        <center>
                            <table>
                                <tr>
                                    <td style="text-align:right;padding-right: 10px;">Đơn hàng mới từ</td>
                                    <td>@Model.UserName</td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;padding-right: 10px;">Mã đơn hàng</td>
                                    @*<td><a href="/Enterprise/EOrder/Details/@Model.Id">@Model.MaVanDon</a></td>*@
                                    <td>@Model.MaVanDon</td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;padding-right: 10px;">Thời gian tạo</td>
                                    <td>@Model.CreateDate.ToString("dd/MM/yyy hh:mm")</td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>

                <div class="modal-footer no-margin-top">
                    <center>
                        <button class="btn btn-sm btn-grey pull-center btn-cancel-order" id="btn-cancel-order" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            Đóng
                        </button>
                    </center>
                </div>
            </div>
        </div>
    </div>
}
else
{
}