﻿@model  Carrier.CMS.Models.ReportSOSNotiViewModel
@using Carrier.Utilities;
@if (Model.Quanlity > 0)
{
    var linkAll = "";
    if (!User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
    {
        linkAll = "/Enterprise/EMessage/ListMessageSOS";
    }
    else
    {
        linkAll = "/Enterprise/EMessage/ListMessageSOS";
    }
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bullhorn"></i>
        <span class="badge badge-grey">@Model.Quanlity</span>
    </a>

    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-bullhorn" title="Danh sách đơn hàng trong ngày"></i>
            @Model.Quanlity &nbsp;Cảnh báo mới
        </li>
        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar">
                @foreach (var item in Model.listReport)
                {
                    <li>
                        <div class="clearfix">
                            <span class="pull-right">@item.ReportDescription</span>
                            <span class="pull-right">@item.Created_At.ToString("hh:mm tt")</span>
                        </div>
                    </li>
                }
            </ul>
        </li>
        <li class="dropdown-footer">
            <a href="@linkAll">
                Danh sách thông báo từ app
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
}
else
{
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bullhorn"></i>
        <span class="badge badge-grey">0</span>
    </a>
}
