﻿@model Carrier.Models.Entities.Driver
@using Carrier.Utilities
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thêm mới tài xế";
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>sss
        <li class="">
            <a href="/Admin/Drivers">Danh sách tài xế</a>
        </li>
    </ul>
}
<div class="page-header">
    <h1>Thêm mới tài xế</h1>
</div>

@using (Html.BeginForm("Create", "Driver", FormMethod.Post, new { enctype = "multipart/form-data", id = "createform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Tên đăng nhập</label>
            <div class="col-sm-9">
                @Html.TextBox("UserName", "", new { @class = "form-control", @name = "UserName", @id = "UserName" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="UserName_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Mật khẩu</label>
            <div class="col-sm-9">
                @Html.TextBox("Password", "", new { @class = "form-control", @name = "Password", @id = "Password", placeholder = "mật khẩu", @type = "password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Password_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Email</label>
            <div class="col-sm-9">
                @Html.TextBox("Email", "", new { @class = "form-control", @name = "Email", @id = "Email" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Password_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>


    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Tên tài xế</label>
            <div class="col-sm-9">
                @Html.TextBox("Name", "", new { @class = "form-control", @name = "Name", @id = "Name" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Name_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Địa chỉ</label>
            <div class="col-sm-9">
                @Html.TextBox("Address", "", new { @class = "form-control", @name = "Address", @id = "Address" })
                <br />
                <div style="border: 1px solid gray; height:400px; margin-top:20px; display:none" id="map">
                </div>
                <div id="infowindow-content">
                    <img src="" width="16" height="16" id="place-icon">
                    <span id="place-name" class="title"></span><br>
                    <span id="place-address"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Address_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Điện thoại liên hệ</label>
            <div class="col-sm-9">
                @Html.TextBox("Phone", "", new { @class = "form-control input-mask-phone", @name = "Phone", @id = "Phone" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Phone_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Giới tính</label>
            <div class="col-sm-9">
                @Html.DropDownList("Sex", new SelectListItem[]{
                new SelectListItem() {Text = "Nữ", Value="Nữ"},
                new SelectListItem() {Text = "Nam", Value="Nam"},
                }, new { @id = "Sex", @name = "Sex", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Sex_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Ngày sinh</label>
            <div class="col-sm-9 form-inline">
                @Html.TextBox("BirthDay", "", new { @class = "date-picker form-control", @Style = "width:100%", @id = "BirthDay", @name = "BirthDay" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="BirthDay_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Ảnh mặt trước</label>
            <div class="col-sm-9 form-inline">
                <input type="file" name="Front_Image" id="Front_Image" style="width: 100%;" /><br>
                <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Front_Image_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Ảnh mặt sau</label>
            <div class="col-sm-9 form-inline">
                <input type="file" name="Back_Image" id="Back_Image" style="width: 100%;" /><br>
                <i style="font-size: 11px; font-style: italic;">File ảnh có định dạng .png, gif hoặc .jpg</i><br>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Back_Image_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    @*<div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Nhà xe</label>
                <div class="col-sm-9">
                    @if ((ViewBag.ListOrganization).Count > 0)
                    {
                        @Html.DropDownList("OrganizationId", ViewBag.ListOrganization as SelectList, new { @id = "OrganizationId", @name = "OrganizationId", @class = "form-control" })
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <span class="lb-Check" id="OrganizationId_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>*@

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Trạng thái</label>
            <div class="col-sm-9">
                @Html.DropDownList("Status", new SelectListItem[]{
                new SelectListItem() {Text = "Đang chờ", Value="0"},
                new SelectListItem() {Text = "Đang chạy", Value="1"},
                }, new { @id = "Status", @name = "Status", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="OStatus_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <input type="submit" id="btnAdd" value="Thêm" class="btn btn-info btn-sm" />
                &nbsp;&nbsp;
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </div>

    @*google map*@

    <script src="~/scripts/jquery1.12.4.min.js"></script>
    //<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4XxOXUfpBQvv1qCplTAnsxZ26N3hwo4c&libraries=places&callback=initMap"
        async defer></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
            async defer></script>

            <script>
                var map;
                function initMap() {
                    debugger
                    map = new google.maps.Map(document.getElementById('map'), {
                        mapTypeControl: false,
                        center: { lat: 21.027764, lng: 105.834160 },
                        zoom: 17
                    });

                    var input = document.getElementById('Address');
                    var autocomplete = new google.maps.places.Autocomplete(input);
                    autocomplete.bindTo('bounds', map);

                    var infowindow = new google.maps.InfoWindow();
                    var infowindowContent = document.getElementById('infowindow-content');
                    infowindow.setContent(infowindowContent);
                    var marker = new google.maps.Marker({
                        map: map,
                        anchorPoint: new google.maps.Point(0, -29)
                    });

                    autocomplete.addListener('place_changed', function () {
                        infowindow.close();
                        marker.setVisible(false);
                        var place = autocomplete.getPlace();
                        if (!place.geometry) {
                            window.alert("địa chỉ nhập vào không tồn tại: '" + place.name + "'");
                            return;
                        }

                        if (place.geometry.viewport) {
                            map.fitBounds(place.geometry.viewport);
                        } else {
                            map.setCenter(place.geometry.location);
                            map.setZoom(17);
                        }
                        marker.setPosition(place.geometry.location);
                        marker.setVisible(true);

                        infowindow.open(map, marker);
                    });
                }
            </script>
            @*google map*@

            @*<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />*@
            @*<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />*@
            <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
            <script src="~/assets/js/jquery.2.1.1.min.js"></script>
            <script src="~/assets/js/jquery-ui.custom.min.js"></script>
            <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
            <script src="~/assets/js/chosen.jquery.min.js"></script>
            <script src="~/assets/js/fuelux.spinner.min.js"></script>

            @*<script src="~/assets/js/bootstrap-datepicker.min.js"></script>*@
            <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
            <script src="~/assets/js/moment.min.js"></script>
            <script src="~/assets/js/daterangepicker.min.js"></script>
            <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
            <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
            <script src="~/assets/js/jquery.knob.min.js"></script>
            <script src="~/assets/js/jquery.autosize.min.js"></script>
            <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
            <script src="~/assets/js/jquery.maskedinput.min.js"></script>
            <script src="~/assets/js/bootstrap-tag.min.js"></script>

            <script type="text/javascript">

                //jQuery(function ($) {
                //    $.mask.definitions['~'] = '[+-]';
                //    $('.input-mask-phone').mask('(9999) 999-999').mask('(99999) 999-999');
                //    $('.input-mask-date').mask('99/99/9999');
                //});

                //$('.date-picker').datepicker({
                //    autoclose: true,
                //    todayHighlight: true,
                //    format: 'dd/mm/yyyy'
                //}).next().on(ace.click_event, function () {
                //    $(this).prev().focus();
                //});
            </script>
            <script type="text/javascript">
                $(document).ready(function () {

                    $("#Name").focusout(function () {
                        if ($("#Name").val().trim() == "" || $("#Name").val().trim() == null) {
                            $("#Name_NULL").html('Bạn chưa nhập tên tài xế!');
                            return false;
                        } else {
                            $("#Name_NULL").html('');
                        }
                    });

                    $("#Address").focusout(function () {
                        if ($("#Address").val().trim() == "" || $("#Address").val().trim() == null) {
                            $("#Address_NULL").html('Bạn chưa nhập địa chỉ tài xế!');
                            return false;
                        } else {
                            $("#Address_NULL").html('');
                        }
                    });

                    $("#Phone").focusout(function () {
                        if ($("#Phone").val().trim() == "" || $("#Phone").val().trim() == null) {
                            $("#Phone_NULL").html('Bạn chưa chọn số điện thoại!');
                            return false;
                        } else {
                            $("#Phone_NULL").html('');
                        }

                        if ($.isNumeric($('#Phone').val()) == false) {
                            $('#Phone_NULL').html('Số điện thoại phải là số');
                            return false;
                        }
                    });
                    $("#Location").focusout(function () {
                        if ($("#Location").val().trim() == "" || $("#Location").val().trim() == null) {
                            $("#Location_NULL").html('Bạn chưa chọn vị trí của tài xế!');
                            return false;
                        } else {
                            $("#Location_NULL").html('');
                        }
                    });

                    //$("#OrganizationId").focusout(function () {
                    //    if ($("#OrganizationId").val().trim() == "" || $("#OrganizationId").val().trim() == null) {
                    //        $("#OrganizationId_NULL").html('Bạn chưa chọn nhà xe');
                    //        return false;
                    //    } else {
                    //        $("#OrganizationId_NULL").html('');
                    //    }
                    //});

                    $('#btnAdd').click(function () {
                        if ($('#Name').val() == "") {
                            $('#Name_NULL').html('Bạn chưa nhập tên tài xế!');
                            return false;
                        }

                        if ($('#Address').val() == "") {
                            $('#Address_NULL').html('Bạn chưa nhập địa chỉ tài xế!');
                            return false;
                        }

                        if ($('#Phone').val() == "") {
                            $('#Phone_NULL').html('Bạn chưa nhập số điện thoại liên hệ!');
                            return false;
                        }

                        if ($.isNumeric($('#Phone').val()) == false) {
                            $('#Phone_NULL').html('Điện thoại liên hệ phải là số');
                            return false;
                        }

                        if ($('#Location').val() == "") {
                            $('#Location_NULL').html('Bạn chưa chọn vị trí của tài xế');
                            return false;
                        }

                        //if ($('#OrganizationId').val() == "") {
                        //    $('#OrganizationId_NULL').html('Bạn chưa chọn nhà xe');
                        //    return false;
                        //}
                    });
                });
            </script>
}

<script src="~/scripts/jquery1.12.4.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<style type="text/css">
    .ui-widget-content {
        border: 1px solid #c5c5c5;
        width: 250px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#BirthDay').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#UserName").keypress(function () {
            $("#UserName").val(removeunicode($("#UserName").val()));
        });
    });
    function removeunicode(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        // Gộp nhiều dấu space thành 1 space
        str = str.replace(/\s+/g, '');
        // loại bỏ toàn bộ dấu space (nếu có) ở 2 đầu của xâu
        str.trim();
        return str;
    }
</script>