﻿@model IEnumerable<Carrier.Models.Entities.Car>

@using Carrier.Utilities
@{
    if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ADMIN))
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    }
}
@{
    ViewBag.Title = "Thêm mới xe";
}

<h3 style="text-align:center">Thêm mới xe</h3>
<div class="container-fluid">
    @using (Html.BeginForm("Create", "Car", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Tên xe (biển số xe)</label>
                <div class="col-sm-9">
                    @Html.TextBox("License", "", new { @class = "form-control", @name = "License", @id = "License" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="lb-Check" id="License_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Tải trọng</label>
                <div class="col-sm-9">
                    @*@Html.TextBox("Payload", "", new { @class = "form-control", @name = "Payload", @id = "Payload" })*@
                    @Html.DropDownList("Payload", new SelectListItem[]{
                        new SelectListItem() {Text = "1.5 Tấn", Value="1.5 Tấn"},
                        new SelectListItem() {Text = "2.5 Tấn", Value="2.5 Tấn"},
                        new SelectListItem() {Text = "3.5 Tấn", Value="3.5 Tấn"},
                        new SelectListItem() {Text = "5 Tấn", Value="5 Tấn"},
                        new SelectListItem() {Text = "8 Tấn", Value="8 Tấn"},
                        new SelectListItem() {Text = "10 Tấn", Value="10 Tấn"},
                        new SelectListItem() {Text = "3 chân", Value="3 chân"},
                        new SelectListItem() {Text = "4 chân", Value="4 chân"}
                        }, "--- Tải trọng ---", new { @id = "Payload", @name = "Payload", @class = "form-control changeplaceholder", @Style = "width:100%" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="lb-Check" id="Payload_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Kích thước thùng </label>
                <div class="col-sm-9">
                    <div class="col-sm-3">
                        @Html.TextBox("txtLenght", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtLenght", @id = "txtLenght", @placeholder = "Chiều dài (m)" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBox("txtWidth", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtWidth", @id = "txtWidth", @placeholder = "Chiều rộng (m)" })
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBox("txtHeight", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtHeight", @id = "txtHeight", @placeholder = "Chiều cao (m)" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="col-sm-3">
                        <span class="lb-Check" id="txtLenght_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                    <div class="col-sm-3">
                        <span class="lb-Check" id="txtLenght_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                    <div class="col-sm-3">
                        <span class="lb-Check" id="txtWidth_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Mô tả</label>
                <div class="col-sm-9">
                    @Html.TextArea("Description", "", new { @id = "Description", @name = "Description", @class = "form-control", @style = "height: 80px;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="lb-Check" id="Description_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <input type="submit" id="btnAdd" value="Thêm" class="btn btn-info btn-sm" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
                </div>
            </div>
        </div>
        <script src="~/assets/js/jquery.2.1.1.min.js"></script>
        <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
        <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
        <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
        <script type="text/javascript">
        $(document).ready(function () {

            $("#License").focusout(function () {
                if ($("#License").val().trim() == "" || $("#License").val().trim() == null) {
                    $("#License_NULL").html('Bạn chưa nhập License!');
                    return false;
                } else {
                    $("#License_NULL").html('');
                }
            });

            $("#Payload").focusout(function () {
                if ($("#Payload").val().trim() == "" || $("#Payload").val().trim() == null) {
                    $("#Payload_NULL").html('Bạn chưa nhập Payload!');
                    return false;
                } else {
                    $("#Payload_NULL").html('');
                }
            });

            $("#ContainerSize").focusout(function () {
                if ($("#ContainerSize").val().trim() == "" || $("#ContainerSize").val().trim() == null) {
                    $("#ContainerSize_NULL").html('Bạn chưa nhập trọng tải!');
                    return false;
                } else {
                    $("#ContainerSize_NULL").html('');
                }
            });

            $('#btnAdd').click(function () {
                if ($('#License').val() == "") {
                    $('#License_NULL').html('Bạn chưa nhập License!');
                    return false;
                }

                if ($('#Payload').val() == "") {
                    $('#Payload_NULL').html('Bạn chưa nhập Payload!');
                    return false;
                }

                if ($('#ContainerSize').val() == "") {
                    $('#ContainerSize_NULL').html('Bạn chưa nhập trọng tải!');
                    return false;
                }
            });
        });
        </script>
    }
</div>