﻿@model Carrier.Models.Entities.Customer

@using Carrier.Utilities
@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thông tin khách hàng";
}

<h3 style="text-align:center">Thông tin khách hàng</h3>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Tên khách hàng</label>
        <div class="col-sm-7">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Điện thoại liên hệ</label>
        <div class="col-sm-7">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Ngày sinh</label>
        <div class="col-sm-7 form-inline">
            @Html.DisplayFor(model => model.BirthDay)
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Giới tính</label>
        <div class="col-sm-7">
            @if (Model.Sex == true)
            {
                @Html.Raw("Nam");
            }
            else
            {
                @Html.Raw("Nữ");
            }
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Ghi chú</label>
        <div class="col-sm-7">
            @Html.DisplayFor(model => model.Note)
        </div>
    </div>
</div>

@*<div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-5 control-label no-padding-right">Nhà xe</label>
            <div class="col-sm-7">
                @Html.DisplayFor(model => model.OrganizationId)
            </div>
        </div>
    </div>*@

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Ngày tạo</label>
        <div class="col-sm-7 form-inline">
            @Html.DisplayFor(model => model.Created_At)
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right">Người tạo</label>
        <div class="col-sm-7 form-inline">
            @Html.DisplayFor(model => model.Created_By)
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-5 control-label no-padding-right"></label>
        <div class="col-sm-7 form-inline">
            @Html.ActionLink("Cập nhật", "Edit", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })
            &nbsp;&nbsp;
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
        </div>
    </div>
</div>