﻿@model Carrier.Models.Entities.Customer

@using Carrier.Utilities
@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Cập nhật thông tin khách hàng";
}

<h3 style="text-align:center">Cập nhật thông tin khách hàng</h3>

@using (Html.BeginForm("Edit", "Customers", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Id)

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Tên khách hàng</label>
            <div class="col-sm-9">
                @Html.TextBox("Name", Model.Name, new { @class = "form-control", @name = "Name", @id = "Name" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="Name_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Điện thoại liên hệ</label>
            <div class="col-sm-9">
                @Html.TextBox("Phone", Model.Phone, new { @class = "form-control input-mask-phone", @name = "Phone", @id = "Phone" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="Phone_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Ngày sinh</label>
            <div class="col-sm-9 form-inline">
                @Html.TextBox("BirthDay", Model.BirthDay, new { @class = "date-picker", @Style = "width:200px", @id = "BirthDay", @name = "BirthDay" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="BirthDay_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Giới tính</label>
            <div class="col-sm-9">
                @Html.DropDownList("Sex", new SelectListItem[]{
                new SelectListItem() {Text = "Nữ", Value="0"},
                new SelectListItem() {Text = "Nam", Value="1"},
                }, new { @id = "Sex", @name = "Sex", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="Sex_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Ghi chú</label>
            <div class="col-sm-9">
                @Html.TextArea("Note", Model.Note, new { @id = "Note", @name = "Note", @class = "form-control", @style = "height: 80px;" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="Note_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    @*<div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Nhà xe</label>
                <div class="col-sm-9">
                    @Html.DropDownList(Model.OrganizationId.ToString(), ViewBag.ListOrganization as SelectList, new { @id = "OrganizationId", @name = "OrganizationId", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <span class="lb-Check" id="OrganizationId_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>*@

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <input type="submit" id="btnEdit" value="Cập nhật" class="btn btn-info btn-sm" />
                &nbsp;&nbsp;
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
    <script src="~/assets/js/jquery.2.1.1.min.js"></script>
    @*<script type="text/javascript">
        $('#Sex').val(@Model.Sex);
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-date').mask('99/99/9999');
        });

        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd/mm/yyyy'
        }).next().on(ace.click_event, function () {
            $(this).prev().focus();
        });

    </script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            debugger
            if (@Model.Sex == true) {
                 $('#Sex').val('1');
            }else {
                $('#Sex').val('0');
            }

            $("#Name").focusout(function () {
                if ($("#Name").val().trim() == "" || $("#Name").val().trim() == null) {
                    $("#Name_NULL").html('Bạn chưa nhập tên khách hàng!');
                    return false;
                } else {
                    $("#Name_NULL").html('');
                }
            });

            $("#Phone").focusout(function () {
                if ($("#Phone").val().trim() == "" || $("#Phone").val().trim() == null) {
                    $("#Phone_NULL").html('Bạn chưa chọn số điện thoại!');
                    return false;
                } else {
                    $("#Phone_NULL").html('');
                }

                if ($.isNumeric($('#Phone').val()) == false) {
                    $('#Phone_NULL').html('Số điện thoại phải là số');
                    return false;
                }
            });

            //$("#OrganizationId").focusout(function () {
            //    if ($("#OrganizationId").val().trim() == "" || $("#OrganizationId").val().trim() == null) {
            //        $("#OrganizationId_NULL").html('Bạn chưa chọn nhà xe');
            //        return false;
            //    } else {
            //        $("#OrganizationId_NULL").html('');
            //    }
            //});
            $('#btnEdit').click(function () {
                if ($('#Name').val() == "") {
                    $('#Name_NULL').html('Bạn chưa nhập tên khách hàng!');
                    return false;
                }

                if ($('#Phone').val() == "") {
                    $('#Phone_NULL').html('Bạn chưa nhập số điện thoại liên hệ!');
                    return false;
                }

                if ($.isNumeric($('#Phone').val()) == false) {
                    $('#Phone_NULL').html('Điện thoại liên hệ phải là số');
                    return false;
                }

                //if ($('#OrganizationId').val() == "") {
                //    $('#OrganizationId_NULL').html('Bạn chưa chọn nhà xe');
                //    return false;
                //}
            });
        });
    </script>
}
<script src="~/scripts/jquery1.12.4.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<style type="text/css">
    .ui-widget-content {
        border: 1px solid #c5c5c5;
        width: 250px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('.date-picker').datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>