﻿@model PagedList.IPagedList<Carrier.Models.Entities.Customer>
@using PagedList.Mvc;
@*@using Carrier.CMS.Areas.Enterprise.Controllers;
    @using Carrier.Utilities;*@
@using Carrier.Utilities
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Danh sách khách hàng";
    //var controller = ViewContext.Controller as CustomersController;
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="col-md-12">
    <div class="page-header">
        <h3 style="text-align:center">Danh sách khách hàng</h3>
    </div>
    <br>
</div>
@using (Html.BeginForm("Index", "Customers", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-4">
            Tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        </div>
        <div class="col-sm-4">
            Hiển thị: @Html.TextBox("pagsiz", ViewBag.PageSize as string, new { style = "width: 50px;height: 33px; border-radius: 4px" })
            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: -3px 0px 0px 60px"/>
        </div>
    </div>
}
<p style="margin-top: 10px;">
    @Html.ActionLink("Thêm mới", "Create", "Customers", null, new { @class = "btn btn-info btn-sm" })
</p>

<table class="wapperpager table table-bordered table-hover dataTable" id="grvOrder">
    <thead>
        <tr>
            <th class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace cball">
                    <span class="lbl"></span>
                </label>
            </th>
            <th align="center" scope="col" class="header">
                Tên khách hàng
            </th>
            <th align="center" scope="col" class="header">
                Điện thoại
            </th>
            <th align="center" scope="col" class="header">
                Giới tính
            </th>
            <th align="center" scope="col" class="header">
                Ngày sinh
            </th>
            <th align="center" scope="col" class="header">
                Nhà xe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace cbitem">
                        <span class="lbl"></span>
                        <input type="hidden" id="hdfId" class="hdfId" name="hdfId" value="@item.Id" />
                    </label>
                </td>
                <td>
                    <a title="Tên khách hàng" href='@Url.Action("Details", "Customers", new { id = item.Id })'>@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @if (item.Sex == true)
                    {
                        @Html.Raw("Nam");
                    }
                    else
                    {
                        @Html.Raw("Nữ");
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td>
                    @if (item.OrganizationId != null)
                    {
                        @Html.Raw("Chưa có");
                    }
                </td>
                <td>

                    <a href='@Url.Action("Edit", "Customers", new { id = item.Id })'><img src="~/Images/page_white_edit.png" title="Cập nhật" /></a>  |
                    <a href='@Url.Action("Details", "Customers", new { id = item.Id })'><img src="~/Images/details.png" title="Chi tiết" /></a>  |
                    <button style="border:none; background:none" title="Xóa" onclick="DeleteRow('@item.Id')">
                        <img src="~/Images/icons/bin_closed.png" title="Xóa" />
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter, pagsiz = @ViewBag.PageSize }))

<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thông báo
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <center><p class="message-content" style="font-weight:bold;color:red" id="message-content"></p></center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Huỷ
                    </button>
                    <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-delete" data-dismiss="modal">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Đồng ý
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdflistIdselected" name="hdflistIdselected" value="" />

<script src="~/assets/js/jquery.2.1.1.min.js"></script>
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />

<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/fuelux.spinner.min.js"></script>

<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/daterangepicker.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>
<script>
    $(document).ready(function () {
        $('.cball').click(function () {
            if ($('.cball').is(":checked")) {
                $('.cbitem').attr('checked', true);
            } else {
                $(this).attr('checked', false);
                $('.cbitem').attr('checked', false);
            }
        });
    });
    $('#removeselected').click(function () {
        var listId = "";
        var id;
        $('.cbitem').each(function () {
            if ($(this).is(':checked')) {
                id = $(this).parent().find('input[type="hidden"][name="hdfId"]').val();
                listId = listId + id + ",";
            }
        });
        if (listId.length > 0) {
            OpenPopup(listId, "Bạn có chắc muốn xóa các bản ghi tích chọn", 'delete');
        }
        else {
            ShowMessage("Bạn chưa tích chọn bản ghi nào");
        }
    });

    function DeleteRow(Id) {
        OpenPopup(Id, 'Bạn có chắc muốn xóa bản ghi này?', 'delete');
    }

    function ShowMessage(message) {
        $('#message-content').html(message);
        $('#btn-delete').hide();
        $('#btn-cancel').hide();
        $('#myModal').modal('toggle');
    }

    function OpenPopup(id, message, type) {
        $('#hdflistIdselected').val(id);
        $('#message-content').html(message);
        if (type == 'delete') {
            $('#btn-delete').show();
        }
        if (type == 'changestatus') {
            $('#btn-delete').hide();
        }
        $('#btn-cancel').show();
        $('#myModal').modal('toggle');
    }

    $('#btn-delete').click(function () {
        Delete($('#hdflistIdselected').val());
    });

    function Delete(listId) {
        if (listId.length > 0) {
            $.ajax({
                url: "@Url.Action("DeleteCustomers", "Customers")",
                type: "POST",
                data: { 'listId': listId },
                dataType: 'json',
                success: function (data) {
                    $('#myModal').modal('hide');
                    if (data == 'OK') {
                        ShowMessage("Xóa thành công");
                        setTimeout(function () { $('#myModal').hide(); }, 1500);
                        location.reload();
                    }
                },
                error: function (node) {
                }
            })
        }
    }
</script>