﻿@model Carrier.Models.Entities.ScheduleOrder

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutACE.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ScheduleOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleJoinId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleJoinId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedule.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.Code)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-info btn-sm" /> |
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
        </div>
    }
</div>
