﻿@model Carrier.Models.Entities.ScheduleOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutACE.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ScheduleOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleJoinId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleJoinId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schedule.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schedule.Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" }) &nbsp; &nbsp; &nbsp;
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
</p>
