﻿@model IEnumerable<Carrier.Models.Entities.ScheduleOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleJoinId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule.Code)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleJoinId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule.Code)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@

                <a href='@Url.Action("Edit", "Edit", new { id = item.Id })'><img src="~/Images/icons/page_white_edit.png" title="Cập nhật" /></a> |
                <a href='@Url.Action("Details", "Details",new { id = item.Id })'><img src="~/Images/icons/application_view_detail.png" title="Chi tiết" /></a> |

                <a href='@Url.Action("Delete", "Delete",new { id = item.Id })'><img src="~/Images/icons/bin_closed.png" title="Xóa" /></a>
            </td>
        </tr>
    }

</table>
