﻿@using Carrier.Models.Entities;
@model Order
@using Carrier.Utilities
@{
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
    ViewBag.Title = "Tạo đơn vận chuyển";
}
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>*@
<script src="~/scripts/jquery1.12.4.min.js"></script>
@*<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />*@
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>

<style type="text/css">
    .mode {
        margin-top: 12px !important;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    input[input[type=radio] {
        margin-top: 12px;
    }

    #mapFrom, #mapTo {
        border: 1px solid gray;
        position: relative;
        overflow: hidden;
        height: 200px;
    }

    .bootstrap-timepicker-hour {
        width: 35px !important;
    }
</style>
<div class="col-md-12">
    <div class="page-header">
        <h3>Thêm mới vận đơn</h3>
    </div>
    <br>
</div>
@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (ViewBag.ListDraftOrder != null && (ViewBag.ListDraftOrder as SelectList).Count() > 0)
    {
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Vận đơn đã lưu</label>
                <div class="col-sm-9">
                    @Html.DropDownList("DraftOrder", ViewBag.ListDraftOrder as SelectList, new { @id = "DraftOrder", @name = "DraftOrder", @class = "form-control" })
                </div>
            </div>
        </div>
    }

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Tên hàng</label>
            <div class="col-sm-9">
                @Html.TextBox("TenHang", "", new { @class = "form-control", @name = "TenHang", @id = "TenHang" })
                @*<div id="autocomplease"></div>*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="TenHang_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Điện thoại liên hệ</label>
            <div class="col-sm-9">
                @Html.TextBox("DienThoaiLienHe", "", new { @class = "form-control", @name = "DienThoaiLienHe", @id = "DienThoaiLienHe" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="DienThoaiLienHe_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Loại xe</label>
            <div class="col-sm-9">
                @Html.DropDownList("CarType", new SelectListItem[]{
                new SelectListItem() {Text = "Xe 1.5T", Value="Xe 1.5T"},
                new SelectListItem() {Text = "Xe 2.5T", Value="Xe 2.5T"},
                new SelectListItem() {Text = "Xe 3.5T", Value="Xe 3.5T"},
                new SelectListItem() {Text = "Xe 5T", Value="Xe 5T"},
                new SelectListItem() {Text = "Xe 8T", Value="Xe 8T"},
                new SelectListItem() {Text = "Xe 10T", Value="Xe 10T"},
                new SelectListItem() {Text = "3 Chân", Value="3 Chân"},
                new SelectListItem() {Text = "4 Chân", Value="4 Chân"},
                }, new { @id = "CarType", @name = "CarType", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="CarType_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Ghi chú</label>
            <div class="col-sm-9">
                @Html.TextArea("Note", "", new { @id = "Note", @name = "Note", @class = "form-control", @style = "height: 80px;" })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="Note_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Thanh toán</label>
            <div class="col-sm-9">
                <input type="hidden" id="Payby" name="Payby" value="tiền mặt(mặc định)" />
                <input type="radio" id="rPaypal" checked="checked" name="rThanhToan" class="mode" value="Tiền mặt" />
                <span>Tiền mặt</span>
                <input type="radio" id="rCash" name="rThanhToan" class="mode" value="Chuyển khoản" />
                <span>Chuyển khoản</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="ThanhToan_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Thời gian đi</label>
            <div class="col-sm-9 form-inline">
                @Html.TextBox("txtTimeDi", "", new { @class = "date-picker form-control", @Style = "width:200px", @id = "txtTimeDi", @name = "txtTimeDi" })
                <label style="margin-left:20px">Thời gian bốc hàng(h)</label>
                @Html.TextBox("ThoiGianBocHangDi", "", new { @class = "form-control time-picker", @placeholder = "", @Style = "width:100px", @name = "ThoiGianBocHangDi" })
                @Html.ValidationMessageFor(model => model.ThoiGianDi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="txtTimeDi_NULL" style="margin-left: 0px; color:red"></span>
                <span class="lb-Check" id="ThoiGianBocHang_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Thời gian đến</label>
            <div class="col-sm-9 form-inline">
                @Html.TextBox("txtTimeDen", "", new { @class = "date-picker form-control", @Style = "width:200px", @name = "txtTimeDen", @id = "txtTimeDen" })
                <label style="margin-left:20px">Thời gian dỡ hàng(h)</label>
                @Html.TextBox("ThoiGianBocHangDen", "", new { @class = "form-control time-picker", @placeholder = "", @Style = "width:100px", @name = "ThoiGianBocHangDen", @id = "ThoiGianBocHangDen" })
                @Html.ValidationMessageFor(model => model.ThoiGianDen, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="txtTimeDen_NULL" style="margin-left: 0px; color:red"></span>
                <span class="lb-Check" id="ThoiGianDoHang_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Chiều dài</label>
            <div class="col-sm-9 form-inline">
                <div class="col-sm-4 form-inline" style="padding:0px">
                    @Html.TextBox("txtLenght", "", new { @class = "form-control", @placeholder = "", @Style = "width:150px", @name = "txtLenght", @id = "txtLenght" }) (m)
                </div>
                <div class="col-sm-4 form-inline" style="padding:0px">
                    Chiều rộng &nbsp;
                    @Html.TextBox("txtWidth", "", new { @class = "form-control", @placeholder = "", @Style = "width:150px", @name = "txtWidth", @id = "txtWidth" }) (m)
                </div>
                <div class="col-sm-4 form-inline" style="padding:0px">
                    Chiều cao &nbsp;
                    @Html.TextBox("txtHeight", "", new { @class = "form-control", @placeholder = "", @Style = "width:150px", @name = "txtHeight", @id = "txtHeight" }) (m)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <div class="col-sm-4 form-inline" style="padding:0px">
                    <span class="lb-Check" id="txtLenght_NULL" style="margin-left: 0px; color:red"></span>
                </div>
                <div class="col-sm-4 form-inline" style="padding:0px">
                    <span class="lb-Check" id="txtWidth_NULL" style="margin-left: 0px; color:red"></span>
                </div>
                <div class="col-sm-4 form-inline" style="padding:0px">
                    <span class="lb-Check" id="txtHeight_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right ">Trọng lượng</label>
            <div class="col-sm-9 form-inline">
                @Html.TextBox("txtTrongLuong", "", new { @class = "form-control", @style = "width:90%", @name = "txtTrongLuong", @id = "txtTrongLuong" }) (Kg)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="txtTrongLuong_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Có VAT</label>
            <div class="col-sm-9">
                @Html.DropDownList("VAT", new SelectListItem[]{
            new SelectListItem() {Text = "Có", Value="true"},
            new SelectListItem() {Text = "Không", Value="false"},
            }, new { @id = "VAT", @name = "VAT", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="ThanhToan_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Điểm đi</label>
            <div class="col-sm-9 form-inline">
                @Html.TextBox("txtFromLocation", "", new { @class = "form-control", @placeholder = "", @name = "txtFromLocation", @id = "txtFromLocation", @style = "width:100%" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="txtFromLocation_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Điểm đến</label>
            <div class="col-sm-9 form-inline">
                @Html.TextBox("txtToLocation", "", new { @class = "form-control", @placeholder = "", @name = "txtToLocation", @id = "txtToLocation", @style = "width:100%" })
                <br />
                <div style="border: 1px solid gray; height:400px; margin-top:20px" id="map">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="txtToLocation_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Số Km ước tính</label>
            <div class="col-sm-9 form-inline">
                @Html.TextBox("txtSoKmUocTinh", "", new { @class = "form-control", @placeholder = "", @name = "txtSoKmUocTinh", @id = "txtSoKmUocTinh", @style = "width:100%;pointer-events: none;" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="txtSoKmUocTinh_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Giá</label>
            <div class="col-sm-9">
                @Html.TextBox("Gia", "", new { @id = "Gia", @name = "Gia", @class = "form-control", @style = "pointer-events: none; float: left; width: 90%;" })&nbsp;&nbsp;vnd
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="Gia_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Số giờ ước tính</label>
            <div class="col-sm-9">
                @Html.TextBox("txtSoGio", "", new { @id = "txtSoGio", @name = "txtSoGio", @class = "form-control", @style = "pointer-events: none;float: left; width: 90%;", }) &nbsp; giờ
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Trạng thái</label>
            <div class="col-sm-9">
                @Html.DropDownList("Status", new SelectListItem[]{
                new SelectListItem() {Text = "Chờ nhập đơn", Value="0"},
                new SelectListItem() {Text = "Đã nhận đơn", Value="1"},
                new SelectListItem() {Text = "Kết thúc", Value="2"},
                }, new { @id = "Status", @name = "Status", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <span class="lb-Check" id="Status_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <input type="submit" id="btnAdd" value="Đăng vận đơn" class="btn btn-primary" />
                &nbsp;&nbsp;
                @Html.ActionLink("Quay lại danh sách", "Index")
            </div>
        </div>
    </div>
    <input type="hidden" id="hdfFromLat" name="hdfFromLat" value="" />
    <input type="hidden" id="hdfFromLng" name="hdfFromLat" value="" />
    <input type="hidden" id="hdfToLat" name="hdfFromLat" value="" />
    <input type="hidden" id="hdfFToLng" name="hdfFromLat" value="" />

    <div id="loader" style="height: 100%;
                                width: 100%;
                                text-align: center;
                                background: #f5f5f5;
                                opacity: 0.5;
                                z-index: 999;
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                cursor: wait; display:none">
        <img style="position: absolute;
    top: 50%;" src="~/Content/images/pageloader.gif" alt="" width="70" height="70" />
    </div>

    @*@section Scripts {*@
    @*<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />*@
    @*<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />*@
    <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
    @*<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />*@

    @*google map*@

    <script src="~/scripts/jquery1.12.4.min.js"></script>
    //<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4XxOXUfpBQvv1qCplTAnsxZ26N3hwo4c&libraries=places&callback=initMap"
        async defer></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
            async defer></script>

            <script>
                $(document).ready(function () {
                    //initMap();

                    $('#CarType').change(function () {
                        if ($('#txtSoKmUocTinh').val() != '' && $('#Gia').val() != '' ) {
                            GetOrderPrice();
                        }

                    });

                    $('#VAT').change(function () {
                        if ($('#txtSoKmUocTinh').val() != '' && $('#Gia').val() != '') {
                            debugger
                            GetOrderPrice();
                        }
                    });

                    $('#txtFromLocation').keypress(function (e) {
                        if (e.which == 13) {
                            return false;
                        }
                    });

                    $('#txtToLocation').keypress(function (e) {
                        if (e.which == 13) {
                            return false;
                        }
                    });
                });
                var map;
                function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        mapTypeControl: false,
                        center: { lat: -33.8688, lng: 151.2195 },
                        zoom: 13
                    });

                    new AutocompleteDirectionsHandler(map);
                }

                function AutocompleteDirectionsHandler(map) {
                    this.map = map;
                    this.originPlaceId = null;
                    this.destinationPlaceId = null;
                    this.travelMode = 'DRIVING';
                    var originInput = document.getElementById('txtFromLocation');
                    var destinationInput = document.getElementById('txtToLocation');
                    this.directionsService = new google.maps.DirectionsService;
                    this.directionsDisplay = new google.maps.DirectionsRenderer;
                    this.directionsDisplay.setMap(map);

                    var originAutocomplete = new google.maps.places.Autocomplete(
                        originInput, { placeIdOnly: true });
                    var destinationAutocomplete = new google.maps.places.Autocomplete(
                        destinationInput, { placeIdOnly: true });

                    this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
                    this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');
                }

                AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function (autocomplete, mode) {
                    var me = this;
                    autocomplete.bindTo('bounds', this.map);
                    autocomplete.addListener('place_changed', function () {
                        var place = autocomplete.getPlace();
                        if (!place.place_id) {
                            console.log("Please select an option from the dropdown list.");
                            return;
                        }
                        if (mode === 'ORIG') {
                            me.originPlaceId = place.place_id;
                        } else {
                            me.destinationPlaceId = place.place_id;
                        }
                        me.route();

                        GetOrderPrice();
                    });
                };

                AutocompleteDirectionsHandler.prototype.route = function () {
                    if (!this.originPlaceId || !this.destinationPlaceId) {
                        return;
                    }
                    var me = this;
                    this.directionsService.route({
                        origin: { 'placeId': this.originPlaceId },
                        destination: { 'placeId': this.destinationPlaceId },
                        travelMode: this.travelMode
                    }, function (response, status) {
                        if (status === 'OK') {
                            me.directionsDisplay.setDirections(response);
                        } else {
                            console.log('Directions request failed due to ' + status);
                        }
                    });
                };

                function GetOrderPrice() {
                    tinhsogio();
                    var fromaddress = $('#txtFromLocation').val();
                    var toaddress = $('#txtToLocation').val();
                    if (fromaddress.length == 0 || toaddress.length == 0) {
                        return;
                    }
                    if (fromaddress.length > 0 && toaddress.length > 0) {
                        var type = $('#CarType').val();
                        var isVAT = $('#VAT').val();
                        $('#txtSoKmUocTinh').val("");
                        $('#Gia').val("");
                        $('#loader').show();
                        $.ajax({
                            url: '/Admin/Orders/GetPrice',
                            data: "{ 'type': '" + type + "', 'fromaddress':'" + fromaddress + "', 'toaddress':'" + toaddress + "', 'isVAT':'" + isVAT + "'}",
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data.message.length > 0) {
                                    console.log(data.message);
                                }
                                $('#loader').hide();
                                $('#txtSoKmUocTinh').val(data.distance);
                                $('#Gia').val(data.price);
                            },
                            error: function (response) {
                                $('#loader').hide();
                            },
                            failure: function (response) {
                                $('#loader').hide();
                            }
                        });
                    }
                }

                function tinhsogio() {
                    debugger
                    var fromHour = document.getElementById('ThoiGianBocHangDi').value;
                    var toHour = document.getElementById('ThoiGianBocHangDen').value;
                    var dateFrom = document.getElementById('txtTimeDi').value;
                    var dateTo = document.getElementById('txtTimeDen').value;
                    if (document.getElementById('txtTimeDi').value.length > 0 && document.getElementById('txtTimeDen').value.length > 0) {
                        var fromString = dateFrom.split('/')[1] + "/" + dateFrom.split('/')[0] + "/" + dateFrom.split('/')[2] + " " + fromHour;
                        var toString = dateTo.split('/')[1] + "/" + dateTo.split('/')[0] + "/" + dateTo.split('/')[2] + " " + toHour;
                        var from = new Date(fromString);
                        var to = new Date(toString);

                        var offset = to.getTime() - from.getTime();

                        //var days = Math.floor(offset / 1000 / 60 / 60 / 24);
                        //offset -= days * 1000 * 60 * 60 * 24; // giảm offset đi

                        var hours = Math.floor(offset / 1000 / 60 / 60);
                        document.getElementById('txtSoGio').value = hours;
                    }
                }
            </script>
            @*google map*@
            @*}*@
            @*@section ScriptsBottom{*@
            <script type="text/javascript">
                $(document).ready(function () {
                    var strURLPath = window.location.pathname;
                    var activeId = "Orders";
                    $('#main_menu li#' + activeId).addClass('active');
                    $('#main_menu li#' + activeId).parents('li').addClass('active open')
                });
            </script>
            <script src="~/assets/js/jquery-ui.custom.min.js"></script>
            <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
            <script src="~/assets/js/chosen.jquery.min.js"></script>
            <script src="~/assets/js/fuelux.spinner.min.js"></script>

            <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
            <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
            <script src="~/assets/js/moment.min.js"></script>
            <script src="~/assets/js/daterangepicker.min.js"></script>
            <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
            <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
            <script src="~/assets/js/jquery.knob.min.js"></script>
            <script src="~/assets/js/jquery.autosize.min.js"></script>
            <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
            <script src="~/assets/js/jquery.maskedinput.min.js"></script>
            <script src="~/assets/js/bootstrap-tag.min.js"></script>



            @*<script src="~/scripts/jquery1.12.4.min.js"></script>*@
            <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
            <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
            <style type="text/css">
                .ui-widget-content {
                    border: 1px solid #c5c5c5;
                    width: 250px !important;
                }
            </style>
            <script type="text/javascript">
                $(function () {
                    $('.date-picker').datepicker({
                        dateFormat: 'dd/mm/yy',
                        minDate:0
                    });
                })
            </script>

            <script type="text/javascript">
                jQuery(function ($) {
                    $.mask.definitions['~'] = '[+-]';
                    $('.input-mask-phone').mask('(999) 999-9999');
                    $('.input-mask-date').mask('99/99/9999');
                    $('.input-mask-phone').mask('(999) 999-9999');
                });

                //$('.date-picker').datepicker({
                //    autoclose: true,
                //    todayHighlight: true,
                //    format: 'dd/mm/yyyy'
                //}).next().on(ace.click_event, function () {
                //    $(this).prev().focus();
                //});
                //show datepicker when clicking on the icon
                $('.time-picker').timepicker({
                    showMeridian: false,
                    startTime: ""
                });
            </script>

            <script type="text/javascript">
                $(document).ready(function () {

                    $("#TenHang").focusout(function () {
                        if ($("#TenHang").val().trim() == "" || $("#TenHang").val().trim() == null) {
                            $("#TenHang_NULL").html('Bạn chưa nhập tên hàng!');
                            return false;
                        } else {
                            $("#TenHang_NULL").html('');
                        }
                    });

                    $("#CarType").focusout(function () {
                        if ($("#CarType").val().trim() == "" || $("#CarType").val().trim() == null) {
                            $("#CarType_NULL").html('Bạn chưa chọn loại xe!');
                            return false;
                        } else {
                            $("#CarType_NULL").html('');
                        }
                    });

                    $('#btnAdd').click(function () {

                    if ($('#txtTrongLuong').val() == "") {
                        $('#txtTrongLuong_NULL').html('Bạn chưa nhập trọng lượng!');
                        return false;
                    } else {
                        $('#txtTrongLuong_NULL').html('');
                    }

                    if ($.isNumeric($('#txtTrongLuong').val()) == false) {
                        $('#txtTrongLuong_NULL').html('trọng lượng phải là số');
                        return false;
                    } else {
                        $('#txtTrongLuong_NULL').html('');
                    }

                    if ($('#txtFromLocation').val() == "" || $('#txtFromLocation').val() == null) {
                        $('#txtFromLocation_NULL').html('Bạn nhập điểm đi!');
                        return false;
                    }

                    if ($('#txtToLocation').val() == "" || $('#txtToLocation').val() == null) {
                        $('#txtToLocation_NULL').html('Bạn nhập điểm đến!');
                        return false;
                    }

                    if ($('#Gia').val() == "") {
                        $('#Gia_NULL').html('Bạn chưa nhập giá');
                        return false;
                    }
                    //if ($.isNumeric($('#Gia').val()) == false) {
                    //    $('#Gia_NULL').html('Giá phải là số');
                    //    return false;
                        //}
                    });
                });
            </script>
            @*}*@

            <script>
                $(document).ready(function () {

                    $('#DraftOrder').change(function () {
                        var draftId = $(this).val();

                        $.ajax({
                            url: '/Orders/LoadDraftOrder',
                            data: "{ 'Id': '" + draftId + "'}",
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data.message == '') {
                                    $('#TenHang').val(data.TenHang);
                                    if (data.ThoiGianDi.split(' ').length == 1) {
                                        $('#txtTimeDi').val(data.ThoiGianDi);

                                    } else {
                                        $('#txtTimeDi').val(data.ThoiGianDi.split(' ')[1]);
                                        $('#ThoiGianBocHangDi').val(data.ThoiGianDi.split(' ')[0]);
                                    }

                                    if (data.ThoiGianDen.split(' ').length == 1) {
                                        $('#txtTimeDen').val(data.ThoiGianDen);
                                    } else {
                                        $('#txtTimeDen').val(data.ThoiGianDen.split(' ')[1]);
                                        $('#ThoiGianBocHangDen').val(data.ThoiGianDen.split(' ')[0]);
                                    }

                                    $('#txtLenght').val(data.Lenght);
                                    $('#txtWidth').val(data.Width);
                                    $('#txtHeight').val(data.Height);
                                    $('#txtTrongLuong').val(data.TrongLuong);
                                    $('#VAT').val(data.Vat);
                                }
                            },
                            error: function (response) {
                                console.log(response.responseText);
                            },
                            failure: function (response) {
                                console.log(response.responseText);
                            }
                        });
                    });
                });
            </script>
}