﻿@using Carrier.Utilities
@{
    if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ADMIN))
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    }
}
@{
    ViewBag.Title = "Theo dõi đơn hàng";
}
<div class="col-md-12">
    <div class="page-header">
        <h3 style="text-align:center">Theo dõi đơn hàng</h3>
    </div>
    <br>
</div>
@using (Html.BeginForm("Index", "OrderTracking", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-4">Account: @Html.TextBox("UserName", "", new { @id = "UserName", @name = "UserName", @class = "form-control" })</div>
        <div class="col-sm-4">
            Đơn hàng: @Html.DropDownList("OrderId", new SelectList(ViewBag.ListOrder, "Value", "Text"), new { @id = "OrderId", @name = "OrderId", @class = "form-control" })
            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" />
        </div>
    </div>
}


<script type="text/javascript"
        src="//maps.googleapis.com/maps/api/js?key=AIzaSyB1tbIAqN0XqcgTR1-FxYoVTVq6Is6lD98&sensor=false">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        initialize();
    });
    var locations = [
      ['Xe đạp', 33.890542, 151.274856, 'HẠ Long'],
      ['xe máy', 33.923036, 151.259052, 'address 2'],
      ['loan 3', 34.028249, 151.157507, 'address 3'],
      ['loan 4', 33.80010128657071, 151.28747820854187, 'address 4'],
      ['loan 5', 33.950198, 151.259302, 'address 5']
    ];

    var map;
    function initialize() {
        var myOptions = {
            center: new google.maps.LatLng(33.890542, 151.274856),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("default"),
        myOptions);
        SetMarkers(map, locations)
    }

    function SetMarkers(map, locations) {
        var marker, i
        for (i = 0; i < locations.length; i++) {
            var loan = locations[i][0]
            var lat = locations[i][1]
            var long = locations[i][2]
            var add = locations[i][3]

            latlngset = new google.maps.LatLng(lat, long);

            var marker = new google.maps.Marker({
                map: map, title: loan, position: latlngset
            });
            map.setCenter(marker.getPosition())

            var content = "<img src=\"icon.png\" /> Địa chỉ: " + loan + '</h3>' + "Address: " + add + '<br> link <a href="html://vietcenamic.vn">html://vietcenamic.vn</a>'

            var infowindow = new google.maps.InfoWindow()

            google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                return function () {
                    infowindow.setContent(content);
                    infowindow.open(map, marker);
                };
            })(marker, content, infowindow));
        }
    }

    function SearchOrder() {
        var userName = $('#UserName').val();
        var orderId = $('#OrderId').val();
        $.ajax({
            url: "@Url.Action("SearchOrder", "OrderTracking")",
            type: "POST",
            data: { 'UserName': userName, 'OrderId': orderId },
            dataType: 'json',
            success: function (data) {
                SetMarkers(map, data);
            },
            error: function (node) {
            }
        })
    }
</script>

<div id="default" style="width:100%; height:100%"></div>