﻿@model Carrier.Models.Entities.Customer

@using Carrier.Utilities
@{
    ViewBag.Title = "Thêm mới khách hàng";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Home</a>
        </li>
        <li class=""><a href="/Enterprise/ECustomers">Danh khách hàng</a></li>
        <li class="active">Thêm mới khách hàng</li>
    </ul>
}
<div class="page-header">
    <h1>Thêm mới khách hàng</h1>
</div>
@using (Html.BeginForm("Create", "ECustomers", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Tên khách hàng</label>
            <div class="col-sm-9">
                @Html.TextBox("Name", "", new { @class = "form-control", @name = "Name", @id = "Name" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Name_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Điện thoại liên hệ</label>
            <div class="col-sm-9">
                @Html.TextBox("Phone", "", new { @class = "form-control input-mask-phone", @name = "Phone", @id = "Phone" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Phone_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Ngày sinh</label>
            <div class="col-sm-9 form-inline">
                @Html.TextBox("BirthDay", "", new { @class = "date-picker form-control", @Style = "width:100%", @id = "BirthDay", @name = "BirthDay" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="BirthDay_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Giới tính</label>
            <div class="col-sm-9">
                @Html.DropDownList("Sex", new SelectListItem[]{
                new SelectListItem() {Text = "Nữ", Value="0"},
                new SelectListItem() {Text = "Nam", Value="1"},
                }, new { @id = "Sex", @name = "Sex", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Sex_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Ghi chú</label>
            <div class="col-sm-9">
                @Html.TextArea("Note", "", new { @id = "Note", @name = "Note", @class = "form-control", @style = "height: 80px;" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <span class="lb-Check" id="Note_NULL" style="margin-left: 0px; color:red"></span>
            </div>
        </div>
    </div>

    @*<div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">Nhà xe</label>
                <div class="col-sm-9">
                    @Html.DropDownList(Model.OrganizationId.ToString(), ViewBag.ListOrganization as SelectList, new { @id = "OrganizationId", @name = "OrganizationId", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5"></div>
                <div class="col-md-7">
                    <span class="lb-Check" id="OrganizationId_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>*@

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-5"></div>
            <div class="col-md-7">
                <input type="submit" id="btnAdd" value="Thêm" class="btn btn-info btn-sm" />&nbsp;&nbsp;
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery.2.1.1.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />

    <script type="text/javascript">
        jQuery(function ($) {
            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-date').mask('99/99/9999');
        });

        //$('.date-picker').datepicker({
        //    autoclose: true,
        //    todayHighlight: true,
        //    format: 'dd/mm/yyyy'
        //}).next().on(ace.click_event, function () {
        //    $(this).prev().focus();
        //});

    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#Name").focusout(function () {
                if ($("#Name").val().trim() == "" || $("#Name").val().trim() == null) {
                    $("#Name_NULL").html('Bạn chưa nhập tên khách hàng!');
                    return false;
                } else {
                    $("#Name_NULL").html('');
                }
            });

            $("#Phone").focusout(function () {
                if ($("#Phone").val().trim() == "" || $("#Phone").val().trim() == null) {
                    $("#Phone_NULL").html('Bạn chưa chọn số điện thoại!');
                    return false;
                } else {
                    $("#Phone_NULL").html('');
                }

                if ($.isNumeric($('#Phone').val()) == false) {
                    $('#Phone_NULL').html('Số điện thoại phải là số');
                    return false;
                }
            });

            //$("#OrganizationId").focusout(function () {
            //    if ($("#OrganizationId").val().trim() == "" || $("#OrganizationId").val().trim() == null) {
            //        $("#OrganizationId_NULL").html('Bạn chưa chọn nhà xe');
            //        return false;
            //    } else {
            //        $("#OrganizationId_NULL").html('');
            //    }
            //});
            $('#btnAdd').click(function () {
                if ($('#Name').val() == "") {
                    $('#Name_NULL').html('Bạn chưa nhập tên khách hàng!');
                    return false;
                }

                if ($('#Phone').val() == "") {
                    $('#Phone_NULL').html('Bạn chưa nhập số điện thoại liên hệ!');
                    return false;
                }

                if ($.isNumeric($('#Phone').val()) == false) {
                    $('#Phone_NULL').html('Điện thoại liên hệ phải là số');
                    return false;
                }

                //    if ($('#OrganizationId').val() == "") {
                //        $('#OrganizationId_NULL').html('Bạn chưa chọn nhà xe');
                //        return false;
                //    }
            });
        });
    </script>

    <script src="~/scripts/jquery1.12.4.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
    <style type="text/css">
        .ui-widget-content {
            border: 1px solid #c5c5c5;
            width: 250px !important;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $('.date-picker').datepicker({
                dateFormat: 'dd/mm/yy'
            });
        })
    </script>
}