﻿
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LayoutContact.cshtml";
}
<section class="fullwidth_section">
    <div class="container-fluid" style="padding-top:0px !important">
        <div class="row">
            <div class="col-sm-12">
                <div class="sc_content container">
                    <div class="sc_contact_form sc_contact_form_standard standard_light">
                        <div class="sc_contact_form_left">
                            <div class="sc_contact_info">
                                <h2 class="sc_contact_form_title">Liên hệ Carrier</h2>
                                <div class="sc_contact_form_address_wrap">
                                    <div class="sc_contact_form_address_field">
                                        <span class="sc_contact_form_address_data">
                                            <b>Công Ty TNHH Công  Nghệ Carrier</b>
                                            <br>Số 1, ngõ 329 Cầu Giấy, Hà Nội
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="sc_contact_info_bottom">
                                <div class="sc_contact_form_address_wrap">
                                    <div class="sc_contact_form_address_field">
                                        <span class="sc_contact_form_address_label">tel.: </span>
                                        <span class="sc_contact_form_address_data">02423249555</span>
                                    </div>
                                    <div class="sc_contact_form_address_field">
                                        <span class="sc_contact_form_address_label">e-mail: </span>
                                        <span class="sc_contact_form_address_data">info@vantaitoiuu.com</span>
                                    </div>
                                </div>
                                <div class="sc_socials sc_socials_size_small  color_icons">
                                    <div class="sc_socials_item">
                                        <a href="https://twitter.com/Theme_REX" target="_blank" class="social_icons social_twitter icons">
                                            <span class="icon-twitter"></span>
                                            <span class="sc_socials_hover icon-twitter"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="https://www.facebook.com/themerex" target="_blank" class="social_icons social_facebook icons">
                                            <span class="icon-facebook"></span>
                                            <span class="sc_socials_hover icon-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="https://plus.google.com/102189073109602153696" target="_blank" class="social_icons social_gplus icons">
                                            <span class="icon-gplus"></span>
                                            <span class="sc_socials_hover icon-gplus"></span>
                                        </a>
                                    </div>
                                    <div class="sc_socials_item">
                                        <a href="#" target="_blank" class="social_icons social_linkedin icons">
                                            <span class="icon-linkedin"></span>
                                            <span class="sc_socials_hover icon-linkedin"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_contact_form_right">
                            <form data-formtype="contact" method="post" action="include/sendmail.php" class="contact-form inited">
                                <div class="sc_contact_form_info">
                                    <div class="sc_contact_form_item sc_contact_form_field label_over">
                                        <label class="required" for="sc_contact_form_username">Tên</label>
                                        <input id="sc_contact_form_username" type="text" name="username" placeholder="Name">
                                    </div>
                                    <div class="sc_contact_form_item sc_contact_form_field label_over">
                                        <label class="required" for="sc_contact_form_email">Địa chỉ email</label>
                                        <input id="sc_contact_form_email" type="text" name="email" placeholder="Email">
                                    </div>
                                    <div class="sc_contact_form_item sc_contact_form_field label_over">
                                        <label class="required" for="sc_contact_form_subj">Chủ đề</label>
                                        <input id="sc_contact_form_subj" type="text" name="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="sc_contact_form_item sc_contact_form_message label_over">
                                    <label class="required" for="sc_contact_form_message">Nội dung liên hệ</label>
                                    <textarea id="sc_contact_form_message" name="message" placeholder="Message"></textarea>
                                </div>
                                <div class="sc_contact_form_item sc_contact_form_button">
                                    <button type="submit">
                                        Gửi liên hệ
                                        <span class="icon-mail-alt"></span>
                                    </button>
                                </div>
                                <div class="result sc_infobox"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#menu-main li.current-menu-item").removeClass("current-menu-item");
        $("#contact").addClass('current-menu-item');
    });
</script>

