﻿@model Carrier.Models.Entities.Organization
@using Carrier.Utilities
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thêm mới nhà xe";
}

<style>
    .txtItem {
        width: 350px;
    }
</style>
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="">
            <a href="Admin/Organizations">Danh sách nhà xe</a>
        </li>
        <li class="">
            <a href="Admin/Organizations/Create">Thêm mới nhà xe</a>
        </li>
    </ul>
}
<div class="page-header">
    <h1>Thêm mới nhà xe</h1>
</div>
<div class="container-fluid">
    @using (Html.BeginForm("Create", "Organizations", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Tên nhà xe</label>
                <div class="col-sm-8">
                    @Html.TextBox("Name", "", new { @class = "form-control txtItem", @name = "Name", @id = "Name", @widh = "300px" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <span class="lb-Check" id="Name_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Địa chỉ</label>
                <div class="col-sm-8">
                    @Html.TextBox("Address", "", new { @class = "form-control txtItem", @name = "Address", @id = "Address", @widh = "300px" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <span class="lb-Check" id="Address_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">WebSite</label>
                <div class="col-sm-8">
                    @Html.TextBox("WebSite", "", new { @class = "form-control txtItem", @name = "WebSite", @id = "WebSite" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <span class="lb-Check" id="WebSite_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Điều phối viên</label>
                <div class="col-sm-8">
                    @Html.TextBox("txtDispatcherName", "", new { @class = "form-control txtItem", @name = "txtDispatcherName", @id = "txtDispatcherName" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <span class="lb-Check" id="txtDispatcherName_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label no-padding-right">Điện thoại điều phối viên</label>
                <div class="col-sm-8">
                    @Html.TextBox("txtDispatcherPhone", "", new { @class = "form-control txtItem", @name = "txtDispatcherPhone", @id = "txtDispatcherPhone" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <span class="lb-Check" id="txtDispatcherPhone_NULL" style="margin-left: 0px; color:red"></span>
                </div>
            </div>
        </div>

        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <input type="submit" id="btnAdd" value="Thêm" class="btn btn-info btn-sm" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
                </div>
            </div>
        </div>

        <link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
        <link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
        <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
        <script src="~/assets/js/jquery.2.1.1.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#Name").focusout(function () {
                    if ($("#Name").val().trim() == "" || $("#Name").val().trim() == null) {
                        $("#Name_NULL").html('Bạn chưa nhập tên nhà xe!');
                        return false;
                    } else {
                        $("#Name_NULL").html('');
                    }
                });

                $("#Address").focusout(function () {
                    if ($("#Address").val().trim() == "" || $("#Address").val().trim() == null) {
                        $("#Address_NULL").html('Bạn chưa nhập địa chỉ!');
                        return false;
                    } else {
                        $("#Address_NULL").html('');
                    }
                });

                $("#WebSite").focusout(function () {
                    if ($("#WebSite").val().trim() == "" || $("#WebSite").val().trim() == null) {
                        $("#WebSite_NULL").html('Bạn chưa nhập website!');
                        return false;
                    } else {
                        $("#WebSite_NULL").html('');
                    }
                });

                $('#btnAdd').click(function () {
                    if ($('#Name').val() == "") {
                        $('#Name_NULL').html('Bạn chưa nhập tên nhà xe!');
                        return false;
                    }

                    if ($('#Address').val() == "") {
                        $('#Address_NULL').html('Bạn chưa nhập địa chỉ!');
                        return false;
                    }

                    if ($('#WebSite').val() == "") {
                        $('#WebSite_NULL').html('Bạn chưa nhập website!');
                        return false;
                    }
                });
            });
        </script>
        <script type="text/javascript">
            jQuery(function ($) {
                $.mask.definitions['~'] = '[+-]';
                $('.input-mask-phone').mask('(999) 999-9999');
                $('.input-mask-date').mask('99/99/9999');
            });
        </script>
    }
</div>