﻿@using Carrier.CMS.Models;
@model PagedList.IPagedList<UserViewModel>
@using PagedList.Mvc;
@using Carrier.Utilities
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackend">Trang chủ</a>
        </li>
        <li class="">
            <a href="/Admin/UsersAdmin">Danh sách tài khoản Forwarder</a>
        </li>
    </ul>
}
<div class="page-header">
    <h1>Danh sách Forwarder</h1>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var strURLPath = window.location.pathname;
        var activeId = strURLPath.substring(1, strURLPath.length);
        $('#main_menu li#' + activeId).addClass('active');
        $('#main_menu li#' + activeId).parents('li').addClass('active open')
    });
</script>
@using (Html.BeginForm("UsersForwarder", "Organizations", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-4">Tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)</div>
        <div class="col-sm-4">
            Hiển thị: @Html.TextBox("pagsiz", ViewBag.PageSize as string, new { style = "width: 50px;height: 33px; border-radius: 4px" })
            <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: -3px 0px 0px 60px" />
        </div>
    </div>
}

<p style="text-align:right">
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-info btn-sm" })
    <a href="#" title="Xóa tất cả đã chọn"><img src="~/Images/icons/bin_closed.png" /></a>
    <a href="#" title="Khóa tất cả đã chọn"><img src="~/Images/icons/lock.png" /></a>
    <a href="#" title="Kích hoạt tất cả đã chọn"><img src="~/Images/icons/lock_unlock.png" /></a>
</p>
<table class="wapperpager table table-bordered table-hover dataTable">
    <tr style="background-color:#F2F2F2">
        <th>
            #
        </th>
        <th>
            Tên đăng nhập
        </th>
        <th>
            Email
        </th>
        <th>Trạng thái</th>
        <th>
            Ngày tạo
        </th>
        <th style="width:300px">Liên hệ</th>
        <th>
            Điều phối viên
        </th>
        <th>
            Điên thoại điều phối
        </th>
        @*<th></th>*@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><input type="checkbox" /></td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>
                @if (item.Status == PublicConstant.STATUS_PENDING)
                {
                    <span>Đang chờ</span>
                }
                else if (item.Status == PublicConstant.STATUS_ACTIVE)
                {
                    <span>Đã kích hoạt</span>
                }
                else if (item.Status == PublicConstant.STATUS_DEACTIVE)
                {
                    <span>Đã khóa</span>
                }
            </td>
            @*<td>
                    @foreach (string s in item.Roles)
                    {
                        <span>@s;</span>
                    }
                </td>*@
            <td>@item.Created_At</td>
            <td>
                <p>Tên đầy đủ: @Html.DisplayFor(modelItem => item.FullName)</p>
                <p>Số điện thoại: @Html.DisplayFor(modelItem => item.MobilePhone)/@Html.DisplayFor(modelItem => item.Phone)</p>
            </td>
            <td>@item.DispatcherName</td>
            <td>@item.DispatcherPhone</td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("UsersForwarder",
    new { page, currentFilter = ViewBag.CurrentFilter, pagsiz = @ViewBag.PageSize }))
<script>
    function Changelock (id) {
        //console.log($(this).val())
        $.ajax({
            url: "@Url.Action("ChangeLockout", "UsersAdmin")",
            type: "POST",
            data: { 'id': id },
            dataType: 'json',
            success: function (node) {
                if (node.success) {
                    alert("Đã thay đổi trạng thái thành công");
                    location.reload();
                    //your success callback logic goes here
                    //window.location.reload()
                } else alert("Đã mở khóa người dùng!");
            }
        });
    }
</script>
@section Scripts{
    <script>
        $(document).ready(function () {
            $(document).on('click', '.pas', function () {
                var newpass = prompt("Đặt lại mật khẩu")
                if (newpass) {
                    //console.log($(this).val())
                    $.ajax({
                        url: "@Url.Action("SetPassword")",
                        type: "POST",
                        data: { 'id': $(this).val(), 'newpass': newpass },
                        dataType: 'json',
                        success: function (node) {
                            if (node.success) {
                                alert("Đã sửa mật khẩu của người dùng!"); //your success callback logic goes here
                                //window.location.reload()
                            } else alert("Lỗi!");
                        }
                    });

                }
            })

            $(document).on('click', '.lock', function () {
                //console.log($(this).val())
                $.ajax({
                    url: "@Url.Action("lockUser")",
                    type: "POST",
                    data: { 'id': $(this).val() },
                    dataType: 'json',
                    success: function (node) {
                        if (node.success) {
                            alert("Đã khóa người dùng!"); //your success callback logic goes here
                            //window.location.reload()
                        } else alert("Đã mở khóa người dùng!");
                    }
                });
            })
        })
    </script>
}