﻿@using IdentitySamp.Models;
@model IEnumerable<UserLocationViewModel>
@using IdentitySamp.Controllers;
@{
    var controller = ViewContext.Controller as UserLocationsController;
}
@using Carrier.Utilities
@{
    Layout = "~/Views/Shared/_LayoutACE.cshtml";
}

<style>
    .dl-horizontal dd {
        height: 30px;
    }
</style>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Chi tiết lịch trình</h4>
</div>
<div class="modal-body" style="height:450px;">
    @foreach (var item in Model)
    {
        <dl class="dl-horizontal">
            <dt>
                Tên tài xế
            </dt>
            <dd>
                @Html.DisplayFor(model => item.FullName)
            </dd>

            <dt>
                Tải trọng
            </dt>
            <dd>
                @Html.DisplayFor(model => item.TaiTrong)
            </dd>

            <dt>
                Loại xe
            </dt>
            <dd>
                @Html.DisplayFor(model => item.LoaiXe)
            </dd>

            <dt>
                GPS
            </dt>
            <dd>
                @Html.DisplayFor(model => item.GPS)
            </dd>

            <dt>
                Cập nhật lần cuối
            </dt>
            <dd>
                @Html.DisplayFor(model => item.LastUpdate)
            </dd>

            <dt>
                Trạng thái
            </dt>
            <dd>
                @(item.Status == "1" ? "Active" : "DeActive")
            </dd>

            <dt>
                vị trí hiện tại
            </dt>
            <dd>
                @Html.DisplayFor(model => item.CurrentLocation)
                <br />
                <div style="border: 1px solid gray; height:200px; margin-top:10px" id="map">
                </div>
            </dd>
        </dl>
    }
</div>
<script>
    function initMap() {
        var myLatLng = { lat: @ViewBag.Lat, lng:@ViewBag.Lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: myLatLng
        });

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Vị trí hiện tại của xe'
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4XxOXUfpBQvv1qCplTAnsxZ26N3hwo4c&callback=initMap">
</script>