﻿@model Carrier.Models.Entities.ReportSOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ReportSOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_At)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_At)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReportTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReportTypeId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
