﻿@model IEnumerable<CMS.Carrier.Areas.Enterprise.Models.EReportViewModel>
@using Carrier.Utilities
@using Carrier.CMS.Common
@using CMS.Carrier.Areas.Enterprise.Controllers

@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Danh sách cảnh báo hỏng xe";
    var controller = ViewContext.Controller as EReportSOSController;
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Content/fancybox/lib/jquery.mousewheel.pack.js"></script>
<script type="text/javascript" src="~/Content/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<link rel="stylesheet" type="text/css" href="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="~/Content/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Home</a>
        </li>
        <li class="">Danh sách report</li>
    </ul>
}
<div class="page-header">
    <h1>Danh sách report</h1>
</div>
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Tên tài xế
            </th>
            <th>
                Đơn hàng
            </th>
            <th>
                Ngày báo hỏng
            </th>

            <th>
                Tình trạng hỏng
            </th>
            <th>
                Lý do báo hỏng
            </th>
            <th align="center" style="width:30%;height:50%">
                Ảnh
            </th>
            <th>
                Vị trí báo hỏng
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("DriverDetail", "EReportSOS", new { driverId = item.DriverId })"
                       class="modal-link">@item.DriverName</a>
                </td>

                <td>
                    <a href="@Url.Action("OrderDetail", "EReportSOS", new { id = item.OrderId})" class="modal-link">@item.MaVanDon</a>
                </td>
                <td>
                    @item.Created_At
                </td>
                <td>
                    @Utitlitys.ReportText(item.ReportType)
                </td>
                <td>
                    @Html.Raw(item.ReportDescription)
                </td>
                <td style="text-align:center">
                    @*<a href="@item.EvidencePath" style="width:200%" rel="lightbox" target="_blank" class="fancybox" data-fancybox-group="gallery">
                            <img style="width:60%" src="@item.EvidencePath" />
                        </a>*@
                    @if (item.LstImage.Count > 0)
                    {
                        <a href="@item.LstImage[0]" style="width:200%" class="fancybox-thumb" rel="fancybox-thumb" target="_blank" data-fancybox-group="gallery" title="">
                            <img style="width:60%" src="@item.LstImage[0]" alt="" />
                        </a>
                        <div></div>
                        <table>
                            <tbody style="display:none">
                                <tr class="img-item">
                                    @for (int i = 1; i < item.LstImage.Count; ++i)
                                    {
                                        <td class="img-item"><a href="@item.LstImage[i]" class="fancybox-thumb" rel="fancybox-thumb" data-fancybox-group="gallery" title=""><img class="img" src="@item.LstImage[i]" alt="" /></a></td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    }
                </td>
                <td>
                    @controller.GetLocationFromAddress(item.Lat.ToString(),item.Lng.ToString())
                </td>
            </tr>
        }
    </tbody>

</table>
<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
            $('#dynamic-table')
                .dataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        { "bSortable": false },
                        null, null, null, null, null,
                        { "bSortable": false }
                    ],
                    "aaSorting": [],
                    "pageLength": 100
                });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
            .prependTo('.tableTools-container .btn-group')
            .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
            .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
            .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
            .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            padding: 0,
            margin: 5,
            autoSize: false,
            width: '100%',
            height: '100%'
        });

        $(".fancybox-thumb").fancybox({
            padding: 0,
            margin: 5,
            autoSize: false,
            width: '100%',
            height: '100%',
            //prevEffect: 'none',
            //nextEffect: 'none',
            helpers: {
                title: {
                    type: 'outside'
                },
                thumbs: {
                    width: 100,
                    height: 100
                }
            }
        });
    });
</script>

@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
    async defer></script>*@

@*<script>
                    var map;
                    function initMap() {
                        debugger
                        map = new google.maps.Map(document.getElementById('map'), {
                            mapTypeControl: false,
                            center: { lat: 21.027764, lng: 105.834160 },
                            zoom: 17
                        });
                        loadLocation(map,@Model.Lat, @Model.Lng);
                        var input = document.getElementById('Address');
                        var autocomplete = new google.maps.places.Autocomplete(input);
                        autocomplete.bindTo('bounds', map);

                        var infowindow = new google.maps.InfoWindow();
                        var infowindowContent = document.getElementById('infowindow-content');
                        infowindow.setContent(infowindowContent);
                        var marker = new google.maps.Marker({
                            map: map,
                            anchorPoint: new google.maps.Point(0, -29)
                        });

                        autocomplete.addListener('place_changed', function () {
                            var place = autocomplete.getPlace();
                            var lat = place.geometry.location.lat();
                            //alert(lat);
                            var lng = place.geometry.location.lng();
                            $('#hfLat').val(lat);
                            $('#hfLng').val(lng);
                            var location = "<b>Address</b>: " + place.formatted_address + "<br/>";
                            location += "<b>Latitude</b>: " + place.geometry.location.lat() + "<br/>";
                            location += "<b>Longitude</b>: " + place.geometry.location.lng();

                            infowindow.close();
                            marker.setVisible(false);
                            var place = autocomplete.getPlace();
                            if (!place.geometry) {
                                window.alert("địa chỉ nhập vào không tồn tại: '" + place.name + "'");
                                return;
                            }

                            if (place.geometry.viewport) {
                                map.fitBounds(place.geometry.viewport);
                            } else {
                                map.setCenter(place.geometry.location);
                                map.setZoom(17);
                            }
                            marker.setPosition(place.geometry.location);
                            marker.setVisible(true);

                            infowindow.open(map, marker);
                        });
                    }
                    function loadLocation(map, lat, lng) {
                        var mapSrc = map;
                        var pos = {
                            lat: parseFloat(lat),
                            lng: parseFloat(lng)
                        };

                        mapSrc.setCenter(pos);

                        var marker = new google.maps.Marker({
                            map: mapSrc,
                            position: { lat: parseFloat(lat), lng: parseFloat(lng) },
                            draggable: false,
                            size: new google.maps.Size(12, 32)
                        });
                    }
    </script>*@
