﻿@{
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
@{
    ViewBag.Title = "Đăng ký thành công";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Cám ơn bạn đã Đăng ký. @Html.ActionLink("Click vào đây để đăng nhập", "Login", "AccountClient", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
