﻿
@{
    ViewBag.Title = "ForgetPassWord";
    Layout = "~/Views/Shared/_LayoutLoginClient.cshtml";
}
<style>
    .form-horizontal {
        border-radius: 4px;
        border: 1px solid #d2cece;
        padding-left: 10px;
        background: #f8e3ad;
    }
</style>
@using (Html.BeginForm("ForgetPassWord", "LoginClient", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="row">
                <div class="center wow fadeInDown">
                    <h2 style="text-align:center">Quên mật khẩu</h2>
                    <hr style="height:2px;width:180px;border:none;color:#333;background-color:#c52d2f;" />
                </div>
                <div class="form-horizontal">
                    <hr />
                    <div class="form-group">
                        <label class="control-label col-md-4">Số điện thoại</label>
                        <div class="col-md-8" style="width:300px">
                            <input type="text" name="txtphone" class="form-control" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4"></label>
                        <div class="col-md-8" style="width:300px">
                            <input type="submit" id="" value="Nhận mật khẩu" class="btn btn-default" />&nbsp;
                            <input type="button" id="" value="trở lại" class="btn btn-default" onclick="goBack()" />
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
}
<script>
function goBack() {
    window.history.back();
}
</script>
