﻿@model Carrier.CMS.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu ?";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-sm-4">
    </div>
    <div class="col-sm-5">
        <h3>@ViewBag.Title</h3>
        <h4>Nhập email để reset lại mật khẩu.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSave" type="submit" class="btn btn-default" value="Email Link" />
            </div>
        </div>
    </div>
    <div class="col-sm-3">
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*<script>
    $(document).ready(function () {
        $('#btnSave').click(function () {
            debugger
            if ($('#Email').val() == '') {
                alert('Bạn chưa nhập email');
                $('#Email').focus();
                return false;
            }
            if (!validateEmail($('#Email').val())) {
                alert('Email nhập sai định dạng');
                $('#Email').focus();
                return false;
            }
        });
    });

    function validateEmail(email) {
        var re = /\S+@@\S+\.\S+/;
        return re.test(email);
    }
</script>*@