﻿@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutLoginClient.cshtml";
}
@section  MaterializeStyleSheet{
    <link rel="stylesheet" href="~/Content/materialize.css" />
}
@section  MaterializeScript{
    <script src="~/scripts/materialize.js"></script>
}

<main>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card signin-card" style="margin-top:30px">
                <div class="signin-page">
                    <h1 class="center-align">Đăng nhập</h1>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="UserName" class="" name="UserName" autofocus="" type="text">
                        <label for="UserName" class="active">Tên đăng nhập</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="Password" class="" name="Password" value="" type="password">
                        <label for="Password">Mật khẩu</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light btn-signIn" type="submit" name="btnLogIn" style="width:100%;">
                            Đăng nhập
                        </button>
                        <div class="section">
                            <a class="right" href="@Url.Action("ForgotPassWord","Account")">
                                Quên mật khẩu ?
                            </a>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="section">
                            <div class="center-align">
                                <span>Bạn chưa có tài khoản ?</span>
                                <a class="right" href="@Url.Action("Register","Account")">Đăng ký ngay ?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    }
</main>
<footer class="page-footer center-align white grey-text text-darken-3" style="border-top: solid 1px #e0e0e0;">
    <div class="container text-black">
        <a target="_blank" href="">Điều khoản dịch vụ</a>
        |
        <a target="_blank" href="">Chính sách bảo mật</a>
        <br>
        © Carrier system
    </div>
</footer>