﻿@model Carrier.CMS.Models.RegisterViewModel
@{
    //Layout = "~/Views/Shared/_LayoutLoginClient.cshtml";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
@{
    ViewBag.Title = "Đăng ký tài khoản";
}
<style type="text/css">
    input[type="text"], input[type="Password"] {
        border: 1px solid #b3b3b3 !important;
    }

    .control-label {
        text-align: left !important;
        color: #FFF;
    }
</style>
<style>
    #Address {
        padding-bottom: 30px;
        padding-top: 30px;
    }
</style>
<div class="col-md-2"></div>
<div class="col-md-8 register-wapper">
    <h4 class="center" style="color:#FFF;text-align:center">@ViewBag.Title</h4>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        if (TempData["Message"] != null)
        {
            <script type="text/javascript">$("#divProcessing").hide()</script>
            <div id="divResult" class="alert alert-danger alert-dismissable fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times</a>
                <strong style="font-size:33px">@TempData["Message"]</strong>
            </div>
        }
        <hr />

        <div class="form-group">
            <div class="col-md-6">
                <label class="control-label col-md-12 "><b>Họ tên</b></label>
                <div class="col-md-12">
                    @Html.TextBox("FullName", "", new { @class = "form-control", @placeholder = "Tên" })
                    <span class="FullName text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-12 "><b>Số điện thoại hoặc tên đăng nhâp</b></label>
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập" })
                    <span class="UserName text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label class="control-label col-md-12 "><b>Mật khẩu</b></label>
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <span class="Password text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-12 "><b>Xác nhận mật khẩu</b></label>
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    <span class="ConfirmPassword text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label class="control-label col-md-12 "><b>Điện thoại liên hệ</b></label>
                <div class="col-md-12">
                    @Html.TextBox("Phone", "", new { @class = "form-control" })
                    <span class="Phone text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-12 "><b>Email</b></label>
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    <span class="Email text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-12 "><b>Địa chỉ</b></label>
            <div class="col-md-12">
                @Html.TextBox("Address", "", new { @class = "form-control" })
                <span class="Address text-danger"></span>
                <div style="display:none" id="map">
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <label class="control-label col-md-12 ">Loại tài khoản</label>
                <div class="col-md-2">
                    @Html.CheckBox("chkCanhan", false) &nbsp; Cá nhân
                </div>
                <div class="col-md-2">
                    @Html.CheckBox("chkTaixe", false)Tài xế
                </div>
                <div class="col-md-2">
                    @Html.CheckBox("chkDoanhnghiep", false)Doanh nghiệp
                </div>
                <input type="hidden" id="hidRole">
            </div>*@
        <div class="form-group" style="display: none;" id="thongtinxe1">
            <label class="control-label col-md-12 ">Biển số xe</label>
            <div class="col-md-3">
                @Html.TextBox("txtBienSoXe", "", new { @class = "form-control" })
                <span class="Address text-danger"></span>
            </div>
            <label class="control-label col-md-12 ">Trọng tải xe</label>
            <div class="col-md-3">
                @Html.TextBox("txtTrongTaiXe", "", new { @class = "form-control" })
                <span class="Address text-danger"></span>
            </div>
        </div>
        <div class="form-group" style="display: none;" id="thongtinxe2">
            <label class="control-label col-md-12 ">Kích thước thùng </label>
            <div class="col-md-3">
                @Html.TextBox("txtLenght", "", new { @class = "form-control", @Style = "width:100%", @name = "txtLenght", @id = "txtLenght", @placeholder = "Chiều dài (m)" })
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtWidth", "", new { @class = "form-control", @Style = "width:100%", @name = "txtWidth", @id = "txtWidth", @placeholder = "Chiều rộng (m)" })
            </div>
            <div class="col-md-3">
                @Html.TextBox("txtHeight", "", new { @class = "form-control", @Style = "width:100%", @name = "txtHeight", @id = "txtHeight", @placeholder = "Chiều cao (m)" })
            </div>
        </div>
        <div class="form-group">
                <div class="text-center">
                    <input type="submit" class="btn btn-info btn-sm col-md-push-4 col-md-2 col-xs-3 col-xs-push-3" value="Đăng ký" style="margin-right:5px" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("HỦY", "Index", "Home", null, new { @class = "sc_button col-md-push-4 col-md-2 col-xs-3 col-xs-push-3", @style = "margin-left:5px;margin-top: 0px" })
                </div>
        </div>
    }
</div>
<div id="divProcessing" style="height:1200px;width :100%;text-align:center;
         background:#f5f5f5;
         opacity:0.5;
         z-index:999;
         position:absolute;
         left:0px;
         top :0px;
         cursor: wait; display:none">
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
        async defer></script>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            mapTypeControl: false,
            center: { lat: 21.027764, lng: 105.834160 },
            zoom: 17
        });

        var input = document.getElementById('Address');
        var input2 = document.getElementById('AddressCar');

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();

        var infowindowContent = document.getElementById('infowindow-content');
        infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29)
        });


        autocomplete.addListener('place_changed', function () {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("địa chỉ nhập vào không tồn tại: '" + place.name + "'");
                return;
            }
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            infowindow.open(map, marker);
        });
    }
</script>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {
        $("#FullName").focusout(function () {
            if ($("#FullName").val().trim() == "" || $("#FullName").val().trim() == null) {
                $(".FullName").html('Họ tên không đươc để trống!');
                return false;
            } else {
                $(".FullName").html('');
            }
        });
        $("#UserName").focusout(function () {
            if ($("#UserName").val().trim() == "" || $("#UserName").val().trim() == null) {
                $(".UserName").html('Tên đăng nhập không được để trống!');
                return false;
            } else {
                $(".UserName").html('');
            }
        });
        $("#Password").focusout(function () {
            if ($("#Password").val().trim() == "" || $("#Password").val().trim() == null) {
                $(".Password").html('Mật khẩu không được để trống!');
                return false;
            } else {
                $(".Password").html('');
            }
        });
        $("#ConfirmPassword").focusout(function () {
            if ($("#ConfirmPassword").val().trim() == "" || $("#ConfirmPassword").val().trim() == null) {
                $(".ConfirmPassword").html('Mật khẩu nhập lại không được để trống!');
                return false;
            } else {
                if ($("#Password").val().trim() != $("#ConfirmPassword").val().trim()) {
                    $(".ConfirmPassword").html('Mật khẩu nhập lại phải giống với mật khẩu!');
                } else {
                    $(".ConfirmPassword").html('');
                }
            }
        });
        $("#Phone").focusout(function () {
            if ($("#Phone").val().trim() == "" || $("#Phone").val().trim() == null) {
                $(".Phone").html('Điện thoại liên hệ không được để trống');
                return false;
            } else {
                if ($.isNumeric($('#Phone').val()) == false) {
                    $('.Phone').html('Số điện thoại phải là số');
                    return false;
                } else {
                    $(".Phone").html('');
                }
            }
        });
        $("#Email").focusout(function () {
            debugger
            if ($("#Email").val().trim() == "" || $("#Email").val().trim() == null) {
                $(".Email").html('Email liên hệ không được để trống!');
                return false;
            } else {
                if (!validateEmail($('#Email').val())) {
                    $('.Email').html('Email không đúng định dạng');
                    return false;
                } else {
                    $(".Email").html('');
                }
            }
        });
        $("#Address").focusout(function () {
            if ($("#Address").val().trim() == "" || $("#Address").val().trim() == null) {
                $(".Address").html('Bạn chưa nhập địa chỉ!');
                return false;
            } else {
                $(".Address").html('');
            }
        });
        $('#btnAdd').click(function () {
            var bcheck = true;
            if ($('#FullName').val() == "") {
                $('.FullName').html('Họ tên không được để trống!');
                bcheck = false;
                return false;
            } else {
                $('.FullName').html('');
            }

            if ($('#UserName').val() == "") {
                $('.UserName').html('Tên đăng nhập không được để trống!');
                bcheck = false;
                return false;
            }
            else {
                $('.UserName').html('');
            }
            if ($('#Password').val() == "") {
                $('.Password').html('Mật khẩu không được để trống!');
                bcheck = false;
                return false;
            } else {
                $('.Password').html('');
            }

            if ($('#ConfirmPassword').val() == "") {
                $('.ConfirmPassword').html('Mật khẩu nhập lại không được để trống!');
                bcheck = false;
                return false;
            } else {
                $('.ConfirmPassword').html('');
            }
            if ($('#Password').val() != $('#ConfirmPassword').val()) {
                $('.ConfirmPassword').html('Mật khẩu nhập lại phải giống mật khẩu!');
                bcheck = false;
                return false;
            } else {
                $('.ConfirmPassword').html('');
            }

            if ($('#Phone').val() == "") {
                $('.Phone').html('Điện thoại không được để trống!');
                bcheck = false;
                return false;
            } else {
                $('.Phone').html('');
            }
            if ($.isNumeric($('#Phone').val()) == false) {
                $('#Phone').html('Điện thoại liên hệ phải là số');
                bcheck = false;
                return false;
            } else {
                $('.Phone').html('');
            }

            if ($('#Email').val() == "") {
                $('.Email').html('Email không được để trống!');
                bcheck = false;
                return false;
            } else {
                $('.Email').html('');
            }
            if (validateEmail($('#Email').val())) {
                $('#Email').html('Email không đúng định dạng');
                bcheck = false;
                return false;
            } else {
                $('.Email').html('');
            }

            if ($('#Address').val() == "") {
                $('.Address').html('địa chỉ không được để trống!');
                bcheck = false;
                return false;
            } else {
                $('.Address').html('');
            }
            if (bCheck == false) {
                return false;
            }
            else {
                $("#divProcessing").show();
                return true;
            }
        });
    });

    function validateFileExtension(fld) {
        if (!/(\.png|\.gif|\.jpg|\.jpeg|\.png)$/i.test(fld.value)) {
            $('.txtImagePath').text('File ảnh không đúng định dạng ');
            fld.form.reset();
            fld.focus();
            return false;
        }
        return true;
    }

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
    function removeunicode(str) {
        str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
        str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
        str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
        str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
        str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
        str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
        str = str.replace(/đ/g, "d");
        str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
        str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
        str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
        str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
        str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
        str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
        str = str.replace(/Đ/g, "D");
        // Gộp nhiều dấu space thành 1 space
        str = str.replace(/\s+/g, '');
        // loại bỏ toàn bộ dấu space (nếu có) ở 2 đầu của xâu
        str.trim();
        return str;
    }
    $(document).ready(function () {
        $("#UserName").keypress(function () {
            $("#UserName").val(removeunicode($("#UserName").val()));
        });
    });
</script>