﻿@using Carrier.CMS.Common;
@using Carrier.Models.Entities;
@model Articles

@{
    ViewBag.Title = Model.Title;
    ViewBag.Image = Model.ThumbURL;
    ViewBag.Description = Model.Title;
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
    var lstRelated = ((IEnumerable<Articles>)ViewBag.RelatedNews).ToList();
}
<style>
    body{
        color:black!important;
    }
</style>
<section class="fullwidth_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="container" style="max-width: 1000px;margin: auto">
                    <article class="post_item post_item_single">
                        @*<div class="post_info">
                            <span class="post_info_item post_info_posted">
                                <a href="#" class="post_info_date date updated">January 11, 2015</a>
                            </span>
                            <span class="post_info_item post_info_posted_by vcard">
                                by
                                <a href="#" class="post_info_author">Admin</a>
                            </span>
                            <span class="post_info_item post_info_counters">
                                <span class="post_counters_item post_counters_views icon-eye" title="Views - 22">22</span>
                            </span>
                        </div>*@
                        <section class="post_content">
                            <h1 class="post_title">
                                @Model.Title
                            </h1>
                            <p style="color:black">@Html.Raw(Server.HtmlDecode(Model.Description))</p>
                            <div class="widget_socials">
                                <a href="https://www.facebook.com/sharer/sharer.php?u="><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                &nbsp;<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                &nbsp;<a href="https://twitter.com/share?url="><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                &nbsp;<a href="https://www.pinterest.com/pin/create/button/?url="><i class="fa fa-pinterest" aria-hidden="true"></i></a>


                            </div>
                        </section>

                    </article>
                    <div class="related_wrap">
                        <h2 class="section_title post_title">Bài viết liên quan</h2>
                        <div class="columns_wrap">
                            @foreach (Articles item in lstRelated)
                            {
                                <div class="post_content">
                                    <div class="post_content_wrap">
                                        <p class="post_title">
                                            <a href="@Url.Action("Details","News",new { id = SlugHelper.GenerateSlug(item.Id, item.Title) })">@item.Title</a>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#menu_main li.current-menu-item").removeClass("current-menu-item");
        $("#service").addClass('current-menu-item');
    });
</script>

@*banner 2 bên*@
<div id="divAdRight" style="DISPLAY: none; POSITION: absolute; TOP: 0px">
    <a href="https://vantaitoiuu.com" target="_blank"><img border="0" src="~/Images/right-bar.jpg" width="170" /></a>
</div>
<div id="divAdLeft" style="DISPLAY: none; POSITION: absolute; TOP: 0px">
    <a href="https://vantaitoiuu.com" target="_blank"><img border="0" src="~/Images/left-bar.jpg" width="170" /></a>
</div>

<script>
    function FloatTopDiv()
    {
        startLX = 0, startLY = TopAdjust;
        startRX = document.body.clientWidth - RightBannerW, startRY = TopAdjust;
        var d = document;
        function ml(id)
        {
            var el=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
            el.sP=function(x,y){this.style.left=x + 'px';this.style.top=y + 'px';};
            el.x = startRX;
            el.y = startRY;
            return el;
        }
        function m2(id)
        {
            var e2=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
            e2.sP=function(x,y){this.style.left=x + 'px';this.style.top=y + 'px';};
            e2.x = startLX;
            e2.y = startLY;
            return e2;
        }
        window.stayTopLeft=function()
        {
            if (document.documentElement && document.documentElement.scrollTop)
                var pY =  document.documentElement.scrollTop;
            else if (document.body)
                var pY =  document.body.scrollTop;
             if (document.body.scrollTop > 120){startLY = 3;startRY = 3;} else  {startLY = TopAdjust;startRY = TopAdjust;};
            ftlObj.y += (pY+startRY-ftlObj.y)/60;
            ftlObj.sP(ftlObj.x, ftlObj.y);
            ftlObj2.y += (pY+startLY-ftlObj2.y)/60;
            ftlObj2.sP(ftlObj2.x, ftlObj2.y);
            setTimeout("stayTopLeft()", 10);
        }
        ftlObj = ml("divAdRight");
        ftlObj2 = m2("divAdLeft");
        stayTopLeft();
    }
    function ShowAdDiv()
    {
        var objAdDivRight = document.getElementById("divAdRight");
        var objAdDivLeft = document.getElementById("divAdLeft");

        if (document.body.clientWidth < 1025)
        {
            objAdDivRight.style.display = "none";
            objAdDivLeft.style.display = "none";
        }
        else
        {
            objAdDivRight.style.display = "block";
            objAdDivLeft.style.display = "block";
            FloatTopDiv();
        }
    }
</script>
<script>
document.write("<script type='text/javascript' language='javascript'>MainContentW = 950;LeftBannerW = 170;RightBannerW = 170;LeftAdjust = 0;RightAdjust = 0;TopAdjust = 150;ShowAdDiv();window.onresize=ShowAdDiv;<\/script>");
</script>
@*banner 2 bên*@
