﻿@using Carrier.Utilities;
@model List<Carrier.Models.Entities.SP_ThongKe_CuocVanChuyen_Result>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thống kê cước vận chuyển tài xế";
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Admin/HomeBackEnd">Trang chủ</a>
        </li>
        <li class="active">
            Thống kê cước vận chuyển
        </li>
    </ul>
}
@*@using (Html.BeginForm("Index", "EOrderStatic", FormMethod.Get))
    {  <div class="row">
            <div class="col-sm-2">
                @Html.TextBox("txtFromDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtFromDate", @name = "txtFromDate", @placeholder = "Từ ngày:" })
            </div>
            <div class="col-sm-2">
                @Html.TextBox("txtToDate", "", new { @class = "date-picker", @Style = "width:100%", @id = "txtToDate", @name = "txtToDate", @placeholder = "Đến ngày:" })
            </div>
            <div class="col-sm-2">
                <select name="Type" id="Type" style="width: 100%; padding: 6px; border: 1px solid #eee; height: 35px; font-size:15px;">
                    <option value="0">----- Loại vận đơn ----</option>
                    <option value="1">Đơn nội bộ</option>
                    <option value="2">Đơn ngoài</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Lọc dữ liệu" class="btn btn-info btn-sm" style="margin: 0px 0px 0px 20px" />
            </div>
        </div>
    }*@

<link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />

<table id="dynamic-table" class="table table-striped table-bordered table-hover display">
    <thead>
        <tr>
            <th align="center" scope="col" class="header">
                Mã vận đơn
            </th>
            <th align="center" scope="col" class="header">
                Tên hàng
            </th>
            <th align="center" scope="col" class="header">
                Điểm đi
            </th>
            <th align="center" scope="col" class="header">
                Điểm đến
            </th>
            <th align="center" scope="col" class="header">
                Thời gian
            </th>
            <th align="center" scope="col" class="header">
                Tổng tiền
            </th>
            @*<th align="center" scope="col" class="header">
                Tổng tiền không VAT(VNĐ)
            </th>*@
            <th align="center" scope="col" class="header">
                Thanh toán
            </th>
            <th align="center" scope="col" class="header">
                Tài xế
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaVanDon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiemDiChiTiet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiemDenChiTiet)
                    </td>
                    <td>
                        <p>Từ @item.ThoiGianDi </p>
                        <p> Đến @item.ThoiGianDen</p>
                    </td>
                    <td>
                        @if (item.Gia != null && item.VAT == true)
                        {
                            <p>
                                @GlobalCommon.ConvertToCurrency(item.Gia.Value)
                            </p>
                        }
                    </td>
                    @*<td>
                        @if (item.Gia != null && item.VAT == false)
                        {
                            <p>
                                @GlobalCommon.ConvertToCurrency(item.Gia.Value)
                            </p>
                        }
                    </td>*@
                    <td>
                        @if (!item.VAT.Value)
                        {
                            <p>Tiền mặt</p>
                        }
                        else
                        {
                            <p>Công nợ</p>
                        }
                    </td>
                    <td>
                        @item.DriverName
                    </td>

                </tr>
            }
        }
    </tbody>
</table>




@section ScriptsBottom{
    
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.colVis.min.js" type="text/javascript"></script>
 }

<script type="text/javascript">
        jQuery(function ($) {
            //initiate dataTables plugin
            var oTable1 =
                $('#dynamic-table')
                    .dataTable({
                        bAutoWidth: false,
                        "aoColumns": [

                            null, null, null, null, null, null, null,null
                            //{ "bSortable": false }
                        ],
                        "aaSorting": [],
                        dom: 'Bfrtip',
                        "pageLength": 100,
                        //buttons: [
                        //    'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print','colvis'
                        //]
                        buttons: [
                            'pageLength',
                            {
                                extend: 'copy',
                                text:'Copy',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            {
                                extend: 'excel',
                                text:'Excel',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            {
                                extend: 'pdf',
                                text:'Pdf',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            {
                                extend: 'print',
                                text:'Print',
                                exportOptions: {
                                    columns: ':visible'
                                }
                            },
                            {
                                extend: 'colvis',
                                text: 'Chọn cột'
                            },
                            
                        ]
                    });
            //oTable1.fnAdjustColumnSizing();

            //TableTools settings
            TableTools.classes.container = "btn-group btn-overlap";
            TableTools.classes.print = {
                "body": "DTTT_Print",
                "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
                "message": "tableTools-print-navbar"
            }

            //initiate TableTools extension
            var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
                "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

                "sRowSelector": "td:not(:last-child)",
                "sRowSelect": "multi",
                "fnRowSelected": function (row) {
                    //check checkbox when row is selected
                    try { $(row).find('input[type=checkbox]').get(0).checked = true }
                    catch (e) { }
                },
                "fnRowDeselected": function (row) {
                    //uncheck checkbox
                    try { $(row).find('input[type=checkbox]').get(0).checked = false }
                    catch (e) { }
                },
            });
            $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

            setTimeout(function () {
                $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                    var div = $(this).find('> div');
                    if (div.length > 0) div.tooltip({ container: 'body' });
                    else $(this).tooltip({ container: 'body' });
                });
            }, 200);

            //ColVis extension
            var colvis = new $.fn.dataTable.ColVis(oTable1, {
                "buttonText": "<i class='fa fa-search'></i>",
                "aiExclude": [0, 6],
                "bShowAll": true,
                //"bRestore": true,
                "sAlign": "right",
                "fnLabel": function (i, title, th) {
                    return $(th).text();//remove icons, etc
                }
            });

            //style it
            $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

            //and append it to our table tools btn-group, also add tooltip
            $(colvis.button())
                .prependTo('.tableTools-container .btn-group')
                .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

            //and make the list, buttons and checkboxed Ace-like
            $(colvis.dom.collection)
                .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
                .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
                .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

            //table checkboxes
            $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

            //select/deselect all rows according to table header checkbox
            $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked) tableTools_obj.fnSelect(row);
                    else tableTools_obj.fnDeselect(row);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
                var row = $(this).closest('tr').get(0);
                if (!this.checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
            });

            $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
            });

            //And for the first simple table, which doesn't have TableTools or dataTables
            //select/deselect all rows according to table header checkbox
            var active_class = 'active';
            $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
                var th_checked = this.checked;//checkbox inside "TH" table header

                $(this).closest('table').find('tbody > tr').each(function () {
                    var row = this;
                    if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                    else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
                });
            });

            //select/deselect a row when the checkbox is checked/unchecked
            $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
                var $row = $(this).closest('tr');
                if (this.checked) $row.addClass(active_class);
                else $row.removeClass(active_class);
            });

            /********************************/
            //add tooltip for small view action buttons in dropdown menu
            $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

            //tooltip placement on right or left
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                //var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }

        })
</script>