﻿
@using Carrier.Models.Entities;
@model Order
@using Carrier.Utilities
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thêm mới vận đơn";
    List<CarType> listCarType = (List<CarType>)ViewBag.ListCarType;
}
<script src="~/scripts/jquery1.12.4.min.js"></script>
<script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>

<style type="text/css">
    .mode {
        margin-top: 12px !important;
    }

    .form-group {
        margin-bottom: 5px !important;
    }

    input[input[type=radio] {
        margin-top: 12px;
    }

    #mapFrom, #mapTo {
        border: 1px solid gray;
        position: relative;
        overflow: hidden;
        height: 200px;
    }

    .bootstrap-timepicker-hour {
        width: 35px !important;
    }
</style>
<div class="col-md-12">
    <div class="page-header">
        <h3>Thêm mới vận đơn</h3>
    </div>
    <br>
</div>
<div class="content_wrap" style="max-width:800px; margin:auto">
    @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { id = "createform", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-6">
            <div class="form-horizontal">
                @foreach (CarType item in listCarType)
                {
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <div class="form-group">
                            <div style="width:55%;margin-top: 10px;" class="pull-left">Xe @item.Name</div>
                            @Html.DropDownList("" + item.Value.Replace(".", "_") + "-" + item.Id + "", new SelectListItem[]{
                                    new SelectListItem() {Text = "1", Value="1"},
                                    new SelectListItem() {Text = "2", Value="2"},
                                    new SelectListItem() {Text = "3", Value="3"},
                                    new SelectListItem() {Text = "4", Value="4"},
                                    new SelectListItem() {Text = "5", Value="5"},
                                    new SelectListItem() {Text = "6", Value="6"},
                                    new SelectListItem() {Text = "7", Value="7"},
                                    new SelectListItem() {Text = "8", Value="8"},
                                    new SelectListItem() {Text = "9", Value="9"},
                                    new SelectListItem() {Text = "10", Value="10"},
                                    new SelectListItem() {Text = "11", Value="11"},
                                    new SelectListItem() {Text = "12", Value="12"},
                                    new SelectListItem() {Text = "13", Value="13"},
                                    new SelectListItem() {Text = "14", Value="14"},
                                    new SelectListItem() {Text = "15", Value="15"},
                                    new SelectListItem() {Text = "16", Value="16"},
                                    new SelectListItem() {Text = "17", Value="17"},
                                    new SelectListItem() {Text = "18", Value="18"},
                                    new SelectListItem() {Text = "19", Value="19"},
                                    new SelectListItem() {Text = "20", Value="20"},
                                    new SelectListItem() {Text = "21", Value="21"},
                                    new SelectListItem() {Text = "22", Value="22"},
                                    new SelectListItem() {Text = "23", Value="23"},
                                    new SelectListItem() {Text = "24", Value="24"},
                                    new SelectListItem() {Text = "25", Value="25"},
                                    new SelectListItem() {Text = "26", Value="26"},
                                    new SelectListItem() {Text = "27", Value="27"},
                                    new SelectListItem() {Text = "28", Value="28"},
                                    new SelectListItem() {Text = "29", Value="29"},
                                    new SelectListItem() {Text = "30", Value="30"}
                                }, "---", new { @id = item.Value.Replace(".", "_") + "-" + item.Id, @name = item.Value.Replace(".", "_") + "-" + item.Id, @class = "orderCar form-control changeplaceholder", @Style = "width:40%" })
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="@item.Value.Replace(".", "_") + '-' + @item.Id+" _NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                }
                <span class="red pull-right" style="margin-top: 5px; margin-right: 5px;"> (*)</span>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("txtFromLocation", "", new { @class = "form-control changeplaceholder", @name = "txtFromLocation", @id = "txtFromLocation", @Style = "width:100%", @placeholder = "Điểm đi" })
                        <span class="red pull-right" style="margin-top: 5px; margin-right: 5px;"> (*)</span>
                        <input type="hidden" id="hfFrom" name="hfFrom" />
                        <input type="hidden" id="hfLatFrom" name="hfLatFrom" />
                        <input type="hidden" id="hfLngFrom" name="hfLngFrom" />
                     </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtFromLocation_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("txtToLocation", "", new { @class = "form-control changeplaceholder pull-right", @name = "txtToLocation", @id = "txtToLocation", @Style = "width:100%", @placeholder = "Điểm đến" })
                        <span class="red pull-right" style="margin-top: 5px; margin-right: 5px;"> (*)</span>
                        <input type="hidden" id="hfTo" name="hfTo" />
                        <input type="hidden" id="hfLatTo" name="hfLatTo" />
                        <input type="hidden" id="hfLngTo" name="hfLngTo" />
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtToLocation_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("TenHang", "", new { @class = "form-control changeplaceholder", @name = "TenHang", @id = "TenHang", @placeholder = "Tên hàng", @Style = "width:100%" })
                        @*<div id="autocomplease"></div>*@
                        <span class="red pull-right" style="margin-top: 5px; margin-right: 5px;"> (*)</span>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="TenHang_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
                       <div class="form-horizontal">
                <div class="row" style="margin-left:0px">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.TextBox("DienThoaiLienHe", "", new { @class = "form-control changeplaceholder", @name = "DienThoaiLienHe", @id = "DienThoaiLienHe", @placeholder = "Điện thoại liên hệ", @Style = "width:95%" })
                            <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="DienThoaiLienHe_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            @Html.TextBox("NguoiLienHe", "", new { @class = "form-control changeplaceholder", @name = "NguoiLienHe", @id = "NguoiLienHe", @placeholder = "Người liên hệ", @Style = "width:95%" })
                            <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="NguoiLienHe_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        @Html.TextArea("Note", "", new { @id = "Note", @name = "Note", @class = "form-control changeplaceholder", @style = "height: 64px; width:100%", @placeholder = "Ghi chú" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="Note_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBox("txtTimeDi", "", new { @class = "date-picker form-control changeplaceholder", @Style = "width:90%", @id = "txtTimeDi", @name = "txtTimeDi", @placeholder = "Thời gian đi", @autocomplete = "off" })
                        <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtTimeDi_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBox("ThoiGianBocHangDi", "", new { @class = "form-control time-picker changeplaceholder", @Style = "width:90%", @name = "ThoiGianBocHangDi", @placeholder = "Thời gian bốc hàng (giờ)", @autocomplete = "off" })
                        <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 15px;"> (*)</span>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="ThoiGianBocHang_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBox("txtTimeDen", "", new { @class = "date-picker form-control changeplaceholder", @Style = "width:90%", @name = "txtTimeDen", @id = "txtTimeDen", @placeholder = "Thời gian đến", @autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtTimeDen_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBox("ThoiGianBocHangDen", "", new { @class = "form-control time-picker changeplaceholder pull-right", @Style = "width:90%", @name = "ThoiGianBocHangDen", @id = "ThoiGianBocHangDen", @placeholder = "Thời gian bốc hàng đến (giờ)", @autocomplete = "off" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="ThoiGianDoHang_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBox("txtLenght", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtLenght", @id = "txtLenght", @placeholder = "Chiều dài (m)" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtLenght_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBox("txtWidth", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtWidth", @id = "txtWidth", @placeholder = "Chiều rộng (m)" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtWidth_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBox("txtHeight", "", new { @class = "form-control changeplaceholder", @Style = "width:90%", @name = "txtHeight", @id = "txtHeight", @placeholder = "Chiều cao (m)" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtHeight_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="form-group">
                        @Html.TextBox("txtTrongLuong", "", new { @class = "form-control changeplaceholder pull-right", @style = "width:90%", @name = "txtTrongLuong", @id = "txtTrongLuong", @placeholder = "Trọng lượng (kg)" })
                        <span class="red pull-right message-start" style="margin-top: -26px; margin-right: 5px;"> (*)</span>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtTrongLuong_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-horizontal">
                <div style="border: 1px solid gray; height:254px;" id="map">
                </div>
            </div>
            <div style="clear:both; height:12px;"></div>
            <div class="form-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("txtSoKmUocTinh", "", new { @class = "form-control changeplaceholder", @name = "txtSoKmUocTinh", @id = "txtSoKmUocTinh", @style = "width:90%;pointer-events: none;", @placeholder = "Số km ước tính" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="txtSoKmUocTinh_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("Gia", "", new { @id = "Gia", @name = "Gia", @class = "form-control changeplaceholder", @style = "pointer-events: none; float: left; width: 80%;", @placeholder = "Giá (VNĐ)" })
                        <div style="padding-top:7px">
                            <a title="tính lại giá" style="padding: 0px 0px 0px 15px;" href="javascript:void(0);" onclick="GetOrderPrice();"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="Gia_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        @Html.TextBox("txtSoGio", "", new { @id = "txtSoGio", @name = "txtSoGio", @class = "form-control pull-right", @style = "pointer-events: none;float: left; width: 90%;", @placeholder = "Số giờ ước tính (giờ)" })
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="SoGio_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        Thanh toán: <input type="hidden" id="Payby" name="Payby" value="tiền mặt(mặc định)" />
                        <input type="radio" id="rPaypal" checked="checked" name="rThanhToan" class="mode" value="Tiền mặt" />
                        <span>Tiền mặt</span>&nbsp;&nbsp;
                        <input type="radio" id="rCash" name="rThanhToan" class="mode" value="Chuyển khoản" />
                        <span>Chuyển khoản</span>
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="ThanhToan_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
            <div class="form-horizontal">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.CheckBox("VAT", true) &nbsp; Có VAT
                    </div>
                    <div class="form-group">
                        <span class="lb-Check" id="VAT_NULL" style="margin-left: 0px; color:red"></span>
                    </div>
                </div>
            </div>

            <div style="clear:both;"></div>
            <div class="form-horizontal">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        @Html.DropDownList("Status", new SelectListItem[]{
                new SelectListItem() {Text = "Chờ kích hoạt", Value="0"},
                new SelectListItem() {Text = "Kích hoạt", Value="1"},
                }, new { @id = "Status", @name = "Status", @class = "form-control changeplaceholder pull-right" })
                    </div>
                </div>
            </div>

            <div style="clear:both;"></div>
            <div class="form-horizontal">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <span class="red">(*) là điều kiện bắt buộc nhập</span>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both;height:12px;"></div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input type="submit" id="btnAdd" value="Đăng vận đơn" class="btn btn-info btn-sm" />
                    &nbsp;&nbsp;
                    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <input type="hidden" id="hdfFromLat" name="hdfFromLat" value="" />
        <input type="hidden" id="hdfFromLng" name="hdfFromLat" value="" />
        <input type="hidden" id="hdfToLat" name="hdfFromLat" value="" />
        <input type="hidden" id="hdfFToLng" name="hdfFromLat" value="" />
        <input type="hidden" name="hdfStrCarTypeSelect" id="hdfStrCarTypeSelect" value="" />
        <input type="hidden" id="hdfoldPrice" name="hdfoldPrice" value="" />
        <div id="loader" style="height: 100%;
                                width: 100%;
                                text-align: center;
                                background: #f5f5f5;
                                opacity: 0.5;
                                z-index: 999;
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                cursor: wait; display:none">
            <img style="position: absolute; top: 50%;" src="~/Content/images/pageloader.gif" alt="" width="70" height="70" />
        </div>
        <link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
        @*google map*@

        <script src="~/scripts/jquery1.12.4.min.js"></script>
        @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4XxOXUfpBQvv1qCplTAnsxZ26N3hwo4c&libraries=places&callback=initMap"
            async defer></script>*@
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
                async defer></script>

                <script>
                    $(document).ready(function () {
                        $('.orderCar').change(function(){
                            GetOrderPrice();
                        });

                        $('#VAT').change(function () {
                            if($('#VAT').is(':checked') === true)
                            {
                                var price= (parseFloat($('#hdfoldPrice').val().replace(/,/g,'')));
                                price =price*1.1;

                                var value = price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,").split('.')[0];
                                $('#Gia').val(value);
                            }else
                            {
                                $('#Gia').val($('#hdfoldPrice').val());
                            }
                        });

                        //$("#txtTimeDi").focus(function () {
                        //    tinhsogio();
                        //});
                        //$("#ThoiGianBocHangDi").focus(function () {
                        //    tinhsogio();
                        //});
                        //$("#txtTimeDen").focus(function () {
                        //    tinhsogio();
                        //});
                        //$("#ThoiGianBocHangDen").focus(function () {
                        //    tinhsogio();
                        //});
                        //$("#txtLenght").focus(function () {
                        //    tinhsogio();
                        //});
                        //$("#txtWidth").focus(function () {
                        //    tinhsogio();
                        //});
                        //$("#txtHeight").focus(function () {
                        //    tinhsogio();
                        //});
                        //$("#txtTrongLuong").focus(function () {
                        //    tinhsogio();
                        //});

                        $('#txtFromLocation').focus(function (e) {
                            var count = 0;
                            $('.orderCar').each(function(){
                                if($(this).val().length > 0)
                                {
                                    count = count +1;
                                }
                            });

                            if (count === 0) {
                                alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                                $('#txtFromLocation').blur();
                                return false;
                            }
                        });
                        $('#txtToLocation').focus(function (e) {
                            var count = 0;
                            $('.orderCar').each(function(){
                                if($(this).val().length > 0)
                                {
                                    count = count +1;
                                }
                            });

                            if (count === 0) {
                                alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                                $('#txtToLocation').blur();
                                return false;
                            }
                        });

                        $('#txtFromLocation').keypress(function (e) {
                            if (e.which === 13) {
                                callserviceapi(true);
                                return false;
                            }
                        });

                        $('#txtToLocation').keypress(function (e) {
                            if (e.which === 13) {
                                callserviceapi(false);
                                return false;
                            }
                        });

                        $('#txtFromLocation').on('change',function(){
                            callserviceapi(true);
                        });

                        $('#txtToLocation').on('change',function(){
                            callserviceapi(false);
                        });
                    });
                    var map;
                    function initMap() {
                        var lat = 0;
                        if (@ViewBag.Lat == null) {
                            lat = 21.033781;
                        }else {
                            lat = @ViewBag.Lat;
                        }

                        var lng = 0;
                        if (@ViewBag.Lng == null) {
                            lng = 105.814054;
                        }else {
                            lng = @ViewBag.Lng;
                        }
                        map = new google.maps.Map(document.getElementById('map'), {
                            mapTypeControl: false,
                            center: { lat: lat, lng: lng },
                            zoom: 13
                        });

                        new AutocompleteDirectionsHandler(map);
                    }

                    function AutocompleteDirectionsHandler(map) {
                        var options = {
                            //types: ['(cities)'],
                            componentRestrictions: { country: "vn" }
                        };
                        this.map = map;
                        this.originPlaceId = null;
                        this.destinationPlaceId = null;
                        this.travelMode = 'DRIVING';
                        var originInput = document.getElementById('txtFromLocation');
                        var destinationInput = document.getElementById('txtToLocation');
                        this.directionsService = new google.maps.DirectionsService;
                        this.directionsDisplay = new google.maps.DirectionsRenderer;
                        this.directionsDisplay.setMap(map);

                        var originAutocomplete = new google.maps.places.Autocomplete(
                            originInput,options);
                        var destinationAutocomplete = new google.maps.places.Autocomplete(
                            destinationInput,options);

                        this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
                        this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');
                    }

                    AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function (autocomplete, mode) {
                        var me = this;
                        autocomplete.bindTo('bounds', this.map);
                        autocomplete.addListener('place_changed', function () {
                            var count = 0;
                            $('.orderCar').each(function(){
                                if($(this).val().length > 0)
                                {
                                    count = count +1;
                                }
                            });
                            if (count === 0) {
                                alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                                $('#txtFromLocation').val('');
                                $('#txtToLocation').val('');
                                return false;
                            }

                            //if ($('#txtTimeDi').val() == "") {
                            //    $('#txtTimeDi_NULL').html('Bạn chưa chọn thời gian đi');
                            //    return false;
                            //}else {
                            //    $('#txtTimeDi_NULL').html('');
                            //}

                            //if ($('#ThoiGianBocHangDi').val() == "") {
                            //    $('#ThoiGianBocHangDi_NULL').html('Bạn chưa chọn giờ đi');
                            //    return false;
                            //}else {
                            //    $('#ThoiGianBocHangDi_NULL').html('');
                            //}

                            //if ($('#txtTimeDen').val() == "") {
                            //    $('#txtTimeDen_NULL').html('Bạn chưa chọn thời gian đến');
                            //    return false;
                            //}else {
                            //    $('#txtTimeDen_NULL').html('');
                            //}

                            //if ($('#ThoiGianBocHangDen').val() == "") {
                            //    $('#ThoiGianBocHangDen_NULL').html('Bạn chưa chọn giờ đến');
                            //    return false;
                            //}else {
                            //    $('#ThoiGianBocHangDen_NULL').html('');
                            //}

                            
                            var place = autocomplete.getPlace();
                            var fromAddress = place.formatted_address;
                            var toAddress = place.formatted_address;

                            if (!place.place_id) {
                                console.log("hãy chọn địa chỉ từ danh sách gợi ý.");
                                return;
                            }
                            if (mode === 'ORIG') {
                                $('#hfFrom').val(place.formatted_address);
                                $('#hfLatFrom').val(place.geometry.location.lat());
                                $('#hfLngFrom').val(place.geometry.location.lng())
                                me.originPlaceId = place.place_id;
                            } else {
                                $('#hfTo').val(place.formatted_address);
                                $('#hfLatTo').val(place.geometry.location.lat());
                                $('#hfLngTo').val(place.geometry.location.lng())
                                me.destinationPlaceId = place.place_id;
                            }

                            me.route();

                            GetOrderPrice();
                        });
                    };

                    AutocompleteDirectionsHandler.prototype.route = function () {
                        if (!this.originPlaceId || !this.destinationPlaceId) {
                            return;
                        }
                        var me = this;
                        this.directionsService.route({
                            origin: { 'placeId': this.originPlaceId },
                            destination: { 'placeId': this.destinationPlaceId },
                            travelMode: this.travelMode
                        }, function (response, status) {
                            if (status === 'OK') {
                                me.directionsDisplay.setDirections(response);
                                // tính số giờ
                                var thogian = me.directionsDisplay.directions.routes[0].legs[0].duration.text;
                                document.getElementById('txtSoGio').value = thogian;
                            } else {
                                console.log('Directions request failed due to ' + status);
                            }
                        });
                    };

                    function GetOrderPrice() {
                        // call api when map not suggest address
                        callserviceapi(true);
                        callserviceapi(false);

                        //tinhsogio();
                        var fromaddress = $('#hfFrom').val();
                        var toaddress = $('#hfTo').val();
                        var latFrom = $('#hfLatFrom').val();
                        var lngFrom = $('#hfLngFrom').val();
                        var latTo = $('#hfLatTo').val();
                        var lngTo = $('#hfLngTo').val();
                        if (fromaddress.length == 0 || toaddress.length == 0) {
                            return;
                        }
                        if (fromaddress.length > 0 && toaddress.length > 0) {

                            var strOrderCar = '';
                            $('.orderCar').each(function(){
                                if($(this).val().length > 0)
                                {
                                    strOrderCar = strOrderCar + $(this).attr('id')+":"+ $(this).val()+"|";
                                }else
                                {
                                    strOrderCar = strOrderCar + $(this).attr('id')+":0|";
                                }
                            });

                            var isVAT = $('#VAT').is(':checked');
                            $('#txtSoKmUocTinh').val("");
                            $('#Gia').val("");
                            $('#loader').show();
                            $.ajax({
                                url: '/Order/GetPrice',
                                data: "{ 'fromaddress':'" + fromaddress + "', 'toaddress':'" + toaddress + "', 'latfrom':'"+latFrom + "', 'lnfrom':'" + lngFrom + "', 'latto':'" + latTo + "', 'lnto':'" + lngTo + "', 'isVAT':'" + isVAT +"', 'strOrderCar':'" + strOrderCar + "' }",
                                dataType: "json",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    if (data.message.length > 0) {
                                        console.log(data.message);
                                    }
                                    $('#loader').hide();
                                    $('#txtSoKmUocTinh').val(data.distance);
                                    $('#Gia').val(data.totalPrice);
                                    $('#hdfoldPrice').val(data.oldPrice);
                                },
                                error: function (response) {
                                    $('#loader').hide();
                                },
                                failure: function (response) {
                                    $('#loader').hide();
                                }
                            });
                        }
                    }

                    function tinhsogio() {
                        var fromHour = document.getElementById('gioBocDi').value;
                        var toHour = document.getElementById('gioBocDen').value;
                        var dateFrom = document.getElementById('txtTimeDi').value;
                        var dateTo = document.getElementById('txtTimeDen').value;
                        if (document.getElementById('txtTimeDi').value.length > 0 && document.getElementById('txtTimeDen').value.length > 0) {
                            var fromString = dateFrom.split('/')[1] + "/" + dateFrom.split('/')[0] + "/" + dateFrom.split('/')[2] + " " + fromHour;
                            var toString = dateTo.split('/')[1] + "/" + dateTo.split('/')[0] + "/" + dateTo.split('/')[2] + " " + toHour;
                            var from = new Date(fromString);
                            var to = new Date(toString);

                            var offset = to.getTime() - from.getTime();

                            //var days = Math.floor(offset / 1000 / 60 / 60 / 24);
                            //offset -= days * 1000 * 60 * 60 * 24; // giảm offset đi

                            var hours = Math.floor(offset / 1000 / 60 / 60);
                            document.getElementById('txtSoGio').value = hours;
                        }
                    }

                    function callserviceapi( isfrom ){
                        // call api when map not suggest address
                        if(isfrom === true)
                        {
                            if (($('#hfFrom').val() == "" || $('#hfLatFrom').val() == "" ||  $('#hfLngFrom').val() == "") && ($('#txtFromLocation').val().length > 0 )) {
                                var address = $('#txtFromLocation').val();
                                $.ajax({
                                    url: 'https://maps.googleapis.com/maps/api/geocode/json?&address='+address, 
                                    type: 'GET',
                                    success: function(res) {
                                        if(res.status === 'OK')
                                        {
                                            $('#hfFrom').val(res.results[0].formatted_address);
                                            $('#hfLatFrom').val(res.results[0].geometry.location.lat);
                                            $('#hfLngFrom').val(res.results[0].geometry.location.lng);
                                            //me.originPlaceId = res.results[0].place_id

                                            console.log("OK");
                                        }
                                    }
                                });
                            }
                        }else{
                            if (($('#hfTo').val() == "" || $('#hfLatTo').val() == "" ||  $('#hfLngTo').val() == "") && ($('#txtToLocation').val().length > 0 )) {
                                var address = $('#txtToLocation').val();
                                $.ajax({
                                    url: 'https://maps.googleapis.com/maps/api/geocode/json?&address='+address, 
                                    type: 'GET',
                                    success: function(res) {
                                        if(res.status === 'OK')
                                        {
                                            $('#hfTo').val(res.results[0].formatted_address);
                                            $('#hfLatTo').val(res.results[0].geometry.location.lat);
                                            $('#hfLngTo').val(res.results[0].geometry.location.lng);
                                            console.log("OK");
                                            //me.destinationPlaceId = res.results[0].place_id;
                                        }
                                    }
                                });
                            }
                        }
                    }
                </script>
                @*google map*@
                <script type="text/javascript">
                    $(document).ready(function () {
                        var strURLPath = window.location.pathname;
                        var activeId = "Order";
                        $('#main_menu li#' + activeId).addClass('active');
                        $('#main_menu li#' + activeId).parents('li').addClass('active open')
                    });
                </script>
                <script src="~/assets/js/jquery-ui.custom.min.js"></script>
                <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
                <script src="~/assets/js/chosen.jquery.min.js"></script>
                <script src="~/assets/js/fuelux.spinner.min.js"></script>

                <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
                <script src="~/assets/js/bootstrap-timepicker.min.js"></script>
                <script src="~/assets/js/moment.min.js"></script>
                <script src="~/assets/js/daterangepicker.min.js"></script>
                <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
                <script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
                <script src="~/assets/js/jquery.knob.min.js"></script>
                <script src="~/assets/js/jquery.autosize.min.js"></script>
                <script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
                <script src="~/assets/js/jquery.maskedinput.min.js"></script>
                <script src="~/assets/js/bootstrap-tag.min.js"></script>

                <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
                <script src="~/scripts/jquery-ui-1.12.1.min.js"></script>
                <style type="text/css">
                    .ui-widget-content {
                        border: 1px solid #c5c5c5;
                        width: 250px !important;
                    }
                </style>
                <script type="text/javascript">
                    $(function () {
                        $('.date-picker').datepicker({
                            dateFormat: 'dd/mm/yy',
                            minDate: 0
                        });
                    })
                </script>

                <script type="text/javascript">
                    jQuery(function ($) {
                        $.mask.definitions['~'] = '[+-]';
                        $('.input-mask-phone').mask('(999) 999-9999');
                        $('.input-mask-date').mask('99/99/9999');
                        $('.input-mask-phone').mask('(999) 999-9999');
                    });

                    //show datepicker when clicking on the icon
                    $('.time-picker').timepicker({
                        showMeridian: false,
                        startTime: ""
                    });
                </script>

                <script type="text/javascript">
                    $(document).ready(function () {
                        var timenow = new Date(); 
                        myTimeSpan = 120*60*1000; // thêm 120 phút vào giờ hiện tại
                        timenow.setTime(timenow.getTime() + myTimeSpan);
                        var hournow= timenow.getHours();
                        var minutenow= timenow.getMinutes();
                        $('#ThoiGianBocHangDi').val(hournow+':'+minutenow);
                        $('#ThoiGianBocHangDen').val('');

                        $("#txtFromLocation").focusout(function () {
                            if ($("#txtFromLocation").val().trim() == "" || $("#txtFromLocation").val().trim() == null) {
                                $("#txtFromLocation_NULL").html('Bạn chưa điểm đi!');
                                return false;
                            } else {
                                $("#txtFromLocation_NULL").html('');
                            }
                        });
                        $("#txtToLocation").focusout(function () {
                            if ($("#txtToLocation").val().trim() == "" || $("#txtToLocation").val().trim() == null) {
                                $("#txtToLocation_NULL").html('Bạn chưa nhập điểm đến!');
                                return false;
                            } else {
                                $("#txtToLocation_NULL").html('');
                            }
                        });
                        $("#TenHang").focusout(function () {
                            if ($("#TenHang").val().trim() == "" || $("#TenHang").val().trim() == null) {
                                $("#TenHang_NULL").html('Bạn chưa nhập tên hàng!');
                                return false;
                            } else {
                                $("#TenHang_NULL").html('');
                            }
                        });
                        $("#DienThoaiLienHe").focusout(function () {
                            if ($("#DienThoaiLienHe").val().trim() == "" || $("#DienThoaiLienHe").val().trim() == null) {
                                $("#DienThoaiLienHe_NULL").html('Bạn chưa nhập điện thoại liên hệ!');
                                return false;
                            } else {
                                $("#DienThoaiLienHe_NULL").html('');
                            }
                        });

                        $("#txtTimeDi").focusout(function () {
                            if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                                var dateGo = $('#txtTimeDi').val();
                                var hourGo = $('#ThoiGianBocHangDi').val();
                                var dateEnd = $('#txtTimeDen').val();
                                var hourEnd = $('#ThoiGianBocHangDen').val();
	
                                var strTimeGo =dateGo.split('/')[2] + '/'+dateGo.split('/')[1] + '/'+dateGo.split('/')[0] + ' ' + hourGo;
                                var strTimeEnd =dateEnd.split('/')[2] + '/'+dateEnd.split('/')[1] + '/'+dateEnd.split('/')[0] + ' ' + hourEnd;
                                var giodi =  Date.parse(strTimeGo);
                                var gioden =  Date.parse(strTimeEnd);
	
                                if(giodi > gioden )
                                {
                                    $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                                    return false;
                                }else
                                {
                                    $("#txtTimeDi_NULL").html("");
                                }
                            } 
                        });
                        $("#txtTimeDen").focusout(function () {
                            if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                                var dateGo = $('#txtTimeDi').val();
                                var hourGo = $('#ThoiGianBocHangDi').val();
                                var dateEnd = $('#txtTimeDen').val();
                                var hourEnd = $('#ThoiGianBocHangDen').val();
	
                                var strTimeGo =dateGo.split('/')[2] + '/'+dateGo.split('/')[1] + '/'+dateGo.split('/')[0] + ' ' + hourGo;
                                var strTimeEnd =dateEnd.split('/')[2] + '/'+dateEnd.split('/')[1] + '/'+dateEnd.split('/')[0] + ' ' + hourEnd;
                                var giodi =  Date.parse(strTimeGo);
                                var gioden =  Date.parse(strTimeEnd);
	
                                if(giodi > gioden )
                                {
                                    $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                                    return false;
                                }else
                                {
                                    $("#txtTimeDi_NULL").html("");
                                }
                            } 
                        });
                        $("#txtTrongLuong").focus(function () {
                            if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                                var dateGo = $('#txtTimeDi').val();
                                var hourGo = $('#ThoiGianBocHangDi').val();
                                var dateEnd = $('#txtTimeDen').val();
                                var hourEnd = $('#ThoiGianBocHangDen').val();
	
                                var strTimeGo =dateGo.split('/')[2] + '/'+dateGo.split('/')[1] + '/'+dateGo.split('/')[0] + ' ' + hourGo;
                                var strTimeEnd =dateEnd.split('/')[2] + '/'+dateEnd.split('/')[1] + '/'+dateEnd.split('/')[0] + ' ' + hourEnd;
                                var giodi =  Date.parse(strTimeGo);
                                var gioden =  Date.parse(strTimeEnd);
	
                                if(giodi > gioden )
                                {
                                    $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                                    return false;
                                }else
                                {
                                    $("#txtTimeDi_NULL").html("");
                                }
                            } 
                        });

                        $("#txtTrongLuong").focusout(function () {
                            if ($("#txtTrongLuong").val().trim() == "" || $("#txtTrongLuong").val().trim() == null) {
                                $("#txtTrongLuong_NULL").html('Bạn chưa nhập trọng lượng!');
                                return false;
                            } else {
                                $("#txtTrongLuong_NULL").html('');
                            }

                            if ($.isNumeric($('#txtTrongLuong').val()) == false) {
                                $('#txtTrongLuong_NULL').html('trọng lượng phải là số');
                                return false;
                            }

                            var totalValueSelect= 0;
                            var strOrderCar='';
                            $('.orderCar').each(function(){
                                if($(this).val().length > 0)
                                {
                                    var idItem =   $(this).attr('id');
                                    var typeCar = idItem.split('-')[0].replace('_','.');
                                    var valueItem = parseFloat(typeCar) * 1000;
                                    totalValueSelect = totalValueSelect + valueItem;
                                }else
                                {
                                    strOrderCar = strOrderCar + $(this).attr('id')+":0:";
                                }
                            });
                            
                            //valueItem
                            if (totalValueSelect < parseFloat($('#txtTrongLuong').val())) {
                                $('#txtTrongLuong_NULL').html('trọng lượng hàng quá tải');
                                return false;
                            } else {
                                $('#txtTrongLuong_NULL').html('');
                            }
                        });

                        $('#btnAdd').click(function () {
                            var count = 0;
                            $('.orderCar').each(function(){
                                if($(this).val().length > 0)
                                {
                                    count = count +1;
                                }
                            });

                            if (count === 0) {
                                alert('Bạn phải chọn số lượng xe trước khi chọn điểm đi điểm đến');
                                return false;
                            }

                            if ($('#txtFromLocation').val() == "" || $('#txtFromLocation').val() == null) {
                                $('#txtFromLocation_NULL').html('Bạn nhập điểm đi!');
                                return false;
                            }else{
                                $('#txtFromLocation_NULL').html('');
                            }

                            if ($('#hfFrom').val().length === 0 &&  $('#hfLatFrom').val()=== 0 &&  $('#hfLngFrom').val()=== 0) {
                                $('#txtFromLocation_NULL').html('Bạn nhập điểm đi!');
                                return false;
                            }

                            if ($('#txtToLocation').val() == "" || $('#txtToLocation').val() == null) {
                                $('#txtToLocation_NULL').html('Bạn nhập điểm đến!');
                                return false;
                            }else{
                                $('#txtToLocation_NULL').html('');
                            }

                            if ($('#hfTo').val().length === 0 &&  $('#hfLatTo').val()=== 0 &&  $('#hfLngTo').val()=== 0) {
                                $('#txtToLocation_NULL').html('Bạn nhập điểm đến!');
                                return false;
                            }
                            if ($('#TenHang').val() == "" || $('#TenHang').val() == null) {
                                $('#TenHang_NULL').html('Bạn chưa nhập tên vận đơn!');
                                return false;
                            } else {
                                $("#TenHang_NULL").html('');
                            }

                            if ($('#DienThoaiLienHe').val() == "" || $('#DienThoaiLienHe').val() == null) {
                                $('#DienThoaiLienHe_NULL').html('Bạn chưa nhập tên vận đơn!');
                                return false;
                            } else {
                                $("#DienThoaiLienHe_NULL").html('');
                            }

                            if ($('#txtTimeDi').val() == "" || $('#txtTimeDi').val() == null) {
                                $('#txtTimeDi_NULL').html('Bạn chưa nhập thời gian đi!');
                                return false;
                            } else {
                                $("#txtTimeDi_NULL").html('');
                            }
                            if ($('#ThoiGianBocHangDi').val() == "" || $('#ThoiGianBocHangDi').val() == null) {
                                $('#ThoiGianBocHangDi_NULL').html('Bạn chưa nhập giờ bốc hàng đi đi!');
                                return false;
                            } else {
                                $("#ThoiGianBocHangDi_NULL").html('');
                            }

                            if ($("#txtTimeDi").val().trim() != '' && $("#ThoiGianBocHangDi").val().trim() != '' && $("#txtTimeDen").val().trim() != '' && $("#ThoiGianBocHangDen").val().trim() != '') {
                                var dateGo = $('#txtTimeDi').val();
                                var hourGo = $('#ThoiGianBocHangDi').val();
                                var dateEnd = $('#txtTimeDen').val();
                                var hourEnd = $('#ThoiGianBocHangDen').val();
	
                                var strTimeGo =dateGo.split('/')[2] + '/'+dateGo.split('/')[1] + '/'+dateGo.split('/')[0] + ' ' + hourGo;
                                var strTimeEnd =dateEnd.split('/')[2] + '/'+dateEnd.split('/')[1] + '/'+dateEnd.split('/')[0] + ' ' + hourEnd;
                                var giodi =  Date.parse(strTimeGo);
                                var gioden =  Date.parse(strTimeEnd);
	
                                if(giodi > gioden )
                                {
                                    $("#txtTimeDi_NULL").html("Thời gian đi phải nhỏ hơn thời gian đến");
                                    return false;
                                }else
                                {
                                    $("#txtTimeDi_NULL").html("");
                                }
                            } 

                            //-------------------------- check giờ đi phải > 30 phút so với hiện tại
                            var hientai = new Date(); 
                            myTimeSpan = 30*60*1000; // thêm 30 phút vào giờ hiện tại
                            hientai.setTime(hientai.getTime() + myTimeSpan);
                            var ss= hientai.getMinutes();
                            var thoigiandi =  + hientai.getFullYear() + "/"
                                                + (hientai.getMonth()+1)  + "/" 
                                                + hientai.getDate() + " "  
                                                + hientai.getHours() + ":"  
                                                + hientai.getMinutes() + ":";

                            var dateGo = $('#txtTimeDi').val();
                            var hourGo = $('#ThoiGianBocHangDi').val();
	
                            strTimeGo =dateGo.split('/')[2] + '/'+dateGo.split('/')[1] + '/'+dateGo.split('/')[0] + ' ' + hourGo;
                            var giodi =  Date.parse(strTimeGo);
                            var giohientai =  Date.parse(thoigiandi);
	
                            if(giohientai > giodi)
                            {
                                alert('quý khách vui lòng đặt thời gian xuất phát sớm nhất là sau 30 phút nữa');
                                return false;
                            }
                            //---------------------------------------------------------//

                            if ($('#txtTrongLuong').val() == "") {
                                $('#txtTrongLuong_NULL').html('Bạn chưa nhập trọng lượng!');
                                return false;
                            } else {
                                $('#txtTrongLuong_NULL').html('');
                            }

                            if ($.isNumeric($('#txtTrongLuong').val()) == false) {
                                $('#txtTrongLuong_NULL').html('trọng lượng phải là số');
                                return false;
                            } else {
                                $('#txtTrongLuong_NULL').html('');
                            }

                            var totalValueSelect= 0;
                            var strOrderCar='';
                            $('.orderCar').each(function(){
                                if($(this).val().length > 0)
                                {
                                    var idItem =   $(this).attr('id');
                                    var typeCar = idItem.split('-')[0].replace('_','.');
                                    var valueItem = parseFloat(typeCar) * 1000;
                                    totalValueSelect = totalValueSelect + valueItem;
                                }else
                                {
                                    strOrderCar = strOrderCar + $(this).attr('id')+":0:";
                                }
                            });
                            
                            //valueItem
                            if (totalValueSelect < parseFloat($('#txtTrongLuong').val())) {
                                $('#txtTrongLuong_NULL').html('trọng lượng hàng quá tải');
                                return false;
                            } else {
                                $('#txtTrongLuong_NULL').html('');
                            }

                        });
                    });
                </script>

                <script>
                    $(document).ready(function () {

                        $('#DraftOrder').change(function () {
                            var draftId = $(this).val();

                            $.ajax({
                                url: '/Order/LoadDraftOrder',
                                data: "{ 'Id': '" + draftId + "'}",
                                dataType: "json",
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    if (data.message == '') {
                                        $('#TenHang').val(data.TenHang);
                                        if (data.ThoiGianDi.split(' ').length == 1) {
                                            $('#txtTimeDi').val(data.ThoiGianDi);

                                        } else {
                                            $('#txtTimeDi').val(data.ThoiGianDi.split(' ')[1]);
                                            $('#ThoiGianBocHangDi').val(data.ThoiGianDi.split(' ')[0]);
                                        }

                                        if (data.ThoiGianDen.split(' ').length == 1) {
                                            $('#txtTimeDen').val(data.ThoiGianDen);
                                        } else {
                                            $('#txtTimeDen').val(data.ThoiGianDen.split(' ')[1]);
                                            $('#ThoiGianBocHangDen').val(data.ThoiGianDen.split(' ')[0]);
                                        }

                                        $('#txtLenght').val(data.Lenght);
                                        $('#txtWidth').val(data.Width);
                                        $('#txtHeight').val(data.Height);
                                        $('#txtTrongLuong').val(data.TrongLuong);
                                        $('#VAT').val(data.Vat);
                                    }
                                },
                                error: function (response) {
                                    console.log(response.responseText);
                                },
                                failure: function (response) {
                                    console.log(response.responseText);
                                }
                            });
                        });

                        //$('#10-7').change(function (){
                        //    if ($('#10-7') != '') {
                        //        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                        //        $('#10-7').val('');
                        //        return false;
                        //    }
                        //});

                        $('#15-8').change(function (){
                            if ($('#15-8') != '') {
                                alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                                $('#15-8').val('');
                                return false;
                            }
                        });

                        $('#18-9').change(function (){
                            if ($('#18-9') != '') {
                                alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                                $('#18-9').val('');
                                return false;
                            }
                        });

                        //$('#20-10').change(function (){
                        //    if ($('#20-10') != '') {
                        //        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                        //        $('#20-10').val('');
                        //        return false;
                        //    }
                        //});

                        //$('#40-11').change(function (){
                        //    if ($('#40-11') != '') {
                        //        alert('Hệ thống đang cập nhật xin lỗi vì sự bất tiện này');
                        //        $('#40-11').val('');
                        //        return false;
                        //    }
                        //});
                    });
                </script>
    }
</div>