﻿@using Carrier.Utilities;
@model Carrier.Models.Entities.Order
@using Carrier.Utilities
@{
    if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ADMIN))
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    }
}
@{
    ViewBag.Title = "Xóa vận đơn";
}
@if (Model.UserName.CompareTo(User.Identity.Name) == 0 || User.IsInRole(PublicConstant.ROLE_ADMIN))
{

    <h2>Xóa vận đơn</h2>

    <h3>Bạn có chắc chắn không?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Khách hàng
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                Xuất Phát
            </dt>

            <dd>
            </dd>

            <dt>
                Điểm đến
            </dt>

            <dd>
            </dd>

            <dt>
                Lộ trình
            </dt>

            <dd>
            </dd>

            <dt>
                Giá
            </dt>

            <dd>

            </dd>

            <dt>
                Thời gian
            </dt>

            <dd>

            </dd>

            <dt>
                Trạng thái
            </dt>

            <dd>

            </dd>

            <dt>
                Chú thích
            </dt>

            <dd>

            </dd>

            <dt>
                Tài xế
            </dt>

            <dd>

            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-info btn-sm" /> |
                @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
            </div>
        }
    </div>
}
else
{
    <h3>Bạn không có quyền xóa đơn này</h3>
}