﻿@model PagedList.IPagedList<Carrier.CMS.Models.OrderViewModel>
@using Carrier.Utilities;
@using PagedList.Mvc;
@using Carrier.CMS.Areas.Admin.Controllers;
@{
    if (User.Identity.IsAuthenticated && User.IsInRole(PublicConstant.ROLE_ADMIN))
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutACE.cshtml";
    }

    var controller = ViewContext.Controller as OrdersController;
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Danh sách vận đơn";
}
<div class="col-md-12">
    <div class="page-header">
        <h3>Danh sách vận đơn</h3>
    </div>
    <br>
</div>
@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-3">Tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)</div>
        <div class="col-sm-3">
            Trạng thái: 
            <select name="status" id="status" style="width: 120px; padding: 7px;border: 1px solid #eee; height: 35px;">
                <option value="">----- Chọn ----</option>
                <option value="0">Sẵn sàng</option>
                <option value="1">Đang chạy</option>
                <option value="2">Tài xế hủy</option>
                <option value="3">Chủ hàng hủy</option>
                <option value="4">Đang vận chuyển hàng</option>
                <option value="5">Hoàn thành</option>
                @*<option value="6">Kết thúc</option>*@
                <option value="7">Đơn quá ngày</option>
            </select>


        </div>
        <div class="col-sm-4">
            Hiển thị: @Html.TextBox("pagsiz", ViewBag.PageSize as string, new { style = "width: 25px;border-radius: 4px" })
            <input type="submit" value="Tìm kiếm" class="btn btn-info" />
        </div>
    </div>
}

<p style="margin-top: 10px;">
    @if (!User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
    {
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-info btn-sm" })
    }
</p>
<table class="wapperpager table table-bordered table-hover dataTable" id="grvOrder">
    <thead>
        <tr>
            <th align="center" scope="col" class="header">
                Mã vận đơn
            </th>
            <th align="center" scope="col" class="header">
                Tên hàng
            </th>
            <th align="center" scope="col" class="header">
                Trọng lượng
            </th>
            <th align="center" scope="col" class="header">
                Điểm đi
            </th>
            <th align="center" scope="col" class="header">
                Điểm đến
            </th>
            <th align="center" scope="col" class="header">
                Thời gian
            </th>
            <th align="center" scope="col" class="header">Đơn giá (VNĐ)</th>
            <th align="center" scope="col" class="header">
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a title="Mã vận đơn" href='@Url.Action("Details", "Orders", new { id = item.Id })'>@Html.DisplayFor(modelItem => item.MaVanDon)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenHang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrongLuong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiemDiChiTiet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiemDenChiTiet)
                    </td>
                    <td>
                        <p>Từ @item.ThoiGianDi </p>
                        <p> Đến @item.ThoiGianDen</p>
                    </td>
                    <td>
                        @if (item.Gia != null)
                    {
                            @GlobalCommon.ConvertToCurrency(item.Gia.Value)
                        }
                    </td>
                    @*<td>
                        @if (item.Status != null)
                    {
                            @GlobalCommon.GetOrderStatus(item.Status.Value)
                        }
                    </td>*@
                    <td>
                        @Html.Raw(controller.ShowStatusToView(int.Parse(item.Status.ToString())))
                    </td>
                    <td>
                        @if (item.Status == 1) // đã nhận đơn-> show icon
                    {
                            @Html.Raw("<img title=\"đã nhận đơn\" src=\"../Images/accept.png\" alt=\"http://vantaitoiuu.com\" style=\"width:20px\" />");
                    }

                        @*<a href='@Url.Action("Edit", "Orders", new { id = item.Id })'><img src="~/Images/page_white_edit.png" title="Cập nhật" /></a>*@  |
                        <a href='@Url.Action("Details", "Orders", new { id = item.Id })'><img src="~/Images/details.png" title="Chi tiết" /></a>  |
                        @*<button style="border:none; background:none" title="Xóa" onclick="DeleteRow('@item.Id')">
                                <img src="~/Images/icons/bin_closed.png" title="Xóa" />
                            </button>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter, currentStatus = ViewBag.CurrentStatus, pagsiz = @ViewBag.PageSize }))


@*@section Scripts {*@
<link rel="stylesheet" href="~/assets/css/jquery-ui.custom.min.css" />
<link rel="stylesheet" href="~/assets/css/datepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-timepicker.min.css" />
<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css" />
@*}

    @section ScriptsBottom{*@
<script type="text/javascript">
    $(document).ready(function () {
        var strURLPath = window.location.pathname;
        var activeId = "Orders";
        $('#main_menu li#' + activeId).addClass('active');
        $('#main_menu li#' + activeId).parents('li').addClass('active open')
    });
</script>
<script src="~/assets/js/jquery-ui.custom.min.js"></script>
<script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="~/assets/js/chosen.jquery.min.js"></script>
<script src="~/assets/js/fuelux.spinner.min.js"></script>

<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/bootstrap-timepicker.min.js"></script>
<script src="~/assets/js/moment.min.js"></script>
<script src="~/assets/js/daterangepicker.min.js"></script>
<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/assets/js/bootstrap-colorpicker.min.js"></script>
<script src="~/assets/js/jquery.knob.min.js"></script>
<script src="~/assets/js/jquery.autosize.min.js"></script>
<script src="~/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/assets/js/jquery.maskedinput.min.js"></script>
<script src="~/assets/js/bootstrap-tag.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $.mask.definitions['~'] = '[+-]';
        $('.input-mask-phone').mask('(999) 999-9999');
        $('.input-mask-date').mask('99/99/9999');
        $('.input-mask-phone').mask('(999) 999-9999');
    });

    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true
    }).next().on(ace.click_event, function () {
        $(this).prev().focus();
    });
    //show datepicker when clicking on the icon
</script>
@*}*@