﻿@model Carrier.Models.Entities.Driver
@using Carrier.Utilities
@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Thông tin tài xế";
}
<style type="text/css">
    .form-horizontal .control-label {
        padding-top: 0px !important;
    }
</style>
<h3 style="text-align:center">Thông tin tài xế</h3>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Tên tài xế</label>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Địa chỉ</label>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
            <br />
            <div style="border: 1px solid gray; height:400px; margin-top:20px" id="map">
            </div>
            <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name" class="title"></span><br>
                <span id="place-address"></span>
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Điện thoại liên hệ</label>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Giới tính</label>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Sex)
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Ngày sinh</label>
        <div class="col-sm-9 form-inline">
            @Html.DisplayFor(model => model.BirthDay)
        </div>
    </div>
</div>

@*<div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Nhà xe</label>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.OrganizationId)
            </div>
        </div>
    </div>*@

@*<div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Vị trí</label>
            <div class="col-sm-9 form-inline">
                @Html.DisplayFor(model => model.Lng)
            </div>
        </div>
    </div>*@

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Ảnh mặt trước</label>
        <div class="col-sm-9 form-inline">
            @if (Model.Front_Image != null)
            {
                <div class="divimage">
                    <img src="@Model.Front_Image" width="150" />
                </div>
            }
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Ảnh mặt sau</label>
        <div class="col-sm-9 form-inline">
            @if (Model.Front_Image != null)
            {
                <div class="divimage">
                    <img src="@Model.Back_Image" width="150" />
                </div>
            }
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right">Trạng thái</label>
        <div class="col-sm-9">
            @Html.DropDownList(Model.Status.ToString(), new SelectListItem[]{
                new SelectListItem() { Text = "Đang chờ", Value = "0"},
                new SelectListItem() { Text = "Đang chạy", Value = "1"},
                }, new { @id = "Status", @name = "Status", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <span class="lb-Check" id="Status_NULL" style="margin-left: 0px; color:red"></span>
        </div>
    </div>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            @Html.ActionLink("Cập nhật", "Edit", "EDriver", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" }) &nbsp;&nbsp;
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-info btn-sm" })
        </div>
    </div>
</div>
@*google map*@
<script src="~/scripts/jquery1.12.4.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U&libraries=places&callback=initMap"
        async defer></script>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            mapTypeControl: false,
            center: {lat: 21.027764, lng: 105.834160},
            zoom: 17
        });

        loadLocation(map,@Model.Lat, @Model.Lng);
    }

    function loadLocation(map,lat, lng) {
        var mapSrc =map;
        var pos = {
            lat: parseFloat(lat),
            lng: parseFloat(lng)
        };

        mapSrc.setCenter(pos);

        var marker = new google.maps.Marker({
            map: mapSrc,
            position:  {lat: parseFloat(lat) , lng: parseFloat(lng)},
            draggable: false,
            size : new google.maps.Size(12, 32)
        });
    }
</script>
@*google map*@