﻿@*@model PagedList.IPagedList<Carrier.Models.Entities.Driver> Carrier.CMS.Models*@
@model IEnumerable<Carrier.CMS.Models.EDriverViewModel>
@using Carrier.Utilities;
@using PagedList.Mvc;
@using Carrier.Utilities
@{
    ViewBag.Title = "Danh sách tài xế";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Danh sách tài xế";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Home</a>
        </li>
        <li class="">Danh sách tài xế</li>
    </ul>
}
<div class="page-header">
    <h1>Danh sách tài xế</h1>
</div>
@*@using (Html.BeginForm("Index", "EDriver", FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-4">Tìm kiếm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)</div>
            <div class="col-sm-4">
                Hiển thị: @Html.TextBox("pagsiz", ViewBag.PageSize as string, new { style = "width: 50px;height: 33px; border-radius: 4px" })
                <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: -3px 0px 0px 60px" />
            </div>
        </div>
    }*@
<p style="margin-top: 10px;">
    @Html.ActionLink("Thêm mới", "Create", "EDriver", null, new { @class = "btn btn-info btn-sm" })
</p>
@*<table class="wapperpager table table-bordered table-hover dataTable" id="grvOrder">*@
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace cball">
                    <span class="lbl"></span>
                </label>
            </th>
            <th align="center" scope="col" class="header">
                Tên tài xế
            </th>
            <th align="center" scope="col" class="header">
                Tên đăng nhập
            </th>
            <th align="center" scope="col" class="header">
                Trạng thái
            </th>
            <th align="center" scope="col" class="header">
                Điện thoại
            </th>
            <th align="center" scope="col" class="header">
                Giới tính
            </th>
            <th align="center" scope="col" class="header">
                Ngày sinh
            </th>
            <th align="center" scope="col" class="header">
                Xe
            </th>
            <th align="center" scope="col" class="header">
                Tải trọng (tấn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace cbitem">
                        <span class="lbl"></span>
                        <input type="hidden" id="hdfId" class="hdfId" name="hdfId" value="@item.Id" />
                    </label>
                </td>
                <td id="driverId" value="@item.Id">
                    <a title="Tên tài xế" href='@Url.Action("Details", "EDriver", new { id = item.Id })'>@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @item.User_Name
                </td>
                <td>
                    @if (item.LockoutEnabled == true)
                    {
                        <span>Đang chờ</span>
                    }
                    else
                    {
                        <span>Đã kích hoạt</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDay)
                </td>
                <td>
                    @if (item.License == "0")
                    {
                        @Html.Raw("Chưa có");
                    }
                    else
                    {
                        <a href="@Url.Action("CarDetail", "EDriver", new { License = item.License })"
                           class="modal-link">@item.License</a>
                    }
                </td>
                <td>
                    @if (item.Payload == 0)
                    {
                        @Html.Raw("Chưa có");
                    }
                    else
                    {
                        @item.Payload
                    }
                </td>
                <td>

                    <a href='@Url.Action("Edit", "EDriver", new { id = item.Id })'><img src="~/Images/page_white_edit.png" title="Cập nhật" /></a>  |
                    <a href='@Url.Action("Details", "EDriver", new { id = item.Id })'><img src="~/Images/details.png" title="Chi tiết" /></a>  |
                    <button style="border:none; background:none" title="Xóa" onclick="DeleteRow('@item.Id')">
                        <img src="~/Images/icons/bin_closed.png" title="Xóa" />|
                    </button>
                    <button style="border:none; background:none" title="Đặt lại mật khẩu" onclick="resetPass('@item.Id')">
                        <img src="~/Images/icons/key.png" title="Đặt lại mật khẩu" />|
                    </button>
                    <button style="border:none; background:none" title="Khóa tài khoản" onclick="Changelock('@item.Id')">
                        <img src="~/Images/icons/lock.png" title="Khóa tài khoản" />|
                    </button>
                    <button style="border:none; background:none" title="Gán xe cho tài xế" onclick="DanhSachXe()">
                        <img src="~/Images/icons/car.png" title="Gán xe cho tài xế" onclick="GetId('@item.Id')" /> |
                    </button>
                    <button style="border:none; background:none" title="Hủy gán xe" @*onclick='HuyGanXe(@item.Id)'*@ id="btnHuyGanXe_@item.Id">
                        <img src="~/Images/icons/drive_delete.png" title="Hủy gán xe" />
                    </button>
                    @*<a href="@Url.Action("ListCarInfo", "EDriver", new { Id = item.Id })"
                        class="modal-link"><img src="~/Images/icons/car.png" title="Gán xe cho tài xế" /></a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Thông báo
                </div>
            </div>

            <div class="modal-body no-padding">
                <div class="row" style="margin: 18px 0px -10px 0px; width:100%">
                    <center><p class="message-content" style="font-weight:bold;color:red" id="message-content"></p></center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Huỷ
                    </button>

                    <button class="btn btn-sm btn-primary pull-center btn-delete" id="btn-delete" data-dismiss="modal">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Đồng ý
                    </button>
                    <button class="btn btn-sm btn-primary pull-center btn-updatestatus" id="btn-huyganxe" data-dismiss="modal">
                        <i class="ace-icon ace-icon fa fa-check"></i>
                        Hủy gán xe
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdflistIdselected" name="hdflistIdselected" value="" />

<div id="listXeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span class="white">&times;</span>
                    </button>
                    Danh sách xe
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-sm-6" style="width:unset;margin-left:30px">Tìm kiếm: @Html.TextBox("SearchString")</div>
                @*<div class="col-sm-3">
                        <span>Hiển thị:</span> @Html.TextBox("pagsiz", ViewBag.PageSize as string, new { style = "width: 50px;height: 33px; border-radius: 4px; margin-bottom:10px" })
                    </div>*@
                <input type="submit" value="Tìm kiếm" class="btn btn-info btn-sm" style="margin: -3px 0px 0px 60px" onclick="DanhSachXe()" id="search" />
            </div>
            <div class="modal-body no-padding">
                <div class="row" id="dvCategoryResults" style="margin: 18px 0px -10px 0px; width:100%">
                    <center>
                        <table id="tblDanhSachXe" border='1' style="margin: 18px 0px 30px 0px; width:90%; font-size:15px" class="wapperpager table table-bordered table-hover dataTable"></table>
                    </center>
                </div>
            </div>

            <div class="modal-footer no-margin-top">
                <center>
                    <button class="btn btn-sm btn-grey pull-center btn-cancel" id="btn-cancel" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        Đóng
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>

<script>
    function LoadCarNotExt(id) {
        sessionStorage.setItem('driverId', id);
        $.ajax({
            type: "GET",
            url: "/EDriver/LoadListCar",
            data: { id: id },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                $('#message-content').html(result);
                $('#myModal').modal('show');

            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
    function GetId(id) {
        var id = id;
        sessionStorage.setItem('id', id);
    };
    function DanhSachXe() {
        var searchString = $("#SearchString").val();
        var id = sessionStorage.getItem('id');
        $.ajax({
            type: "GET",
            url: "/EDriver/ListCarInfo",
            data: {
                id:id,
                searchString: searchString
            },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                var trHTML = '';

                $("#tblDanhSachXe").empty();

                //create table header
                var headertr = $("<thead><tr><th class='center' style='width:30px; display:none'><label class='pos-rel'><input type='checkbox' class='ace cball'><span class='lbl'></span></label> </th><th>Biển số xe</th> <th>Trọng lượng (tấn)</th> <th>Kích thước thùng (m khối)</th> <th></th></tr></thead>");

                //get table id from jquery
                var tableelement = $("#tblDanhSachXe");

                //add header row to table
                tableelement.append(headertr);

                var tbody = $("<tbody>");
                tableelement.append(tbody);

                $.each(result, function (i, item) {

                    trHTML += '<tr onclick="GanXe(' + result[i].Id + ')"> <td style="display:none"><label class="pos-rel" style="display:none"><input type="hidden" id="hdfCarId" class="hdfId" name="hdfCarId" value="' + result[i].Id + '" /></label></td><td>' + result[i].License + '</td> <td>' + result[i].Payload + '</td><td>' + result[i].Leng_Size + 'x' + result[i].Width_Size + 'x' + result[i].Height_Size + '</td> <td><button style="border:none; background:none"><img src="//vantaitoiuu.com/Images/icons/car.png" style="height:30px"/></button></td></tr>';
                });

                tableelement.append(trHTML);
                tbody = $("</tbody>");
                tableelement.append(tbody);

                $('#listXeModal').modal('show');
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
    function GanXe(id) {
        $('#listXeModal').hide();
        var carId = id;
        var driverId = sessionStorage.getItem('id');
        $.ajax({
            type: "GET",
            url: "/EDriver/GetCarToDriver",
            data: {
                carId: carId,
                driverId: driverId
            },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                if (result == "OK") {
                    ShowMessage("Gán xe thành công");
                    setTimeout(function () { $('#myModal').hide(); }, 1500);
                    location.reload();
                }
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
    //function ClickCar(id) {
    //    var carId = $('#' + id).attr('value');
    //    sessionStorage.setItem('id', carId);
    //    $('#message-content button').each(function () {
    //        $(this).addClass('btn-default');
    //        $(this).removeClass('btn-primary');
    //    });
    //};
    //function GanXe() {
    //    var carId = sessionStorage.getItem('id');
    //    var driverId = sessionStorage.getItem('driverId');
    //    $.ajax({
    //        type: "GET",
    //        url: "/EDriver/GetCarToDriver",
    //        data: {
    //            carId: carId,
    //            driverId: driverId
    //        },
    //        dataType: "json",
    //        contentType: 'application/json',
    //        success: function (result) {
    //            if (result == "OK") {
    //                ShowMessage("Gán xe thành công");
    //                setTimeout(function () { $('#myModal').hide(); }, 1500);
    //                location.reload();
    //            }
    //        },
    //        error: function (req, status, error) {
    //            // do something with error
    //        }
    //    });
    //};
    $('#dynamic-table tbody tr td:first-child').each(function () {
        var id = $(this).find('input[type="hidden"][name="hdfId"]').attr('value');
        $('#btnHuyGanXe_' + id).click(function () {
            OpenPopup(id, "Bạn có chắc muốn hủy gán xe", 'huyganxe');
            return false;
        })
    });
    function HuyGanXe(id) {
        //var driverId = sessionStorage.getItem('id');
        $.ajax({
            type: "GET",
            url: "/EDriver/DeleteDriverCar",
            data: {
                driverId: id
            },
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                if (result == "OK") {
                    ShowMessage("Xóa xe đã gán thành công");
                    setTimeout(function () { $('#myModal').hide(); }, 1500);
                    location.reload();
                }
                else if (result == "NOTCAR") {
                    ShowMessage("Tài xế chưa được gán xe");
                    setTimeout(function () { $('#myModal').hide(); }, 1500);
                    location.reload();
                }
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    };
    $(document).ready(function () {
        $('.cball').click(function () {
            if ($('.cball').is(":checked")) {
                $('.cbitem').attr('checked', true);
            } else {
                $(this).attr('checked', false);
                $('.cbitem').attr('checked', false);
            }
        });
    });
    $('#removeselected').click(function () {
        var listId = "";
        var id;
        $('.cbitem').each(function () {
            if ($(this).is(':checked')) {
                id = $(this).parent().find('input[type="hidden"][name="hdfId"]').val();
                listId = listId + id + ",";
            }
        });
        if (listId.length > 0) {
            OpenPopup(listId, "Bạn có chắc muốn xóa các bản ghi tích chọn", 'delete');
        }
        else {
            ShowMessage("Bạn chưa tích chọn bản ghi nào");
        }
    });

    function DeleteRow(Id) {
        OpenPopup(Id, 'Bạn có chắc muốn xóa bản ghi này?', 'delete');
    }

    function ShowMessage(message) {
        $('#message-content').html(message);
        $('#btn-delete').hide();
        $('#btn-huyganxe').hide();
        $('#btn-cancel').hide();
        $('#myModal').modal('toggle');
    }

    function OpenPopup(id, message, type) {
        $('#hdflistIdselected').val(id);
        $('#message-content').html(message);
        if (type == 'delete') {
            $('#btn-delete').show();
            $('#btn-huyganxe').hide();
        }
        if (type == 'huyganxe') {
            $('#btn-delete').hide();
            $('#btn-huyganxe').show();
        }
        $('#btn-cancel').show();
        $('#myModal').modal('toggle');
    }

    $('#btn-delete').click(function () {
        Delete($('#hdflistIdselected').val());
    });

    $('#btn-huyganxe').click(function () {
        HuyGanXe($('#hdflistIdselected').val());
    });

    function resetPass(Id) {
        window.location.href = '@Url.Action("ResetPassword", "EDriver")' + "?id=" + Id;
    }

    function Delete(listId) {
        if (listId.length > 0) {
            $.ajax({
                url: "@Url.Action("DeleteDriver", "EDriver")",
                type: "POST",
                data: { 'listId': listId },
                dataType: 'json',
                success: function (data) {
                    $('#myModal').modal('hide');
                    if (data == 'OK') {
                        ShowMessage("Xóa thành công");
                        setTimeout(function () { $('#myModal').hide(); }, 1500);
                        location.reload();
                    }
                    else if (data == "Error") {
                        ShowMessage("Xóa không thành công");
                        setTimeout(function () { $('#myModal').hide(); }, 1500);
                        location.reload();
                    }
                },
                error: function (node) {
                }
            })
        }
    }

    function Changelock(id) {
        //console.log($(this).val())
        $.ajax({
            url: "@Url.Action("ChangeLockout", "EDriver")",
            type: "POST",
            data: { 'id': id },
            dataType: 'json',
            success: function (data) {
                $('#myModal').modal('hide');
                if (data == 'OK') {
                    ShowMessage("Thay đổi trạng thái thành công");
                    setTimeout(function () { $('#myModal').hide(); }, 5000);
                    location.reload();
                }
            },
            error: function (node) {
            }
        });
    }
</script>

<script type="text/javascript">
    jQuery(function ($) {
        //initiate dataTables plugin
        var oTable1 =
        $('#dynamic-table')
        .dataTable({
            bAutoWidth: false,
            "aoColumns": [
              { "bSortable": false },
              null, null, null, null, null, null, null,null,
              { "bSortable": false }
            ],
            "aaSorting": [],
            "pageLength": 100
        });
        //oTable1.fnAdjustColumnSizing();

        //TableTools settings
        TableTools.classes.container = "btn-group btn-overlap";
        TableTools.classes.print = {
            "body": "DTTT_Print",
            "info": "tableTools-alert gritter-item-wrapper gritter-info gritter-center white",
            "message": "tableTools-print-navbar"
        }

        //initiate TableTools extension
        var tableTools_obj = new $.fn.dataTable.TableTools(oTable1, {
            "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf",

            "sRowSelector": "td:not(:last-child)",
            "sRowSelect": "multi",
            "fnRowSelected": function (row) {
                //check checkbox when row is selected
                try { $(row).find('input[type=checkbox]').get(0).checked = true }
                catch (e) { }
            },
            "fnRowDeselected": function (row) {
                //uncheck checkbox
                try { $(row).find('input[type=checkbox]').get(0).checked = false }
                catch (e) { }
            },
        });
        $(tableTools_obj.fnContainer()).appendTo($('.tableTools-container'));

        setTimeout(function () {
            $(tableTools_obj.fnContainer()).find('a.DTTT_button').each(function () {
                var div = $(this).find('> div');
                if (div.length > 0) div.tooltip({ container: 'body' });
                else $(this).tooltip({ container: 'body' });
            });
        }, 200);

        //ColVis extension
        var colvis = new $.fn.dataTable.ColVis(oTable1, {
            "buttonText": "<i class='fa fa-search'></i>",
            "aiExclude": [0, 6],
            "bShowAll": true,
            //"bRestore": true,
            "sAlign": "right",
            "fnLabel": function (i, title, th) {
                return $(th).text();//remove icons, etc
            }
        });

        //style it
        $(colvis.button()).addClass('btn-group').find('button').addClass('btn btn-white btn-info btn-bold')

        //and append it to our table tools btn-group, also add tooltip
        $(colvis.button())
        .prependTo('.tableTools-container .btn-group')
        .attr('title', 'Show/hide columns').tooltip({ container: 'body' });

        //and make the list, buttons and checkboxed Ace-like
        $(colvis.dom.collection)
        .addClass('dropdown-menu dropdown-light dropdown-caret dropdown-caret-right')
        .find('li').wrapInner('<a href="javascript:void(0)" />') //'A' tag is required for better styling
        .find('input[type=checkbox]').addClass('ace').next().addClass('lbl padding-8');

        //table checkboxes
        $('th input[type=checkbox], td input[type=checkbox]').prop('checked', false);

        //select/deselect all rows according to table header checkbox
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) tableTools_obj.fnSelect(row);
                else tableTools_obj.fnDeselect(row);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var row = $(this).closest('tr').get(0);
            if (!this.checked) tableTools_obj.fnSelect(row);
            else tableTools_obj.fnDeselect($(this).closest('tr').get(0));
        });

        $(document).on('click', '#dynamic-table .dropdown-toggle', function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();
            e.preventDefault();
        });

        //And for the first simple table, which doesn't have TableTools or dataTables
        //select/deselect all rows according to table header checkbox
        var active_class = 'active';
        $('#dynamic-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
            var th_checked = this.checked;//checkbox inside "TH" table header

            $(this).closest('table').find('tbody > tr').each(function () {
                var row = this;
                if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
                else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
            });
        });

        //select/deselect a row when the checkbox is checked/unchecked
        $('#dynamic-table').on('click', 'td input[type=checkbox]', function () {
            var $row = $(this).closest('tr');
            if (this.checked) $row.addClass(active_class);
            else $row.removeClass(active_class);
        });

        /********************************/
        //add tooltip for small view action buttons in dropdown menu
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });

        //tooltip placement on right or left
        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $source.offset();
            //var w2 = $source.width();

            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    })
</script>
