﻿@using Carrier.Utilities
@using CMS.Carrier.Areas.Enterprise.Controllers
@{
    Layout = "~/Areas/Enterprise/Views/Shared/_LayoutACE.cshtml";
    ViewBag.Title = "Index";
    var ctl = (HomeEnterpriseController)this.ViewContext.Controller;
}
@section  HeaderScript{
    <style type="text/css">
        #map-container {
            padding: 6px;
            border-width: 1px;
            border-style: solid;
            border-color: #ccc #ccc #999 #ccc;
            -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
            -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
            box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
            width: 100%;
            height: 100%;
        }

        .map_style {
            width: 100% !important;
            min-height: 480px;
            position: relative;
        }

        #actions {
            list-style: none;
            padding: 0;
        }

        #inline-actions {
            padding-top: 10px;
        }

        .item {
            margin-left: 20px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.img-zoom-in').click(function () {
                $('#map-container').removeClass('openmap');
                $('#map-container').addClass('minimap');
                $('.img-zoom-out').show();
                $('.img-zoom-in').hide();
            });
            $('.img-zoom-out').click(function () {
                $('#map-container').addClass('openmap');
                $('#map-container').removeClass('minimap');
                $('.img-zoom-out').hide();
                $('.img-zoom-in').show();
            });
            var map_height = screen.height - 300;
            $("#map").css({ 'height': map_height });
        });

    </script>


    @*<script src="//maps.googleapis.com/maps/api/js?v=3&amp;&key=AIzaSyDXsXh1Gf_4dvJE0250tZFFAUscS8VuZc4"></script>*@
    <script src="//maps.googleapis.com/maps/api/js?v=3&amp;&key=AIzaSyAgl7iKcAYPfp-qqi2ug-hCkyOS07osR3U"></script>

    @*
        <script src="~/assets/map/markerclusterer.js" type="text/javascript"></script>*@
    @*
        <script src="~/assets/map/data.json" type="text/javascript"></script>*@
}
@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/Enterprise/HomeEnterprise">Trang chủ</a>
        </li>
        <li class="active">
        </li>
    </ul>
    <div class="nav-search" id="nav-search">
        <div @*class="form-search"*@>
            <span class="input-icon">
                <input type="text" onsearch="SearchBienSoXe()" placeholder="Biển số xe ..." class="nav-search-input" id="nav-search-input-biensoxe" autocomplete="on">
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
            <span class="input-icon">
                <input type="text" onsearch="SearchOrder()" placeholder="Mã vận đơn ..." class="nav-search-input" id="nav-search-input" autocomplete="on">
                <i class="ace-icon fa fa-search nav-search-icon"></i>
            </span>
            <select class="chosen-select" data-placeholder="Chọn tỉnh thành" onchange="LoadCity()" id="listCity"></select>
            <input id="btnSearchAdvance" type="button" value="Tìm kiếm" style="color:white;background-color: #6fb3e0!important;border-color: #6fb3e0;" />
        </div>
    </div>
    <div class="pull-right">

    </div>
}
<div id="map-container">
    <div id="map" class="map_style"></div>
</div>
@*<div id="inline-actions" style="text-align:right">
        <span>
            Mức độ zoom:
            <select id="zoom">
                <option value="-1">Mặc định</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
            </select>
        </span>
        <span class="item">
            Số lượng hiển thị:
            <select id="size">
                <option value="-1">Mặc định</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="70">70</option>
                <option value="80">80</option>
            </select>
        </span>
        <input id="refresh" type="button" value="Làm mới Map" onclick="refreshMapView()" class="item btn btn-info btn-sm" />
    </div>*@

@*<img src="/assets/map/images/logistics-delivery-truck-in-movement-black.png" id="img123" />*@
@*
    <script type="text/javascript" src="http://cdn.sobekrepository.org/includes/jquery-rotate/2.2/jquery-rotate.min.js"></script>*@
<script>
    $(document).ready(function () {
        LoadListCity();
        $("#map").height($(window).height() - 200).width($(window).width());
    });
    function LoadListCity() {
        $.ajax({
            type: "GET",
            url: "/HomeEnterprise/LoadListCity",
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                $('#listCity').html(' <option value="-1">---Tỉnh thành---</option>' + result);
            },
            error: function (req, status, error) {
                // do something with error
            }
        });
    }
</script>
@section ScriptsBottom{
    <script type="text/javascript">
        var styles = [[{
            url: '~/assets/map/images/people35.png',
            width: 35,
            height: 35,
            textColor: '#ff00ff',
            textSize: 10
        }, {
            url: '~/assets/map/images/people45.png',
            width: 45,
            height: 45,
            textColor: '#ff0000',
            textSize: 11
        }, {
            url: '~/assets/map/images/people55.png',
            width: 55,
            height: 55,
            textColor: '#ffffff',
            textSize: 12
        }], [{
            url: '~/assets/map/images/conv30.png',
            width: 30,
            height: 27,
            anchorText: [-3, 0],
            anchorIcon: [27, 28],
            textColor: '#ff00ff',
            textSize: 10
        }, {
            url: '~/assets/map/images/conv40.png',
            width: 40,
            height: 36,
            anchorText: [-4, 0],
            anchorIcon: [36, 37],
            textColor: '#ff0000',
            textSize: 11
        }, {
            url: '~/assets/map/images/conv50.png',
            width: 50,
            height: 45,
            anchorText: [-5, 0],
            anchorIcon: [45, 46],
            textColor: '#0000ff',
            textSize: 12
        }], [{
            url: '~/assets/map/images/heart30.png',
            width: 30,
            height: 26,
            anchorIcon: [26, 15],
            textColor: '#ff00ff',
            textSize: 10
        }, {
            url: '~/assets/map/images/heart40.png',
            width: 40,
            height: 35,
            anchorIcon: [35, 20],
            textColor: '#ff0000',
            textSize: 11
        }, {
            url: '~/assets/map/images/heart50.png',
            width: 50,
            height: 44,
            anchorIcon: [44, 25],
            textSize: 12
        }]];

        var markerClusterer = null;
        var map = null;
        var markers = [];
        google.maps.event.addDomListener(window, 'load', initialize);
        //google.maps.event.addDomListener(window, "resize", function() {
        //    var center = map.getCenter();
        //    google.maps.event.trigger(map, "resize");
        //    map.setCenter(center);
        //});

        //google.maps.event.addDomListener(window, 'resize', initialize);

        function loadData() {
            var orderCode = $('#nav-search-input').val();
            var bsxCode = $('#nav-search-input-biensoxe').val();
            $.ajax({
                type: "GET",
                url: "/Enterprise/HomeEnterprise/SearchDriver",
                data: {orderCode: orderCode , bsxCode: bsxCode },
                dataType: "json",
                contentType: 'application/json',
                success: function (result) {
                    var jsonData = JSON.parse(JSON.stringify(result));
                    refreshMap(jsonData);
                },
                error: function (req, status, error) {
                    // do something with error
                }
            });
        }
        function refreshMap(data) {
            //debugger
            if (markerClusterer) {
                markerClusterer.clearMarkers();
            }
            for (var i = 0; i < data.count; ++i) {
                var latitude = data.drivers[i].Lat;
                var longitude = data.drivers[i].Lng;
                var latLng = new google.maps.LatLng(latitude,
                    longitude)
                var markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-black.png",new google.maps.Size(11, 33));
                if(data.drivers[i].MaVanDon){
                    if(data.drivers[i].Status == 1){
                        // Tai xe da co don hang (dang cho chay hoac dang van chuyen)
                        markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-blue.png",new google.maps.Size(11, 33));
                    }
                }
                else{
                    if(data.drivers[i].Status == 1){
                        markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-yellow.png",new google.maps.Size(11, 33));
                    }
                }
                //console.log("before:"+latitude +'-'+ longitude + '-'+ latLng) ;

                var marker = new google.maps.Marker({
                    id: data.drivers[i].DriverId,
                    position: latLng,
                    icon: markerImage,
                    map: map,
                    animation: google.maps.Animation.DROP,
                });
                var contentString = "";
                if(data.drivers[i].MaVanDon){
                    var strStatus = data.drivers[i].Status == 1?"Đã nhận đơn" :"Đang chở hàng"
                    contentString = '<div class="content">'+
                                     '<h3>'+data.drivers[i].DriverName+' </h3>'+
                                     '<p><span>BKS: </span>'+'<span>'+data.drivers[i].License+'</span></p>'+
                                     '<p><span>Tải trọng (tấn): </span>'+'<span>'+data.drivers[i].Payload+'</span></p>'+
                                     '<p><span>Kích thước thùng: </span>'+'<span>'+data.drivers[i].Leng_Size +' x '+data.drivers[i].Width_Size+' x '+data.drivers[i].Height_Size +'</span></p>'+
                                     '<p><span>Điện thoại: </span>'+'<span>'+data.drivers[i].DriverPhone+'</span></p>'+
                                     '<p><span>Trạng thái: </span>'+'<span>'+strStatus+'</span></p>'+
                                     '<p><span>CheckIn lần cuối: </span>'+'<span>'+data.drivers[i].Last_Updated+'</span></p>'+
                                     '<h3>Đơn hàng '+data.drivers[i].MaVanDon+'</h3>'+
                                     '<p>Liên hệ: '+data.drivers[i].DienThoaiLienHe+'</p>'+
                                     '<p>Thời gian đi: '+data.drivers[i].ThoiGianDi+'</p>'+
                                     '<p>Thời gian trả hàng: '+data.drivers[i].ThoiGianDen+'</p></div>';
                }
                else{

                    var strStatus = data.drivers[i].Status == 1?"Chờ nhận đơn" :"Offline"
                    contentString =  '<div class="content">'+
                                     '<h3>'+data.drivers[i].DriverName+' </h3>'+
                                     '<p><span>BKS: </span>'+'<span>'+data.drivers[i].License+'</span></p>'+
                                     '<p><span>Tải trọng (tấn): </span>'+'<span>'+data.drivers[i].Payload+'</span></p>'+
                                     '<p><span>Kích thước thùng: </span>'+'<span>'+data.drivers[i].Leng_Size +' x '+data.drivers[i].Width_Size+' x '+data.drivers[i].Height_Size +'</span></p>'+
                                     '<p><span>Điện thoại: </span>'+'<span>'+data.drivers[i].DriverPhone+'</span></p>'+
                                     '<p><span>Trạng thái: </span>'+'<span>'+strStatus+'</span></p>'+
                                     '<p><span>CheckIn lần cuối: </span>'+'<span>'+data.drivers[i].Last_Updated+'</span></p></div>';
                }
                var infowindow = new google.maps.InfoWindow()
                var isForwarder = '@User.IsInRole(PublicConstant.ROLE_FORWARDER)';
                var organizationId = parseFloat(@ViewBag.OrganizationId);
                //debugger
                if(isForwarder == 'False'){
                    google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){
                        return function() {
                            infowindow.setContent(contentString);
                            infowindow.open(map,marker);
                        };
                    })(marker,contentString,infowindow));
                }
                else {
                    if (data.drivers[i].OrganizationId == organizationId) {
                        google.maps.event.addListener(marker,'click', (function(marker,contentString,infowindow){
                            return function() {
                                infowindow.setContent(contentString);
                                infowindow.open(map,marker);
                            };
                        })(marker,contentString,infowindow));
                    }
                }

                markers.push(marker);
            }
            //console.log(markers);
            //var zoom = parseInt(document.getElementById('zoom').value, 10);
            //var size = parseInt(document.getElementById('size').value, 10);
            //var style = parseInt(document.getElementById('style').value, 10);
            //zoom = zoom == -1 ? null : zoom;
            //size = size == -1 ? null : size;
            //style = style == -1 ? null : style;

            //markerClusterer = new MarkerClusterer(map, markers, {
            //    maxZoom: zoom,
            //    gridSize: size,
            //    styles: styles[style]
            //});
        }

        function initialize() {
            var lat = parseFloat(@ViewBag.Lat);
            var lng = parseFloat(@ViewBag.Lng);
            if ("@ViewBag.Lat" == "" && "@ViewBag.Lng" == "") {
                lat = parseFloat(21.027764);
                lng = parseFloat(105.834160);
            }
            var bounds = new google.maps.LatLngBounds(new google.maps.LatLng(23.448439, 101.984253),
                            new google.maps.LatLng(7.694997, 110.180053));

            //var zoom = parseInt(document.getElementById('zoom').value, 10);
            //console.log(zoom);
            //if(zoom =-1){
            //    zoom = 12;
            //}
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 10,
                //center: bounds.getCenter(),
                center: { lat: lat, lng: lng },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var refresh = document.getElementById('refresh');
            //google.maps.event.addDomListener(refresh, 'click', refreshMap);

            //var clear = document.getElementById('clear');
            //google.maps.event.addDomListener(clear, 'click', clearClusters);
            loadData();
            //refreshMap();
        }
        function refreshMapView(){
            initialize();
        }
        function clearClusters(e) {
            e.preventDefault();
            e.stopPropagation();
            markerClusterer.clearMarkers();
        }
        function LoadCity() {
            var addressValue = $("#listCity").val();
            var address='';
            if (addressValue == null) {
                address = 'Hà Nội, Việt Nam';
            } else {
                address = addressValue + ', Việt Nam';
            }
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({
                'address': address
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var Lat = results[0].geometry.location.lat();
                    var Lng = results[0].geometry.location.lng();
                    var latLng = new google.maps.LatLng(Lat,Lng)
                    map.setCenter(new google.maps.LatLng(Lat,Lng));
                    map.setZoom(9);
                } else {
                    alert("Không tìm thấy vị trí" + status);
                }
            });
        }
        function SearchOrder() {
            var orderCode = $('#nav-search-input').val();
            var bsxCode ="";
            $.ajax({
                url: "/Enterprise/HomeEnterprise/SearchDriver",
                type: "GET",
                data: { orderCode:orderCode , bsxCode:bsxCode },
                dataType: "json",
                contentType: 'application/json',
                success: function (result) {
                    var data = JSON.parse(JSON.stringify(result));
                    console.log(data);
                    var lat =  data.drivers[0].Lat;
                    var lng =  data.drivers[0].Lng;
                    var latLng = new google.maps.LatLng(lat,
                    lng);
                    map.setCenter(new google.maps.LatLng(lat,lng));
                    map.setZoom(13);
                    var marker = markers.filter(function (obj) {
                        return obj.id == data.drivers[0].DriverId;
                    });
                    marker.addListener('click', function () {
                        infowindow.open(map, marker);
                    });
                    new google.maps.event.trigger(marker, 'click');                    //infowindow.open(map, marker);
                    //var strStatus = data.drivers[0].Status == 1?"Đã nhận đơn" :"Đang chở hàng"
                    //contentString = '<div class="content">' +
                    //    '<h3>' + data.drivers[0].DriverName + ' </h3>' +
                    //    '<p><span>BKS: </span>' + '<span>' + data.drivers[0].License + '</span></p>' +
                    //    '<p><span>Tải trọng (tấn): </span>'+'<span>'+data.drivers[0].Payload+'</span></p>'+
                    //    '<p><span>Kích thước thùng: </span>'+'<span>'+data.drivers[0].Leng_Size +' x '+data.drivers[0].Width_Size+' x '+data.drivers[0].Height_Size +'</span></p>'+
                    //    '<p><span>Điện thoại: </span>' + '<span>' + data.drivers[0].DriverPhone + '</span></p>' +
                    //    '<p><span>Trạng thái: </span>' + '<span>' + strStatus + '</span></p>' +
                    //    '<p><span>CheckIn lần cuối: </span>' + '<span>' + data.drivers[0].Last_Updated + '</span></p>' +
                    //    '<h3>Đơn hàng ' + data.drivers[0].MaVanDon + '</h3>' +
                    //    '<p>Liên hệ: ' + data.drivers[0].DienThoaiLienHe + '</p>' +
                    //    '<p>Thời gian đi: ' + data.drivers[0].ThoiGianDi + '</p>' +
                    //    '<p>Thời gian trả hàng: ' + data.drivers[0].ThoiGianDen + '</p></div>';

                    //var infowindow = new google.maps.InfoWindow({
                    //    content: contentString
                    //});
                    //infowindow.open(map, marker);
                },
                error: function (req, status, error) {
                    // do something with error
                }
            });
        }


        function SearchBienSoXe() {
            var bsxCode = $('#nav-search-input-biensoxe').val();
            var orderCode = "";
            $.ajax({
                url: "/Enterprise/HomeEnterprise/SearchDriver",
                type: "GET",
                data: { orderCode:orderCode, bsxCode:bsxCode },
                dataType: "json",
                contentType: 'application/json',
                success: function (result) {
                    var data = JSON.parse(JSON.stringify(result));
                    console.log(data);
                    var lat =  data.drivers[0].Lat;
                    var lng =  data.drivers[0].Lng;
                    var latLng = new google.maps.LatLng(lat,
                    lng);
                    map.setCenter(new google.maps.LatLng(lat,lng));
                    map.setZoom(13);
					var marker2;
                    var marker = markers.filter(function( obj ) {
						if(obj.id == data.drivers[0].DriverId)
						{
							marker2 = obj;
						}
                        return obj.id == data.drivers[0].DriverId;
                    });

                    var contentString = "";
                    if (data.drivers[0].MaVanDon) {
                        var strStatus = data.drivers[0].Status == 1 ? "Đã nhận đơn" : "Đang chở hàng"
                        contentString = '<div class="content">' +
                                         '<h3>' + data.drivers[0].DriverName + ' </h3>' +
                                         '<p><span>BKS: </span>' + '<span>' + data.drivers[0].License + '</span></p>' +
                                         '<p><span>Tải trọng (tấn): </span>' + '<span>' + data.drivers[0].Payload + '</span></p>' +
                                         '<p><span>Kích thước thùng: </span>' + '<span>' + data.drivers[0].Leng_Size + ' x ' + data.drivers[0].Width_Size + ' x ' + data.drivers[0].Height_Size + '</span></p>' +
                                         '<p><span>Điện thoại: </span>' + '<span>' + data.drivers[0].DriverPhone + '</span></p>' +
                                         '<p><span>Trạng thái: </span>' + '<span>' + strStatus + '</span></p>' +
                                         '<p><span>CheckIn lần cuối: </span>' + '<span>' + data.drivers[0].Last_Updated + '</span></p>' +
                                         '<h3>Đơn hàng ' + data.drivers[0].MaVanDon + '</h3>' +
                                         '<p>Liên hệ: ' + data.drivers[0].DienThoaiLienHe + '</p>' +
                                         '<p>Thời gian đi: ' + data.drivers[0].ThoiGianDi + '</p>' +
                                         '<p>Thời gian trả hàng: ' + data.drivers[0].ThoiGianDen + '</p></div>';
                    }
                    else {

                        var strStatus = data.drivers[0].Status == 1 ? "Chờ nhận đơn" : "Offline"
                        contentString = '<div class="content">' +
                                         '<h3>' + data.drivers[0].DriverName + ' </h3>' +
                                         '<p><span>BKS: </span>' + '<span>' + data.drivers[0].License + '</span></p>' +
                                         '<p><span>Tải trọng (tấn): </span>' + '<span>' + data.drivers[0].Payload + '</span></p>' +
                                         '<p><span>Kích thước thùng: </span>' + '<span>' + data.drivers[0].Leng_Size + ' x ' + data.drivers[0].Width_Size + ' x ' + data.drivers[0].Height_Size + '</span></p>' +
                                         '<p><span>Điện thoại: </span>' + '<span>' + data.drivers[0].DriverPhone + '</span></p>' +
                                         '<p><span>Trạng thái: </span>' + '<span>' + strStatus + '</span></p>' +
                                         '<p><span>CheckIn lần cuối: </span>' + '<span>' + data.drivers[0].Last_Updated + '</span></p></div>';
                    }

                    var infowindow = new google.maps.InfoWindow();
                    infowindow.setContent(contentString);
					infowindow.open(map, marker2);
                    marker2.addListener('click', function () {
                        infowindow.open(map, marker2);
                    });
                    new google.maps.event.trigger(marker, 'click');


                    marker2.showInfoWindow();
                },
                error: function (req, status, error) {
                    // do something with error
                }
            });
        }


        var geo = {

            bearing: function (lat1, lng1, lat2, lng2) {
                var dLon = this._toRad(lng2 - lng1);
                var y = Math.sin(dLon) * Math.cos(this._toRad(lat2));
                var x = Math.cos(this._toRad(lat1)) * Math.sin(this._toRad(lat2)) - Math.sin(this._toRad(lat1)) * Math.cos(this._toRad(lat2)) * Math.cos(dLon);
                var brng = this._toDeg(Math.atan2(y, x));
                return ((brng + 360) % 360);
            },


            _toRad: function (deg) {
                return deg * Math.PI / 180;
            },


            _toDeg: function (rad) {
                return rad * 180 / Math.PI;
            },
        };
        var RotateIcon = function (options) {
            this.options = options || {};
            this.rImg = options.img || new Image();
            this.rImg.src = this.rImg.src || this.options.url || '';
            //this.options.width = this.options.width || this.rImg.width || 52;
            //this.options.height = this.options.height || this.rImg.height || 60;
			this.options.width = 33;
            this.options.height = 33;
            var canvas = document.createElement("canvas");
            canvas.setAttribute("id", "canvas" + this.options.id);
            //canvas.width = this.options.width;
            //canvas.height = this.options.height;
            canvas.width = 48;
            canvas.height = 40;

			this.context = canvas.getContext("2d");
            this.canvas = canvas;
        };
        RotateIcon.makeIcon = function (url, id) {
            return new RotateIcon({ url: url, id: id });
        };
        RotateIcon.prototype.setRotation = function (options) {
            var canvas = this.context,
                angle = options.deg ? options.deg * Math.PI / 180 :
                    options.rad,
                centerX = this.options.width / 2,
                centerY = this.options.height / 2;

            canvas.clearRect(0, 0, this.options.width, this.options.height);
            canvas.save();
            canvas.translate(centerX, centerY);
            canvas.rotate(angle);
            canvas.translate(-centerX, -centerY);
            canvas.drawImage(this.rImg, 0, 0);
            canvas.restore();
            return this;
        };
        RotateIcon.prototype.getUrl = function () {
            return this.canvas.toDataURL('image/png');
        };
        //var oldLat = 0.001;
        //var oldLng = 0.001;
        // var btest =1;
        var rad = function(x) {
            return x * Math.PI / 180;
        };

        var getDistance = function(lat1,lng1, lat2,lng2) {
            var R = 6378137; // Earth’s mean radius in meter
            var dLat = rad(lat2 - lat1);
            var dLong = rad(lng2 - lng1);
            var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
              Math.cos(rad(lat1)) * Math.cos(rad(lat2)) *
              Math.sin(dLong / 2) * Math.sin(dLong / 2);
            var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            var d = R * c;
            return d; // returns the distance in meter
        };
        function updateMarker(dr) {
            for (i = 0; i < markers.length; i++) {

                var marker = markers[i];
                var lat = dr.Lat;// + oldLat;
                var lng = dr.Lng;// + oldLng;
                //alert(lat +'-'+ lng) ;
                var latLng = new google.maps.LatLng(lat, lng);
                var _angle = geo.bearing(marker.getPosition().lat(), marker.getPosition().lng(), dr.Lat, dr.Lng);
                var myicon = RotateIcon
                    .makeIcon(
                    '/assets/map/images/logistics-delivery-truck-in-movement-black.png', i)
                    .setRotation({ deg: _angle + 225 })
                    .getUrl();
                markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-black.png",new google.maps.Size(11, 33));
                if (marker.id == dr.UserId) {
                    if (dr.Status == 0) {

                        _angle = geo.bearing(marker.getPosition().lat(), marker.getPosition().lng(), lat, lng);
                        //if(getDistance(marker.getPosition().lat(), marker.getPosition().lng(), lat, lng)<5) {_angle=-255;}
                        myicon = RotateIcon
                            .makeIcon(
                            '/assets/map/images/logistics-delivery-truck-in-movement-black.png', i)
                            .setRotation({ deg: _angle + 225 })
                            .getUrl();
                        // Tai xe tat chuc nang checkIn location
                        markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-black.png",new google.maps.Size(11, 33));
                    }
                    else if (dr.Status == 1) {
                        _angle = geo.bearing(marker.getPosition().lat(), marker.getPosition().lng(), lat, lng);
                        //if(getDistance(marker.getPosition().lat(), marker.getPosition().lng(), lat, lng)<5) {_angle=-135;}
                        myicon = RotateIcon
                            .makeIcon(
                            '/assets/map/images/logistics-delivery-truck-in-movement-yellow.png', i)
                            .setRotation({ deg: _angle + 135 })
                            .getUrl();
                        markerImage = new google.maps.MarkerImage("/assets/map/images/logistics-delivery-truck-in-movement-yellow.png",new google.maps.Size(11, 33));
                    }

                    marker.setPosition(latLng);
                    marker.setIcon(myicon);

                    //oldLng = oldLng + 0.001;
                    //oldLng = oldLng+ 0.001;
                }
            }

            console.log('updating markers');
        }

        $.support.cors = true;
    var connection = $.hubConnection('https://api.vantaitoiuu.com');
    //var connection = $.hubConnection('http://localhost:23169/');
        connection.qs = { 'UserId': '@ctl.UserId' }; //Fake UserId,Need change CurrentUserId Login
        var hubProxy = connection.createHubProxy('CarrierMonitor');
        hubProxy.on('ReceivedData', function (message) {
            //Driver object
            console.log(message);
            updateMarker(message)
        });
        hubProxy.on('updateDriver',function(message){
            console.log('update driver:' + message);
            updateMarker(message)
        });
        connection.start()
            .done(function () {
                console.log('Now connected, connection ID=' + connection.id);
            })
            .fail(function () {
                console.log('Could not connect');
            });
        connection.disconnected(function() {
            setTimeout(function() {
                connection.start();
            }, 5000); // Restart connection after 5 seconds.you can set the time based your requirement
        });

    </script>
}