﻿@using Microsoft.AspNet.Identity;
@using Carrier.Utilities;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HỆ THỐNG QUẢN LÝ KHỚP LỆNH VẬN TẢI</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/x-icon" href="~/Images/icon_carrier.png">
    @RenderSection("scripts", required: false)
    <script src="~/assets/js/jquery-1.10.0.min.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/scripts/toastr.js"></script>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/assets/fonts/fonts.googleapis.com.css" />
    <!-- ace styles -->
    <link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <script src="~/assets/js/ace-extra.min.js"></script>
    @RenderSection("HeaderScript", required: false)
    <title>@ViewBag.Title</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114665599-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-114665599-1');
    </script>
    <style>
        .footer{
            padding-top: 155px !important;
        }
    </style>
</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>
        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header pull-left">
                <a href="@Url.Action("Index", "HomeEnterprise" )" class="navbar-brand">
                    <small>
                        <img src="~/Images/icon_carrier.png" width="30" height="30" />
                        Carrier System <span style="font-size: small">1.0</span>
                    </small>
                </a>
                <p></p>
            </div>
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav ace-nav">
                            @if (User.IsInRole(PublicConstant.ROLE_ENTERPRISE))
                            {
                                <li class="grey notification-icon" id="divMessageOrderNew">
                                </li>
                                @*<li class="grey notification-icon" id="divOrdertrackingOfEnterpriseNew">
                                </li>*@
                                <li class="grey notification-icon" id="divMessageNewOrderFromForwarder">
                                </li>

                            }
                            else if (User.IsInRole(PublicConstant.ROLE_FORWARDER))
                            {
                                <li class="green notification-icon" id="divMessageOrderNewRun">
                                </li>
                                <li class="yellow notification-icon" id="divMessageOrderNewFinish">
                                </li>
                                <li class="red notification-icon" id="divMessageOrderExpired">
                                </li>
                            }

                            <li class="purple notification-icon" id="divMessageNotificationNew">
                            </li>
                            <li class="grey notification-icon" id="divReportSOS">

                            </li>
                            <li class="light-blue">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <img class="nav-user-photo" src="~/assets/avatars/user.jpg" alt="@User.Identity.Name" />
                                    <span class="user-info">
                                        <small>Xin chào ,</small>
                                        @User.Identity.Name
                                    </span>
                                    <i class="ace-icon fa fa-caret-down logout-btn"></i>
                                </a>
                                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li>
                                        @*<a href="@Url.Action(" Index", "Manage" )">
                                        *@
                                        <a href="@Url.Action("CapNhatProfile","EProfile")">
                                            <i class="ace-icon fa fa-user"></i>
                                            Tài khoản
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        @*<a href="javascript:document.getElementById('logoutForm').submit()">
                                        *@
                                        <a href="/Account/Logoff">
                                            <i class="ace-icon fa fa-power-off"></i>
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <!-- /.navbar-container -->
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
        </script>
        <div id="sidebar" class="sidebar                  responsive">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-info" title="Thêm mới vận đơn" onclick="location.href='@Url.Action("Create","EOrder")'">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>
                    @if (User.IsInRole(Carrier.Utilities.PublicConstant.ROLE_ENTERPRISE))
                    {
                        <button class="btn btn-success" title="Thống kê vận đơn" onclick="location.href='@Url.Action("Index", "EOrderStatic" )'">
                            <i class="ace-icon fa fa-pie-chart"></i>
                        </button>
                        <button class="btn btn-warning" title="Thêm mới tài xế" onclick="location.href='@Url.Action("Create", "EDriver" )'">
                            <i class="ace-icon fa fa-users"></i>
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-warning" title="Khớp lệnh" onclick="location.href='@Url.Action("Index", "EChoKhopLenh" )'">
                            <i class="ace-icon fa fa-exchange"></i>
                        </button>
                        <button class="btn btn-success" title="Thống kê vận đơn" onclick="location.href='@Url.Action("Index", "EOrderStatic" )'">
                            <i class="ace-icon fa fa-pie-chart"></i>
                        </button>
                    }
                    <button class="btn btn-danger setttingsystem" title="Cấu hình hệ thống" @*onclick="location.href='@Url.Action(" Create", "User" )'"*@>
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>
                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>
                    <span class="btn btn-info"></span>
                    <span class="btn btn-warning"></span>
                    <span class="btn btn-danger"></span>
                </div>
            </div>
            <!-- /.sidebar-shortcuts -->
            <ul class='nav nav-list' id='main_menu'>
                <li class="active" id='EOrder'>
                    <a href='@Url.Action("Index","EOrder")' class="dropdown-toggle">
                        <i class='menu-icon fa fa-pencil-square-o'></i>
                        <span class='menu-text'>
                            Quản lý Vận đơn
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="" id='EOrder'>
                            <a href="@Url.Action("Index","EOrder")">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Danh sách vận đơn
                            </a>
                        </li>
                        @*<li class="" id='Indexs'>
                        <a href="@Url.Action("Indexs","EOrder")">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Vận đơn nhiều xe
                        </a>
                    </li>*@
                        <li class="" id='EOrder_Create'>
                            <a href='@Url.Action("Create","EOrder")'>
                                <i class="menu-icon fa fa-caret-right"></i>
                                Thêm mới vận đơn
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                <li class='' id='EKhopLenh'>
                    <a href='@Url.Action("Index", "EChoKhopLenh")' class="dropdown-toggle">
                        <i class='menu-icon fa fa-exchange'></i>
                        <span class='menu-text'>
                            Quản lý khớp lệnh
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="" id="EChoKhopLenh">
                            <a href="@Url.Action("Index","EChoKhopLenh")">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Vận đơn đang khớp lệnh
                            </a>
                        </li>
                        <li class="" id="EDaKhopLenh">
                            <a href='@Url.Action("Index","EDaKhopLenh")'>
                                <i class="menu-icon fa fa-caret-right"></i>
                                Đã khớp lệnh
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="" id="EKetThuc">
                            <a href='@Url.Action("Index","EKetThuc")'>
                                <i class="menu-icon fa fa-caret-right"></i>
                                Kết thúc
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                @if (User.IsInRole(Carrier.Utilities.PublicConstant.ROLE_ENTERPRISE))
                {
                    <li class='' id='ECar'>
                        <a href='@Url.Action("Index", "ECar")' class="dropdown-toggle">
                            <i class='menu-icon fa fa-car'></i>
                            <span class='menu-text'>
                                Quản lý xe
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="" id='ECar'>
                                <a href="@Url.Action("Index","ECar")">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Danh sách xe
                                </a>
                            </li>
                            <li class="" id='ECar_Create'>
                                <a href='@Url.Action("Create","ECar")'>
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Thêm mới xe
                                </a>
                                <b class="arrow"></b>
                            </li>
                            @*<li class="" id='ECar_Create'>
                            <a href='@Url.Action("Index","EDriverCar")'>
                                <i class="menu-icon fa fa-caret-right"></i>
                                Gán xe cho tài xế
                            </a>

                            <b class="arrow"></b>
                        </li>*@
                        </ul>
                    </li>

                    <li class='' id='EDriver'>
                        <a href='@Url.Action("Index", "EDriver")' class="dropdown-toggle">
                            <i class='menu-icon fa fa-users'></i>
                            <span class='menu-text'>
                                Quản lý tài xế
                            </span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="" id='EDriver'>
                                <a href='@Url.Action("Index", "EDriver")'>
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Danh sách tài xế
                                </a>
                            </li>
                            <li class="" id='EDriver_Create'>
                                <a href='@Url.Action("Create", "EDriver")'>
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Thêm mới tài xế
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }

                <li class='' id='EOrderStatic'>
                    <a href='@Url.Action("Index", "EOrderStatic")' class="dropdown-toggle">
                        <i class='menu-icon fa fa-tachometer'>
                        </i>
                        <span class='menu-text'>
                            Báo cáo và thống kê
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="" id='EBaoCaoTongHop'>
                            <a href="@Url.Action("Index","EOrderStatic")">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Thống kê cước vận chuyển
                            </a>
                        </li>
                        <li class="" id='EBaoCaoTongHop'>
                            <a href="@Url.Action("Index","EBaoCaoTongHop")">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Báo cáo tổng hợp
                            </a>
                        </li>
                        @if (User.IsInRole(Carrier.Utilities.PublicConstant.ROLE_ENTERPRISE))
                        {
                            <li class="" id='BaoCaoDoanhThu'>
                                <a href='@Url.Action("BaoCaoDoanhThu", "EBaoCaoTongHop")'>
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Báo cáo doanh thu
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                    </ul>
                </li>
                <li class='' id='EReportSOS_Create'>
                    <a href='@Url.Action("Index", "EReportSOS")'>
                        <i class='menu-icon fa fa-user'></i>
                        <span class='menu-text'>
                            Cảnh báo hỏng xe
                        </span>
                    </a>
                </li>
                @if (User.IsInRole(Carrier.Utilities.PublicConstant.ROLE_ENTERPRISE))
                {
                    <li class='' id='EDevicesPush_Create'>
                        <a href='@Url.Action("Index", "EDevicesPush")'>
                            <i class='menu-icon fa fa-envelope'></i>
                            <span class='menu-text'>
                                Gửi thông báo
                            </span>
                        </a>
                    </li>
                }
                <li class='' id='EExtension'>
                    <a href='@Url.Action("CapNhatProfile","EProfile")' class="dropdown-toggle">
                        <i class='menu-icon fa fa-tag'></i>
                        <span class='menu-text'>
                            Mở rộng
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="" id='CapNhatProfile'>
                            <a href="@Url.Action("CapNhatProfile","EProfile")">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Thông tin tài khoản
                            </a>
                        </li>
                        @if (User.IsInRole(Carrier.Utilities.PublicConstant.ROLE_ENTERPRISE))
                        {
                            <li class="" id='EHelp'>
                                <a href="~/Content/Policies/Hướng dẫn sử dụng cho Doanh nghiệp  vận tải.pdf" target="_blank">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Hướng dẫn sử dụng
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Carrier.Utilities.PublicConstant.ROLE_FORWARDER))
                        {
                            <li class="" id='EHelp'>
                                <a href="~/Content/Policies/Hướng dẫn sử dụng cho Khách hàng.pdf" target="_blank">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    Hướng dẫn sử dụng
                                </a>
                            </li>
                        }
                        <li class="" id='EHelp'>
                            @*<a href="@Url.Action("Index","EPolicies")">*@
                            <a href="~/Content/Policies/Quy chế hoạt động của Carrier.pdf" target="_blank">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Quy định và chính sách
                            </a>
                        </li>
                        <li class="" id='EHelp'>
                            <a href="https://vantaitoiuu.com/Home/About">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Về Carrier
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-list -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
                   data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>
                    @RenderSection("BreadCrumb", required: false)
                    <!-- /.nav-search -->
                </div>
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            @RenderBody()
                        </div>
                        @*<div class="row">
                            <div class="col-md-12">
                                <div id="messagesTable"></div>
                            </div>
                        </div>*@
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">HỆ THỐNG QUẢN LÝ VÀ KHỚP LỆNH CARRIER</span>
                       &copy; Copyright @Html.Raw("@")2018 by Carrier Technology
                    </span>
                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>
                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>
                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
    @*<audio src="~/assets/audio/htc_reactive.mp3" autostart="false" width="0" height="0" id="audio" />*@
    <script type="text/javascript">
        var arrayGoogleMapAPIkey = ["AIzaSyCsLVOjL7LNgcQGsYOvKPOVZSKsa6EnpRQ", "AIzaSyCARfHAFgolXR9E9UeyhagoHbiIGYJ_-BA", "AIzaSyA7M707k10-GilO-n5v0XXd5DU35lvXDWo",
            "AIzaSyAXERtjOd_62dRzzFW_pkWisvelbj8-dow", "AIzaSyD8rWL1vLSsISFmz7PsiNKhIBttOjMDswg", "AIzaSyBfDanw4xVAj_pLahkFEsjbKqyl4jdWqb4", "AIzaSyAt7iM_2g_VlIGtUAJG2O-OIlxLXTazfEs",
            "AIzaSyB1Nd0PSoUIJJf0Nux81R7U6P-EThk9_TM", /*"AIzaSyC37-uMdx6yVThHedX9Q8NXlknKOFOxbLA"*/
        ];
        var randomKey = arrayGoogleMapAPIkey[Math.floor(Math.random() * arrayGoogleMapAPIkey.length)];

        console.log('key: ' + randomKey);
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.id = 'scriptgmap';
        script.src = 'https://maps.googleapis.com/maps/api/js?key=' + randomKey + '&libraries=places';
        script.async = true;
        script.defer = true;

        $('#scriptgmap').remove();
        document.head.appendChild(script);
        window.jQuery || document.write("<script src='/assets/js/jquery.min.js'>" + "<" + "/script>");
    </script>
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-ui.custom.min.js"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.sparkline.min.js"></script>
    <script src="~/assets/js/jquery.flot.min.js"></script>
    <script src="~/assets/js/jquery.flot.pie.min.js"></script>
    <script src="~/assets/js/jquery.flot.resize.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/assets/js/chosen.jquery.min.js"></script>
    <script src="~/assets/js/fuelux.spinner.min.js"></script>
    <!-- ace scripts -->
    <!-- page specific plugin scripts pageing sorting -->
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/dataTables.colVis.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/dropzone.min.js"></script>
    <script src="~/assets/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/assets/js/jquery.hotkeys.min.js"></script>

    @*<script src="~/assets/js/bootstrap.min.js"></script> 28/11*@
    <!-- page specific plugin scripts -->
    <script src="~/assets/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/buttons.flash.min.js"></script>
    <script src="~/assets/js/buttons.html5.min.js"></script>
    <script src="~/assets/js/buttons.print.min.js"></script>
    <script src="~/assets/js/buttons.colVis.min.js"></script>
    <script src="~/assets/js/dataTables.select.min.js"></script>
    <!-- ace scripts -->
    <script src="~/assets/js/ace-elements.min.js"></script>
    <script src="~/assets/js/ace.min.js"></script>
    <style>
        .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
        }
    </style>
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 650px;">
            </div>
        </div>
    </div>
    @*SettingSystem*@
    <style type="text/css">
        .pac-container {
            z-index: 1051 !important;
        }
    </style>
    <div class="modal fade" tabindex="-1" id="settingSystem"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        ×
                    </button>
                    <h4 class="modal-title">Cấu hình hệ thống</h4>
                </div>
                <div class="modal-body" style="padding: 20px 40px;">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.TextBox("NumberRowInGrid", "", new { @class = "form-control changeplaceholder", @name = "NumberRowInGrid", @id = "NumberRowInGrid", @placeholder = "Số lượng bản ghi trên trang", @Style = "width:100%" })
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="NumberRowInGrid_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.TextBox("TenDieuPhoiVien", "", new { @class = "form-control changeplaceholder", @name = "TenDieuPhoiVien", @id = "TenDieuPhoiVien", @placeholder = "Tên điều phối viên", @Style = "width:100%" })
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="TenDieuPhoiVien_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.TextBox("DienThoaiDieuPhoiVien", "", new { @class = "form-control changeplaceholder", @name = "DienThoaiDieuPhoiVien", @id = "DienThoaiDieuPhoiVien", @placeholder = "Điện thoại điều phối viên", @Style = "width:100%" })
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="DienThoaiDieuPhoiVien_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="form-horizontal">
                        @*<div class="col-sm-̀5">*@
                        <div class="form-group">
                            <select class="chosen-select" data-placeholder="Chọn tỉnh thành" id="city" style="width:100%"></select>
                            <input type="hidden" id="hfLat" name="hfLat" />
                            <input type="hidden" id="hfLng" name="hfLng" />
                        </div>
                        <div class="form-group">
                            <span class="lb-Check" id="city_NULL" style="margin-left: 0px; color:red"></span>
                        </div>
                        @*</div>
                            <div class="col-sm-̀7">
                                <div class="form-group">
                                    @Html.TextBox("address", "", new { @class = "form-control changeplaceholder", @name = "address", @id = "address", @Style = "width:100%", @placeholder = "Địa chỉ" })
                                    <input type="hidden" id="hfAddress" name="hfAddress" />
                                    <div id="mapEnterise" class="map_style" style="display:none"></div>
                                </div>
                                <div class="form-group">
                                    <span class="lb-Check" id="address_NULL" style="margin-left: 0px; color:red"></span>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <input type="button" id="btnAddConfig" value="Cập nhật" class="btn btn-info btn-sm" />
                </div>
            </div>
        </div>
    </div>

    @*Poup Message Order New*@
    <div id="divPoupMessageOrderNew"></div>
    @*Poup Message Order New*@

    <script>
        $(document).ready(function () {
            if ($('#NumberRowInGrid').val() == '') {
                $('#NumberRowInGrid').val(20);
            }
            if ($("#city").val() == "-1") {
                $("#city").val("Hà Nội");
            }
            $('.setttingsystem').click(function () {
                LoadCityList();
                loadInfoSetting();
                OpenDialog();
            });

            $('#btnAddConfig').click(function () {
                UpdateSystemSettting();
            });
        });
    </script>
    <script>
        function OpenDialog() {
            $("#settingSystem").modal();
            $("#settingSystem").show();
        }
        function HideDialog() {
            $('#settingSystem').hide();
        }
        function loadInfoSetting() {
            try {
                $.ajax({
                    type: "GET",
                    url: "/HomeEnterprise/loadInfoSetting",
                    dataType: "html",
                    contentType: 'application/json',
                    success: function (result) {
                        var lst = jQuery.parseJSON(result);
                        for (var k in lst) {
                            if (lst[k].SettingKey === 'NumberRowInGrid') {
                                $('#NumberRowInGrid').val(lst[k].SettingValue);
                            }
                            if (lst[k].SettingKey === 'TenDieuPhoiVien') {
                                $('#TenDieuPhoiVien').val(lst[k].SettingValue);
                            }
                            if (lst[k].SettingKey === 'DienThoaiDieuPhoiVien') {
                                $('#DienThoaiDieuPhoiVien').val(lst[k].SettingValue);
                            }
                            if (lst[k].SettingKey === 'city') {
                                $('#city').val(lst[k].SettingValue);
                            }
                            //if (lst[k].SettingKey === 'address') {
                            //    $('#address').val(lst[k].SettingValue);
                            //    $('#hfAddress').val(lst[k].SettingValue);
                            //}
                            if (lst[k].SettingKey === 'lat') {
                                $('#hfLat').val(lst[k].SettingValue);
                            }
                            if (lst[k].SettingKey === 'lng') {
                                $('#hfLng').val(lst[k].SettingValue);
                            }
                        }

                        OpenDialog();
                    },
                    error: function (req, status, error) {
                    }
                });
            }
            catch (err) {
                console.log(err.message);
            }
        }
        function LoadCityList() {
            $.ajax({
                type: "GET",
                url: "/HomeEnterprise/LoadListCity",
                dataType: "json",
                contentType: 'application/json',
                success: function (result) {
                    $('#city').html(' <option value="-1">---Tỉnh thành---</option>' + result);
                },
                error: function (req, status, error) {
                }
            });
        }
        function UpdateSystemSettting() {
            var numberRow = $('#NumberRowInGrid').val();
            var TenDieuPhoiVien = $('#TenDieuPhoiVien').val();
            var DienThoaiDieuPhoiVien = $('#DienThoaiDieuPhoiVien').val();
            // var address = $('#address').val();
            var city = $('#city').val();
            if (city === '-1') {
                toastr.error('Bạn chưa chọn tỉnh thành');
                return false;
            }
            //if (address === '') {
            //    toastr.error('Bạn chưa chọn địa chỉ');
            //    return false;
            //}

            $.ajax({
                url: '/HomeEnterprise/UpdateSystemSettting',
                data: "{ 'NumberRowInGrid':'" + numberRow + "', 'TenDieuPhoiVien':'" + TenDieuPhoiVien + "', 'DienThoaiDieuPhoiVien':'" + DienThoaiDieuPhoiVien + "', 'city':'" + city + "' }",
                dataType: "html",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == "") {
                        HideDialog();
                        toastr.info('Cập nhật thành công');
                    } else {
                        OpenDialog();
                        toastr.error('Lỗi cập nhật cấu hình');
                    }
                },
                error: function (response) {
                    toastr.error('Lỗi cập nhật cấu hình');
                },
                failure: function (response) {
                    toastr.error('Lỗi cập nhật cấu hình');
                }
            });
        }
    </script>
    @*SettingSystem*@

    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                //$(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
                var target = $(this).attr("href");

                // load the url and show modal on success
                $("#modal-container .modal-content").load(target, function () {
                    $("#modal-container").modal("show");
                });

            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>
    @* Setup for SignalR with Javascript
        Reference link https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-javascript-client#nogenconnection
    *@
    @*Thông báo*@
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Create a proxy to signalr hub on web server. It reference the hub.

            var notifications = $.connection.notificationHub;

            notifications.client.updateMessagesOrder = function (serverResponse) {
                //play();
                getordermesssage();
            };

            notifications.client.updateMessagesOrderNewRun = function (serverResponse) {
                //play();
                getordernewrunmesssage();
            };

            notifications.client.updateMessagesOrderNewFinish = function (serverResponse) {
                //play();
                getordernewfinishmesssage();
            };

            notifications.client.updateMessagesOrderNewExpired = function (serverResponse) {
                //play();
                getorderexpiredmesssage();
            };


            // Notify to client with the recent updates from hub that broadcast messages.
            notifications.client.updateMessagesNotification = function (serverResponse) {
                //play();
                getnotificationmessage();
            };

            notifications.client.updateReportSOS = function (serverResponse) {
                getReportSoS();
            };

            notifications.client.updatePoupMessOrderNew = function (serverResponse) {
                getordernewfromfowarder();
            };

            notifications.client.updateMessListOrderNewFromFowarder = function (serverResponse) {
                getlistordernewfromfowarder();
            };


            // Connect to signalr hub
            $.connection.hub.start().done(function () {
                console.log('Now connected hub notification success ');
                getordermesssage();
                getordernewrunmesssage();
                getordernewfinishmesssage();
                getorderexpiredmesssage();

                getnotificationmessage();
                getReportSoS();
                getordernewfromfowarder();
                getlistordernewfromfowarder();
            }).fail(function (error) {
                console.log('lỗi connect hub: ' + error);
            });
        });
        $(document).ready(function () {
            $('.notification-icon').click(function () {
                if ($(this).children(".dropdown-menu").is(':visible')) {
                    $(this).children(".dropdown-menu").css("display", "none");
                } else {
                    $(".dropdown-menu-right").hide();
                    $(this).children(".dropdown-menu").css("display", "block");
                }

            });
        });
        function getordermesssage() {
            var model = $('#divMessageOrderNew');

            $.ajax({
                url: '@Url.Action("GetMessageOrder", "HomeEnterprise")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                },
                error: function (error) {
                    console.log('lỗi lấy ơrder: ' + error.responseText);
                }
            });
        }

        function getordernewrunmesssage() {
            var model = $('#divMessageOrderNewRun');

            $.ajax({
                url: '@Url.Action("GetMessageOrderNewRun", "HomeEnterprise")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                },
                error: function (error) {
                    console.log('lỗi lấy ơrder mới chạy: ' + error.responseText);
                }
            });
        }

        function getordernewfinishmesssage() {
            var model = $('#divMessageOrderNewFinish');

            $.ajax({
                url: '@Url.Action("GetMessageOrderNewFinish", "HomeEnterprise")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                },
                error: function (error) {
                    console.log('lỗi lấy ơrder mới kết thúc: ' + error.responseText);
                }
            });
        }

        function getorderexpiredmesssage() {
            var model = $('#divMessageOrderExpired');

            $.ajax({
                url: '@Url.Action("GetMessageOrderExpired", "HomeEnterprise")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                },
                error: function (error) {
                    console.log('lỗi lấy ơrder quá hạn: ' + error.responseText);
                }
            });
        }

        function getnotificationmessage() {

            var model = $('#divMessageNotificationNew');
            $.ajax({
                url: '@Url.Action("GetMessageNotification", "HomeEnterprise")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                },
                error: function (error) {
                    console.log('lỗi lấy account: ' + error);
                }
            });
        }
        //function play() {
        //    var sound = document.getElementById("audio");
        //    sound.currentTime = 0;
        //    sound.play();
        //}

        @*function getordertrackingofenterprise(orderId) {
            var model = $('#divOrdertrackingOfEnterpriseNew');
            $.ajax({
                url: '@Url.Action("GetMessageOrderTrackingForEnterprise", "HomeEnterprise")',
                data: "{ 'orderId': '" + orderId + "'}",
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                },
                error: function (error) {
                    console.log('lỗi lấy account: ' + error);
                }
            });
        }*@

        function getReportSoS() {
            var model = $('#divReportSOS');

            $.ajax({
                url: '@Url.Action("GetReportSOS", "HomeEnterprise")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                },
                error: function (error) {
                    console.log('lỗi lấy cảnh báo: ' + error.responseText);
                }
            });
        }

        //popup thông báo có đơn hàng mới của fowarder
        function getordernewfromfowarder() {
            var model = $('#divPoupMessageOrderNew');
            $.ajax({
                url: '@Url.Action("GetOrderNewForEnterpriseFromFowarder", "HomeEnterprise")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    if (result != "") {
                        model.empty().html(result);
                        $('#NewOrderMessageModal').modal('show');
                    } else {
                        model.empty().html('');
                        $('#NewOrderMessageModal').modal('hide');
                    }
                },
                error: function (error) {
                    console.log('lỗi load poup new order message: ' + error);
                }
            });
        }

        // thông báo có đơn hàng mới của fowarder
        function getlistordernewfromfowarder() {
            var model = $('#divMessageNewOrderFromForwarder');
            $.ajax({
                url: '@Url.Action("GetListOrderNewForEnterpriseFromFowarder", "HomeEnterprise")',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().html(result);
                },
                error: function (error) {
                    console.log('lỗi load new order message: ' + error);
                }
            });
        }



        // lấy danh sách tài xế nhận đơn của doanh nghiệp từ api
        $.support.cors = true;
        var connection = $.hubConnection('https://api.vantaitoiuu.com');
        connection.qs = { 'UserId': '@User.Identity.GetUserId()' }; //Fake UserId,Need change CurrentUserId Login
        var hubProxy = connection.createHubProxy('CarrierMonitor');
        hubProxy.on('AcceptOrderId', function (message) {
            //Driver object
            console.log(message);
            playSound("/assets/audio/beep-07.wav");
            getordertrackingofenterprise();
        });
        connection.start()
            .done(function () {
                console.log('Now connected, connection ID=' + connection.id);
            })
            .fail(function () {
                console.log('Could not connect');
            });
        connection.disconnected(function () {
            setTimeout(function () {
                connection.start();
            }, 5000); // Restart connection after 5 seconds.you can set the time based your requirement
        });

        function playSound(mysound) {
            //thisSound = document.getElementById(mysound);
            //thisSound.Play();
            //var audio = new Audio(mysound);
            //audio.play();
        }
    </script>
    @*Thông báo*@
    @*config*@
    <script type="text/javascript">
        $(document).ready(function () {
            var strURLPath = window.location.pathname;
            var parts = strURLPath.split('/');
            var activeId = parts.pop() || parts.pop();;
            //alert(activeId);
            if (activeId == 'EDriverCar' || activeId == 'ERevenue') {
                $('#main_menu li#' + activeId).addClass('active');
                $('#main_menu li#' + activeId).parents('li').addClass('active open')
            }
            else if (activeId == 'EChoKhopLenh' || activeId == 'EDaKhopLenh' || activeId == 'EKetThuc'
                || activeId == 'EBaoCaoTongHop' || activeId == 'BaoCaoDoanhThu' || activeId == 'Indexs'
                || activeId == 'CapNhatProfile') {
                $('#main_menu li#' + activeId).addClass('active');
                $('#main_menu li#' + activeId).parents('li').addClass('active open')
            }
            else if (activeId == 'Create') {
                activeId = parts[2] + '_' + activeId;
                $('#main_menu li#' + activeId).addClass('active');
                $('#main_menu li#' + activeId).parents('li').addClass('active open')
            }
            else {
                $('#main_menu li#' + activeId).addClass('active');
                $('#main_menu li#' + activeId).parents('li').addClass('active open')
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@TempData["message"]') {
                toastr.success('@TempData["message"]');
            }
            else if ('@TempData["info"]') {
                toastr.info('@TempData["info"]');
            }
            else if ('@TempData["error"]') {
                toastr.error('@TempData["error"]');
            }
            else { }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.logout-btn').click(function () {
                if ($('.user-menu').is(":visible") == true) {
                    $('.user-menu').hide();
                } else {
                    $('.user-menu').show();
                }
            });
        });
    </script>

    @RenderSection("ScriptsBottom", required: false)
</body>
</html>
